[2019-12-14 15:52] oslyak commented on #1861
I found a string in my code
`Faker::Lorem.words(4)`
replace it to
`Faker::Lorem.words(number: 4)`

But issue is still relevant, because of two reasons:

1.  **Warning message is not relevant**, always shows me:

This message does not contain reference to my source code file.

2. `rubocop --require rubocop-faker --only Faker/DeprecatedArguments --auto-correct`
Does not make autocorrect in this case

[2019-12-17 01:37] vbrazo commented on #1861
If the code isn't autocorrecting, I'd recommend you creating a new issue in the [rubocop-faker](https://github.com/koic/rubocop-faker) repository.

Since the issue seems to be resolved, I'm closing this. Thanks.

[2019-12-17 08:33] oslyak commented on #1861
What about wrong warning messages

...gems/faker-2.8.1/lib/helpers/unique_generator.rb:22: Passing "number" with the 1st argument of "words" is deprecated. Use keyword argument like "words(number: ...)" instead.
???

It shows warning at faker source code itself

[2019-12-19 12:58] Sa1Beer777 opened #1870 "Issue title goes here"
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Describe the steps to reproduce the behavior.

## Expected behavior
A clear and concise description of what you expected to happen.

## Additional context
Add any other context about the problem here.

[2019-12-19 12:58] Sa1Beer777 opened #1871 "Title goes here"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**If you're adding new objects, please describe how you would use them**
A clear and concise description of examples that could be used with your new Faker methods.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or fe

[2019-12-22 16:40] jas14 commented on #1818
The default behavior of generating random data with replacement makes more sense to me than raising an error when the library runs out of unique values, especially since some of the value sets are quite small (for example, `Faker::Internet.user_agent` has only 7 values, IIRC). If it's not intuitive enough, the section [Ensuring Unique Values](https://github.com/faker-ruby/faker/blob/399942597bc700

[2019-12-30 18:30] yld opened #1880 "Faker::Internet::private_ip_v4_address generates non private address (according to RFC 1918)"
## Describe the bug

`Faker::Internet::private_ip_v4_address` generate non private address (according to RFC 1918)

## To Reproduce

[code]

## Expected behavior

1. Generator should be compliant with  RFC 1918 (IPV4) and RFC 4193 (IPV6).
2. Generator could use IPADDR stdlib to generate addres
3. Generator could also handle private link and loopback

## Additional context
Add any other context abo

[2020-01-02 11:15] Omoyeni663 commented on #1762
I am still in chapter 3 of my course, I need someone to put me through... Better on Twitter @Melebroz1

[2020-01-02 19:28] efsanezakkum opened #1884 "Title goes here"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**If you're adding new objects, please describe how you would use them**
A clear and concise description of examples that could be used with your new Faker methods.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or fe

[2020-01-02 22:31] 0533325872 opened #1885 "Issue title goes here"
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Describe the steps to reproduce the behavior.

## Expected behavior
A clear and concise description of what you expected to happen.

## Additional context
Add any other context about the problem here.

[2020-01-02 22:38] #1885 closed

[2020-01-02 22:39] #1884 closed

[2020-01-03 05:15] efsanezakkum opened #1886 "Title goes here"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**If you're adding new objects, please describe how you would use them**
A clear and concise description of examples that could be used with your new Faker methods.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or fe

[2020-01-03 05:15] vbrazo commented on #1886
@efsanezakkum ?

[2020-01-03 05:15] #1886 closed

[2020-01-03 08:21] Julz2777 opened #1887 "Issue title goes here"
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Describe the steps to reproduce the behavior.

## Expected behavior
A clear and concise description of what you expected to happen.

## Additional context
Add any other context about the problem here.

[2020-01-03 17:40] #1887 closed

[2020-01-10 20:38] beewuu opened #1897 "Cell phone numbers in e164 format"
This format is an internationally-recognized standard phone number and it would be easier to do something like this

`Faker::PhoneNumber.cell_phone_in_e164`

instead of

`Faker::PhoneNumber.cell_phone_with_country_code.delete('^+0-9')`

[2020-01-13 10:04] mobilutz opened #1906 "Possible new release?"
There is a bug in `I18n` introduced with v1.7.1 but that is only been solved just now in v1.8.2.

Without a new release of `faker`, we are stuck with either having the error or not updating our dependency.

As the I18n dependency has already been bumped on [`master`](https://github.com/faker-ruby/faker/compare/v2.10.0...master), but the release version 2.10.0 still has the old dependency `< 1.8`,

[2020-01-13 15:33] Salomanuel opened #1907 "Faker::Bank.swift_bic only has 22 entries"
## Describe the bug
our app used to use `Faker::Bank.swift_bic ` in the tests, that were often failing randomly and mysteriously.
After some debugging, we found out that the cause was the not so ample pool of BICs present in the Faker gem (currently only 22 entries).
It's not variegated enough to guarantee a reliable testing while used in factories and it can bring to unforeseen consequences...

h

[2020-01-13 18:10] arknamal commented on #1765
I would like to do this as my first open-source rails contribution. What's next? I fork it and do it and push?

[2020-01-13 18:59] arknamal commented on #1708
How can I help with this.

[2020-01-13 20:00] vbrazo commented on #1906
@mobilutz sure. I can do a release for faker today.

[2020-01-13 20:18] vbrazo commented on #1906
done

[2020-01-13 20:18] #1906 closed

[2020-01-17 18:53] vbrazo commented on #1765
@arknamal If you're able to create a test that reproduces the issue and can make it pass, that'd be great. Just open a PR in this repository and we'll review when we have time.

[2020-01-23 03:26] rastamhadi opened #1917 "Japanese Lorem sentences look unnatural"
## Describe the bug

In the Japanese locale, `Faker::Lorem.sentence`, `Faker::Lorem.sentences`, `Faker::Lorem.paragraph` and `Faker::Lorem.paragraphs` produce strings with:

1. Spaces in between words
2. Spaces in between sentences

Natural Japanese text includes neither of these spaces.

e.g. https://ja.wikipedia.org/wiki/%E3%83%86%E3%82%B9%E3%83%88%E3%83%87%E3%83%BC%E3%82%BF

![image](https://us

[2020-01-25 08:20] Josiassejod1 opened #1919 "Can't Push To Repo"
I am curious if there has been a cap on a new feature that can be added? I was trying to push to the repo but got blocked

[2020-01-25 08:24] #1919 closed

[2020-01-28 02:43] rastamhadi commented on #1917
Solved in #1918, so I'm going to go ahead and close this. Thank you @koic @vbrazo @Zeragamba

[2020-01-28 02:43] #1917 closed

[2020-02-04 21:10] Adeynack commented on #1714
Dear @koic , dear @vbrazo

I am having the same problem and it comes from a file within _Faker_, not in my own code. Not much I can do to fix it in my project.

[code]

[2020-02-05 21:59] ngouy commented on #1845
@tiagofsilva PR is out there. Feel free to leave some comments. Even if it's not merged in the end it can be a good base to have discussions.

[2020-02-06 14:23] Zeragamba commented on #1845
Testing locally, I noticed that the was fixed at some point:
[code]

I'll see if I can figure out which version fixed it later (if no one else finds it)

[2020-02-06 15:56] ngouy commented on #1845
The first PR referenced in this issue fixed it (https://github.com/faker-ruby/faker/pull/1846)

But @tiagofsilva wanted to point out the interface wans't clear enought. That what the second PR is all about

[2020-02-09 09:18] masatakashida commented on #1880
@yld
`Faker::Internet::private_ip_v4_address` also generate `ISP Shared Address`.
What do you think of this?

[2020-02-12 23:03] con-hluong commented on #615
In case of filename, I replaced the special character with alternative character using this: randomFileName = getFaker().file().fileName().replace("\\",randomFileNameDelimiter);

[2020-02-21 12:17] vikramsinghchandel commented on #1907
Raising a PR for this added additional 775 swift bic codes.

[2020-02-21 23:29] KJoWu opened #1939 "Combine Range with Number type"
Would it be possible to do something like this in the future:

`Faker::Number.decimal(l_digits= 2, r_digits= 2).within(range: 0..1)`

[2020-02-27 14:55] AmrAdelKhalil commented on #1939
Hey @KJoWu,
Is it acceptable if we included the `range` as an argument to the decimal too?

Examples:
`Faker::Number.decimal(l_digits: 2, r_digits: 2, range: 0..100) #=> 29.32 `
but I was thinking about the conflicting cases like
`Faker::Number.decimal(l_digits: 5, r_digits: 2, range: 0..100) #=> ??? `, Here you gave a range that won't produce that number of l_digits, Which one should be applied?

[2020-03-02 10:48] theweddingplanner opened #1942 "Seeding images with Rails 6 and Active Storage"
Anybody know what I'm doing wrong? Thanks!

## seeds.rb
[code]

## Error
[code]

[2020-03-02 11:11] theweddingplanner commented on #1942
Demo app here: https://github.com/theweddingplanner/lorempixel/

[2020-03-02 11:52] theweddingplanner commented on #1942
Fixed:

[code]

[2020-03-02 11:52] #1942 closed

[2020-03-02 14:51] yld commented on #1880
I didn't find anything related to [ISP Shared Address](https://en.wikipedia.org/wiki/IPv4_shared_address_space) in this repository, but yes this PR could take this address spaces into account.

[2020-03-09 13:20] anderscarling commented on #266
I worked around it by dropping this in my test_helper.rb (must run after faker is loaded).

[code]

It's not really pretty, but gets the job done and since available_locales are enforced by I18n on both lookup and loading of translations, it should hopefully not change behaviour for other users.

[2020-03-10 18:08] vtl-pol commented on #1676
@gmmcal Did you figured out a way to resolve this in your app? I'm using Faker inside Rails engine and i have to do `require 'faker'` for it to load. However, this breaks the entire app, because the code relies on `I18n.available_locales`, but with faker - I get all the locales instead of just three, that I originally had in my Engine.

[2020-03-10 19:51] vtl-pol commented on #1676
Not sure if this should be treated as a bug, but if anyone faces the same issue - I came up with a temporary solution:

[code]

[2020-03-10 23:25] gmmcal commented on #1676
@vtl-pol you can see the fix I applied here in this commit https://github.com/gmmcal/gmmcal.com.br/commit/bf8b6bca97ff733d248c1c267a6217489155c5d8#diff-0185ea246bc343d3ba1eed6ad5bedfbcR4

It is as simple as changing the place where faker is loaded to be before spec configuration.

[2020-03-17 19:53] Stivaros opened #1950 "Unique Not Generating Unique Values"
## Describe the bug
`Faker::Date.unique.between(...` is not generating a unique value.

## To Reproduce
Factory Setup:
[code]

[code]

Spec:
[code]

## Expected behavior
`factory.payment_terms.first.valid_from != payment_terms.valid_from` as they should be unique.

Unfortunately:

[code]

## Additional context
N/A

[2020-03-27 04:12] nhattan commented on #298
If you're using Faker for the test, in your `config/environments/test.rb`
[code]

[2020-03-30 16:20] #1897 closed

[2020-04-01 15:16] Piioo opened #1954 "Faker::Internet.email domain removed a dash in domain"
## Describe the bug
When I use Faker::Intranet.email with domain key like 'foo-bar' the dash is removed.

## To Reproduce
[2] pry> Faker::Internet.email(domain: 'foo-bar.com')
=> "eusebio@foobar.com"

## Expected behavior
[2] pry> Faker::Internet.email(domain: 'foo-bar.com')
=> "eusebio@foo-bar.com"

[2020-04-03 08:38] belgoros opened #1957 "Wrong phone number format generated with phone_number_with_country_code"
I'm using the `phone_number_with_country_code` to generate a phone number as explained in [usage](https://github.com/faker-ruby/faker/blob/master/doc/default/phone_number.md#usage) section:
[code]
When checking the above factory in the rails console, the generated phone number contains an extra area and city code:
[code]
I defined the default locale as `fr` in `application.rb`:
[code]

 Used versi

[2020-04-03 13:55] niedfelj opened #1958 "Need an address "object" that has a street, city, zip that correlate"
**Is your feature request related to a problem? Please describe.**
We do some geocoding in our app that requires that we can actually look up the fake addresses we generate, and our db fields are separated into street, city, zip etc. We could probably parse the full_address response, but would be better to have a real fake address that we could geocode against with separate fields for pulling part

[2020-04-12 23:47] luchiago commented on #1954
Hi @Piioo. I did a debug and I find what is causing this. There's a regex expression that replaces every char who isn't alphanumeric and gets rid of this `-`. My solution is to pass the `-` as a parameter and let the domain have. But I want to know what the core team thinks about this solution.

[2020-04-17 01:17] chrishough commented on #615
It seems really odd, that I have to add this...
[code]
to guarantee these work correctly.

[2020-04-18 13:45] apurvamayank commented on #1957
@belgoros Most of the locale files have country code missing and they have country code included in the format.

As per the phone_number.rb the key-value pair of country code should be present under the faker key in locale yml files. In case of the absence of country code, a random country code from phone_number.yml is picked which results in repetition of country codes.

I am assuming the issue h

[2020-04-19 08:22] belgoros commented on #1957
👍 cool, thank you!

[2020-04-20 16:56] hugopeixoto commented on #1957
@apurvamayank : From phone_number.rb,

[code]

the `+` seems to be included here, so won't having it in the yaml file as well will cause double `+`.

I think there are a bunch of `country_code` keys defined at different levels, which might be a bit confusing. We have:

- `faker.country_code` in `lib/locales/en/phone_number.yml`, a list of phone number country codes *without* the `+` sign
- `faker.

[2020-04-20 18:24] hugopeixoto commented on #1957
I noticed that some `en-US` phone formats include the prefix `1-`, but when calling `phone_number_with_country_code`, which adds `+1`, we never got `+1 1-XYZ`. This is because `Faker::Base.parse` ignores some prefixes, which causes the `1-` to be ignored. I think this is a bug in `parse` which acts in `phone_number_with_country_code`'s favor.

This never generates a  number prefixed by `1-`, altho

[2020-04-22 02:26] apurvamayank commented on #1957
@hugopeixoto Thanks for pointing this out. I stand corrected. We do have `+` in above-mentioned method, hence no need to put in the country_code  value.

`en-US.yml` and `en-CA.yml` are the only locale files with country_code under `faker.phone_number` which seems incorrect to me as this leaves `cell_phone` without any country code.

The address.country_code looks like a mistake. It should be 2 or

[2020-04-22 17:39] hugopeixoto commented on #1957
**regarding the country code key**

I think that cell_phone related keys should also be inside phone number, like `faker.phone_number.cell_phone.formats`, because we generate phone numbers via the `Faker::PhoneNumber` module. If that were the case, `faker.phone_number.country_code` would be in a position to serve both.

If that's not possible, maybe naming it `faker.calling_code` or `faker.country

[2020-05-01 19:06] apurvamayank commented on #1957
@hugopeixoto @belgoros You guys can review the PR. https://github.com/faker-ruby/faker/pull/1968/files

[2020-05-02 10:43] belgoros commented on #1957
@apurvamayank Thank you very much. To note, I'm not a contributor nor maintainer, you'd rather ask @vbrazo or @stympy 😄 .

[2020-05-10 20:40] connorshea opened #1972 "Merge image generators into a Faker::Image class"
**Is your feature request related to a problem? Please describe.**

I've been using `Faker::LoremPixel.image` and `Faker::Avatar.image` for a while in my database seeds and a few months ago the avatar seeder stopped working (I think this is because robohash was moved to being hosted behind Cloudflare, and Cloudflare will sometimes reject requests from Ruby). I wanted to fix this issue by moving th

[2020-05-12 05:12] tmaier opened #1974 "Faker::Internet.email generates email address with umlauts"
## Describe the bug
    name  = "#{Faker::Name.first_name} #{Faker::Name.last_name}"
    email = Faker::Internet.email(name: name)

[code]

## To Reproduce
try above with german language activated and wait for a german name coming up with umlauts.

## Expected behavior
ä -> ae, ö -> oe, ü -> ue
or just ä -> a, ö -> o, ü -> u

## Additional context
Add any other context about the problem here.

[2020-05-12 14:00] bjnord commented on #278
Note the answer from @vbrazo above: The right solution to this error is to change `Faker::Name.title` to `Faker::Job.title` in your code.

But if you just want to make the error go away, and `I18n.reload` isn't working for you, you can add the missing translation to your `config/locales/en.yml` (or other locale) file:

[code]

[2020-05-12 21:23] nuxy opened #1977 "Faker::Payments vs Faker::Stripe"
## Nice to have
The API currently supports credit card generation in the form of `Faker::Stripe` but the integrator may be using another payment system altogether.  Renaming this to something generic (eg. `Faker::Payments`) would support all integrations (by name only) while making it clear where to find credit card generators.

[2020-05-13 13:51] ericproulx opened #1978 "Faker overrides time.format.long when lazy loaded"
## Describe the bug
In our Rails app our `en.time.formats.long` is : `%b %-d, %Y at %H:%M`. Unfortunately, when lazy-loading faker (`gem 'faker', require: false`) in our test env, `en.time.formats.long` gets overridden by Faker's `en.time.formats.long`' which is [`%b %d, %Y at %H:%M`
](https://github.com/faker-ruby/faker/blob/5ea055779309b181878bab0d7579f0844a2e8b06/lib/locales/en.yml)
## To Repro

[2020-05-14 10:45] stympy commented on #1977
That makes sense. Alternatively, these methods could be moved to Business or Finance, which also have credit card number generators.

[2020-05-15 10:04] koic commented on #1765
This issue has been resolved by #1782.

[2020-05-15 10:04] #1765 closed

[2020-05-21 04:32] connorshea commented on #1762
I've updated the issue description with all the new PRs :)

[2020-05-21 18:02] vitalinfo opened #2005 "Faker::Char.fix_umlauts remove non umlauts characters"
`Faker::Char.fix_umlauts('classroom')` returns `"claroom"`, but should return as is

version 2.11.0

[2020-05-22 05:08] thejonanshow opened #2006 "Please use a different name for "class""
So I was investigating some odd behavior in Ruby this evening and tried to find an object in memory based on it's ancestors with something like this:

[code]

Imagine my surprise when I received the following error:

[code]

Assuming that Ruby had not added some new `Melee Assassin` object that had escaped my attention I went looking for the culprit:

[code]

I think it's fair to say we can all ag

[2020-05-22 08:21] illsism commented on #2006
Sure. I think specialization would be a better name.

[2020-05-22 17:41] jbergenson commented on #2005
Hey there, nice catch. I added a PR for this that should catch 'ss' and prevent it from being replaced with an empty string.

[2020-05-25 01:59] lucasqueiroz commented on #1972
Suggestion:
Include [This person does not exist](https://thispersondoesnotexist.com) generator (and the other ones as well - Cats, Horses and Art)

[2020-05-26 12:18] Zeragamba commented on #1954
Ya, that's not expected behavior, and thus a bug.

[2020-05-26 12:20] Zeragamba commented on #2005
Resolved by #2012

[2020-05-26 12:20] #2005 closed

[2020-05-26 12:23] Zeragamba commented on #1673
Resolved by #1694

[2020-05-26 12:23] #1673 closed

[2020-05-29 06:23] koic commented on #1954
This issue has been resolved by #2019.

[2020-05-29 06:23] #1954 closed

[2020-05-29 13:21] jonnynux opened #2023 "Blood link missing"
## Describe the bug
The blood link in general documentation is missing.

## To Reproduce
Click https://github.com/faker-ruby/faker/blob/master/doc/default/blood.md

## Expected behavior
Link the proper page

## Additional context
Nothing to add

[2020-05-31 11:36] Newman101 commented on #1974
When #2026 is complete, this can be re-tested and if successful, closed.

[2020-06-03 14:47] jbergenson commented on #2023
Added PR #2030 to address this issue.

[2020-06-03 19:25] vbrazo commented on #2023
Thanks @jbergenson

Closing this issue 👍

[2020-06-03 19:25] #2023 closed

[2020-06-04 10:36] koic commented on #2006
@thejonanshow Hi, Jonan 👋 Thank you for the feedback. I've opened #2031.

BTW, RubyKaigi 2020 cancellation announced today 😢
https://esa-pages.io/p/sharing/68/posts/1006/b15a58c675f5a69d06e5.html

On the other hand, I'm glad to meet you on GitHub :-) Thank you.

[2020-06-04 19:51] thejonanshow commented on #2006
HI! 👋

I saw the news, it's very sad but I'm sure we'll get to meet our friends by the river again soon.

Thank you for the PR!

[2020-06-06 13:47] Newman101 commented on #1907
Hi. Thanks for reporting this, I shall have a look and produce a fix.

[2020-06-06 18:19] #2006 closed

[2020-06-06 19:36] Newman101 commented on #1907
Hi. This has been fixed. Please see Pull Request #2037. :+1:

[2020-06-06 19:36] #1907 closed

[2020-06-08 17:56] #1974 closed

[2020-06-10 01:05] CapCap opened #2045 "Faker::Number.decimal(l_digits: 1, r_digits: 1) always returns 0 in decimal part"
## Describe the bug
`Faker::Number.decimal(l_digits: 1, r_digits: 1)` always returns 0 in the decimal part

## To Reproduce
[code]

## Expected behavior
Would expect decimals to not always be zero, similar to the way it works if `r_digits` > 1

## Additional context
version 2.12.0

[2020-06-10 12:11] Aryk opened #2047 "cell_phone_in_e164 returning super long phone number..."
I'm getting `"+186813608500740"` as a result from

Faker::PhoneNumber.cell_phone_in_e164

I'm using the [phonelib](https://github.com/daddyz/phonelib) library to parse this number and it cannot extract any information from it.

It does not look like a valid phone number where I can parse and extra a country code from it.

Was this intended?

[2020-06-10 22:12] martinjaimem opened #2049 "Random test fails in faker/music"
A test seems to be failing randomly. The test is:
`faker/test/faker/music/test_faker_rush.rb`

The error is: `NoMethodError: undefined method 'match' for 2112:Integer`

It comes from the fetch method in the `Faker::Base`, when it does:

`sample(translate("faker.#{key}"))`

where `translate("faker.#{key}")` returns:

["Rush", "Fly by Night", "Caress of Steel", 2112, "A Farewell to Kings", "Hemisphe

[2020-06-11 02:44] #2049 closed

[2020-06-11 12:48] #2045 closed

[2020-06-11 23:57] #266 closed

[2020-06-12 18:46] danielTiringer commented on #1762
The last one's left is Faker::Code which has an open PR already.
If you want me to complete the Code YARD docs too, please close the [existing PR](https://github.com/faker-ruby/faker/pull/1961).

[2020-06-12 20:46] uchagani opened #2056 "The examples for Faker::Date.between do not work"
## Describe the bug
The examples for `Faker::Date.between(from: 2.days.ago, to: Date.today)` and `Faker::Date.between_except(from: 1.year.ago, to: 1.year.from_now, excepted: Date.today)` do not work.

[code]

## To Reproduce
[code]

[code]

## Expected behavior
I should see a date between the given arguments passed to `between`

## Additional context

My guess is that these examples require `activ

[2020-06-14 07:18] danielTiringer commented on #2056
The methods (.days ago and alike) are part of `activesupport`. Requiring `active_support/time` makes the example above work.
Should this be mentioned in the documentation (YARD and /docs) as a solution, or should we investigate alternative solutions?

[2020-06-14 07:23] uchagani commented on #2056
The documents need to be more explicit in my opinion. Either explaining the
dependency or with a more appropriate example.

On Sun, Jun 14, 2020 at 3:18 AM Daniel Tiringer <notifications@github.com>
wrote:

[2020-06-14 12:39] Zeragamba commented on #2056
I think it would be good to update the examples to show both a Rails and Rails-less.

[2020-06-15 03:23] bravemaster619 opened #2060 "cell_phone_in_el64 returns numbers with double plus signs when Faker::Config.locale = 'en-US'"
## Describe the bug
`Faker::PhoneNumber.cell_phone_in_el64` returns numbers like: `++13523104078`, `++18487321639`

## To Reproduce
I'm using `factory_bot_rails` with `faker`.

**spec/factories/user_factory.rb**
[code]
**spec/models/user_spec.rb**
[code]
## Expected behavior
Plus sign should be only one.

[2020-06-17 17:45] danielTiringer commented on #2047
It appears that _Faker_ generates a phone number that, in format, could potentially be a valid (or possible) phone number. It doesn't mean it actually is.
Compared to that, _phonelib_ actually evaluates the number, and looks at country / area specifics.

For instance, _Faker_ generated (using the `cell_phone_with_country_code` method) ' `+36 546.171.0042`. Based on the country code (_HU_), there s

[2020-06-18 04:34] koic commented on #2056
The issue has been resolved by #2061.

[2020-06-18 04:34] #2056 closed

[2020-06-18 15:26] tferrerITBA opened #2062 "Faker::Computer broken link in README.md"
## Describe the bug
In `README.md`, the default category `Faker::Computer` is linked to https://github.com/faker-ruby/faker/blob/master/doc/default/computer.md but such file does not exist.

## To Reproduce
Just go to https://github.com/faker-ruby/faker#default and attempt to access the documentation for the `Faker::Computer` generator.

## Expected behavior
The documentation for the `Faker::Compu

[2020-06-19 17:26] bitoku commented on #1950
I was stack in the same issue.

unique method manages previous results with hash which key is `[method name, *method args]`.
You use `2.months.ago` and `1.month.ago` as arguments of `between`, but these value varies depending on when they are called. You must use exactly the same value as arguments.
See [https://github.com/faker-ruby/faker/blob/master/lib/helpers/unique_generator.rb](url)

I hope

[2020-06-19 18:58] danielTiringer commented on #2062
Nice catch, tferrerITBA, thanks for calling attention to it!

[2020-06-20 00:19] luchiago commented on #2060
I would like to tackle this issue.

[2020-06-21 03:15] JazabC commented on #1796
I can work on this :)

[2020-06-21 03:42] lucasqueiroz commented on #1796
Hey @JazabC , thanks but I believe @Ri1a already added it :) I'll close this issue

[2020-06-21 03:42] #1796 closed

[2020-06-21 03:58] #2062 closed

[2020-06-21 09:32] Stivaros commented on #1950
Thanks, I worked around it already. I do think, however, that it is misleading and should either fire a warning or have some better handling.

Easy for me to say though, as a freeloader! Appreciate the effort that the team put into creating and maintaining this gem :)

[2020-06-24 02:51] connorshea commented on #1762
@danielTiringer thank you for all the work! 🙏  Looks like @Zeragamba has created the updated PR for Faker::Code, so that'll be the last one we need to merge and then this'll be finished :)

[2020-06-25 19:51] dorianmariefr opened #2069 "Website with faker demo"
I made a website with all the faker methods to see and use quickly what is generated, thought it might be of interest to others: https://faker-web.dorianmarie.fr/

[2020-07-08 07:17] juliosantos opened #2076 "Blockchain/Bitcoin generator broken from 2.12.0 to 2.13.0"
## Describe the bug
`Faker::Blockchain::Bitcoin.address` and `Faker::Blockchain::Bitcoin.testnet_address` started yielding `TypeError (Array can't be coerced into Integer)` after updating to `2.13.0`

## To Reproduce
[code]

## Expected behavior
[code]

[2020-07-08 14:33] juliosantos commented on #2076
This seems addressed in `master`: https://github.com/faker-ruby/faker/pull/2071
I'll give it a try and close the issue if so

[2020-07-08 15:20] juliosantos commented on #2076
Closing this issue since https://github.com/faker-ruby/faker/pull/2071 solves it.

Opened https://github.com/faker-ruby/faker/pull/2077 to fix the testing issue which caused this regression to fly under the radar.

[2020-07-08 15:20] #2076 closed

[2020-07-16 20:14] Zeragamba commented on #1762
And that's the last one merged to master!

[2020-07-17 00:16] connorshea commented on #1762
Thanks for the great work everybody!

[2020-07-17 00:16] #1762 closed

[2020-07-17 00:32] vbrazo commented on #1762
That was awesome! Thanks!

[2020-07-18 08:14] sudeeptarlekar commented on #2060
@bravemaster619 which faker version are you using? I checked with v2.13.0 and I am not able to reproduce issue on local.

[2020-07-18 14:24] bravemaster619 commented on #2060
rails 5.2.4.3
faker 2.12.0

Is there a fix PR for this problem in 2.13.0?

[2020-07-19 14:44] sudeeptarlekar commented on #2060
@bravemaster619 are you sure that user model is not doing some logic on phone number. I tested with v2.12.0 but could not reproduce issue.
<img width="460" alt="1  irb (ruby) 2020-07-19 20-12-32" src="https://user-images.githubusercontent.com/23317691/87877476-3cf74100-c9fc-11ea-9f1e-62ce9aa5ff7d.png">

[2020-07-19 18:54] bravemaster619 commented on #2060
@sudeeptarlekar Yeah, this is what I get in my console:

![image](https://user-images.githubusercontent.com/50212003/87882671-3be20600-ca34-11ea-9bd7-77199f128b71.png)

[2020-07-19 18:55] bravemaster619 commented on #2060
@sudeeptarlekar  Seems like it's somehow related to rails, because I've got correct phone numbers in irb:

![image](https://user-images.githubusercontent.com/50212003/87882695-7ea3de00-ca34-11ea-917b-b17815f3b8ec.png)

[2020-07-19 18:59] bravemaster619 commented on #2060
@sudeeptarlekar Turns out that `Faker::Config.locale` has a problem.

Here's how you can reproduce the exact bug (without rails):

[code]

[2020-07-20 12:22] #2060 closed

[2020-07-21 11:32] sudeeptarlekar opened #2085 "Remove country code from phone\cell number formats"
## Describe the bug
Few locales are saving the phone number formats with country code, e.g. [fr-CH](https://github.com/faker-ruby/faker/blob/d7de9880588bc6c178ccc8acedc3b727cf9320e2/lib/locales/fr-CH.yml#L63). When we call method `phone_number_with_country_code` sometimes it returns multiple country codes.

## To Reproduce
[code]

## Expected behavior
There should be single country code

## Additi

[2020-07-21 16:40] psibi commented on #2085
Sounds good to me. PR's welcome.

[2020-07-21 17:17] gabrielbaldao commented on #2085
Can I try fix that?

[2020-07-21 17:39] psibi commented on #2085
@gabrielbaldao Sure, go ahead.

[2020-07-22 03:15] psibi commented on #2085
This has been fixed for `fr-CH` locale (Thanks to the PR from @gabrielbaldao ). But there are various other locales that needs to be fixed:

[code]

[2020-07-22 12:22] gabrielbaldao commented on #2085
Can I fix the another locales in the same PR?

[2020-07-22 12:44] psibi commented on #2085
@gabrielbaldao I'm fine either-wise. :-)

[2020-07-24 19:47] sudeeptarlekar opened #2091 "Faker is missing drones"
Currently faker is missing drone data, is it good idea to add drone models?

**If you're adding new objects, please describe how you would use them**
This can be used to generate fake drone models e.g.
[code]

**Additional context**
Additionally we can add other attributes for drone like camera model, battery capacity etc.
[code]

Additionally I think instead of calling all these methods `Faker::D

[2020-07-25 07:25] psibi commented on #2091
Sounds good to me.

[2020-07-27 08:15] #2085 closed

[2020-07-28 00:58] schwern opened #2093 "Date.today causes timezone issues in Rails."
## Describe the bug

Any Faker method which uses `Date.today` in Ruby On Rails is potentially off by a day. There are similar potential issues for `Time.now` and `DateTime.now`.

## To Reproduce

In Rails console, set a time zone which is in a different day. For example, right now it is July 27th in my local time zone, but July 28th in UTC. `Date.today` will return July 27th (local date), but `Dat

[2020-07-28 05:39] sudeeptarlekar commented on #2091
Cool then will add drones in faker

[2020-07-31 20:57] hrdwdmrbl opened #2097 "A barcode generator"
**Is your feature request related to a problem? Please describe.**

Just that I would like to fake barcodes

**If you're adding new objects, please describe how you would use them**

I would use them for products

**Describe alternatives you've considered**

I can generate random numbers. A UPC code is 12 digits.

**Additional context**

My project deals with products. Prices, product names, barco

[2020-08-01 15:30] sudeeptarlekar commented on #2097
Sounds good, is there good doc that we refer.
Thanks in advance

[2020-08-01 15:43] hrdwdmrbl commented on #2097
@sudeeptarlekar I would look at the wikipedia UPC article on numbering https://en.wikipedia.org/wiki/Universal_Product_Code#Numbering and variations (right below numbering). UPC isn't the only standard though. There's ISBN https://en.wikipedia.org/wiki/International_Standard_Book_Number and EAN and if you're selling products on Amazon then there's ASIN. I just learned of something called a GTIN. A

[2020-08-03 08:51] Maxeeezy opened #2099 "Inconvenient naming from Faker::Name.last_name"
Hi ruby-fakers,

we are using Faker::Name.last_name in our application. Great help!
However, this morning when I seeded the db, a fake user was given the name 'Gaylord' as a last name. I might think that could be offensive to some of your users. Maybe someone made a bad joke?
We use the faker also to showcase the application with fake data to our clients and I think other users might do this, too.

[2020-08-03 13:03] Zeragamba commented on #2099
I agree here. Opened a PR to drop the name from the pool of options

[2020-08-03 18:12] sudeep-vineti commented on #2097
Well this seems little research here as I never worked on barcodes, and there is some logic involved in generating correct barcode check digit(at least for UPC-A).
Will do some reading and refer some docs then work on PR

[2020-08-03 18:13] sudeeptarlekar commented on #2097
Well this seems little research here as I never worked on barcodes, and there is some logic involved in generating correct barcode check digit(at least for UPC-A).
Will do some reading and refer some docs then work on PR

[2020-08-03 18:31] hrdwdmrbl commented on #2097
@sudeeptarlekar Thank you. Yes, a bit of logic which is one reason why I think there ought to be a specific class for it. For my application it doesn't verify their validity so it isn't a problem but for others they likely do verify.

[2020-08-04 13:16] Maxeeezy commented on #2099
However, I found out that Gaylord is actually a legit name. Still, it might not be what users of this gem expect.

[2020-08-04 22:26] #2099 closed

[2020-08-06 09:29] Maxeeezy opened #2102 "word_count option for Faker::Hipster.sentence is not working"
The word_count oprtion for the Faker::Hipster.sentence is not working. It keeps choosing a random length of the sentence.

[2020-08-13 13:12] #2097 closed

[2020-08-13 16:53] #2091 closed

[2020-08-14 01:08] tjozwik commented on #2102
### Temporary solution
Currently, you can use it with an additional explicit param `random_words_to_add`, set to 0. For example:
[code]
### Context
The same issue appears to exist in `Faker::Books::Lovecraft.sentence`. It is caused by the `random_words_to_add` param that is set to the value greater than zero by default.
Line from `hipster.rb`:
[code]
Meanwhile, in `lorem.rb`, 0 is the default valu

[2020-08-14 10:25] sudeeptarlekar commented on #2102
As @tjozwik mentioned, passing `random_words_to_add` as 0 is fix for this. Sometimes, even after passing 0 for random words count, method generates the sentence with extra words than desired. This is because underlying method in sentence returns the array of words with space included, above I created small patch PR to fix that issue.

[2020-08-15 05:22] #1693 closed

[2020-08-16 13:46] Yorkshireman commented on #1638
Yes, doing the following solved the problem for me:
[code]

[2020-08-17 17:11] sudeeptarlekar commented on #1745
@vbrazo moved tv shows to new repo, still need to format the PR.
Reviews/comments are welcome.

[2020-08-18 07:58] psibi commented on #1745
We have had similar conversations before and IIRC we agreed that we won't be splitting into individual components. More info here: https://github.com/faker-ruby/faker/issues/1539#issuecomment-465886360

[2020-08-18 15:16] sudeeptarlekar commented on #1745
Ohh, missed that issue, will close open PR. Also, shouldn't we closing this issue?

[2020-08-18 15:17] psibi commented on #1745
@sudeeptarlekar Yeah, I think we should close the issue. Sorry for the confusion which made you work extra.

[2020-08-18 15:17] #1745 closed

[2020-09-03 07:26] Bennet-Sunder opened #2116 "Does Faker::Lorem.characters() sometimes gives lesser characters"
## Describe the bug
I'm using the older `v1.0.1` and when trying to generate a text of specified length like
`Faker::Lorem.characters(25)` it sometimes gives lesser characters

## To Reproduce
Describe the steps to reproduce the behavior.
[code]

## Additional context
I can see that this has changed from `v1.0.1`
https://github.com/faker-ruby/faker/blob/1c44d6d72e8c34f1e14f26ac0aa38599c6711711/lib

[2020-09-11 07:35] JustinFeng commented on #1577
Seems it's also not working for character class
![image](https://user-images.githubusercontent.com/1527902/92884376-234f0480-f455-11ea-9aab-f0c660b3bc77.png)

[2020-09-13 18:59] NotSorbent opened #2118 "Faker::Boolean:boolean not working as described in the markdown"
## Describe the bug
When using Faker::Boolean:boolean in codewars to create a new kata it works without true_ratio being specified, but when specifying true_ratio I needed to use the syntax 'Faker::Boolean:boolean(true_ratio = 0.8)' rather than 'Faker::Boolean:boolean(true_ratio: 0.8)' which is in the boolean.md doc.

## To Reproduce
The error when using "true_ratio: 0.8" was:
 "Log

An error occu

[2020-09-14 09:22] sudeeptarlekar commented on #2118
If you are using v1.8.4 then right way to call boolean is `Faker::Boolean:boolean(0.8)`, checkout [boolean.md](https://github.com/faker-ruby/faker/blob/v1.8.4/doc/boolean.md) for v1.8.4. So, I think this is not a bug.

cc: @koic

[2020-09-15 13:06] priyalakshmiprasad commented on #1127
Hi..@splasinn..I am unable to get the results for US..Could you please help me on this..

[2020-09-23 02:49] fny opened #2125 "US phone numbers have an extra +"
There should only be one +:

[code]

[2020-09-25 18:43] sudeeptarlekar commented on #2125
@fny we fixed this issue in latest version 2.14.0 in PR #2084. So try updating to new version. If in case you can't update to new version, add following code in `en-US.yml` locale

[code]

Hope this helps.

[2020-09-25 19:02] anon987654321 opened #2127 "Removing the LoremFlickr copyright notices?"
Hi, asking because I feel it messes up my UI now during the design stage. None of these photos will ever go public anyway. Thanks!

[2020-09-26 03:23] #2125 closed

[2020-09-27 19:32] tasawar-hussain opened #2128 "Support for events/conferences"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**If you're adding new objects, please describe how you would use them**
A clear and concise description of examples that could be used with your new Faker methods.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or fe

[2020-09-27 20:18] #2128 closed

[2020-09-28 12:59] lucasqueiroz commented on #1127
Hey @priyalakshmiprasad, to generate a US license plate you must be using the `en-US` as the locale (It's the default one, you can read more about locales [here](https://github.com/faker-ruby/faker/blob/master/lib/locales/README.md)).
Then calling `Faker::Vehicle.license_plate` or `Faker::Vehicle.license_plate(state_abreviation: 'FL')` should return a valid US license plate. You can check the exam

[2020-09-28 17:05] Zeragamba commented on #2127
Which copyright notice, as I don't see one in the source code.

[2020-09-28 20:08] anon987654321 commented on #2127
It's a LoremFlickr thing, and adding cropping functionality to Faker probably wouldn't be worth it :)

[2020-09-28 20:08] #2127 closed

[2020-09-30 21:04] anon987654321 opened #2131 "Feature request: This Person Does Not Exist"
Any way we could add some sort of https://thispersondoesnotexist.com/ feature?

Thanks!

[2020-09-30 21:19] Zeragamba commented on #2131
Because that site isn't marketed as a placeholder site i don't think adding it to Faker is a good idea.

[2020-09-30 22:32] anon987654321 commented on #2131
Good point. Until next time then!

[2020-09-30 22:32] #2131 closed

[2020-10-02 12:31] Zeragamba commented on #1760
issue resolved in #2133

[2020-10-02 12:31] #1760 closed

[2020-10-08 12:55] dterhorst opened #2148 "North Dakota missing from en/driving_license.yml"
## Describe the Bug

`faker/lib/locales/en/driving_license.yml` is missing an entry for `north_dakota`.

## To Reproduce

[code]

## Expected Behavior

A license number would be generated in one of the following formats:

* 3 letters and 6 digits
* 9 digits

## Actual Behavior

An exception is raised:

[code]

## Additional Context

[code]

It's also annoying that `usa_driving_licence` only works

[2020-10-10 00:29] #2148 closed

[2020-10-27 02:15] gabrielbaldao opened #2180 "Rubocop offenses"
## Describe the bug
In  #2166 I'm having problems with rubocop, can I open another PR to fix it?

[2020-10-28 07:29] koic commented on #2180
I'm grateful for your kind offer. However this issue has been resolved by #2182. Thank you!

[2020-10-28 07:29] #2180 closed

[2020-11-03 21:17] weston-vericatch commented on #278
Warning: This error will also occur if you accidentally use `.uniq` instead of `.unique`.

Do you think we could possibly add this as an alias?

[2020-11-24 09:21] Piioo commented on #278
I have this problem with locale `de` for `de.faker.lorem.punctuation.space`.

This happen, because faker do not have translations for this key in de locale

[2020-11-25 00:55] pond opened #2202 "Version 2.15.0 is broken by an I18n change"
## Describe the bug
2.14.0 -> 2.15.0 breaks internationalisation; the change in https://github.com/faker-ruby/faker/pull/2169/files is invalid.

## To Reproduce

Gemfile:

[code]

Script:

[code]

Result with 2.14.0, or with 2.15.0 but with https://github.com/faker-ruby/faker/pull/2169/files reverted:

[code]

Result with 2.15.0 as released:

[code]

## Expected behavior
The non-exception behaviou

[2020-11-25 01:10] vbrazo commented on #2202
@pond could you please review this PR? https://github.com/faker-ruby/faker/pull/2203

[2020-11-25 01:17] pond commented on #2202
@vbrazo +1 from me.

[2020-11-25 01:59] #2202 closed

[2020-11-25 03:47] amatsuda commented on #2202
@pond
First of all, as the author of #2169, I'm so sorry for breaking your application.

But as far as I can tell, your situation happens only when the given locale `en-NZ` is not included in `I18n.available_locales`, which means, none of your I18n resources in your `I18n.load_path` are `en-NZ` based, but you're specifying `en-NZ` as the `I18n.locale`.
Is that how your application is setup?  If so

[2020-11-25 04:06] amatsuda commented on #2202
Just to make sure, I confirmed that adding something like
`I18n.load_path << 'config/locales/en-nz.yml'  # A file that contains any en-NZ resource`
above
`I18n.locale = 'en-NZ'` in your script could make it normally finish.
That is to say, all my assumptions written in the above comment seems technically correct.

[2020-11-25 05:56] vbrazo commented on #2202
@amatsuda we should add a note for that [here](https://github.com/faker-ruby/faker/blob/master/lib/locales/README.md). Since it's a breaking change we should release on a major version that's why I did the quick rollback.

[2020-11-25 21:50] pond commented on #2202
Have bumped up to 2.15.1 on our code base; this passed our large test suite via AWS CI in full - thanks for the quick action here, awesome stuff.

@amatsuda _Faker itself_ provides `en-NZ` translations. If it doesn't make these visible to the I18n system, it's IMHO broken.

Our application has en-NZ available "in full" (e.g. in the server), but in the RSpec test suite does not necessarily always h

[2020-12-15 12:16] PatrickLerner commented on #1318
I would advocate to delete all the pop culture stuff from the main gem (who needs most of it really? and it just adds a ton of PR where everybody wants to get their list of random things into this gem) and if you really want lord of the rings character names, it can be a separate gem (lotr-faker). But I guess I am in the minority here as people seem to enjoy this.

[2020-12-15 14:10] boardfish commented on #1318
@PatrickLerner I imagine this was part of the case for #1539. [A project of mine, RemoteRecord](/raisedevs/remote_record) will most likely do something like this. I'm choosing to take that approach for a few reasons, but they're reasons that support Faker retaining its current structure.

It might help to check it out for a bit of context, but I'm hoping my explanations here are framed in a way th

[2020-12-15 19:34] mckaz opened #2216 "Undefined variable"
https://github.com/faker-ruby/faker/blob/ec06d217644cf3d66bd0e658c9b168af8f0c38c7/lib/faker/default/company.rb#L263

The variable `base` doesn't seem to be defined anywhere in the scope of this method. Unless I have missed something?

[2020-12-15 20:33] mckaz commented on #2216
Silly mistake on my part.

[2020-12-15 20:33] #2216 closed

[2020-12-26 23:06] connorshea opened #2225 "Random::DEFAULT is deprecated on Ruby 3"
## Describe the bug

Faker causes deprecation warnings on Ruby 3.

## To Reproduce
Run code using Faker on Ruby 3 with deprecation warnings enabled (`RUBYOPT='-W:deprecated'`) and see that you get a warning about Random::DEFAULT being deprecated:

[code]

Can probably reproduce this with the gem's own test suite, I assume.

## Expected behavior

No deprecation warning should be printed because we

[2020-12-26 23:08] connorshea commented on #2225
This is the code:

https://github.com/faker-ruby/faker/blob/a1ba45c7c79bac3ad9da5a3018f9f91bfd8ff707/lib/faker.rb#L32

I think we can just replace `Random::DEFAULT` with `Random.new` and it'll work fine?

[2020-12-30 07:18] vvijayakumar-rpx commented on #217
use like this
gem 'faker', git: 'https://github.com/stympy/faker.git'

[2021-01-05 05:47] #2225 closed

[2021-01-06 00:41] #2069 closed

[2021-01-07 11:53] evheny0 commented on #2116
Judging by code, this issue was due to `rand(36**char_count)` might return small number, that is less that `char_count`. Argument for `rand` is a max random number.

The issue is fixed in newer versions.

[2021-01-07 12:07] Bennet-Sunder commented on #2116
Yes, it is. Closing this.

[2021-01-07 12:07] #2116 closed

[2021-01-20 07:05] XertroV commented on #1113
for ppl who found this looking for a way to do random selections that are also deterministic (so they're tied to deterministic faker generated data), here are two options:

* I presume you can seed the random generator in ruby somehow. provided that you can do this and don't do any other random operations, then faker data should stay consistent each time you generate it.
* The other method - which

[2021-01-23 20:17] connorshea opened #2243 "Faker::Internet.username and .email have no YARD docs"
## Describe the bug
There are no YARD docs on the username or email methods in Faker::Internet

## To Reproduce
See https://github.com/faker-ruby/faker/blob/664cbafe9d15bddb97843dcbe107204e6e7291cb/lib/faker/default/internet.rb#L44

## Expected behavior
I expect there to be YARD docs.

[2021-01-27 18:33] sudeeptarlekar commented on #2118
@psibi can we close this if there is no action required?

[2021-01-27 18:34] sudeeptarlekar commented on #2243
Will look into this

[2021-01-27 18:35] sudeeptarlekar commented on #2102
@Maxeeezy if the issue is resolved can we close this?

[2021-01-28 10:44] NotSorbent commented on #2118
Sorry, yes

[2021-01-28 10:44] #2118 closed

[2021-01-28 17:24] #2102 closed

[2021-01-28 17:24] Maxeeezy commented on #2102
Thank you, @sudeeptarlekar, the issue can be closed!

[2021-01-28 17:50] mastermatt opened #2244 "A way to select a valid IBAN country"
**Is your feature request related to a problem? Please describe.**
The default behavior of `Faker::Bank.iban` is to use the country code 'GB', however, it does not seem possible to get a random country.

At first I simply tried `Faker::Bank.iban(country_code: Faker::Address.country_code)`, but less than a third of countries use IBAN, so this fails with `"ArgumentError: Could not find iban details

[2021-02-07 17:57] #2243 closed

[2021-02-09 04:09] connorshea opened #2260 "ruby-head failing due to timecop issue"
## Describe the bug

It will presumably be fixed by this PR: https://github.com/travisjeffery/timecop/pull/279

## To Reproduce

View CI for ruby-head https://github.com/faker-ruby/faker/runs/1852774269

## Expected behavior

No failure should happen on ruby-head

[2021-02-09 04:42] psibi commented on #2260
Probably failing on head shouldn't make the entire CI fail since HEAD changes frequently. It would be nice to have something like `allowed_failures` of Travis in github actions to make sure things aren't blocked because of it.

[2021-02-09 05:46] koic commented on #2260
I've opened #2262 that temporarily suspends the CI of ruby-head.

[2021-02-09 18:55] #2260 closed

[2021-02-09 19:04] connorshea commented on #2260
thanks @koic!

[2021-02-09 20:08] koic commented on #2260
You are welcome @connorshea!

[2021-02-10 08:22] jwillemsen commented on #2260
FYI, ruby-head works again with timecop

[2021-02-12 11:28] Selectus2 commented on #2093
If I make the changes as mentioned in the resource given above i.e. if I change Date.today to Date.current will you accept my PR

[2021-02-18 03:34] saslani commented on #1577
REGEXP = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$/
Faker::Base.regexify(REGEXP)
"=.*r=.*Z=.*9)=.*@@sd\\&*dd&m"

length between MIN and MAX not working

[2021-02-21 08:21] DaniTheLion opened #2269 "Fakert::Types.rb_hash returns a hash with all values equal, inconsistent with documentation"
## Describe the bug

`Faker::Types.rb_hash` and `Faker:Types.complex_rb_hash` generate a hash with all values equal for any hash size, which is inconsistent with the following example from the [documentation](https://github.com/faker-ruby/faker/blob/master/doc/default/types.md):
[code]

In practice `{name: "bob", last: "marley"}` cannot be returned by the invocation since the the [same value is us

[2021-02-21 21:48] koic commented on #2269
This issue has been resolved by #2270.

[2021-02-21 21:48] #2269 closed

[2021-02-23 12:17] callumacrae opened #2271 "Deterministic random doesn't work with unique values"
## Describe the bug

Generating unique values after seeding the number generator causes not only those generated values to be non-deterministic, but all values afterwards.

## To Reproduce

[code]

In addition, demonstrating values afterwards:

[code]

## Expected behavior

I'd expect either:

- Values to be deterministic, even when unique
- An error to be thrown if this technically isn't possible

[2021-02-24 03:59] #2244 closed

[2021-03-10 12:53] lauer opened #2278 "valid mobile ICC numbers using Luhn checksum"
We already have generated IMEI number in Code.imei but it would make sense also to have other generators for ICC numbers that also follow Luhn's algorithm.

ICC is what I currently miss and have created an implementation for, but also imsi would be an idea to add.

It would make sense to have a prefix-number as input, to solve country-specific values.

https://en.wikipedia.org/wiki/SIM_card#ICCID

[2021-03-12 19:51] jasonkarns opened #2281 "Same-seeded rspec test runs no longer generate deterministic data"
## Describe the bug
Given an identical Kernel seed value, Faker should generate the same deterministic data, but it does not.

Seems to have been caused by #2226

## To Reproduce

Given a conventional rspec test suite, with randomization enabled: the conventional rspec configuration sets the Kernel seed to the rspec seed:

[code]

Then `rspec --seed 1234` generates non-deterministic faker data.

#

[2021-03-26 04:18] connorshea commented on #2281
oooh 😬 I'm not sure how to fix this in the Faker gem itself other than just telling people to use the workaround you've suggested.

@vbrazo @koic any ideas here?

[2021-03-27 02:31] havenwood commented on #2281
Should `Random.new` [here](https://github.com/faker-ruby/faker/blob/v2.17.0/lib/faker.rb#L32) be `Random.new(Random.seed)` instead? The default `seed` argument is currently resulting in `Random.new(Random.new_seed)`.

[2021-04-20 22:59] beporter opened #2304 "Array sample method?"
**Is your feature request related to a problem? Please describe.**

Ruby 1.9+ will let you do something like `['foo', 'bar', 'baz'].sample # => 'bar'` natively, but this won't respect Faker's own RNG seed, meaning the results will be nondeterministic across separate executions.

(This has been brought up before in #1113.)

**Describe alternatives you've considered**

A _deterministic_ `Array#sampl

[2021-04-20 23:17] beporter commented on #2304
Worth mentioning: I'd be happy to put together a PR if there's some indication it'd be accepted.

I respect the time everyone volunteers to maintain a FOSS project like this but I also ask for my own time to be respected, so that indication of which way the maintainers lean is what I need to move from writing up an issue to submitting a PR. Thanks! 🙇

[2021-04-25 18:10] tjozwik opened #2306 "Random words/sentences to add standardization"
There are a couple of classes having `sentence` and `paragraph` methods:
- `Faker::Books::Lovecraft`,
- `Faker::Hipster`,
- `Faker::Lorem`.

I've noticed that each of these classes has `random_words_to_add` (for `sentence` method) and `random_sentences_to_add` (for `paragraph`) params. Anyway, there are different default values for these params in mentioned classes, that is a little bit confusing.

[2021-04-25 21:45] codechriscode opened #2307 "Fake relationship with a model"
**Is your feature request related to a problem? Please describe.**
Yes, in a way.
The problem is we can't (or I have not found a standard way to) fake a relationship with another ActiveRecord model that's been previously 'seeded' (or planted, perhaps 😸 just kidding).

**If you're adding new objects, please describe how you would use them**
Like adding multiple `BankAccount` that `belongs_to` a pre

[2021-04-26 17:51] my-very-own-account commented on #1972
Guys what's taking so long? Please hurry!

[2021-04-26 17:53] my-very-own-account commented on #1972
Unsplash is indeed a must! Then there's https://placekitten.com/ and https://uifaces.co/?

[2021-04-26 23:32] meuble opened #2309 "[Actions] TruffleRuby checks fails silently"
## Description
TruffleRuby fails to run the tests without errors, but this doesn't prevent the CI to raise any warning.

## To Reproduce
Run the tests on TruffleRuby.

## Expected behavior
I would expect that if some of the tests doesn't succeed, the CI should prevent the PR to be accepted and should display warnings.

I would also expect the tests to fully succeed and TruffelRuby.

## Additional

[2021-04-27 10:34] lemingos commented on #469
Can't this be done with `[]` like:

``` Faker::Company.unique.name[..x] ```

where `x` is the limit?

[2021-05-13 20:28] jgarber623 opened #2321 "Canadian area code 226 included in array of US area codes"
## Describe the bug

The [Canadian area code 226](https://en.wikipedia.org/wiki/Area_codes_519,_226,_and_548) is erroneously included in the array of US area codes in [`lib/locales/en-US.yml`](https://github.com/faker-ruby/faker/blob/master/lib/locales/en-US.yml) (see [line 92](https://github.com/faker-ruby/faker/blob/master/lib/locales/en-US.yml#L92)). This can be problematic when using Faker to

[2021-05-14 06:03] #2321 closed

[2021-05-19 11:22] project-eutopia commented on #1700
Just wanted to check in and see if any progress has been made on this issue. I also would like to be able to instantiate a `Faker` instance with its own `random` object, so that the thread which owns this instance can have deterministic randomized output no matter what other threads may be doing.

[2021-05-19 12:21] bonflintstone commented on #2271
I am running into this issue too - but I cannot get your workaround working. I tried setting it before all specs as well as before each spec, but to no avail. Do you have some more hints how you finally got this to work @callumacrae? I know this is along time ago, but I am grateful for everything you remember :grin:

[2021-05-20 13:18] jasonkarns opened #2328 "Placeholdit URLs are broken"
## Describe the bug
Placeholdit image urls are broken. The domain now redirects to https://placeholder.com/ but the https urls are invalid due to the ssl certificate.

## To Reproduce
Generate a placeholdit image url and attempt to apply as an img tag.

## Expected behavior
Expect a placeholder image to load; instead, get an error in the network console.

## Additional context

[2021-05-27 16:37] tadman opened #2330 "Incompatibility with Psych 4.0"
## Describe the bug

Incompatibility with Psych 4.0.0 and the new [YAML defaults](https://github.com/ruby/psych/pull/487).

## To Reproduce

This `Gemfile`:

[code]

And this code:

[code]

## Expected behavior

Should be printing something fake.

## Additional context

Generates an exception, as alias resolution is disabled by default in Psych 4.0

[code]

[2021-05-27 16:42] tadman commented on #2330
This can be "fixed" temporarily by pinning to `gem 'psych', '3.3.2'` but that's not ideal.

[2021-05-28 07:09] koic commented on #2330
Thank you for the feedback. I've opened https://github.com/ruby-i18n/i18n/pull/569 to Ruby I18n gem.

[2021-06-01 13:44] brugobi commented on #217
I still having this issue..no one of the solution works for me

[2021-06-11 17:44] TemaMelnikov opened #2336 "Faker::Bank.bsb_number I18n missing translation data"
## Describe the bug
Faker::Bank.bsb_number rescue error I18n::MissingTranslationData (translation missing: en.faker.bank.bsb_number)

## To Reproduce
`puts Faker::Bank.bsb_number`

## Expected behavior
Return bnb number

## Additional context
No context

[2021-06-15 10:27] #2306 closed

[2021-06-16 18:12] martinjaimem commented on #2336
Can you add the faker version @TemaMelnikov ? thanks!

[2021-06-30 07:19] rjurado01 opened #2345 "Company spanish_organisation_number invalid"
## Describe the bug
Some spanish company CIF generated are invalid. For example: `N6043409`

` spanish_cif_control_digit` is missing

## To Reproduce
`Faker::Company.spanish_organisation_number`

## Expected behavior

[code]

## Additional context

Example of validation method:

[code]

[2021-06-30 21:16] laulujan commented on #2345
Hello, is it ok if I give it a try on this issue?

[2021-07-03 10:57] lilisako commented on #1972
Is there any updates on this issue? I'd love to work on this by adding more tests to https://github.com/faker-ruby/faker/pull/2003 ?

[2021-07-09 10:02] lilisako commented on #2328
I fixed this issue in https://github.com/faker-ruby/faker/pull/2356!

[2021-07-12 16:47] jtenholder commented on #2330
@tadman I'm running into the same issue pinning `gem 'psych', '3.3.2'` didn't seem to fix it. I would put the `gem 'psych', '3.3.2' ` in my project gemfile correct?

[2021-07-21 21:10] wilg commented on #1700
Agree this is a big issue for me as well. Any pointers on how this change might be able to be made? Maybe just an option for `Faker::Config.thread_local_random` or something

[2021-07-21 21:26] wilg commented on #1700
I think probably for the same reasons `unique` isn't thread safe

[2021-07-28 14:54] hosamaly commented on #2281
How about using RSpec's seed if it's loaded?
[code]

[2021-07-30 20:45] tadman commented on #2330
That's what worked for me, but your case might vary.

Honestly this should just be fixed in Faker. Psych 4.x is here to stay and this problem will only become more of a hassle over time.

[2021-08-03 18:31] mkapra opened #2364 "Faker not working for Rails 6"
## Describe the bug
I get an error when I try to use faker:
[code]

It seems that the call to the `I18n` has changed.

## To Reproduce
`Faker::Lorem.words` in `rails console` or script.

## Expected behavior
Get the correct string back

## Additional context
ruby version: `3.0.1`
rails version: `6.1.4`

[2021-08-04 03:59] koic commented on #2364
I couldn't reproduce this issue.

[code]

Can you provide the above environment information and more detail stacktrace?

[2021-08-06 15:37] mkapra commented on #2364
This helped me:

I should have read the full installation section in the README:

`Note: if you are getting a uninitialized constant Faker::[some_class] error, your version of the gem is behind the one documented here. To make sure that your gem is the one documented here, change the line in your Gemfile to:`

I changed the gem in my Gemfile to the line in the README and now it works. Thanks and s

[2021-08-06 15:37] #2364 closed

[2021-08-09 02:04] aclemons opened #2365 "Loading locale yml files with syck fails."
## Describe the bug
Some of the locale files cannot be parsed by syck.

I have a niche use-case, but a very large legacy Rails app which still uses syck. I need to upgrade faker, but currently some of the yml files cannot be parsed by syck. These are small changes like arrays being defined without spaces between the strings or the next string value of arrays with trailing commas.

I can understand

[2021-08-11 05:38] 747 opened #2368 "Faker::Internet.slug URL-friendly mode?"
**Is your feature request related to a problem? Please describe.**
Because `Faker::Internet.slug` calls `Faker::Lorem` internally:
[code]
Those locale-specific strings are not displayable without escaping in a URL path, thus may not be suitable for what some systems expect of from "slug".

**If you're adding new objects, please describe how you would use them**
[code]
This may be achieved by tempo

[2021-08-20 08:59] MeetChavda commented on #825
i don't understand , what we need to exactly for this error..

[2021-08-24 18:10] scottfirestone opened #2375 "Re-add Faker::Internet.base64"
**Is your feature request related to a problem? Please describe.**
The `base64` method looks to have been removed from Faker::Internet class with this PR: https://github.com/faker-ruby/faker/pull/1730. This removal is breaking specs in my application.

I don't see any reasoning behind this removal stated in the PR and am curious why it was removed.

[2021-08-25 10:58] FraDim commented on #2375
@ashishra0 @psibi: It seems that, during #1730's conflict resolution, we lost the `.base64` method.

[2021-08-25 11:04] ashishra0 commented on #2375
Oh no, I am so sorry @FraDim, @scottfirestone. This was a mistake on my part

[2021-08-25 11:05] ashishra0 commented on #2375
How do you propse we fix this?

[2021-08-28 08:07] ashishra0 commented on #2375
Okay, can you assign this to me? I'll have the PR by eod

[2021-09-02 14:23] dylanlewis89 commented on #615
One other option to provide here, especially if you need to support special characters but it's intermittently failing your tests, is to explore using [CGI.escape_html](https://ruby-doc.org/stdlib-2.5.3/libdoc/cgi/rdoc/CGI/Util.html#method-i-escapeHTML) or [CGI.unescape_html](https://ruby-doc.org/stdlib-2.5.3/libdoc/cgi/rdoc/CGI/Util.html#method-i-unescapeHTML).

I've found that using this to matc

[2021-09-09 18:33] JoaoGuilhermeLW commented on #1708
Hey, i'll try to solve it.

[2021-09-21 21:12] jaredbeck opened #2390 "Regexify incorrectly includes comments in output"
## Describe the bug

[A `Regexp` can include comments](https://docs.ruby-lang.org/en/2.6.0/Regexp.html#class-Regexp-label-Free-Spacing+Mode+and+Comments). This is ideal for documenting non-trivial patterns.

These comments should not appear in the output.

## To Reproduce

[code]

## Expected behavior

Output should not include comments.

## Observed behavior

Output includes comments.

[2021-10-05 15:29] TastyPi opened #2399 "`Faker::Stripe.ccv` should be named `Faker::Stripe.cvc`"
## Describe the bug

Just a minor typo in the name of this method. CVC stands for Card Verification Code, AFAICT CCV is not a thing. This is also the name Stripe uses in its API https://stripe.com/docs/api/payment_methods/create#create_payment_method-card-cvc.

## To Reproduce

Attempt to create a `PaymentMethod` with Stripe and realise there's a weird naming difference:

[code]

## Expected behav

[2021-10-21 01:28] davehughes commented on #2271
@bonflintstone not sure if you're still worried about this, but I ran into this same issue and found that the workaround fixed things for me.  Here's some code that repros the issue for me:

[code]

[code]
The output shows that `reset1` (just resetting `Faker::Config.random`) doesn't yield deterministic results, but `reset2`/`reset3` (resetting both `Faker::Config.random` and `Faker::UniqueGenerat

[2021-10-31 03:55] sandonemaki opened #2410 "Add a description of locales to the README"
**Is your feature request related to a problem? Please describe.**
* Add a description of locales to the [README](https://github.com/faker-ruby/faker#readme).
    * I don't know what languages Faker can output other than English.
    * I don't know how to configure Japanese output from Faker's [README](https://github.com/faker-ruby/faker#readme).

**If you're adding new objects, please describe ho

[2021-11-03 08:34] #2330 closed

[2021-11-22 05:43] dorianmariefr opened #2420 "isocode3/alpha3 country codes?"
**Is your feature request related to a problem? Please describe.**

I'm generating fake countries, and would need fake isocode3/alpha3 codes

**If you're adding new objects, please describe how you would use them**

The codes would be used to display flags for instance

**Describe alternatives you've considered**

`Faker::Address.country_code` (isocode2) and `"#{Faker::Address.country_code}X"` (no

[2021-11-22 05:46] dorianmariefr commented on #2420
here is what my factory looks like:

[code]

[2021-11-29 02:54] sudeeptarlekar commented on #2410
@psibi can we take this up?

[2021-11-29 05:01] psibi commented on #2410
Sure, sounds good to me. Can you guys do it for one of the generators initially so that we can iterate on it before we do it in bulk (if that's the plan) ? Thanks!

[2021-11-30 02:33] sudeeptarlekar commented on #2420
Am I looking at correct [codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3#Officially_assigned_code_elements) @dorianmariefr?

[2021-11-30 03:13] sudeeptarlekar commented on #2420
@dorianmariefr I think what you need is `Faker::Address.country_code_long`, let me know if this works.

[2021-11-30 07:14] dorianmariefr commented on #2420
Oh perfect, thanks, `Faker::Address.country_code_long` is what I wanted, not sure why I didn't find it, thanks

[2021-11-30 07:14] #2420 closed

[2021-12-01 02:20] #2410 closed

[2021-12-09 12:23] gabrielcosta42 commented on #2307
I think [factory_bot](https://github.com/thoughtbot/factory_bot/) is the gem you are looking for. It's possible to [seed records with it's associations](https://github.com/thoughtbot/factory_bot/blob/master/GETTING_STARTED.md#associations) and still keep the random values from faker.

[code]

For Rails apps use [factory_bot_rails](https://github.com/thoughtbot/factory_bot_rails) gem.

[2021-12-16 13:46] philipfong opened #2429 "Typo in last name "Hilll""
## Describe the bug
`Hilll` is not a proper last name with any genealogy and is likely a typo. The correct spelling is `Hill`.

## To Reproduce
Faker::Name.last_name can produce this name at random

## Expected behavior
Produces `Hill` with two lower case `l` letters and not 3.

## Additional context
I was able to discover this issue when we use these `Faker` names in PDF documents. AWS Amazon Tex

[2021-12-16 17:44] #2429 closed

[2021-12-20 22:04] patrick-beep opened #2431 "Faker is unsafe to use in automated tests - real urls and email addresses are generated"
## Describe the bug
Faker::Internet.url, and Faker::Internet.email generate potentially real domain names and email addresses. Using potentially real urls and email addresses in automated testing environments is a security vulnerability. Faker is extensively used in automated test environments to generate test data.

## To Reproduce
Call ``` Faker::Internet.url ``` and see that the result is a url

[2021-12-26 19:07] #2328 closed

[2022-01-06 17:28] Drowze commented on #2047
Also facing this issue, got `+144117229214047` from `Faker::PhoneNumber.cell_phone_in_e164` (which blew on a validation we have later on).

[2022-01-06 19:22] Aryk commented on #2047
I tend to think this library should be more dependable and only generate phone numbers that will get parsed as being valid. In other words, should be either completely valid or completed not valid (just a string of numbers even without a real country code bc what's the point to have correct country codes if it doesn't parse   correctly?)

[2022-01-10 11:12] sudeeptarlekar commented on #2309
Found something happening differently in truffleruby for source method. Created issue for same.
https://github.com/oracle/truffleruby/issues/2569

Meanwhile adding quick patch for same and raising a PR.

[2022-01-27 21:09] masukomi opened #2451 "Timor-Leste has old country code in en addresses.yml"
## Describe the bug
East Timor is now Timor-Leste
this wasn't updated in all the places and the country code is now `TL`

[2022-02-04 19:45] KarlHeitmann commented on #2451
So, this issue is solved with PR #2452 ?

[2022-02-05 03:51] KarlHeitmann commented on #2431
I can tackle this issue.

[2022-02-20 20:35] nickjj opened #2464 "Ability to generate dark and light hex colors with a new optional luminosity option"
Currently we can run `Faker::Color.hex_color` to generate a random hex color. It does not support any arguments.

It would be great if we could optionally run:

- `Faker::Color.hex_color(luminosity: 'dark')`
- `Faker::Color.hex_color(luminosity: 'light')`

To simplify the interface this option could default to `random`. There's other potential values that could be interesting too like `bright` or

[2022-03-03 15:54] spiderbites opened #2466 "Plans for new release"
Hello, just wondering if there are plans to cut a new release.

In particular looking for a release that includes https://github.com/faker-ruby/faker/pull/2413 for Psych 4.0 compatbility.

Thank you!

[2022-03-03 19:08] sudeeptarlekar commented on #2309
https://github.com/oracle/truffleruby/issues/2612

[2022-03-05 18:56] koic commented on #2466
v2.20.0 has been released.
https://github.com/faker-ruby/faker/releases/tag/v2.20.0

[2022-03-05 18:56] #2466 closed

[2022-03-08 19:07] adisonlampert commented on #2464
I can tackle this feature! :)

[2022-03-10 12:48] #2309 closed

[2022-03-24 16:00] Codball opened #2473 "`Faker::Vehicle.vin` generates invalid vins"
## Describe the bug
I have noticed the function generating vins with `I`, `O`, and `Q`.
Example: `"NT8Q9DQASR0M09679"`

## To Reproduce
1. Generate vin with function
2. Copy paste into vindecoderz.com

## Expected behavior
Vins to pass validation

## Additional context
Not sure if there are other issues with the regex generating this string but I know vins can be kind of complicated

[2022-03-31 21:51] jatanton opened #2474 "Faker::Internet.url generates error"
## Describe the bug
Faker::Internet.url gives an error:
ArgumentError: wrong number of arguments (given 2, expected 0..1)

## To Reproduce
In seeds.rb:

url = Faker::Internet.url

## Expected behavior
Faker::Internet.url  => http://randomurl.com/random

## Additional context
Thanks for your help!

[2022-04-03 14:21] sudeeptarlekar commented on #2474
Which version are you using? Working as expected in v2.20.0
[code]

[2022-04-12 21:06] codechriscode commented on #2307
Cool, thanks @gabrielcosta42!

[2022-04-12 21:06] #2307 closed

[2022-04-24 00:11] verenion opened #2482 "Faker::Game.title returning nil randomly in 2.20.0"
## Describe the bug
We recently upgraded from 2.18.0 and started seeing tests randomly break. After some digging, running the following code seems to suggest `Faker::Game.title` can return nil.

## To Reproduce
Install Faker 2.20.0

[code]

## Expected behavior
As with most other Faker classes, I wouldn't expect `title` to return nil. E.g. `genre` doensn't:

[code]

## Additional context
Add any o

[2022-04-24 14:06] kenboo0426 commented on #2474
In v2.2.1 also working!

[2022-04-25 22:39] thdaraujo commented on #2482
thank you for reporting the issue, @verenion
this problem was addressed by https://github.com/faker-ruby/faker/pull/2469 and should be fixed on the next release.

[2022-05-01 15:12] Qqwy opened #2487 "Change of Random::DEFAULT -> Random.new is incorrect"
The merged PR #2225 replaced `Random::DEFAULT` (which is deprecated in Ruby 3) with `Random.new`.

https://github.com/faker-ruby/faker/blob/b78a47e64d79863dfb2a987c84157a8b0de3a037/lib/faker.rb#L32

_See https://github.com/faker-ruby/faker/issues/2225#issuecomment-751405279_

However, this is incorrect, and it breaks any test suite which expects reproducible results by seeding the global RNG when

[2022-05-01 19:10] Qqwy commented on #2487
It might very well possible that conditional code based on whether we're on Ruby 1, 2 or 3 needs to be added to work correctly on all Ruby versions.

[2022-05-15 22:33] #2487 closed

[2022-05-15 22:33] connorshea commented on #2487
I've merged the fix to master, thanks for pointing this out! And sorry for introducing this problem in the first place 🙈

[2022-05-15 22:34] connorshea commented on #2482
It's now fixed in the 2.21.0 release, closing.

[2022-05-15 22:34] #2482 closed

[2022-05-15 22:34] Qqwy commented on #2487
Thank you for fixing this in a timely manner! :smile:

[2022-05-15 22:51] connorshea commented on #2281
This should be fixed now by #2488, although it's not in the 2.21.0 release that just went out. Regardless, I'm going to close this.

[2022-05-15 22:51] #2281 closed

[2022-05-19 11:01] OlecsandrKirpa commented on #278
Worked for me:
[code]

[2022-05-23 23:17] nickhammond commented on #2399
These are often used interchangeably and are the same thing on a card. Instead of renaming the method I could see just adding an alias for it. The other option being to add a deprecation notice and then switching it in a future version instead of a breaking change.

- [cvv cvc difference](https://www.google.com/search?q=cvv+cvc+difference&sxsrf=ALiCzsYpaq5cKfAGcBN-ZLKMohHVHpgggg%3A1653347580365&ei

[2022-06-01 08:40] sudeeptarlekar opened #2492 "Close fixed issues"
Currently there are around 70 open issues, but most of them are fixed. Can we take out some time and close all issues those are fixed? So that we can take action on remaining ones

Thanks in advance.

cc: @vbrazo, @Zeragamba

[2022-06-07 13:58] SaimonL opened #2494 "When generating "cell_phone" number sometimes I get the error no implicit conversion of nil into String"
## What

When generating "cell_phone" number sometimes I get the error no implicit conversion of nil into String.

## Why

Look like it is trying to concatenate string however a nil is coming up instead of string.

## Occurrence

It is very rare and happens when using thread and generating over 10K. When it happens it always occurs at the beginning of execution as if something did not initialize o

[2022-06-10 16:37] mayaugusto7 opened #2495 "Faker::Games::Enemies"
Hi people, my suggestion is to add  Faker::Games::Enemies.

[2022-06-16 04:31] #2473 closed

[2022-06-16 05:03] thdaraujo commented on #2494
Hi @SaimonL, I wasn't able to reproduce this error (on v2.21.0 and on main).
Can you send us reproduction steps?

Here's what I've tried, but I didn't catch any problems:
[code]

[2022-06-20 08:57] sudeeptarlekar commented on #2494
Tested on Ruby-2.7.1, 3.0.3, 3.1.2, and found working fine. May be something wrong with your local system. Try updating gems with
[code]

[2022-06-20 12:27] mattr opened #2496 "Typos in Faker::Australia"
## Describe the bug
The data used for the Australia generator contain typos and errant capitalization within words. "Brisbane" is listed twice in cities. "Victoria" contains a random "s".

## To Reproduce
Sample from `Faker::Australia.states` and `Faker::Australia.animals`.

## Expected behavior
Words are correctly spelled and capitalized.

## Additional context
No major side-effects with the poss

[2022-06-20 14:12] mattr opened #2498 "Insufficient unique Australian cell numbers"
## Describe the bug
Testing unique constraints for Australian mobile numbers does not provide sufficient data once it exceeds 30 instances. (ACMA provides 30 numbers for use in fictional settings.)

## To Reproduce
Attempt to generate more than 30 unique phone numbers with locale set to `en-AU`.

## Expected behavior
Generate significantly more numbers.

## Additional context
Test data should neve

[2022-06-21 22:50] #2496 closed

[2022-06-27 23:31] #2375 closed

[2022-06-27 23:40] thdaraujo commented on #2495
Thanks for the suggestion @mayaugusto7, but we already have enemy characters, monsters and enemies on many of the current available games:
https://github.com/faker-ruby/faker/blob/dd0ea550e4bcaf0d2929ea5744275ff1a0a7e2a0/lib/faker/games/half_life.rb#L29

But feel free to submit a PR and add more enemies to the current games we have available.

[2022-06-27 23:40] #2495 closed

[2022-06-27 23:46] #39 closed

[2022-06-27 23:56] #339 closed

[2022-06-28 00:00] #966 closed

[2022-06-28 00:02] #1127 closed

[2022-06-28 00:05] #1379 closed

[2022-06-28 00:05] #1369 closed

[2022-06-28 00:08] #1829 closed

[2022-06-28 00:11] thdaraujo commented on #1511
I believe this is already done!

[2022-06-28 00:11] #1511 closed

[2022-06-28 00:16] thdaraujo commented on #1565
I believe this is fixed now.

[2022-06-28 00:16] #1565 closed

[2022-06-30 03:07] thdaraujo commented on #2492
I've closed many stale issues and some issues that are currently fixed, but there are still lots of them. Do you see any other issues that can be closed?

[2022-07-03 11:36] saiqulhaq opened #2505 "Remove unavailable LoremPixel generator"
LoremPixel is no longer an available service. An option is to use `LoremFlickr` whenever `LoremPixel` is referenced in the codebase.

Before we remove it, we need to add a deprecation for users.

Steps
- [x] Add a deprecation warning that LoremPixel is going to be removed in the next release. See [`Gem::Deprecate` docs](https://ruby-doc.org/stdlib-3.1.0/libdoc/rubygems/rdoc/Gem/Deprecate.html) for

[2022-07-03 14:53] saiqulhaq commented on #2431
@patrick-beep please check https://github.com/faker-ruby/faker/pull/2506

[code]

[2022-07-05 04:49] sudeeptarlekar commented on #2492
If you can give me the access, I can take out some time and close stale issue.

[2022-07-07 04:02] thdaraujo commented on #2451
fixed by #2452

[2022-07-07 04:02] #2451 closed

[2022-07-07 04:03] thdaraujo commented on #2345
fixed by #2351

[2022-07-07 04:03] #2345 closed

[2022-07-15 14:11] raivil opened #2512 "Short Faker::Internet.password are not including mix case chars."
## Describe the bug
Short passwords generated with `Faker::Internet.password` does not respect the configs related to "mix_case".

## To Reproduce
Generate several short passwords with mixed case and special characters. Eventually, a invalid password without mixed cased chars will be generated.
Example:
[code]

## Expected behavior
Passwords to have mixed case characters.

## Additional context
Ve

[2022-07-28 04:20] thdaraujo commented on #2494
could not reproduce the issue.

[2022-07-28 04:20] #2494 closed

[2022-07-31 09:31] tiff-o commented on #2512
it looks like this occurs when both `mix_case` & `special_case` is true as `special_case` can currently override the characters that were changed by `mix_case`. have a rough solution that i'm seems to work so would be keen to contribute (once i've done more testing & refactored) with a possible fix soon if timing isn't a major issue :)

[2022-08-02 07:25] basicfeatures opened #2516 "Possibility of using Google's Image"
Hello!

https://github.com/lucidrains/imagen-pytorch:

What do you guys think? Cheers!

[2022-08-05 17:17] stefannibrasil commented on #1318
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 17:17] #1318 closed

[2022-08-05 18:32] stefannibrasil commented on #250
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:32] #250 closed

[2022-08-05 18:32] stefannibrasil commented on #278
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:32] #278 closed

[2022-08-05 18:33] stefannibrasil commented on #429
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:33] #429 closed

[2022-08-05 18:33] stefannibrasil commented on #469
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:33] #469 closed

[2022-08-05 18:33] stefannibrasil commented on #802
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:33] #802 closed

[2022-08-05 18:33] stefannibrasil commented on #959
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:33] #959 closed

[2022-08-05 18:34] stefannibrasil commented on #999
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:34] #999 closed

[2022-08-05 18:34] stefannibrasil commented on #1078
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:34] #1078 closed

[2022-08-05 18:34] stefannibrasil commented on #1161
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:34] #1161 closed

[2022-08-05 18:35] stefannibrasil commented on #1194
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:35] #1194 closed

[2022-08-05 18:35] stefannibrasil commented on #1276
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:35] #1276 closed

[2022-08-05 18:35] stefannibrasil commented on #1325
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:35] #1325 closed

[2022-08-05 18:36] stefannibrasil commented on #1482
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:36] #1482 closed

[2022-08-05 18:36] stefannibrasil commented on #1491
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:36] #1491 closed

[2022-08-05 18:38] thdaraujo commented on #1571
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:38] #1571 closed

[2022-08-05 18:39] thdaraujo commented on #1577
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:39] #1577 closed

[2022-08-05 18:39] #1601 closed

[2022-08-05 18:40] thdaraujo commented on #1614
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:40] #1614 closed

[2022-08-05 18:40] thdaraujo commented on #1616
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:40] #1616 closed

[2022-08-05 18:40] thdaraujo commented on #1633
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:40] #1633 closed

[2022-08-05 18:41] #1641 closed

[2022-08-05 18:41] thdaraujo commented on #1650
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:41] #1650 closed

[2022-08-05 18:41] thdaraujo commented on #1661
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:41] #1661 closed

[2022-08-05 18:41] thdaraujo commented on #1666
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:41] #1666 closed

[2022-08-05 18:42] thdaraujo commented on #1692
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:42] #1692 closed

[2022-08-05 18:43] thdaraujo commented on #1697
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:43] #1697 closed

[2022-08-05 18:43] thdaraujo commented on #1700
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:44] thdaraujo commented on #1708
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:44] #1708 closed

[2022-08-05 18:44] thdaraujo commented on #1671
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:44] #1671 closed

[2022-08-05 18:45] thdaraujo commented on #1709
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:45] #1709 closed

[2022-08-05 18:45] #1770 closed

[2022-08-05 18:45] #1795 closed

[2022-08-05 18:46] thdaraujo commented on #1818
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:46] #1818 closed

[2022-08-05 18:47] thdaraujo commented on #1845
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:47] #1845 closed

[2022-08-05 18:48] thdaraujo commented on #1854
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:48] #1854 closed

[2022-08-05 18:49] stefannibrasil commented on #1861
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:49] #1861 closed

[2022-08-05 18:50] stefannibrasil commented on #1939
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:50] #1939 closed

[2022-08-05 18:50] stefannibrasil commented on #1880
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:50] #1880 closed

[2022-08-05 18:50] stefannibrasil commented on #1957
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:50] #1957 closed

[2022-08-05 18:51] #1978 closed

[2022-08-05 18:51] stefannibrasil commented on #1977
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:51] #1977 closed

[2022-08-05 18:51] stefannibrasil commented on #1950
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:51] #1950 closed

[2022-08-05 18:52] stefannibrasil commented on #2278
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:52] #2278 closed

[2022-08-05 18:52] stefannibrasil commented on #2304
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:52] #2304 closed

[2022-08-05 18:53] stefannibrasil commented on #2336
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:53] #2336 closed

[2022-08-05 18:53] stefannibrasil commented on #1972
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:53] #1972 closed

[2022-08-05 18:53] #2368 closed

[2022-08-05 18:53] stefannibrasil commented on #2390
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:53] #2390 closed

[2022-08-05 18:53] stefannibrasil commented on #2271
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:53] #2271 closed

[2022-08-05 18:54] stefannibrasil commented on #2047
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:54] stefannibrasil commented on #2365
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:54] #2365 closed

[2022-08-05 18:54] stefannibrasil commented on #2399
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:54] #2399 closed

[2022-08-05 18:55] stefannibrasil commented on #2474
Hey, folks. In an effort to lighten our load as maintainers and be able to serve you better in the future, the faker-ruby team is working on cleaning out the cobwebs in this repo by pruning the backlog. As there are few of us, there are a lot of items that will simply never earn our attention in a reasonable time frame, and rather than giving you an empty promise, we think it makes more sense to f

[2022-08-05 18:56] stefannibrasil commented on #2492
hi @sudeeptarlekar the ruby-faker team has decided to close old issues and PRs. This will help us move the gem forward. The issues and PRs are new ones, so we appreciate your review on them. Thanks for your contributions!

[2022-08-05 18:56] #2492 closed

[2022-08-05 19:29] stefannibrasil commented on #2505
HI @saiqulhaq could you please provide more information about this issue? I am not sure I understand what is the problem and what is your proposal. Thanks!

[2022-08-05 19:32] stefannibrasil commented on #2512
Hi @tiff-o timing is not a major issue. Feel free to provide a PR with your solution. Thanks!

[2022-08-05 19:34] stefannibrasil commented on #2516
hi @basicfeatures Could you please provide more information about this feature? How would you use it in your projects? Could you share some examples?

Why do you believe this is relevant for the project? Thanks!

[2022-08-05 20:47] dwarburt commented on #2474
@stefannibrasil please reopen this issue. I have identified the root cause in my last comment. It's going to be more of a problem as more users of your library transition to ruby 3. The fix is pretty simple, I'm using this monkey patch currently to work around the issue:

[code]

[2022-08-05 20:49] sudeeptarlekar commented on #2492
Thanks for considering my suggestion, appreciate it. Will take a look on pending issues

[2022-08-07 11:32] saiqulhaq commented on #2505
we need to delete the class
because loremflickr.com is down

[2022-08-08 12:15] ngouy commented on #1845
all good, I think the issue was addressed

[2022-08-08 17:18] thdaraujo opened #2521 "Fix flaky test: `bot_user_agent` on `test_faker_internet.rb`"
## Describe the problem
Looks like there are some flaky test on `test_faker_internet.rb` related to `bot_user_agent` generation.

- [test_faker_internet.rb:382](https://github.com/faker-ruby/faker/blob/15a8bc35f489b2d5e06439c664363c779b125d6c/test/faker/default/test_faker_internet.rb#L382).
- [test_faker_internet.rb:372](https://github.com/faker-ruby/faker/blob/15a8bc35f489b2d5e06439c664363c779b12

[2022-08-08 18:45] stefannibrasil commented on #2474
Thanks @dwarburt The issue has been re-opened.

[2022-08-08 18:50] stefannibrasil commented on #2505
I can access LoremFlickr normally. Could you try again on your side? What exactly is the error you're getting when running Faker? Thanks!

[2022-08-08 23:16] saiqulhaq commented on #2505
sorry I meant lorem pixel

[2022-08-09 08:51] psibi commented on #2505
Yeah, makes sense to delete it since it's not up anymore: https://github.com/faker-ruby/faker/blob/15a8bc35f489b2d5e06439c664363c779b125d6c/lib/faker/default/lorem_pixel.rb#L61

[2022-08-09 15:36] dwarburt commented on #2474
thank you @stefannibrasil and @thdaraujo. I forked this repo to open a PR but then I found that the problem was fixed some 3 years ago in https://github.com/faker-ruby/faker/pull/1876 and I just had an outdated gem in my project. Apologies!

[2022-08-09 18:13] thdaraujo commented on #2474
no worries, thanks for confirming. This issue has been solved and I'll close it.

[2022-08-09 18:13] #2474 closed

[2022-08-09 19:36] thdaraujo opened #2522 "Update Dependencies & Drop Support for EOL Ruby versions"
## Drop support for EOL Ruby versions.

The goal is to support `ruby >= 2.7`.

Tasks:
- [x] #2527
- [x] #2529

## Fix Deprecations

- [x] #2524
- [x] #2525
- [x] #2526

## Fix Flaky tests
Let's keep track on the current flaky tests and start fixing them.

Tasks:
- [x] #2521

[2022-08-09 19:36] thdaraujo opened #2523 "Create and Update Issues Templates"
## Bug Reporting
To help us with bug triage, let's share a bug script where people can add their versions, and the error messages.

### How to Reproduce

Please describe a way to reproduce your bug, or edit the reproduction script below...

Here's [an example](https://github.com/rails/rails/blob/f95c0b7e96eb36bc3efc0c5beffbb9e84ea664e4/guides/bug_report_templates/generic_main.rb).

Note: To get th

[2022-08-09 19:38] thdaraujo opened #2524 "Resolve issue with i18n version"
Fix workaround [here](https://github.com/faker-ruby/faker/blob/65e5bb959e14e57d4cdc002dcdb515ee99dcb497/faker.gemspec#L30) and [here](https://github.com/faker-ruby/faker/blob/7fa13f2bb1d837b182ec33ef951a9e6b5258f3e7/lib/faker.rb#L7).

[2022-08-09 19:38] thdaraujo opened #2525 "Resolve issue with simplecov version"
Fix workaround [here](https://github.com/faker-ruby/faker/blob/65e5bb959e14e57d4cdc002dcdb515ee99dcb497/faker.gemspec#L37).

[2022-08-09 19:39] thdaraujo opened #2526 "Fix Rubocop warnings"
When running Rubocop, we get the following warnings:

[code]
and

[code]

Let's update the [Rubocop YML file](https://github.com/faker-ruby/faker/blob/master/.rubocop.yml) to solve these warnings.

[2022-08-09 19:42] thdaraujo opened #2527 "Update CI to run tests only against the supported versions (`ruby >= 2.7`)"
We want to drop support for EOL Ruby versions.

- [ ] Update [Ruby versions on CI](https://github.com/faker-ruby/faker/blob/65e5bb959e14e57d4cdc002dcdb515ee99dcb497/.github/workflows/ruby.yml#L37) to only run with `ruby >= 2.7`.

See #2522 for more details.

[2022-08-09 19:42] thdaraujo opened #2528 "Update gem dependencies for `ruby >= 2.7`"
We want to drop support for EOL Ruby versions.

See https://github.com/faker-ruby/faker/issues/2522 for more details.

[2022-08-09 19:42] thdaraujo opened #2529 "Remove version checks against `ruby < 2.7`"
We want to drop support for EOL Ruby versions.

Tasks
- [ ] Remove version checks [here](https://github.com/faker-ruby/faker/blob/aa31845ed54c25eb2638d716bfddf59771b502aa/test/faker/default/test_faker_birthday_in_leap_year.rb#L24) and [here](https://github.com/faker-ruby/faker/blob/65e5bb959e14e57d4cdc002dcdb515ee99dcb497/test/faker/default/test_faker_id_number.rb#L63).
- [ ] Update [Targeted Ruby

[2022-08-09 19:54] thdaraujo commented on #2522
Should we first add a deprecation warning on the next release?

[2022-08-09 20:01] #2528 closed

[2022-08-09 21:25] stefannibrasil commented on #2505
oh, okay, it makes more sense now. It looks like Lorem Pixel is now Lorem Ipsum.

At first glance, LoremPixel seems to be [used only here](https://github.com/faker-ruby/faker/blob/aa31845ed54c25eb2638d716bfddf59771b502aa/lib/faker/default/twitter.rb). Could we use LoremFlickr instead?

[2022-08-10 01:42] yagosansz commented on #2521
Hi @thdaraujo, could you please assign the issue to me? I'd like to give it a try 😄

[2022-08-10 18:04] thdaraujo commented on #2516
I think it's an interesting idea.
The only problem is that we would have to add/handle so many new dependencies (python, pip, pytorch, etc.). It would be a bit too much. But I'd love to hear other people's opinions.

It would be interesting to see a ruby gem that lets you interact with Imagen somehow.

[2022-08-10 18:05] thdaraujo commented on #2521
hey @yagosansz thanks for the interest! But I already had a [PR](https://github.com/faker-ruby/faker/pull/2530) up for this issue 😅

Take a look at the other open issues, I'm sure you'll find something interesting to work on. Let me know so I can assign you other issue. :)

[2022-08-10 18:21] #2521 closed

[2022-08-10 20:37] stefannibrasil commented on #2512
@thdaraujo and I were able to reproduce the error with the following script:

[code]

#2308 did not solve this issue. At the moment, the following scenarios are possible:
- only special characters, i.e. `%*@!!^$`
- only one uppercase OR one lowercase letter but not both.

What we want is make sure that we have at least one upper case AND one lower case, and the special characters. Examples:

- `!g

[2022-08-10 21:02] #2523 closed

[2022-08-10 21:54] tiff-o commented on #2512
Hi @stefannibrasil - so sorry for the delay. Yes, I was able to reproduce the issue and found #2308 did not resolve. I haven't the chance to revisit this just yet but can get my PR up in the next 24 hours.

[2022-08-11 18:05] stefannibrasil commented on #2512
hi @tiff-o no worries! Take your time. I was just trying to reproduce the issue and share what we found. Thanks for working on this 👍

[2022-08-11 18:09] stefannibrasil commented on #2516
I agree it's an interesting idea, thanks for taking the time to propose it! I just feel like it's a bit of a stretch for faker. It would add too many dependencies. Perhaps another project based on faker for anyone interested in starting their own open-source project.

[2022-08-12 19:45] danlo opened #2534 "[Backwards Breaking change 2.22] Faker is reliably generating duplicate values"
# Bug report

## Versions
Faker 2.22 (Only this one, tested 2.20, 2.21), Rails 7.0.3.1
Ubuntu 20.04 LTS

## Describe the bug
Sets of values are being generated in a non-random fashion.

## To Reproduce
Execute the following code from a rails command line.

Rails 7.0.3.1 command line
[code]

# test/rand_test1.rb
[code]

# test/rand_test2.rb
[code]

## Expected behavior
Data is truly randomly genera

[2022-08-12 20:34] danlo commented on #2534
@sudeeptarlekar Flagging this to for your attention

[2022-08-13 07:44] sudeeptarlekar commented on #2534
This was fixed as a part for this issue https://github.com/faker-ruby/faker/issues/2487.

In this case as we are running two test files, which generates the reproducible random values and looks valid, but let's hear out other's thought about this. Thanks for pointing this out.

What are your thoughts @stefannibrasil @psibi @Zeragamba @koic ?

[2022-08-13 07:56] danlo commented on #2534
For those that are curious, this came about because my code checks for double entries.  If the first_name and last_name are repeated with in the last X minutes, then it flags it as a double entry.   Because the "random" values re-appear from test case to test case, the code correctly... or incorrectly... notices the duplicate values and barfs.

[2022-08-13 07:58] sudeeptarlekar commented on #2534
May be we can add some kind of config, thoughts?

[2022-08-13 21:12] thdaraujo commented on #1700
I was able to reproduce the issue:

[code]

Result:
[code]

[2022-08-13 21:30] thdaraujo commented on #1700
just tested the solution proposed by @kiskoza and it seems to work.

[#2520 fixes #1700]

[2022-08-13 21:37] thdaraujo commented on #1700
fixed by #2520

[2022-08-13 21:37] #1700 closed

[2022-08-14 08:19] tiff-o commented on #2512
thanks @stefannibrasil! no problem - am currently working on trying to simplify `def password` overall following feedback from the PR :)

[2022-08-18 20:32] danlo commented on #2534
While, this is being figured out, would the repo accept a README.markdown update to notify people of the change of behavior for rails tests?  (So others do not run into this same problem?)

[2022-08-19 00:20] Zeragamba commented on #2534
would the changes being proposed by #2471 help resolve this issue?

[2022-08-19 00:33] Zeragamba commented on #2526
what is the list of new cops?

[2022-08-19 00:43] Zeragamba commented on #2516
i would concur. Especially with how widely used Faker is, adding in the requirement for users to also install python along side ruby is a bit much to support a new generator.

[2022-08-22 14:20] hlascelles opened #2537 "Ability to prevent usage of some email domains"
Using faker 2.22.0 (and prior) you can ask for an email address.

We would like to prevent Faker using any "dodgy" domains. Specifically one of these: https://github.com/FGRibreau/mailchecker/blob/198ab3fc99cfa35571a6858b992e6006dbdb5af7/list.txt

Can we add config (a callback?) where Faker asks "is this one of <resource> OK?" and we can check and reject it? Or be able to set a known list of banne

[2022-08-23 20:09] nickmendezFlatiron commented on #2529
I would like to do this if it is not yet resolved @thdaraujo . just the 3 tasks mentioned , correct?

[2022-08-23 22:01] thdaraujo commented on #2529
great, thank you!
Yes, these 3 tasks are a good start, but feel free to add anything else you think would be relevant so we can drop support for older Ruby versions.

[2022-08-24 00:24] nickmendezFlatiron commented on #2529
@thdaraujo I submitted a pull request for the completed tasks , please review it at your earliest convenience. If there's anything I need to fix please let me know , this is my first open source contribution. Thanks!

Pull request found here https://github.com/faker-ruby/faker/pull/2538

[2022-08-25 22:29] yagosansz commented on #2505
Hey folks, would it be okay if I started working on this one?

[2022-08-25 23:25] thdaraujo commented on #2529
awesome, thanks!

[2022-08-25 23:28] thdaraujo commented on #2529
Question to @faker-ruby/core-contributors - should we first add some kind of deprecation warning before merging these changes and dropping support for Ruby 2.5 and 2.6? What would be the best practice here?

[2022-08-25 23:30] thdaraujo commented on #2505
yes, thank you! 👏

[2022-08-26 16:51] thdaraujo opened #2541 "Fix flaky test: `test_stack` on `test_faker_computer.rb`"
It looks like the test below is flaky, and there is a comment on line 20 that needs to be removed:
https://github.com/faker-ruby/faker/blob/9093f59f212fe9d72287cdee7eb03f121347c516/test/faker/default/test_faker_computer.rb#L19

It raises the error below when `Faker::Computer.stack[:platform]` is equal to `plan 9`.

[code]

[2022-08-28 01:45] stefannibrasil commented on #2464
hi @adisonlampert how is your work going on the issue? Thanks!

[2022-08-28 01:49] stefannibrasil commented on #2516
Thank you for your suggestion @basicfeatures. We decided this suggestion is a bit of a stretch for faker. We hope you understand. We welcome you to take a look at the open issues to find another way to contribute to the project.

[2022-08-28 01:50] #2516 closed

[2022-08-28 02:17] #2541 closed

[2022-08-28 02:53] stefannibrasil commented on #2527
Already been solved by #2529

[2022-08-28 02:53] #2527 closed

[2022-08-28 03:30] stefannibrasil commented on #2526
This is what I see on the CI:

[code]

[2022-08-29 15:57] #2529 closed

[2022-08-30 08:47] dmarcoux commented on #2526
I believe this issue can be closed since this was addressed by @koic in the commit https://github.com/faker-ruby/faker/commit/d113aabf335ca0bbea2223a8136c2161b7f43659. Running `bundle exec rubocop` on the `master` branch doesn't produce warnings anymore.

There are potential RuboCop gems which could be added as development dependencies, as you can see from the RuboCop output:

[code]

[2022-08-30 20:38] calvinballing opened #2550 "Add the ability to fake Phone numbers that follow the North American Numbering Plan"
**Is your feature request related to a problem? Please describe it.**
When using Faker with a validator that checks whether numbers follow the _North American Numbering Plan_ (NANP), Faker can provide invalid inputs, as Faker can supply a 1 or 0 for the first and fourth digits which are invalid in the NANP.

For information about the North American Numbering Plan, see:

https://en.wikipedia.org/wi

[2022-09-01 00:14] stefannibrasil commented on #2526
thank you @dmarcoux I'm going to close this issue. I'm okay with adding those extensions. Are you interested in opening a PR?

[2022-09-01 00:14] #2526 closed

[2022-09-01 19:54] vbrazo opened #2554 "Automate RubyGems release using CI workflow"
**Is your feature request related to a problem? Please describe it.**

Right now, we need to do manual releases using `gem build faker.gemspec` and `gem push faker-2.23.0`.

We'd like to automate this workflow and once we create a GitHub release/tag, the version should be released automatically.

[2022-09-01 19:55] thdaraujo commented on #2554
here's an example of a github action to publish a gem: https://github.com/patch-technology/patch-ruby/blob/main/.github/workflows/publish.yml

[2022-09-06 03:24] stefannibrasil commented on #2537
hi @hlascelles could you explain more of the reason behind this proposal? Is it a security concern? Thanks!

[2022-09-06 03:30] stefannibrasil commented on #2550
hi @calvinballing thank you for the details. Are you still able to reproduce this scenario after adding the following configuration?

https://github.com/faker-ruby/faker/blob/aa31845ed54c25eb2638d716bfddf59771b502aa/doc/default/phone_number.md?plain=1#L46-L47

There is a [reproduction step template](https://github.com/faker-ruby/faker/blob/master/.github/ISSUE_TEMPLATE/bug-report.md#to-reproduce)

[2022-09-06 09:34] #2525 closed

[2022-09-06 14:48] #2550 closed

[2022-09-07 02:26] stefannibrasil commented on #2550
that's awesome to hear, @calvinballing I'm curious to know -- if you're interested in sharing: what did you search for? I'm wondering if we could improve the docs to make this feature easier to find.

[2022-09-07 12:08] calvinballing commented on #2550
@stefannibrasil I looked at: https://github.com/faker-ruby/faker/blob/master/doc/default/phone_number.md

While I had seen that there was an `en-US` locale option, `# For the 'US only' methods below, first you must do the following:` had led me to believe that the purpose of the locale option was to be able to use `area_code` and `exchange_code`, which I don't need. I didn't realize it would also

[2022-09-11 23:45] norikokono opened #2560 "LoremFlickr URL Phishing threat"
**Is your feature request related to a problem? Please describe it.**
I am using LoremFlickr on my exercise website. It was fine until recently. However, I noticed it stopped uploading images today.
AVG indicated that loremflickr.com is infected. I assume this is causing the issue.

AVG pop-up messaged as below:

"AVG Threat secured
We've safely aborted connection on loremflickr.com because it was

[2022-09-12 00:28] norikokono commented on #2560
Sorry. Please close this issue. I found the matter was caused by the Antivirus software AVG, which I am using with my Windows laptop. I tried to open my website with another laptop, which is operated with Ubuntu. It has no AVG. LoremFlickr is working fine with the Ubuntu laptop. Thank you for your time and consideration.

[2022-09-12 00:28] #2560 closed

[2022-09-12 09:06] sudeeptarlekar commented on #2534
Checking the changes you mentioned @Zeragamba, but meanwhile can't we add following line to `test_helper.rb` or `rails_helper.rb` to reset random object

[code]

After adding above code in test and rails helpers, I am not getting duplicate error anymore. Thoughts?

[2022-09-12 18:38] thdaraujo commented on #2560
no worries, good thing you found the cause!

[2022-09-12 18:59] thdaraujo commented on #2464
that would be a nice addition. +1 for this!

[2022-09-14 19:58] sudeeptarlekar commented on #2554
Sounds interesting, shall I take this up?

[2022-09-15 02:27] stefannibrasil commented on #2550
@calvinballing that comment is indeed misleading. Are you up to submit a PR clarifying this feature?

[2022-09-15 11:41] hlascelles opened #2563 "Locale setting can be ignored"
## The bug

Depending on how locale is set, it may be ignored in threaded server environments.

In particular, we use Faker at runtime in a deployed environment (using Puma) where a user can press a button and the server generates them fake data in a form.

## To Reproduce

1. Set up a Rails app with a threaded server (eg Puma)
2. In a `lib` file, or an initializer, add a locale setting line:

[2022-09-15 11:47] vcborsolan opened #2564 "Hacktoberfest 2022"
Hello folks, I'm opening this issue to discuss if this repository will participate in the 202 digital ocean [hacktoberfest](https://hacktoberfest.com/participation/#maintainers).

If so, let's review the issues and add the labels/tags for valid contributions.

[2022-09-15 16:31] thdaraujo commented on #2554
yup, thanks @sudeeptarlekar !

[2022-09-20 13:06] fbuys commented on #2464
Came here after seeing your youtube video @thdaraujo and @stefannibrasil 🚀

[2022-09-20 16:46] thdaraujo commented on #2464
hooray! welcome, @fbuys !

[2022-09-23 03:48] stefannibrasil commented on #2537
hi @hlascelles thanks for providing more details. It makes sense.

Faker has the [safe_email](https://github.com/faker-ruby/faker/blob/2333f9ee4a4e1d8329e19f9e4b07e927648add7c/doc/default/internet.md?plain=1#L20) option. It follows the RFC 2606 example domains for example emails.

Have you considered using that option?

[2022-09-23 03:49] stefannibrasil commented on #2464
Welcome @fbuys it's great to see that the live session inspired you to start contributing to Faker :)

[2022-09-23 04:14] #2524 closed

[2022-09-23 04:23] stefannibrasil commented on #2522
Closing this one because all the tasks described here have been completed :tada:

[2022-09-23 04:23] #2522 closed

[2022-09-23 04:55] stefannibrasil commented on #2431
We currently have `Faker::Internet.safe_email`:

https://github.com/faker-ruby/faker/blob/2333f9ee4a4e1d8329e19f9e4b07e927648add7c/doc/default/internet.md?plain=1#L20

I assume going with this approach of configuring `internet_safe_mode` could include adding a deprecation to `Faker::Internet.safe_email`. Otherwise, I think having both would lead to confusion.

Thoughts?

[2022-09-23 05:03] stefannibrasil commented on #2564
Hi @vcborsolan that would be great. I confess I haven't had the time to organize the issues and PRs, and I think this step is crucial for making Hacktoberfest a good experience for new contributors.

Do you see any potential work to be improved at Faker? I'd love to hear your thoughts.

[2022-09-26 03:47] stefannibrasil commented on #2534
Thank you for reporting this issue and providing the reproduction steps @danlo. Sorry I missed this for a while.

Just out of curiosity, I was not able to reproduce this bug with RSpec, only with Minitest. Since this bug report seems to happen only on a very specific case, I'd vote for adding this to the documentation.

Adding `Faker::Config.random = Random.new` to the `test_helper.rb` file fixes

[2022-09-26 17:47] #2464 closed

[2022-09-27 12:34] Zeragamba commented on #2431
I concur that `#safe_email` could then be deprecated after internet_safe mode is enabled

[2022-09-28 13:16] fbuys commented on #2431
I am wondering why we need to add config - if we already have a `safe_email` method?
And can we not also add a safe_url method.

From my perspective it seems like a smaller change, also more inline with the existing convention perhaps.

[2022-09-28 14:22] Zeragamba commented on #2431
@fbuys to be better internet citizens, we want to update Faker to create safe emails by default. Especially since Faker is often used in automated test environments that may accidently spam a real person or system.

[2022-09-29 15:12] fbuys commented on #2431
Oh I got it @Zeragamba, what if we did it the other way around though. Instead we remove `safe_email` and return safe email addresses with `email` and then `real_world_email` would generate "unsafe" email addresses.

[2022-09-29 20:17] Zeragamba commented on #2431
I'd still prefer to leave it as `#email` so that we can keep the api surface clean. plus we can also allow the user to override the safe mode if needed by allowing them to specify a domain to use instead of `example` or perhaps allow `internet_safe: false` as needed

[2022-09-30 16:21] fbuys commented on #2431
Oh yes, I like the idea of passing an override in. So I'd vote for: `internet_safe: false` to turn safe emails off.

[2022-09-30 19:35] fbuys opened #2571 "Add git hook(s) to automate linting before or during a push"
### What
More of a DX feature.
Perhaps we can add a git hook to automate linting before or during a push.

We could use something like [overcommit](https://github.com/sds/overcommit) to ensure that rubocop passes before a commit is made for example.

### Why
This would prevent changes being pushed just to realize after CI ran that there is a lint issue.

I am not sure if adding a developer depende

[2022-10-01 13:00] Qqwy opened #2572 "Faker::Coffee.blend_name (in English) sometimes returns strings ending with a space"
## Describe the bug

`Faker::Coffee.blend_name` (in English) sometimes returns strings ending with whitespace.

## To Reproduce

`Faker::VERSION = Version 2.18`

[code]

## Expected behavior

I do not think that coffee names (or most other strings generated by Faker) should be allowed to end with a whitespace.
I expect that the problem happens because 'pronoun-noun' combinations are generated by F

[2022-10-01 13:07] Qqwy commented on #2572
Ah, this is a duplicate of https://github.com/faker-ruby/faker/issues/2572 and updating to a more recent version of Faker resolves the problem.

[2022-10-01 13:07] #2572 closed

[2022-10-03 04:00] stefannibrasil opened #2573 "Remove deprecation API for positional arguments"
Version 2 of Faker replaced positional arguments with keyword arguments. To reduce users pain and make upgrades easier, [deprecation warnings with instructions to upgrade were added](https://github.com/faker-ruby/faker/blob/v2.1.2/CHANGELOG.md#important-note).

And it's been a couple of years since these deprecation warnings were introduced. It's safe to remove them.

Here is what needs to be done

[2022-10-03 23:08] thdaraujo commented on #2564
we would need to add the “hacktoberfest” topic to this repository to opt-in to Hacktoberfest.
cc: @vbrazo

[How to add topics to your repository](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/classifying-your-repository-with-topics#adding-topics-to-your-repository)

[2022-10-03 23:30] thdaraujo commented on #2571
I don't have an opinion on this, so would love to hear what others think about this.

On one hand, it can be a bit annoying to have to lint your code just to be able to commit a completely unrelated change (like when you're doing a partial commit).

For me personally it's not a big problem, but I tend to run tests all the time. The default rake task also runs rubocop, so running the test suite alw

[2022-10-04 13:39] mauromorales commented on #2573
@thdaraujo could you update the tag to be `hacktoberfest-accepted`? Seems to be the new requirement from the event https://hacktoberfest.com/participation/#pr-mr-details

[2022-10-04 17:15] thdaraujo commented on #2573
hey @mauromorales, thanks for submitting a PR!

Correct me if I'm wrong, but the way I understand it, the issue should have a tag `hacktoberfest`, and the accepted pull requests will be tagged as `hacktoberfest-accepted`.

Here's what they say about [issues](https://hacktoberfest.com/participation/#maintainers):

And about PRs:

So when the PR is accepted, we will tag the PR as `hacktoberfest-acce

[2022-10-04 20:31] mauromorales commented on #2573
My pleasure, thank you guys for making it easy to spot :)

Good question, you probably know better than me, the reason why I thought it was the other way around is because of how it looks on the hacktoberfest profile where it's labeled as `not-participating` but tbh is not a big deal, we can use this one as a guinea pig to find out if this is how it works or not.

<img width="871" alt="Screenshot

[2022-10-05 02:59] thdaraujo commented on #2573
oh I see, that's probably because we did not add the topic yet to the repository, but we should have it soon! :)

[2022-10-05 03:20] vbrazo commented on #2564
done @thdaraujo

[2022-10-05 04:01] stefannibrasil commented on #2534
Please review #2579 so we can close this issue. Thank you!

[2022-10-05 05:40] danlo commented on #2534
Thank you.  I've been wanting to handle this however, work has been hard on me.

[2022-10-05 10:29] #2534 closed

[2022-10-05 19:34] thdaraujo opened #2581 "Add a lisp dialect option and examples to `Faker::Source` generator"
I would love to see more languages on the source code examples. I think they're great for educational purposes, and it's would be a fun way to make a contribution to Faker.

Currently we have no examples of a Lisp dialect. You can see the existing source code examples [here](https://github.com/faker-ruby/faker/blob/main/lib/locales/en/source.yml).

## Proposal
Add a new language option to the exis

[2022-10-06 15:53] sreeram-venkitesh commented on #2581
@thdaraujo Thank you!

[2022-10-06 15:56] thdaraujo commented on #2554
hey @sudeeptarlekar are you still interested in working on this one?
If not, I can let someone else take it as part of hacktoberfest. 😊

[2022-10-06 19:34] ChaoticBoredom commented on #2571
Who's making commits w/o running their tests? XD
That said, I'm all for helping folks recognize in advance if their commit is not going to work before they make it. I also know folks that are against anything that adds overhead to their workflow. I think adding it to [CONTRIBUTING.md](https://github.com/faker-ruby/faker/blob/master/CONTRIBUTING.md) would be an excellent compromise, allowing folks

[2022-10-07 01:11] JuanVqz commented on #2563
Hey Stefanni!!
I’d like to solve it but I want to understand it first, do you suggest reverting the changes in the faker.rb file from this [PR](https://github.com/faker-ruby/faker/pull/2520/files) will solve the issue?
If so, I can do it.

[2022-10-07 01:53] #2564 closed

[2022-10-07 03:23] koic commented on #2573
JFYI, Not only the migration period, so semver is also important.
https://semver.org

It should avoid making changes that could break client software on `bundle update` even if `< 3.0` specified in Gemfile or gemspec .
We saw a lot of negative voices in Faker 2.0 for this change. Let's do our best not to repeat it. So, this task is certainly easy, but it would be preferable whether the incompatibl

[2022-10-07 08:54] sudeeptarlekar commented on #2554
Yeah, but anyone wants to take this up, feel free to assign this to them. I added PR for work I did till now for reference.

[2022-10-07 11:11] bijoysijo commented on #2554
@thdaraujo I'd like to take this up.
@sudeeptarlekar Can you give me an idea on what you've done so far? It's my first time writing an action. :)

[2022-10-07 13:53] bijoysijo commented on #2554
I've only made a minor change to @sudeeptarlekar 's PR. Do let me know if there is something more to be done.

[2022-10-07 16:50] fbuys commented on #2537
Hey @hlascelles do you think the approach @stefannibrasil suggested could work for you? If so would it be okay if we close this issue?

[2022-10-07 17:26] hlascelles commented on #2431
We would like this but/and...

We use a "dud domain" checker that would break on these emails. ie, our app prevents users from using a `foo@example.com` or even a `foo@thing.example` address.

We do have an internal domain we do allow that is "real", but won't "spam anyone".

Can this feature have a "set what qualifies as a safe domain" config?

eg:
[code]

[2022-10-07 17:26] hlascelles commented on #2537
Aha, yes, I guess that [the other bug](https://github.com/faker-ruby/faker/issues/2431) is another side of the same coin.

OK - I'll add my comments to that. Thanks!

[2022-10-07 17:26] #2537 closed, assigned to nobody

[2022-10-07 17:34] fbuys commented on #2563
Hey @JuanVqz I am not totally familiar with threads. But what I can gather from the above is that we want to keep the threaded behavior but we want to make sure that the locale set in the config is shared between all threads.
I'll need to learn a bit more about threads to be more useful, but does this information help?

[2022-10-07 20:25] JuanVqz commented on #2563
Hey @fbuys that makes sense, I'm not familiar with threads as well.

[2022-10-07 21:09] thdaraujo commented on #2554
thanks @sudeeptarlekar for working on this and sharing your draft PR, and thanks @bijoysijo for helping!

[2022-10-10 04:19] sudeeptarlekar commented on #2563
But are we suppose to use faker on production? It is meant to be used for development and testing ENVs. Also Ruby3.1.2 has `fiber` which is similar to threads, worth taking a look.

[2022-10-11 12:16] elkesrio opened #2588 "French iban has invalid checksum"
## Describe the bug
Some french ibans have invalid checksums

## To Reproduce

Using Faker version 2.15.1:

[code]

This iban has an invalid checksum (https://www.ibancalculator.com/iban_validieren.html)

[2022-10-11 15:14] elkesrio commented on #2588
Hey @fbuys, I have no idea. You can check [ibandit gem](https://github.com/gocardless/ibandit) for better understanding

[2022-10-11 19:40] fbuys commented on #2588
I'll do some more digging but is seems like [this part](https://github.com/gocardless/ibandit/blob/master/lib/ibandit/check_digit.rb#L14-L27) defines how the check digit is calculated. Might be all we need to create the correct check digits - but not sure about that yet.

[2022-10-11 19:55] fbuys commented on #2588
@stefannibrasil I wonder if we can add the `hactoberfest` label here too?

[2022-10-11 19:55] fbuys commented on #2571
I like this idea too

[2022-10-12 00:22] thdaraujo commented on #2588
done, thanks for the help!

[2022-10-12 00:34] thdaraujo commented on #2571
Cool!

Okay, so it sounds that what we want here is to:
1. add an example of a [pre-push hook](https://www.git-scm.com/docs/githooks#_pre_push)
2. the example hook runs the linter before a push, and if errors are found, the push is aborted
3. add a section on [CONTRIBUTING.md](https://github.com/faker-ruby/faker/blob/master/CONTRIBUTING.md) explaining how to enable and use the hook if they decide

[2022-10-12 13:12] akanshak984 commented on #2571
@thdaraujo I would like to work on this.

[2022-10-12 15:18] stefannibrasil commented on #2571
I disagree that simple linting issues are a small thing in the developer world. I prefer commits that are both testes and linted.

Like @thdaraujo mentioned, our specs run the tests and rubocop, so the errors are available locally before pushing. The feedback loop is there to prevent pushing broken commits (although there is nothing wrong with that either).

I don't like the idea of only running t

[2022-10-12 15:28] stefannibrasil commented on #2588
hi, sorry I missed this! Thanks for reporting this issue @elkesrio and @fbuys for the help!

I haven't had the time to reproduce this yet. I am not sure this is happening for all country codes or "fr" only.

It would be helpful to have a [reproduction script](https://github.com/faker-ruby/faker/blob/07234831e201c853c65120e0569d9a810f18586d/.github/ISSUE_TEMPLATE/bug-report.md) for this issue. If a

[2022-10-12 15:34] stefannibrasil commented on #2573
hi @koic thank you for the help! I agree it's our job as maintainers to communicate breaking changes in a way that helps users.

The reasoning behind believing that "it's been a couple of years since these deprecation warnings were introduced. It's safe to remove them." was because the keywords arguments were added before the deprecation, and a long time ago.

So reviewing the semantic version doc

[2022-10-12 15:35] elkesrio commented on #2588
Hi @stefannibrasil, you can reproduce it using the `ibandit` gem

[code]

[2022-10-12 15:56] stefannibrasil commented on #2505
thank you @uzorjchibuzor the first two tasks could be done in two initial PRs.

[2022-10-12 18:17] fbuys commented on #2571
Could even just run rake so that the specs and rubocop run before pushing.

[2022-10-13 00:17] thdaraujo commented on #2571
thanks! 🙏

[2022-10-13 11:00] uzorjchibuzor commented on #2505
@stefannibrasil I am not sure I understand this part, shouldn't this say that I should add a test on lorem_pixel instead that when is it called to refer to the lorem_flickr?

[2022-10-14 21:21] srcoley commented on #2588
The issue can occur with multiple country codes. In addition to the IBAN check digit, some countries also make use of a "national check digit". France is one such country that not only makes use of a national check digit, but also uses their own variation of `ISO 7064 MOD-97-10`. For more information, [read here](https://en.wikipedia.org/wiki/International_Bank_Account_Number#National_check_digits

[2022-10-15 03:11] saiqulhaq-hh commented on #2431
These are the changes that will happen when my PR is merged
![image](https://user-images.githubusercontent.com/100819439/195966264-e380a7a4-bf41-444c-8cfc-7c54bcdb157d.png)(https://docs.google.com/spreadsheets/d/1Sec5OcigkhJnlyYd8GoE8kCbs4OyoFOR1oI9fP9c6zY/edit?usp=sharing)

it introduces a few configs too
[code]

what do you think?

[2022-10-15 23:08] thdaraujo commented on #2563
Well, if people were already using it in production, we still want to support that behavior. Besides, they could also be running tests that match closely the behavior of their apps running in production (using Puma, threads, and everything else), so in my mind, it makes sense to support that.

[2022-10-15 23:39] stefannibrasil commented on #2505
Hi @uzorjchibuzor I left a code review on your PR, thank you! About the tests, you're right. LoremFlickr already has tests. I removed this step from the issue.

[2022-10-16 19:42] srcoley commented on #2588
I've opened a pull request to solve the issue of some generated IBANs not being valid according to `ibandit`. While this change would solve the issue with `ibandit` specifically it does not guarantee the IBANs are actually valid. `ibandit`s validation is rudimentary and does not take into account the _national check digit_ that some countries use. This means that a Faker generated IBAN might be va

[2022-10-17 14:43] mateusdeap commented on #2571
Hey @akanshak984! Were you able to work on this? Because I can also tackle it and open the PR if needed.

[2022-10-17 19:50] hbontempo-br commented on #2563
Hi!

Not very familiar with the inner workings of project yet, but seams like [`dry-configurable`](https://github.com/dry-rb/dry-configurable) would help here.
Are you OK in bringing in a new dependency?

Not sure how to test this threaded behavior, but probably can put something together this weekend if you think this a good direction.

[2022-10-17 22:04] hlascelles commented on #2563
I'll have a look at some solutions too.

NB, we aren't using it in the production, just QA - though others might be.

[2022-10-18 02:40] thdaraujo commented on #2563
We were exploring some ideas here: https://github.com/hexdevs/faker/commit/7987810bec337b9096acdaaa67383ddc61ad0568

The code kinda works. But it's a bit terrible, and it's not a long term solution.

I think a long term solution would be a `configure` method where you set the locale and other configurations you want to be used across threads. Which is close to what @hbontempo-br is proposing.

The

[2022-10-18 02:42] professorjrod opened #2593 "Fix locale yml array style"
**Is your feature request related to a problem? Please describe it.**
A while back we changed to prefer using the YAML multi-line array syntax over an inline array. A lot of our yml files still use the old styling. I think all that would need to be done is a script to pull the YAML object and map it using proper styling.

This will be a great choice for readability, and make it easier for contribu

[2022-10-18 10:37] professorjrod commented on #2593
Now that I think about it, this could be a rake task

[2022-10-18 13:52] mateusdeap commented on #2563
So, I did some research and found out that instance variables are shared between threads ([read here](https://workingwithruby.com/wwrt/puma/)).

Which explains why the information is shared in the previous implementation, and thus your use case worked, but it also still means that Faker wouldn't be thread safe.

So it seems like the solution would be a combination of the previous implementation an

[2022-10-20 23:16] #2554 closed

[2022-10-21 21:58] EduardoGHdez commented on #2593
Hey @professorjrod, I'm interested on helping with this 😄
Would it be possible?

[2022-10-21 22:02] professorjrod commented on #2593
@EduardoGHdez yes of course https://github.com/faker-ruby/faker/pull/2595

[2022-10-24 18:39] EduardoGHdez commented on #2593
Hey @professorjrod , I see that there is a PR already. I thought this was an open issue and it's not clear how can I support this time haha. Or is it something missing to get that PR R4R?

[2022-10-27 20:51] danielnolan opened #2605 "Calling Faker::Number.number(6) doesn't return a 6 digit number"
## Describe the bug
Calling `Faker::Number.number(6)` doesn't return a 6 digit integer any longer, I do get a deprecation notice, but I get unexpected result from an API that worked in a previous version.

## To Reproduce
This is happening on Faker 2.23.0

Use the reproduction script below to reproduce the issue:

[code]

## Expected behavior
I would expect the number to return a number 6 digits i

[2022-10-30 06:53] krishnasingh001 commented on #2605
Hi, @danielnolan As per the [source code for Faker::Number.number](https://github.com/faker-ruby/faker/blob/1844884d4a3d83c89e90780ad208c8cf8faedf9a/lib/faker/default/number.rb#L16), to get any digit number we have to provide the `digits: n` as the argument.

[2022-10-31 15:59] si-lens commented on #2605
Hey @danielnolan
I tried to replicate that and for me, it throws an error:

[code]

It looks like deprecation warning was removed in the last commit:
https://github.com/faker-ruby/faker/commit/ecb9695946871bed67c0d89e4cb0272b81d49614#diff-7d375fbcf141e666689f6266a36fd944b82ccf68d5f62f66b18ab007552874d7L282

[2022-10-31 18:14] thdaraujo opened #2608 "bug: sport generator sometimes returns an array result"
## Describe the bug

There seems to be a bug on the sports generator.

As reported [here](https://github.com/faker-ruby/faker/pull/2600#issuecomment-1287942155), there is a test that seems flaky at first.
The code runs this generator: ``Faker::Sport.sport(include_ancient: true)`, and sometimes raises the following error:
[code]

## To Reproduce
[code]

Use the reproduction script below to reproduc

[2022-10-31 18:40] danielnolan commented on #2605
@si-lens That commit you are referencing was merged after v 2.23.0 was released, and a new version hasn't been released yet so VERSION is still reporting 2.23.0

[2022-10-31 19:00] thdaraujo commented on #2605
By looking at tag 2.23.0, it looks like the positional argument `legacy_digits` is just ignored, see here:
https://github.com/faker-ruby/faker/blob/45331d87d615feecd54f18604d7e13bd5a5230d7/lib/faker/default/number.rb#L25

The method returns 10 digits, which is the default set on the `digits` keyword argument.

And it seems to me that this problem was introduced here when the line `digits = legacy_

[2022-10-31 19:20] danielnolan commented on #2605
It works fine when using the keyword argument, and in the next version it will raise an error. The issue came about when the gem was updated from 1.9 to 2.23 when updating some other gems in a rails project. I just thought it was odd that passing the non keyword argument returned unexpected results and it was only marked for deprecation and didn't raise an error.

[2022-11-01 02:14] stefannibrasil commented on #2588
hi @srcoley thank you for opening a PR! What is the status of this issue? Are there next steps? Thank you!

[2022-11-01 02:18] stefannibrasil commented on #2563
I'm in favor of going with having a Faker configuration option. This is the standard for most gems already, and would solve the issues with threads.

@mateusdeap are you working on this? Could I assign this issue to you? Thanks!

[2022-11-01 14:40] srcoley commented on #2588
@stefannibrasil #2591 partially resolves the issue and has been merged into master.

#### What it solves
Invalid IBAN checksums

#### What it does not solve
Invalid [national checksums](https://en.wikipedia.org/wiki/International_Bank_Account_Number#National_check_digits)

#### Next steps
Resolving invalid national checksums will take more effort because the portion of countries that implement the

[2022-11-01 16:26] stefannibrasil commented on #2505
The merged PR fixes the first step of this issue. Reopening to complete the remaining steps.

[2022-11-01 16:27] uzorjchibuzor commented on #2505
Thank you.

[2022-11-02 14:45] stefannibrasil commented on #2505
@uzorjchibuzor I updated the issue to reflect the next steps. The next one, to replace LoremPixel with LoremFlickr on faker, can be started anytime. Let me know if you have any questions. Thank you!

[2022-11-02 14:47] uzorjchibuzor commented on #2505
@stefannibrasil No questions.

[2022-11-03 10:09] si-lens commented on #2608
I know what the problem is. I can gladly fix it.

[2022-11-04 21:58] stefannibrasil commented on #2588
@srcoley Thank you so much for your detailed work and response! I haven't had the time to get more context about this until now. The details you provided are constructive.

I will say that fixing invalid IBAN checksums being generated is enough. Although we would like to support all cases and have higher accuracy, it would require too much effort to accommodate.

Adding to the docs that Faker only

[2022-11-04 22:52] stefannibrasil commented on #2608
Fixed by #2616. Thank you @si-lens !

[2022-11-04 22:52] #2608 closed

[2022-11-04 23:48] stefannibrasil commented on #2431
I want to revisit this issue at its core before jumping to implementation ideas.

The real issue here is Faker generating real URL domain names and email addresses.

RFC2606 recommends using Reserved Top Level DNS Names as the best current practices for the internet community:

"To reduce the likelihood of conflict and confusion, a few top level domain names are reserved for use in private testing

[2022-11-05 02:51] saiqulhaq-hh commented on #2431
yea agreed
if we do that, then we should release a new major version for breaking change indication to faker's users

[2022-11-07 21:11] fbuys commented on #2431
@stefannibrasil thanks for the clear explanation. I agree with what you said. And I think the solution will make faker easier to maintain too.

[2022-11-08 16:07] stefannibrasil commented on #2431
We just released v3 so maybe this one could be released in the beginning of last year :thinking:

We also need to add deprecation warnings to use in preparation for the breaking change.

I'd like to hear more from the other maintainers too, @vbrazo @thdaraujo @Zeragamba

[2022-11-08 17:40] loqimean opened #2620 "Typo in Faker::Name.first_name by locale"
There is a typo in Ukrainian name "Геннадій", it should be "Генадій", so, one letter is extra

## To Reproduce
Faker::VERSION #=> "2.22.0"

With locale `:uk` and
`Faker::Name.first_name` get "Геннадій", but expected "Генадій"

[2022-11-08 21:07] Newman101 commented on #2620
Hi @loqimean. Thanks for reporting this. I have created a pull request to fix the issue.

Thank you.

[2022-11-09 11:49] elliotcm commented on #2563
A +1 from us at https://github.com/DFE-Digital/apply-for-teacher-training as this is preventing us from moving beyond v2.22.0 of Faker.

Our "production" use is to generate data in a sandbox environment, and to generate temporary data for ActionMailer previews.

Happy to chip in if we can be of help.

[2022-11-10 16:48] mateusdeap commented on #2563
Hey, @stefannibrasil sure thing! Sorry for the late response. Kind of got lost in work. But now I have time!

[2022-11-10 23:26] #2620 closed

[2022-11-12 22:09] stefannibrasil commented on #2563
@mateusdeap I assigned the issue to you. Please let us know if you have any questions, or run into any issues.

[2022-11-18 11:37] mateusdeap commented on #2563
Sure thing!

[2022-11-18 19:22] #2588 closed

[2022-11-19 19:43] #2571 closed

[2022-11-24 09:36] mateusdeap commented on #2563
Just to update on this: I've made some progress, though not substantial. I'll need to pause work for a few days, however. But I'll be back on it in a week or so.

[2022-11-27 01:34] stefannibrasil commented on #2593
@professorjrod could you help me understand how this issue is different from the current task we already have for this same purpose? [Here is the rake task for more details](https://github.com/faker-ruby/faker/blob/738935a01c2cdc7d5c141f80e8257bb562335ab1/tasks/reformat_yaml.rake).

Granted, that one only formats one file at a time. Could the person interested in running the task, pass a list of f

[2022-11-27 01:42] stefannibrasil commented on #2431
I think the next steps could be adding a deprecation warning in preparation for the release of Faker 4.0.

[2022-11-29 02:02] stefannibrasil opened #2637 "Random spec failing: Failure: test_ja_supermario_methods(TestJaLocale)"
## Describe the bug

A random spec started failing [on this PR](https://github.com/faker-ruby/faker/pull/2633).

This is the error:

[code]

## Additional context

This spec is not failing on main. The [backtracke can be found here](https://github.com/faker-ruby/faker/actions/runs/3559720771/jobs/5979260049).

[2022-11-29 02:03] stefannibrasil commented on #2637
@alextaujenis do you want to work on this one since you already had some changes on the PR? Thanks!

[2022-11-29 02:17] #2512 closed

[2022-11-29 02:18] stefannibrasil commented on #2563
Sounds good! Let us know if you need any help.

[2022-11-29 15:06] alextaujenis opened #2639 "There is no source-of-truth for valid Vehicle VINs"
## Bug Description

This library includes both;
1) the method to generate a valid Vehicle VIN number
2) the method to verify a valid Vehicle VIN number

BUT it doesn't include any tests verifying **known** good or bad VIN numbers.

An issue could occur where both the Vehicle VIN generator and validator are refactored in this library (for instance, changing the modulus operator from 11 to 10). This

[2022-11-30 03:13] #2637 closed