[2017-12-08 16:04] stympy commented on #1088
Ah, you are right, that change should not have been in a patch-level release. I’ll do better on that in the future. Sorry for the inconvenience!

[2017-12-08 16:54] jrafanie commented on #1088
@stympy Thanks!  It's not a problem but I'd rather tell you in a "not complaining sort of way" so you're aware of it.  Nothing is worse than no feedback.  Thanks again for the gem!

[2017-12-08 16:54] #1088 closed

[2017-12-08 17:17] stympy commented on #1088
No worries -- I appreciate the heads-up. :)

[2017-12-08 20:13] mount986 opened #1089 "using Star Wars raises error"
in the star_ward.yaml, there are many \' inside of double quotes, which is not allowed.  Please remove the backslashes

[2017-12-08 20:15] mount986 commented on #1089
would be fixed by #1087

[2017-12-14 17:00] Schwad commented on #272
@jphastings it appears that this issue was resolved in #525 - are you satisfied with that or is there a reason to keep this issue open?

[2017-12-15 13:41] chargio opened #1091 "Faker::App.semantic_version not working"
I've created an application with Faker. When using the gem I get the following errors:

[code]

Faker::App.version works (but it does not do what I need.

Gem version:
    faker (1.8.5)
      i18n (~> 0.9.1)

[2017-12-15 14:19] jphastings commented on #272
It looks good now! Thanks for the prod :)

[2017-12-15 14:19] #272 closed

[2017-12-15 21:06] stympy commented on #1091
It was added after 1.8.5 was released. You'll either need to use master or wait for the next release.

[2017-12-15 21:06] #1091 closed

[2017-12-18 18:46] neontapir commented on #1078
Maybe I'm looking at this too simply. It seems that changing faker.rb:16 to

    I18n.reload! if (I18n.backend.respond_to?(:initialized?) && I18n.backend.initialized?)

would have the same effect as the monkey patch. If so, I'm happy to submit a PR to that effect. The tests pass locally with that change in place. I ask because I'm not familiar with I18n, and don't want to introduce side effects.

[2017-12-18 21:58] stympy commented on #1078
That seems reasonable to me.  It would be awesome if there was a test case that could reproduce the problem.

[2017-12-19 11:33] harold-s opened #1093 "Breaking change in 1.8.5"
Hello,
First off thanks for this great gem !

I had a braking change that was weird to me and I'm not sure it was done on purpose. Looked on the recent issues and did not find anything.

Before 1.8.4, doing :
[code]
(notice the plural in character**s**)
Would return the full array of characters :
![image](https://user-images.githubusercontent.com/2845020/34155103-f1a09974-e4af-11e7-9267-6fb0559567

[2017-12-20 17:59] neontapir commented on #1078
I spent some time trying to write a unit test for this, but was unable to find a way to isolate the backend change to a single test.

[2017-12-21 15:11] shanethmoore opened #1097 "1.8.5 doesn't work in rails 5"
Looks like the dependency for i18n has changed.

This causes bundle updates to the version 1.8.5 to fail.

[code]

[2017-12-21 16:32] stympy commented on #1097
I have released version 1.8.6 of the gem with an updated dependency on i18n that should resolve this issue.

[2017-12-21 16:32] #1097 closed

[2017-12-22 20:09] cbortz commented on #1093
@harold-s I've confirmed that this is the case for `v1.8.6` and applies to all pluralized class methods in `::StarWars`. Issuing a PR now!

[2017-12-22 20:10] cbortz commented on #1093
@harold-s I've confirmed that this is the case for `v1.8.6` and applies to all pluralized class methods in `::StarWars`.

![186-plural](https://user-images.githubusercontent.com/184307/34311197-392a38c8-e72a-11e7-8b6d-43cd887dba43.png)

Issuing a PR now!

[2017-12-22 20:41] #1093 closed

[2017-12-22 21:27] cbortz commented on #991
@ianroberts131 can this issue be closed?

[2017-12-23 18:02] cbortz commented on #1089
@mount986 Are you using JRuby?

[2017-12-24 07:03] cbortz commented on #1059
Related to #1046

[2017-12-24 16:29] #1046 closed

[2017-12-24 16:29] #1059 closed

[2017-12-24 16:44] #873 closed

[2017-12-25 07:50] #806 closed

[2017-12-25 08:00] stympy commented on #357
I agree with @dkniffin ... it seems like you could use just a Money object with a random amount to get what you want.

[2017-12-25 08:00] #357 closed

[2017-12-26 16:48] harold-s commented on #1093
thanks !!!! :+1:

[2017-12-29 15:42] mount986 commented on #1089
yes, this was JRuby.

[2018-01-01 00:40] inioluwaa opened #1104 "Faker doesnt work with phone number implemented with phonelib gem"
I am from Nigeria and phone numbers starts with specific numbers like 0817, 0905, 0802 and so on, but there is no one that started with 1234 or so, so if faker generates 11 digits, phone number would be invalid

[2018-01-01 00:40] inioluwaa commented on #1104
We use 11 digits in Nigeria

[2018-01-01 00:41] ZASMan commented on #1104
Someone will have to add Nigerian phone number generator to faker if not
already added. Check the locale file for anything from Nigeria. I can try
if no ones done it.

On Sun, Dec 31, 2017 at 7:40 PM Ini Akinleye <notifications@github.com>
wrote:

[2018-01-01 00:46] inioluwaa commented on #1104
Thanks, I don't think it has been added yet

[2018-01-01 00:47] ZASMan commented on #1104
I can try and give it a shot this week. Just generating random Nigerian
style numbers shouldn’t be too hard.  Stay tuned, enjoy the new years!

On Sun, Dec 31, 2017 at 7:46 PM Ini Akinleye <notifications@github.com>
wrote:

[2018-01-01 00:55] inioluwaa commented on #1104
Alright, Thank you Zane. Happy new year!

[2018-01-01 01:12] inioluwaa commented on #1104
So i checked again and found out that someone already did it

[2018-01-01 02:08] inioluwaa commented on #1104
The one there raises the same error 'phone number is invalid', so its still an issue

[2018-01-01 02:13] ZASMan commented on #1104
I’ll try and investigate it this week if no one else does

On Sun, Dec 31, 2017 at 9:08 PM Ini Akinleye <notifications@github.com>
wrote:

[2018-01-03 17:13] ZASMan commented on #1104
@inioluwaa, are you getting the error 'phone number is invalid' when you try to initialize the nigerian number with faker and try to save it into your database? Do you have the phone number saving as an `integer` for example? because in the source code:
`en-NG.yml`
[code]
The data type for this is a string. You might need to run `to_i`.

Or, if you want to generate a random string of 111 digit num

[2018-01-10 16:20] mlotfi2005 opened #1110 "Can I have the last 6 digit of the SSN ?"
Hi,
I have a ruby application that the user must enter the last six digit of the social security number, is this available ?

Thanks,
Abdel

[2018-01-10 16:25] ZASMan commented on #1110
Do this, it will give you a string of six numbers:
‘’’
((1..1000).to_a.shuffle.join.to_s)[0, 6]

‘’’

[2018-01-10 16:43] mlotfi2005 opened #1111 "Can I have a male or female first name ?"
I have some testing situation where I need to chose the gender Male or Female , is this available here ,

Thanks,
Abdel

[2018-01-10 18:47] stympy commented on #1111
Nope, do this:

[code]

[2018-01-10 18:47] #1111 closed

[2018-01-11 16:12] inioluwaa commented on #1104
@ZASMan yes thats the error i am getting,that format is wrong too, there's no Nigerian number starting with 071########. that's why its still giving the error

[2018-01-11 16:19] ZASMan commented on #1104
What’s the date type you’re saving it as? The record?

[2018-01-11 16:19] ZASMan commented on #1104
A phone number has to be a string data you can’t have it as an integer.

[2018-01-11 18:36] mlotfi2005 commented on #1110
Thanks lot, it worked,

[2018-01-11 18:37] ZASMan commented on #1110
Glad I could help!

On Thu, Jan 11, 2018 at 1:36 PM mlotfi2005 <notifications@github.com> wrote:

[2018-01-11 18:38] mlotfi2005 opened #1112 "can I have phone number without extension ?"
I used the phone number

But I got it with extension  like this 772-828-3698 x8424

is there any way to have it  like  772-828-3698

Thanks,
Abdel

[2018-01-11 18:40] ZASMan commented on #1112
string = 'now is the time'[0...-4]
=> "now is the "

Where the -4 is the number of characters you want to cut off

[2018-01-11 18:47] stympy commented on #1112
You can override the [locale](https://github.com/stympy/faker/blob/master/lib/locales/en/phone_number.yml) to omit the formats that include an extension.

[2018-01-11 18:47] #1112 closed

[2018-01-11 18:52] jaredmeakin opened #1113 "Selecting a single item from user-supplied data at random."
Wondering if anyone else would find value in having a way to select a random element from a user-supplied set of data?

For example:
[code]

I use this a lot when I'm writing tests or mocking up views. My current workflow to achieve this same result is to use translations on an existing Faker class:

[code]

Happy to make a pull request if you guys see value in this.

Thanks!

[2018-01-11 19:08] stympy commented on #1113
This can be done with plain ol' Ruby like so:

[code]

[2018-01-11 20:35] mlotfi2005 commented on #1112
Thank you ZasMan, it wors but sometimes the phone number generated come without extension, applying your solution I got
"972-469"
which it's not a validated phone number, and my test fail.
stympy, can you please give me an example on how to use local ?

Thanks,

[2018-01-11 20:44] jaredmeakin commented on #1113
You're absolutely right! Sorry, I'll close this out. :)

[2018-01-11 20:44] #1113 closed

[2018-01-11 20:58] mlotfi2005 opened #1114 "remove phone extension, but sometimes it come without ext"
I asked this question, but you closed it quickley.

Thank you ZasMan, it wokrs but sometimes the phone number generated come without extension, applying your solution I got
"972-469"
which it's not a validated phone number, and my test fail.
stympy, can you please give me an example on how to use local ?

Thanks,

[2018-01-11 21:15] mlotfi2005 commented on #1114
Is there anyway I can get only phone numbers in this format
(999) 999-9999

Thanks.

[2018-01-12 02:14] ZASMan commented on #1114
@mlotfi2005, here's how (I don't claim this is most efficient), but it will work:

`number = ((1..1000).to_a.shuffle.join.to_s)[0, 9]`
`# Will return a string like "170720486"`
`phone_no_formatted = "(#{number[0,3]}) #{number[3,3]}-#{number[6,6]}"`
`# Will return a string like "(170) 720-486"`

Notice how I just added in the `()`, space, and dash in the string.

[2018-01-16 13:57] mlotfi2005 commented on #1114
Thanks Sir, you are the best, is there any way to avoid that the phone number start with number 1, Thanks lot.

[2018-01-16 21:34] mkeiser82 opened #1116 "Faker::Types.hash shadows Ruby core Object.hash method"
This shadowing breaks the ability to use Faker::Types as a hash key.  While not something you would normally use a hash key, loggers and memory profilers are two use cases where this problem could creep in.  This issue bit us in our rspec tests and was not a fun one to track down.

Object.hash:
"Generates a Fixnum hash value for this object. This function must have the property that a.eql?(b) impl

[2018-01-17 12:39] fabriciofreitag opened #1118 "Adding more data for vehicles"
Would it be possible to incorporate https://github.com/devmynd/faker-vehicle ?
Just a suggestion, thanks.

[2018-01-18 00:23] krainboltgreene opened #1119 "Weird output from faker password, likely screwed up monkey patching"
[code]

[2018-01-18 00:24] krainboltgreene commented on #1119
Looks like it comes from the lorem:

[code]

[2018-01-18 00:27] krainboltgreene commented on #1119
Okay, further, it's inside of sample:

[code]

[2018-01-18 00:33] krainboltgreene commented on #1119
Christ, I figured it out.

[code]

[2018-01-18 00:33] #1119 closed

[2018-01-18 01:10] lucasqueiroz opened #1120 "Portuguese Brazil locale has wrong phone number"
The `pt-BR` locale returns `(XX) XXXXX-XXXX` for `Faker::PhoneNumber.phone_number` when it should return `(XX) XXXX-XXXX` and it returns `XXX.XXX.XXXX` for `Faker::PhoneNumber.phone_number` when it should return `(XX) 9XXXX-XXXX`.

[2018-01-18 16:33] lucasqueiroz opened #1123 "Portuguese Brazil locale has wrong zip codes for some states"
Some states have multiple options for zip codes. Currently, `SP` only generates 1####-### codes, when it should also be generating 0####-### codes.

[2018-01-18 23:38] lucasqueiroz commented on #1118
I can try to work on that

[2018-01-19 05:28] MaG21 opened #1126 "[Feature Request] JSON generator ?"
PostgreSQL has a data type named `json`, this data type supports JSON serialization. Would it be possible to include a generator that creates random JSON objects/Strings?

[2018-01-19 18:32] rgaufman opened #1127 "Vehicle license plate generator"
Feature request: please add ability to generate random license plate numbers for EU and US vehicles, e.g. "BD51 SMR"

[2018-01-23 15:03] splashinn commented on #1127
I can work on this @rgaufman

[2018-01-24 04:38] lucasqueiroz commented on #1118
Just created the Pull Request. It also includes license plate generation by state. All US states included.

[2018-01-24 04:39] lucasqueiroz commented on #1127
@splashinn Sorry, I forgot to comment here before... I included this with the #1118.

[2018-01-24 14:11] splashinn commented on #1127
@lucasqueiroz I can work on the EU plates, thanks for the heads up about the US ones

[2018-01-25 10:02] DaniG2k opened #1131 "Faker::Zelda has no item method"
Just wanted to point out that the docs say `Faker::Zelda.item` is possible, but there's no such method for `Faker::Zelda`.

[2018-01-26 16:25] EvanHahn commented on #1131
I just tried this with Faker 1.8.7 and it worked. It also [appears to be in the source](https://github.com/stympy/faker/blob/679fd508c9f41f41b6df62024d67bc2281953395/lib/faker/zelda.rb#L17-L19). Are you using an old version of Faker?

[2018-01-27 05:14] lucasqueiroz commented on #1127
I've also added Brazilian license plates.

[2018-01-27 15:43] tagliala opened #1132 "Tests fail with i18n version 0.9.3"
How to replicate:

1. clone repo
2. update gems (you should see `Using i18n 0.9.3 (was 0.9.1)`)
3. run tests

The reason should be svenfuchs/i18n#391

I'm trying to submit a PR

[2018-01-27 18:54] DaniG2k commented on #1131
My bad, I was on `1.8.4`. Happy to close.

[2018-01-27 18:54] #1131 closed

[2018-02-02 18:36] gerryhd opened #1139 "undefined method `[]' for nil:NilClass when using Job.position"
This line in my seeds file threw an error

`position = Faker::Job.position`

console error log is

Last line and the rest is just part of my application, which unless there's something I'm not considering, probably isn't necessary to post here

[2018-02-06 09:19] PuZZleDucK commented on #1139
This error occurs when the locale .yml translation file contains no entries for the word.
Faker should default to "en" when there are no entries, but that does not happen here. The code in the "job" class is much simpler than other classes and does not call translate.
One possible quick fix is to include ```Faker::Config.locale = "en"``` in your seed if that is acceptable.
Another option is to add

[2018-02-06 10:17] PuZZleDucK commented on #1139
I have created a patch and pull request to fix upstream here: #1142

[2018-02-06 10:31] PuZZleDucK commented on #929
It looks like the possible sequences are ```########A``` and ```A#######A```.
I'm not sure what VAT or CIFs are tho... are they bank account numbers? company identifiers? other?

[2018-02-06 10:34] lucasqueiroz commented on #929
@PuZZleDucK I'm not sure if that's the only thing. I don't speak Spanish but since Portuguese is really close, I could understand what the website said but not what CIF is. I think it has a validation number somehow... I'll try to find more information

[2018-02-06 10:36] PuZZleDucK commented on #872
What kind of numbers are they, bank account numbers? company identifiers? other?

[2018-02-06 10:42] jmolina91 commented on #872
@PuZZleDucK citizen identifier, is the number you use to identify yourself in an specific country. In Spain is DNI when you are born inside the country, and the NIE when you come from another country. Maybe it is an optional feature that depends on the country...yet I think it can be useful.

https://en.wikipedia.org/wiki/National_identification_number

[2018-02-06 10:43] PuZZleDucK commented on #929
lol... I was thinking it could be more appropriate as a localization of "Account number" or something similar rather than a whole new thing.

I'm sure the other two IDs are DNI and NIE as referenced in #872

[2018-02-06 14:30] Elolawyn commented on #929
CIF is a sequence used to identify a company in our tax system. It seems NIF is like a CIF 2.0.

Wikipedia: https://es.wikipedia.org/wiki/C%C3%B3digo_de_identificaci%C3%B3n_fiscal

[2018-02-06 14:43] lucasqueiroz commented on #929
I can write a documentation about that in English in this issue and someone can work on it. I was going to work on it but I'm really busy lately.

[2018-02-09 12:50] PuZZleDucK commented on #929
Ok, from trying to comprehend auto-translated info it seems the first letter is one of "ABCDEFGHJNPQRSUVW".

Then two digit combinations for region (a set of sequences listed in the reference from @Elolawyn  above)

Then a five digit identifier (I'd propose totally random)

The final character is a checksum sorta thing.
- sum the even digits
- double the odd digits and add sum each digit for each

[2018-02-09 12:53] PuZZleDucK commented on #929
lol... gafaw... and facepalm :p

I was looking for a good place to put this when I stumbled upon ```spanish_organisation_number``` in the ``company.rb``` file... however it seems to have never made it to the docs :(

[2018-02-09 12:54] PuZZleDucK commented on #929
```Faker::Company.spanish_organisation_number```

[2018-02-09 13:30] PuZZleDucK commented on #872
Ahh... it seems faker has a ```Faker::IDNumber``` module where this could go, but it's not documented yet.

I also think we should follow the example in ```company.rb``` where we use a longer name like "spanish_organisation_number"... or in our case "spanish_citizen_number" and "spanish_foreign_citizen_number"

[2018-02-12 14:34] xero88 commented on #873
Still buggy (version 1.8.7)

[code]
This is wrong :

[code]

The age is **2**.
http://www.calculator.net/age-calculator.html?today=10%2F03%2F2015&ageat=02%2F12%2F2018&x=37&y=24

[2018-02-12 19:45] tagliala commented on #873
Thi has not been released yet

[2018-02-16 10:54] shuriu commented on #929
These "CIF"s are not specific to Spain only, and are more commonly known as VAT numbers (in the EU).

You can find more info [here](https://en.wikipedia.org/wiki/VAT_Information_Exchange_System). No validation formula though.

[2018-02-20 20:01] dcu commented on #1116
because of this, the padrino framework fails to boot

[2018-02-21 09:41] PuZZleDucK commented on #929
It says the number generation is delegated to each nation... so I don't think we could generalize the Spanish formula to other countries... although many might be similar :crossed_fingers:

VAT also seems to have a country specific prefix which this does not have... so a Spanish CIF would have a prefix when expressed as a VAT... so "1234567X" might be "SP1234567X" when written as a VAT (note, not

[2018-02-24 09:17] nleo opened #1154 "Faker::Name last_name and first_name not works in :ru locale"
Something strange. Faker not work nor console nor seeds. And I have no idea what it is.

[code]

[code]

[2018-02-26 10:49] nleo commented on #1154
[code]

[2018-02-26 22:59] SWLivingstone commented on #1126
I have submitted a pull request with this feature.
https://github.com/stympy/faker/pull/1156

[2018-03-03 07:10] imi56 commented on #289
+1

[2018-03-04 00:37] b264 commented on #289
@tejasbubane PRs were not getting merged here at the time.  If someone wants to port this, it's in the fork https://github.com/factory-helper/factory-helper

[2018-03-05 05:22] envygeeks opened #1159 "public_ip_v4_address, public_ipv6_address ignore loopback."
This is `127.0.0.0/8` for IPv4, and `::1/128` (or just `::1`) for IPv6.

[2018-03-05 05:24] envygeeks opened #1160 "public_ip_v4_address, and public_ip_v6_address should use reserved"
For IPv4 there is `198.51.100.0/24`, and `203.0.113.0/24`, and for IPv6 there is `2001:db8::/32` specifically reserved for documentation, testing, and examples.

[2018-03-05 05:36] envygeeks opened #1161 "Regexp is slow, Faker::Internet should use hexmask for checking."
It should be slightly faster that regexp at the end of the day. Example:

[code]

[2018-03-08 13:17] johannesluedke commented on #237
The Least Surprise Principle is even more hit: `Faker::Number.between(1, 10)` gives an actual integer, but `Faker::Number.number(10)` is not. This is also how it's in the docu https://github.com/stympy/faker/blob/master/doc/number.md
.. but no fix after 4 years-- it seems most people just add a :to_i / to_d to it at the end 🤔

[2018-03-09 01:41] Evan-M opened #1164 "Backlog of PRs!"
@stympy: As there seems to be a growing backlog of open PRs for this repo, I'm curious if there is any way I could help you out with the daunting task of merging/closing some or all of them?

While my free time is limited (isn't everyone's?), I'd be happy to spend small chunks of time reviewing and commenting on open PRs, or going through PRs and labeling some of them as new features, bug fixes, e

[2018-03-14 20:10] lucasqueiroz commented on #1164
Same here. I'd love to help with the PRs.

[2018-03-14 23:51] shannonwells commented on #1164
I can help too. Not that I have an outstanding PR as motivation or anything...

[2018-03-21 13:02] vbrazo commented on #1164
I can help with PRs as well. I just left me know.

[2018-03-26 20:42] vbrazo commented on #1104
@inioluwaa Use something like:

[code]

and you'd be fine.

[2018-03-26 20:43] vbrazo commented on #1104
@inioluwaa Use something like:

[code]

and you'd be fine.

[2018-03-26 20:43] vbrazo commented on #1104
@inioluwaa Use something like:

[code]

and you'd be fine. I understand that it's not the solution that you were looking for, although it has the same effect.

[2018-03-26 20:46] vbrazo commented on #1104
@inioluwaa You are right. `Faker` is not ready to work with `phonelib`. My solution was:

[code]
I understand that it's not the solution that you were looking for, although it has the same effect.

[2018-03-26 20:49] stympy commented on #1164
Thanks for the offer!  Thumbs-up reactions on PRs are definitely helpful.

[2018-03-26 20:50] stympy commented on #1164
And if people are interested in a bit more involvement, feel free to email me about getting permission to merge PRs.

[2018-03-27 01:43] vbrazo commented on #1154
@nleo I think I found the solution. I already created a PR and added a test for that 👍 Thanks for reporting.

[2018-03-27 02:20] vbrazo opened #1171 "Minitest is showing warnings"
- `warning: constant ::Fixnum is deprecated`

![screen shot 2018-03-26 at 11 17 46 pm](https://user-images.githubusercontent.com/1292556/37943045-4350ec04-314c-11e8-8e27-5306ad2275e8.png)

- We have unused test variables.

![screen shot 2018-03-26 at 11 28 50 pm](https://user-images.githubusercontent.com/1292556/37943443-f329cde8-314d-11e8-8b9f-54831e149c05.png)

- We have a duplicated test class

[2018-03-28 16:21] vbrazo commented on #1164
@stympy cool. I sent you an email. Thanks.

[2018-03-29 12:40] kevgathuku opened #1175 "New release?"
Hello,

Would it be possible to cut a new release? It seems the latest release doesn't contain some functionality added as far back as Dec, 2017
The specific functionality I need is for Faker::LoremPixel to return a secure image by default, which was added in https://github.com/stympy/faker/commit/00cea2287ed4aff1af077d8abf7651c13b9cf466
Seems this change has not made it to a released version yet

[2018-04-06 04:03] concept47 opened #1178 "improvement request: Allow email addresses have + signs in them"
Due to having run into this problem using Faker where our tests pass with the generated emails but an email like `email+address@mail.com` comes along and viciously breaks our tests, I was wondering if it'd be possible to add a specific call for this like

    Faker::Internet.email_with_plus_sign

or (even better) make it part of the way emails are randomly generated, along with dotted emails like

[2018-04-12 09:30] SirRawlins opened #1182 "Google omniauth hash is wrong"
The mock Google Omniauth hash has the wrong structure, the `id_info` key sits in the root of the hash, however, it should be nested under `extra`.

https://github.com/zquestz/omniauth-google-oauth2#auth-hash

I've sent PR #1181 which fixes this.

[2018-04-13 19:09] MauricioMurga opened #1184 "ladas are not defined in Phone.rb"
https://github.com/stympy/faker/blob/f8e1b81f8da82ea9eb88c4939a3a6801f97e5ac1/lib/locales/es-MX.yml#L70

[2018-04-17 19:27] rgaufman commented on #1127
+1 for EU plates :)

[2018-04-17 20:27] kevinburkeomg opened #1186 "UniqueGenerator.clear is very slow"
`Faker::UniqueGenerator.clear` calls `ObjectSpace.each_object`, which takes about 70ms per invocation, even if there are no objects. If you are calling `Faker::UniqueGenerator.clear` after every test, the 70ms penalty adds up pretty quickly.

Perhaps we could store an object_created boolean, and only call ObjectSpace.each_object if that boolean indicates an object has been created.

For reference,

[2018-04-18 05:30] TopCoderKZ opened #1187 "Faker::Food.description"
It seems like Food.description method does not exist anymore.

**Faker::Food.description
NoMethodError: undefined method `description' for Faker::Food:Class**

[2018-04-18 16:32] cbjoseph commented on #1187
This is actually also true for ingredients and spices

[2018-04-18 18:50] giedomak opened #1188 "Faker::Address.postcode"
It seems that `Faker::Address.postcode` has some strange behavior:

[code]

Run on Ruby `2.5.1` with Faker `1.8.7`.

[2018-04-21 08:56] gkunwar commented on #385
@stympy here is the PR link related to this issue:
https://github.com/stympy/faker/pull/1190

[2018-04-21 09:02] #383 closed

[2018-04-24 11:36] BandanaPandey commented on #1187
Hey @TopCoderKZ , I think the Food.description is yet not pushed to rubygems,
so, for the time being if you want to use `Faker::Food.description`, you need to have following in your gemfile:
[code]
On my end, I am adding the same in my gemfile and I am getting the correct response.

Here is the output:
[code]

[2018-04-25 23:35] kevinburkeomg opened #1194 "English last name list should include non-ASCII characters, spaces"
Every one of the last names in the "en" locale has zero space characters, and no non-ASCII characters.

It's quite common to encounter names with spaces, names that begin with a lowercase letter, and names with accent characters like é, and names with these characters should be included as part of the default list.

[2018-04-26 08:31] Startouf opened #1195 "`Company.type` is broken"
In the doc

In the code

[2018-04-26 14:57] A9u commented on #1195
@Startouf  I am able to reproduce the error for 1.6.6 version.  It works for 1.8.7 version.  Can you please try updating the version?

[2018-04-27 03:14] faqndo97 commented on #532
I think that this issue is closed

[2018-04-28 07:10] knittingdev commented on #1186
Hiya @kevinburkeomg 👋

This problem really intrigued me. I liked trying to dive into performance problems, and this seemed like a great way to really understand how Faker works.

I've tried a few different methods to try and test possible performance enhancements (including one that I think was similar to what you recommended):

**[NO CLEAR EFFECT] Test 1 - Short Circuiting Clear if @previous_resu

[2018-04-29 02:59] JonathanWThom commented on #1188
I was able to replicate this by setting `I18n.locale = :nl`. I am not from the Netherlands, but is [this wikipedia article](https://en.wikipedia.org/wiki/Postal_codes_in_the_Netherlands) accurate? Basically, any combination of two letters are allowed _except_ `SA`, `SS`, and `SD`.

I'd be happy to work on a fix for this.

[2018-04-29 07:42] giedomak commented on #1188
Yes that's correct, I have my locale set to `:nl`.

The combinations `SA`, `SS`, and `SD` are not used for historical reasons.

If you could work on a fix, that would be great!

[2018-05-01 09:31] MarcPer commented on #1116
I see two possible fixes, which I don't mind implementing:
- change the name of the `hash` method on `Faker::Types` to something like `rb_hash` (doing the same for other methods, such as `array`, for consistency)
- stop requiring all fakers by default. I'm thinking we could have `require faker/all` for this, and then `require faker/cat` for a specific faker, which automatically gets the necessary

[2018-05-03 15:08] kevinburkeomg opened #1200 "fetch_all raises error"
I'm trying to determine the total number of possible entries for Faker::Name.first_name. Running the following:

[code]

yields the following error:

[code]

Per https://github.com/stympy/faker/pull/811, I tried `I18n.reload!`, but that had no effect. I also tried hardcoding the locale to en and that did not work either.

I'm using Faker 1.7.3 and Ruby 2.4.3, on a Mac. I can provide more debugging

[2018-05-03 15:10] kevinburkeomg commented on #1186
The intent was to clean up after any test that had a `unique` block; I ended up fixing the problem as you suggested by clearing in a before hook in some cases, and by removing Faker in a few others.

It's not obvious that it's going to be very slow to clear a few objects from a few hashes.

[2018-05-03 15:11] kevinburkeomg commented on #1186
Perhaps Faker could store a list of pointers to every object that it's seen that had `unique` called on it, and then when you call `clear` it could traverse that list, instead of calling `ObjectSpace`.

[2018-05-05 00:50] knittingdev commented on #1186
I think that's probably a much better course of action. I had done a lot of experimenting on trying to filter the ObjectSpace to just handle the Faker Objects. Using a pattern where it can best identify all the objects it's created might be the best. I'll try to spend an hour on this tonight to see if I can see any measurable difference. Thanks for the idea!

[2018-05-11 07:50] ckritzinger commented on #982
FWIW, beware the "innocuous" point update from 2.4.1 to 2.4.2

https://github.com/bbatsov/rubocop/issues/4793

There is a breaking change in syntax...

[2018-05-12 16:39] vbrazo commented on #1171
Merged successfully today 👍

[2018-05-12 16:39] #1171 closed

[2018-05-12 19:31] vbrazo commented on #1154
This issue is related to [this PR](https://github.com/stympy/faker/pull/1170). Merged successfully 👍

[2018-05-12 19:31] #1154 closed

[2018-05-12 19:47] vbrazo opened #1206 "Minitest - Warning: nested repeat operator"
I'm getting two warnings when I run `rake test` in the `master` branch.

Could anybody fix these warnings please?

![screen shot 2018-05-12 at 4 45 55 pm](https://user-images.githubusercontent.com/1292556/39961020-1430cbce-5604-11e8-8c1e-e99c9881684d.png)

[2018-05-12 20:27] vbrazo commented on #1187
Hey @TopCoderKZ, thanks for writing this issue.

As @BandanaPandey stated, we haven't published a new version recently, so you should be able to access the module following her steps. We'll release a new version pretty soon. Please bare with us.

Thank you.

[2018-05-12 20:27] #1187 closed

[2018-05-12 20:38] vbrazo commented on #1195
Hey @Startouf,

I think @A9u may be right and you're using an old version of the Faker gem. If you want to use `Faker::Company.type`, your Gemfile should look like this:
[code]

After specifying the git url, you should be able to reproduce this output in your console:

[code]

Unfortunately we haven't published a new version of the Faker gem recently. We'll release a new version pretty soon and le

[2018-05-12 20:38] #1195 closed

[2018-05-12 20:44] vbrazo commented on #1110
@ZASMan @mlotfi2005 pretty awesome. Closing this issue!

[2018-05-12 20:44] #1110 closed

[2018-05-12 20:48] #1055 closed

[2018-05-12 21:56] vbrazo commented on #991
@cbortz @ianroberts131 It seems to me that this issue has been solved, so I'm going to close it.

Thanks for reporting this issue 👍

[2018-05-12 21:56] #991 closed

[2018-05-13 00:05] #518 closed

[2018-05-13 00:09] vbrazo commented on #862
I noticed that this object has already been created [LeagueOfLegendes](https://github.com/stympy/faker/blob/master/doc/league_of_legends.md).

Please do not forget to close the issues that have already been solved. Thanks everybody 😄

ps: I like this module btw

[2018-05-13 00:09] #862 closed

[2018-05-13 00:13] vbrazo commented on #487
Looks like you guys have already built the `middle_name` method in the `Name` object. I'm closing this issue. Let me know if you need assistance to review new PRs. Thanks.

[2018-05-13 00:13] #487 closed

[2018-05-13 00:15] vbrazo commented on #480
@vraravam @tejasbubane since Benjamin already added the missing locale, could we close this issue?

[2018-05-13 00:28] vbrazo commented on #385
@gkunwar I'm closing this PR since you already solved this issue in another [issue](https://github.com/stympy/faker/pull/1190). Thanks for the effort 💯

[2018-05-13 00:28] #385 closed

[2018-05-13 00:33] #158 closed

[2018-05-13 00:34] #154 closed

[2018-05-13 00:35] #109 closed

[2018-05-13 00:44] vbrazo commented on #355
@creativereason did you create a PR for this issue? Has it already been closed?

[2018-05-13 00:48] vbrazo commented on #250
@msaspence I know that it's been a while since you guys discussed about this issue, but I'd like to ask you if you are comfortable with the changes in the referenced PR and if we could close this issue.

[2018-05-13 00:59] vbrazo commented on #266
@bsylvain @coorasse I'm a new collaborator, and I'm trying to solve and close the issues.

I know it's been a while since you guys discussed about this issue. I would like to ask you if we still need to work on this issue and how I could help.

Thanks 👍

[2018-05-13 01:17] vbrazo commented on #1160
@envygeeks Could you provide more details about this issue please?

[2018-05-13 01:26] vbrazo commented on #168
@matkoniecz could we close this PR?

[2018-05-13 05:28] vbrazo commented on #532
Awesome discussion. I enjoyed reading it. I'm closing this issue for now. Thanks 👍

[2018-05-13 05:28] #532 closed

[2018-05-13 05:30] vbrazo commented on #188
@martianinteractive Do you have a PR for this issue?

[2018-05-13 05:37] vbrazo commented on #285
I'm closing this issue because it's pretty old and it seems that you guys have already found the solution. Feel free to reopen if you have this issue again in the future 👍

[2018-05-13 05:37] #285 closed

[2018-05-13 16:03] karlwilbur commented on #285
Yeah, it looks like the issue was caused by the failure to reload I18n. This seems to have been resolved by PR #811.

[2018-05-13 19:58] matkoniecz commented on #168
@vbrazo At time of reporting it Faker was unable to handle UTF-8 letters, even by converting them to ASCII.

I see no reason to close this unless this issue is now fixed.

[2018-05-13 20:04] vbrazo commented on #168
@matkoniecz ok cool! Thanks for the quick follow-up. I'm going to take a look at this issue in the next days. Lemme know if you have any new ideas on how to solve it.

[2018-05-13 20:42] matkoniecz commented on #168
As I reread it - I would expect Faker to just handle UTF-8 text.

Originally mentioned conversion to ASCII is an overcomplicated crutch that should not be necessary.

[2018-05-14 15:11] vbrazo commented on #1164
Hey guys, I worked on the repository this weekend and started making progress. I plan to invest more time in the next days/weeks. I basically

- created labels and categorized all the `issues` and `PRs`
- reviewed several PRs
- started discussions in the issues with contributors

Since the PRs and issues are categorized, I believe we should fix the bugs first and then jump to the new feature reque

[2018-05-14 15:31] #1164 closed

[2018-05-14 18:11] aamarill commented on #1206
Hello,

I am looking to make my first open source contribution. Is this a good issue to work on?

[2018-05-14 20:40] vbrazo commented on #1206
@aamarill sure, why not?

Feel free to fork the project to your profile and pull it to your computer. After that you can create a Pull Request and start committing there. Run `bundle install` to install the gems and run `rake test` to find the warnings. Once it's done, you can push and open a PR in our repository.

[2018-05-14 20:50] aamarill commented on #1206
Thank you @vbrazo I'll get on it ASAP

[2018-05-15 04:37] vbrazo commented on #1120
PR merged successfully. Thanks for contributing 💯

[2018-05-15 04:37] #1120 closed

[2018-05-15 04:45] vbrazo commented on #1123
@lucasqueiroz PR merged successfully. Thanks for contributing 🥇

[2018-05-15 04:45] #1123 closed

[2018-05-15 17:30] vbrazo opened #1208 "Add Brazilian citizen id and its docs"
This feature request should be assigned to a Brazilian. If you're interested, please drop us a line.

If you'd like to understand more about this issue, you should check Faker's `Spanish citizen id and docs` PR: https://github.com/stympy/faker/pull/1147 out. The idea is pretty similar, but we'd like to add Brazilian locales.

[2018-05-15 17:32] vbrazo commented on #1208
@lucasqueiroz check this issue out and let me know if you'd be interested in working on this feature.

[2018-05-15 18:03] lucasqueiroz commented on #1208
I'd be interested, but I have limited time this week. I can work on this on the weekend, probably. If anyone wants to do it before, feel free :)

[2018-05-16 09:05] coorasse commented on #266
Hello @vbrazo, yes. the issue is still open and valid. I haven't investigated what is causing it so I cannot help you on which direction to follow to solve it. I think the expected behaviour is that the generator works also if english is not available.

[2018-05-17 01:31] vbrazo opened #1214 "Should we add rspec?"
What do you think about adding the `rspec` suite test in the Faker project?

We should allow contributors to choose whether they want to use `Rspec` or `Minitest`.

I noticed that many developers are more comfortable with `rspec`, so why shouldn't we have both test frameworks in the same project?

Since we have [Coveralls](https://github.com/stympy/faker/pull/1210), we can track in which part of t

[2018-05-17 05:16] Tobaloidee opened #1216 "Icon-Logo Design Proposal: Please vote!"
Hi Sir @stympy  ,Good day! I am a graphic designer and I want to contribute to your great project by proposing an icon-logo design. If you like and want to use it, I will be gladly sending you the files as a gift to the project for free. Please let me know if you have any ideas or suggestions. I saw that the project does not have a logo yet that's why i am proposing one.

here it is Sir with 2 var

[2018-05-17 05:28] Tobaloidee commented on #1216
will take note of that Sir and create from it. Thanks for the feedback!

[2018-05-17 06:08] Tobaloidee commented on #1216
created with a new concept:

![idea-01-01](https://user-images.githubusercontent.com/36028424/40159370-a12452a0-59db-11e8-90c0-8ef1ea8c461e.png)

![faker new-01](https://user-images.githubusercontent.com/36028424/40159374-a91af414-59db-11e8-8000-af20870814b4.png)
![faker logotype-03](https://user-images.githubusercontent.com/36028424/40159394-b7799ea2-59db-11e8-89e7-530d0797a592.png)

![faker new-

[2018-05-17 07:27] vbrazo commented on #1216
Hey guys, we need your help to define which logo Faker will use. Please vote or tell @Tobaloidee your suggestions/feedback.

@graciano @stephengroat @JonathanWThom @MarcPer  @jmkoni  @Glenf  @gkunwar  @SpyMaster356  @PuZZleDucK @buzzamus @philduffen @cnharris10

[2018-05-17 07:56] Tobaloidee commented on #1216
![faker coffee-02](https://user-images.githubusercontent.com/36028424/40163986-e42fe596-59ea-11e8-9646-de4d833f7cd1.png)

[2018-05-17 10:25] stympy commented on #1216
That’s fun, but a bit too reminiscent of Facebook. :)

[2018-05-17 10:30] buzzamus commented on #1216
What if the “F” sort of fit into the coffee mug? For instance, the top of the F could be the top of the mug, the middle horizontal portion of the F was the top of the coffee, and the main portion of the F made up the side of the mug? Might be too awkward, but figured I would throw that out there!

[2018-05-17 11:02] Tobaloidee commented on #1216
I'll make some alternatives from the suggestions Sirs. :)

[2018-05-17 12:58] gkunwar commented on #1216
Thank you @Tobaloidee for your contributions. All logos that you made are looks good.
@vbrazo among these logos, my vote goes to the latest one.

![](https://user-images.githubusercontent.com/36028424/40175240-13d4d080-5a0a-11e8-9f0b-163ca1dc221f.png)

[2018-05-17 13:34] stympy commented on #1216
I like the latter of the last two (the one with the white F), but I like it more with the mug handle of the other one.

[2018-05-17 13:55] nicolas-brousse opened #1217 "Add image_file method to Placeholdit module"
Hey,

Are you interested about a method to directly retrieve a file instead a url with Placeholdit module. The idea is to easily create attachment on an app without downloading the image file from URL.

Right now a created a method to do the job but may be it's something that could be done directly by Faker.

[code]

What do you thing about ? If you think It's interesting, let me know and I could

[2018-05-17 14:13] MarcPer commented on #1216
Nice logos, @Tobaloidee. I liked the one with the white F too. For some reason it reminded me of the standard masks symbol associated with theater:
![Theather masks](https://seeklogo.com/images/T/Theater_Masks-logo-8C9D2AD393-seeklogo.com.png)

Maybe that could be something to think about, having a mask with the the light and shade forming an F. The mask seems to make sense with a library about fa

[2018-05-17 14:27] SpyMaster356 commented on #1216
I like the idea of the masks. The coffee cup feels arbitrary to me, and doesn't really fit what Faker does.

[2018-05-17 14:49] SpyMaster356 commented on #1216
Throwin 2 ideas at the wall:

![faker](https://user-images.githubusercontent.com/2325473/40184475-5fb21b3a-59be-11e8-9df2-a4639a19fc62.png) Use the shadow to show something different

![faker-2](https://user-images.githubusercontent.com/2325473/40185035-ac4b5bea-59bf-11e8-800a-6089ea30a658.png) Show off all the different libraries in faker. (a small sever can serve up a random image each refresh)

[2018-05-17 15:27] Tobaloidee commented on #1216
![shadow effect-01](https://user-images.githubusercontent.com/36028424/40187290-c5259828-5a29-11e8-9375-e569ea05d665.png)
![shadow effect-02](https://user-images.githubusercontent.com/36028424/40187291-c56931d2-5a29-11e8-8271-0e1bf8fe84f1.png)

[2018-05-17 16:05] JonathanWThom commented on #1216
This is fun. I'm not designer, so take this with all with a grain of salt, but I like the idea of the drama masks. Maybe a combo of the last thing that @SpyMaster356 posted (where the mask forms an 'F'), except only the F instead of the full word, and the mask square that @Tobaloidee just posted. Though we probably want to stay away from a blue F, as others have stated. Maybe red or burgundy as a

[2018-05-17 17:44] Tobaloidee commented on #1216
I will make some alternatives and i will post it asap..thanks!

[2018-05-17 21:59] vbrazo commented on #1139
This PR was merged successfully 💯

[2018-05-17 21:59] #1139 closed

[2018-05-17 22:03] vbrazo commented on #1160
I'm closing this issue for now. Let me know if you'd like to reopen it in the future. Thanks 👍

[2018-05-17 22:03] #1160 closed

[2018-05-17 22:04] vbrazo commented on #1159
I'm closing this issue for now. Let me know if you'd like to reopen it in the future. Thanks 👍

[2018-05-17 22:04] #1159 closed

[2018-05-18 02:57] gkunwar opened #1219 "Random National Flag generator"
Feature request: We should be able to generate national flag of random nation.

[2018-05-18 06:29] Tobaloidee commented on #1216
![red faker-02](https://user-images.githubusercontent.com/36028424/40219431-e1550c26-5aa7-11e8-9546-06ecc4519b39.png)

[2018-05-18 07:33] gkunwar commented on #1219
@JonathanWThom you can add this within Nation.
Please check this: https://github.com/stympy/faker/blob/master/doc/nation.md

[2018-05-18 07:33] PuZZleDucK commented on #1216
The "F-masks" are just amazing :open_mouth: ... I think I prefer the less evil looking expression tho.

The idea of a different shadow font is also impressive and conveys the faker concept well :sunglasses:

[2018-05-18 07:40] Tobaloidee commented on #1216
![faker red f smiley 2-04](https://user-images.githubusercontent.com/36028424/40222358-cf3fd804-5ab1-11e8-9094-b466d658c626.png)
![faker red f smiley-02](https://user-images.githubusercontent.com/36028424/40222360-cf7721a6-5ab1-11e8-8760-2dd3b2c6d958.png)

:)

[2018-05-18 08:07] MarcPer commented on #1216
Wow, the masks look great. I personally didn't mind the evil face, but the smiling version is equally beautiful. So my vote goes for the F masks with red background, no matter if good or evil.

[2018-05-18 08:49] Tobaloidee commented on #1216
I will wait until the final decision came up Sirs..I hope im not giving you a hard time. :)

[2018-05-18 13:16] graciano commented on #1216
I like the masks in the red background too.

[2018-05-18 13:17] stympy commented on #1216
The latest masks are fantastic. :)

Would you mind doing flat variants without the shadow?

[2018-05-18 13:43] vbrazo commented on #1216
+1

![faker red f smiley 2-04](https://user-images.githubusercontent.com/36028424/40222358-cf3fd804-5ab1-11e8-9094-b466d658c626.png)

[2018-05-18 13:45] vbrazo commented on #1216
Could you please send us lots of different colors? I'd suggest to remove the shadow as well.

[2018-05-18 13:50] stympy commented on #1216
I don’t think we need lots of colors... the red looks good to me.

[2018-05-18 14:07] SpyMaster356 commented on #1216
Might also be good to smooth out the top of the mask. Looks a bit devilish right now :P

[2018-05-18 14:28] Tobaloidee commented on #1216
Hello Sirs..i will show you some variants asap

[2018-05-18 16:29] Tobaloidee commented on #1216
gradient and flat versions (removed the shadow and flatten a bit the top area)

![faker latest-01](https://user-images.githubusercontent.com/36028424/40246477-77eb04d0-5afb-11e8-866d-76ef50a266e4.png)
![faker latest-02](https://user-images.githubusercontent.com/36028424/40246480-7ebce404-5afb-11e8-95cc-04820eda20e4.png)
![faker latest-04](https://user-images.githubusercontent.com/36028424/40246484

[2018-05-18 16:35] SpyMaster356 commented on #1216
I'll toss my vote in for ether the lighter red or the second orange ones.

Thanks for working on this @Tobaloidee

[2018-05-18 16:38] JonathanWThom commented on #1216
My vote is for either of the red ones. Awesome work!

[2018-05-18 16:43] Tobaloidee commented on #1216
i updated my comment for easier voting :)  It has been a pleasure and this is going to be rewarding for me seeing it in your project.

[2018-05-18 18:00] graciano commented on #1216
I vote for R2

[2018-05-18 18:06] Tobaloidee commented on #1216
That's Ruby Red

[2018-05-18 19:46] stympy commented on #1216
I like both R2 and R1

[2018-05-18 19:59] vbrazo commented on #1216
@Tobaloidee R looks awesome. Good job!

Could you open a PR to change the `README.md` and add the new logo? Please do not forget to reference this issue in the PR.

Let us know how it looks ✅

[2018-05-18 20:08] stympy commented on #1216
@Tobaloidee Can you attach the original SVG/AI/whatever files for the R2 and R1 flavors of the happy and evil versions to this issue or email them to me?

[2018-05-19 00:13] Tobaloidee commented on #1216
Good day Sirs! I will do it now.. :)

[2018-05-19 01:14] Tobaloidee commented on #1216
Just finished creating the PR #1221 Sir @stympy ... All the needed files (SVG-Ai-PNG) of the R1 R1 versions
 you can download here on the link below

https://drive.google.com/drive/u/0/folders/1rr6Bj70lbeQBhNQzYbDI6qCOnQpd5pKD

I will update it and include all the color versions that was posted from the choices.

[2018-05-19 01:33] vbrazo commented on #1216
Awesome! Your logo is already in our master branch. Thanks for the effort. We enjoyed the issue. Let us know if you have new design ideas 👍🏻

Thanks for the comments guys!

[2018-05-19 01:33] #1216 closed

[2018-05-19 02:07] Tobaloidee commented on #1216
You are all welcome! Thanks for accepting my proposal! Awesome people here!  Thanks so much!! :)

[2018-05-19 04:08] JonathanWThom commented on #1219
I was cruising along with this, but ran into an annoying problem - I can't seem to get that leading quote to go away. Ruby seems to not like that unicode escape (even though it renders the emoji), and I have no idea why. Anyone knowledgeable on this able to explain?

<img width="390" alt="screen shot 2018-05-18 at 9 05 30 pm" src="https://user-images.githubusercontent.com/22665228/40264719-7464448

[2018-05-19 04:41] vbrazo commented on #1216
Welcome to the team 🙂👏🏻

[2018-05-19 05:27] JonathanWThom commented on #1219
FWIW `puts "\u{1F1E6 1F1EB}"` works just fine. So maybe I'm just over thinking it 🙂

[2018-05-19 11:13] SpyMaster356 commented on #1216
Only took 11 years to make a logo. :P

[2018-05-19 12:14] stympy commented on #1216
Thanks @Tobaloidee !

[2018-05-19 20:02] JonathanWThom commented on #1219
Oh! I guess that makes sense. Really threw me off. Thank you!

[2018-05-19 20:36] vbrazo commented on #1206
@aamarill I had free time and fixed the warnings today. I'm going to assign you another task, ok? 👍

[2018-05-19 20:48] aamarill commented on #1206
@vbrazo No worries!
I am actually pretty free now, so if you have any "newbie-friendly" issues available, send them my way!
🥂

[2018-05-19 21:10] aamarill commented on #1214
@vbrazo As a newbie open-source dev, I can say that having options in how you test can lower the entry barrier for other newbies. Testing is important, so making it accessible to more people is equally so?

Cheers!

[2018-05-19 21:18] #1206 closed

[2018-05-19 22:11] vbrazo commented on #1164
@shannonwells Awesome. I'll be waiting for you.

[2018-05-19 23:05] stympy commented on #1214
I don’t love the idea of having two testing frameworks in the same project. I can see it being a source of confusion for new contributors, who might wonder, “which one do I use?”

It seems to me that’s it’s easy enough for someone to look at the tests that are already in place as an example of how to write non-especially tests.

[2018-05-19 23:21] #1200 closed, assigned to nobody

[2018-05-19 23:35] aamarill commented on #1214
Thank you @stympy for the wonderful insight. 😄

[2018-05-20 00:31] #1214 closed

[2018-05-20 01:13] vbrazo opened #1224 "Code Climate"
@stympy I was wondering if you could integrate [Code Climate](https://codeclimate.com/) in this project with Travis. Code Climate is pretty powerful. We should definitely take advantage on this product to analyze the code and see what parts future PRs could improve.

I tried to create an account, but I couldn't link the Faker repository because I'm not the owner.

We should integrate Code Climate

[2018-05-20 02:05] vbrazo commented on #1206
@aamarill  You can filter the issues.

Here I'm filtering by [`Bug/Fixes`](https://github.com/stympy/faker/issues?q=is%3Aopen+is%3Aissue+label%3ABug%2FFixes). You could also filter by `Feature Request`, `Documentation` and others.

Go there, read the issues. I'm pretty sure that you'll find someone who needs help or an issue that is open just waiting for you. Message people. Make noise 👍

[2018-05-20 02:11] aamarill commented on #1206
@vbrazo Will do! Thanks!! 🥂

[2018-05-20 03:12] gkunwar commented on #1216
Thanks @Tobaloidee !!!

[2018-05-20 03:16] Tobaloidee commented on #1216
You are all most welcome Sirs! my best regards! :)

[2018-05-20 03:29] stympy commented on #1224
Fixed in 1dcd059b

[2018-05-20 03:29] #1224 closed

[2018-05-20 03:33] vbrazo commented on #1224
Awesome. Should we remove `Coveralls` or you believe we should work with both?

[2018-05-20 04:04] stympy commented on #1224
I don’t think we need both.

[2018-05-20 04:07] vbrazo commented on #1224
No problem. I just pushed a commit that removes the gem and its configurations 👍

[2018-05-20 04:08] stympy commented on #1224
Thanks!

[2018-05-20 20:28] olleolleolle opened #1231 "sv: Add Svenska examina to the titles list"
The Wikipedia article on academic titles for Sweden has a good list of titles for different educations: https://sv.wikipedia.org/wiki/Lista_%C3%B6ver_f%C3%B6rkortningar#Svenska_examina

This Issue is a feature request that the Faker::Name list for Swedish would include these, instead of `PhD`.

[2018-05-20 23:15] vbrazo opened #1233 "Wanna contribute? Please add the missing tests"
If you're just starting to work with Faker, you should read the [contributors file](https://github.com/stympy/faker/blob/master/CONTRIBUTING.md).

After setting up the project in your local machine, you should run the tests to find the missing tests.

Take a look at the screenshoot.

![screen shot 2018-05-20 at 8 13 16 pm](https://user-images.githubusercontent.com/1292556/40284766-40914060-5c6a-11

[2018-05-20 23:18] vbrazo commented on #1233
I know that there are 3 warnings that are shown when you run `bundle exec rake` or simply `rake`. These warnings are coming from a dependency/gem. I already wrote an issue about it in their repository, and I'm waiting for a response https://github.com/cldwalker/hirb/issues/103.

[2018-05-21 00:13] vbrazo opened #1234 "Add Inch CI to have a metric about documentation"
@stympy [Inch CI](https://inch-ci.org/) is another badge to analyze the docs in our application.

Take a look at this report: https://inch-ci.org/github/stympy/faker?branch=master

Do you think we could integrate this badge? Notice that only owner can generate badges.

[2018-05-21 03:06] vbrazo commented on #929
@PuZZleDucK PRs merged successfully. Thanks for contributing 🥇

[2018-05-21 03:06] #929 closed

[2018-05-21 15:35] kevinburkeomg commented on #1200
It seems at the very least like the error message could be clearer.

[2018-05-21 16:16] vbrazo commented on #1200
Wanna work on this improvement? @kevinburkeomg

[2018-05-21 17:02] stympy commented on #1200
I don't think there's anything to work on here... we don't advertise `fetch_all` as a public API.

[2018-05-21 17:04] kevinburkeomg commented on #1200
Maybe then documenting how to retrieve all of the options for a given function, besides in a comment to a closed issue

[2018-05-21 17:08] stympy commented on #1200
Ok, well, if a PR shows up, we'll review it. :)

I'd need to see a compelling argument, though, if a PR encouraged the use of internal functions like `fetch_all` for public consumption.

[2018-05-21 22:46] vnbrs opened #1237 "Faker::Music.genre raising NotMethodError"
I've just installed Faker 1.8.7 and I'm trying to use [Faker::Music#genre](https://github.com/stympy/faker/blob/master/lib/faker/music.rb#L40) and it's raising Ruby's `NoMethodError`. The same occurs on IRB.

[2018-05-21 23:16] vbrazo commented on #1237
Probably because this method hasn't been released yet. If you really wanna use this method, you should point your gem config to the master branch.

[2018-05-21 23:16] #1237 closed

[2018-05-21 23:17] vbrazo commented on #1237
`gem 'faker', git: 'https://github.com/stympy/faker'`

[2018-05-21 23:19] vnbrs commented on #1237
Makes a lot of sense. Thank you. :shipit:

[2018-05-21 23:21] vbrazo commented on #1237
Cool.

I think it was made by @jmkoni

Enjoy.

[2018-05-21 23:51] aamarill commented on #1233
@vbrazo I would love to help! Should I be assigned to this to prevent test duplication?

[2018-05-21 23:55] vbrazo commented on #1233
You can go ahead and make your changes. Link your PR in this issue so people will see that you're working on it.

[2018-05-22 01:37] aamarill commented on #1233
@vbrazo I am struggling to follow the flow of the tests. Is there any documentation of how the testing works? Or any resources you can point me to? I do apologize for slowing you down and really appreciate any help or insight you can provide 😄

[2018-05-22 01:42] ZASMan commented on #1233
@aamarill , take a look at the test folder, such as this one right [here](https://github.com/stympy/faker/blob/master/test/test_da_dk_locale.rb).

The tests can be simple. For example, you'll see here they are calling the different methods and asserting that the returned result is a string.

[2018-05-22 02:04] aamarill commented on #1233
@ZASMan Thanks for the feedback. 👏

I am trying to play with it a bit (to understand it) by trying to print to the terminal from an arbitrary method (inside one of the test files). But, it seems none of the methods get executed when I run the tests except on the `setup` method. Hopefully this picture is worth a thousand words 😃

<img width="1322" alt="screen shot 2018-05-21 at 7 02 20 pm" src="htt

[2018-05-22 02:44] stympy commented on #1233
Method names must begin with `test_` to be executed.

[2018-05-22 02:46] aamarill commented on #1233
Thanks @stympy! I just remembered that 😄  I was trying to figure out if they were being run via some other way somehow. Thanks again !!

[2018-05-23 03:21] gkunwar opened #1242 "Capital City of random Country"
Feature request: We should be able to generate capital city of random nation.
@stympy @vbrazo what do you think about this feature? If you give give me green signal, I will start to work on this feature.

[2018-05-23 03:27] gkunwar commented on #558
@lavika how is the progress on this issue?

[2018-05-23 04:14] aamarill commented on #1217
@vbrazo if you added the "feature request" tag, does that mean you'll accept a PR on this? 🤔

[2018-05-24 01:56] Dearest opened #1244 "Support to mock Chinese name and address ?"
Support to mock Chinese name and address ?

[2018-05-24 03:10] liaogz82 opened #1245 "Feature: Fake work days and holidays"
I need faker to generate dates that are strictly weekdays, and is able to throw in a holiday based on country

[2018-05-24 04:08] vbrazo commented on #1245
Could you please provide an example with more details?

[2018-05-24 04:13] vbrazo commented on #1244
Chinese? I don't know if we have Chinese locales yet. I don't think so. Well, if not, would you be interested in working on these new locales?

[2018-05-24 04:15] vbrazo commented on #1244
https://github.com/stympy/faker/blob/master/lib/locales/zh-CN.yml ?

[2018-05-24 06:08] Dearest commented on #1244
thx，This is what I want

[2018-05-24 06:08] #1244 closed

[2018-05-24 06:30] MarcPer commented on #1186
Hi, @knittingdev  and @kevinburkeomg . Sorry to barge in, but I was interested in speeding up `Faker::UniqueGenerator.clear` as well, and I ended up implementing on #1246 what was suggested here: keeping a set with the generators that have used `unique` and then only calling `clear` on those.

Below are some benchmarks (in all cases, I've labeled the current method using `ObjectSpace` as `old_clea

[2018-05-24 07:42] gkunwar commented on #1242
@vbrazo @stympy I will start to work on this PR.

[2018-05-24 08:33] liaogz82 commented on #1245
`Faker::Date.between(1.month.ago, Time.now).no_weekends` will not give you a date that is Saturday or Sunday one month ago for example

or

`Faker::Date.between(1.month.ago, Time.now).weekdays` will only give you dates that are Mondays to Fridays

[2018-05-25 03:10] gkunwar commented on #1245
@liaogz82 this makes sense. @vbrazo what do you say?

[2018-05-25 05:08] liaogz82 commented on #1245
I run this in my rspec

[code]

and I get this in the byebug

[code]

Plentiful of nulls that can be easily avoided

[2018-05-25 17:42] gkunwar commented on #1242
PR is merged so I closed this issue.

[2018-05-25 17:42] #1242 closed

[2018-05-26 09:18] mrstebo opened #1251 "Add missing methods to Code documentation"
Documentation is missing examples of the following:

- `Faker::Code.npi`
- `Faker::Code.rut`
- `Faker::Code.nric`

[2018-05-26 16:12] vbrazo commented on #1251
Woulld you like to open a PR and add the missing documentation? @mrstebo

[2018-05-26 16:27] mrstebo commented on #1251
Sure, no problem 👍

[2018-05-26 16:31] vbrazo commented on #1251
@mrstebo 💯

We are going to release a new version pretty soon, and we'll need to do the docs checks. Would you like to check other modules out to see if we are missing other examples?

[2018-05-26 16:56] vbrazo commented on #1251
Let me do that.

[2018-05-26 17:31] vbrazo commented on #1251
@mrstebo  Check [this PR](https://github.com/stympy/faker/pull/1252) out

[2018-05-26 18:54] #1251 closed

[2018-05-26 19:47] mrstebo opened #1255 "Faker::SingularSiegler docs don't match code"
Docs say `Faker::SingularSiegler.quote`, whereas the code says `def quotes`.

I think the code should be modified to `quote` as it returns a single quote.

[2018-05-26 21:49] vbrazo commented on #1233
We have `99.92%`. I think we're ok and good to go.

![screen shot 2018-05-26 at 6 48 13 pm](https://user-images.githubusercontent.com/1292556/40580476-682357bc-6115-11e8-84af-8a049b8a71b8.png)

[2018-05-26 21:51] aamarill commented on #1233
Impressive skill @vbrazo I wasn't sure on how to test for the last ones you did! 😮 👍

[2018-05-26 21:59] vbrazo commented on #1245
@liaogz82  Yeah you could work on this method. Go ahead, fork the project, create a new branch and open a new PR in our repo when you're done 👍

[2018-05-26 22:00] vbrazo commented on #1186
Hmm interested and following the issue.

[2018-05-26 23:45] #1233 closed

[2018-05-28 04:39] #1063 closed

[2018-05-28 05:28] vbrazo commented on #1052
PR merged. Thanks.

[2018-05-28 05:28] #1052 closed

[2018-05-29 08:02] liaogz82 commented on #1245
sure no problem, since I am the one who worked on [fastlane-plugin-lizard](https://github.com/liaogz82/fastlane-plugin-lizard), I do have a little experience on ruby. I was afraid initially that nobody like this idea of mine

[2018-05-29 20:55] rafalpetryka commented on #1245
@liaogz82 I've seen one problem. How can you define holidays that are variable in time, for example, Easter egg? I think that you should get that information from other API...

[2018-05-30 02:03] liaogz82 commented on #1245
I gave up on that idea. Too hard, like what you say, get information from other API.

BTW, any tips on how to do method chaining in ruby gem?

[2018-06-02 16:51] vbrazo commented on #1178
We're closing this issue, because @aamarill has already implemented this idea in a PR. Thanks a lot for creating this issue and investing your time :)

[2018-06-02 16:51] #1178 closed

[2018-06-02 18:47] #1006 closed

[2018-06-02 18:53] vbrazo commented on #1024
@baubakg I tested the `ru` locales and now it seems to be working correctly. Feel free to reopen this issue or create another one in case you find other problems.

[2018-06-02 18:53] #1024 closed

[2018-06-03 06:45] gkunwar opened #1267 "Random National sports generator"
Feature request: We should be able to generate national sport of random nation/country.

[2018-06-03 06:46] gkunwar commented on #1267
Here is the reference resource for national sports of different country.
http://www.quickgs.com/countries-and-their-national-sports/

[2018-06-03 16:31] kariyenas commented on #188
@martianinteractive I think this issue can be closed. The PR mentioned by @chellberg addresses the issue and seems to be work fine now.

[2018-06-03 16:32] #188 closed

[2018-06-05 04:56] gkunwar commented on #1267
PR is merged and resolved this issue.

[2018-06-05 04:56] #1267 closed

[2018-06-07 06:41] tejasbubane commented on #1182
This can be closed. @vbrazo

[2018-06-07 15:07] bsylvain commented on #266
I still have to add :en on the test env on my apps using Faker. It makes the test env different from production.

[2018-06-07 15:27] TomK32 opened #1276 "Suggestion for Finance: account names"
I'm working on this double entry book keeping app and have a few lines to give me random account names in the style "Expenses:Living:Rent", "Income:ACME Corp" or "Liabilities:Car Credit". The ":" is because the app I used previously was ledgercli and I just like the simplicity.

So, before I put the time into adapting my code for faker and sending a pull request, would anyone have interest in such

[2018-06-07 18:11] #1182 closed

[2018-06-09 20:41] ghost opened #1277 "New version on rubygems. Please."
Please, can you release new version on rubygems?

I need `Faker::String`.

[2018-06-10 03:51] stympy commented on #1277
We're working on it. The last thing we need to do is mark deprecations.

[2018-06-12 16:08] microweb10 opened #1280 "Wrong Time using Faker::Time.between"
Would you say this is normal?

I just downloaded the gem and I'm executing from inside a Rails app

[code]

I want an interval of 5 minutes and I got a few hours interval.

The output of 5.minutes.from_now and 10.minutes.from_now is correct

[code]

[2018-06-13 16:36] vbrazo commented on #1280
Have you already tried `Faker::Time.between(5.minutes.from_now, 10.minutes.from_now, :between)`?

[2018-06-13 16:36] vbrazo commented on #1280
@microweb10 Have you already tried `Faker::Time.between(5.minutes.from_now, 10.minutes.from_now, :between)`?

[2018-06-13 16:40] vbrazo commented on #1280
The command above solves your problem, but I don't know if it makes sense to have `period = all` as a standard value [in this method](https://github.com/stympy/faker/blob/master/lib/faker/time.rb#L15). If we use `all`, we should get a sample of an hour in the provided day, that's why you were getting invalid values. I think `period` should be set as `between`.

[2018-06-13 16:43] vbrazo commented on #1280
The command above solves your problem, but I don't know if it makes sense to have `period = all` as a standard value [in this method](https://github.com/stympy/faker/blob/master/lib/faker/time.rb#L15) because this case is used when we are working with `dates`. If we use `all`, we should get a sample of an hour in the provided day, that's why you were getting invalid values. I think `period` should

[2018-06-13 16:50] vbrazo commented on #1280
Actually this object looks a bit messy, because we have `DateTime` operations inside the `Faker::Time`. I'd prefer to have a `Faker::DateTime`.

[2018-06-13 16:59] vbrazo commented on #1277
I'm going to work on the deprecations today, and I'll post a status later on.

[2018-06-13 17:05] vbrazo commented on #298
It seems that this issue has already been solved?

[2018-06-14 04:18] vbrazo commented on #1277
I just reviewed all the merged PRs and found [this one](https://github.com/stympy/faker/pull/1198/files). I'm going to revert these changes and deprecate the methods. After that I believe we should be fine.

[2018-06-14 10:23] mrcasals opened #1286 "Error when locale is missing a faker key"
We're using `faker` version 1.8.7, and when we set `I18n.locale = :fr` and run `Faker::Job.position`, the code fails with this error:

[code]

We're using Ruby 2.5.1.

I found out that the French locale does not have the `job` key, so this line fails:

https://github.com/stympy/faker/blob/bc912ae08ec8c369ca2cee543656f70207d2a84a/lib/faker.rb#L182

Can someone point me to a direction to fix this bu

[2018-06-15 01:07] vbrazo commented on #1286
Well, someone will need to go there and add the `job` french locales. I don't know french, but I always try to help with Brazilian Portuguese and Spanish. Are you @mrcasals up to this challenge? You'd basically need to:
- go to the `fr.yml` and add the job locales
- write tests for these locales in [this file](https://github.com/stympy/faker/blob/master/test/test_fr_locale.rb)

If you're a new con

[2018-06-15 10:45] mrcasals commented on #1286
@vbrazo I'm afraid I can't, but I'll try to ask for help. Anyway, is there any way to make `faker` delegate to the English locale if no translation is found for the given language? This would solve our current issues

[2018-06-16 15:17] vbrazo commented on #1276
@rhymes hmm we have [`Faker::Finance`](https://github.com/stympy/faker/blob/master/doc/finance.md) and  [`Faker::Bank`](https://github.com/stympy/faker/blob/master/doc/bank.md). I'd be pretty happy to see new methods for these two objects. Please read the [contributing.md](https://github.com/stympy/faker/blob/master/CONTRIBUTING.md) and don't forget to add tests for you changes.

[2018-06-16 18:50] MarcPer commented on #1186
@knittingdev, @kevinburkeomg, @vbrazo, should the PR be merged? The change is simple enough and the performance improvement looks consistent.

[2018-06-17 12:51] rhymes commented on #1276
@vbrazo i think you tagged the wrong person eheh

[2018-06-17 13:09] vbrazo commented on #1276
Sorry! I just edited the comment. Thanks.

[2018-06-21 21:33] #1132 closed

[2018-06-25 12:33] deivid-rodriguez commented on #1286
@mrcasals I fixed this in #1292 :wink:

[2018-06-25 13:59] #1286 closed

[2018-06-25 14:07] deivid-rodriguez commented on #822
Fixed via #1292 :)

[2018-06-25 14:07] deivid-rodriguez commented on #828
Fixed via #1292 :)

[2018-06-25 14:08] deivid-rodriguez commented on #1277
Is it fine now to release? :smiley:

[2018-06-25 14:11] stympy commented on #1277
Maybe... do you want to double-check that all the deprecations are covered? :)

[2018-06-25 14:15] deivid-rodriguez commented on #1277
Sorry, I must have misunderstood the previous messages and related PR. I thought that had already been done.

[2018-06-25 14:23] stympy commented on #1277
As far as I know, it has been done, but I'd like to have a second set of eyes to go over all the changes to ensure we haven't missed any deprecations. I'm hoping to do that this week.

[2018-06-25 20:16] rlgreen91 opened #1295 "Faker::Vehicle.car_type not available"
For some reason, running a spec gives me the following error:

[code]

This method, according to the docs, has been available since 1.6.4.  However, my Gemfile.lock shows that I'm at v1.8.7.

Actually, running `rails c` and then `Faker::Vehicle.methods` confirms that only `manufacture` and `vin` are available out of the options listed in the doc.  Can someone else confirm that this is happening fo

[2018-06-26 03:44] tiev opened #1296 "Cannot use Faker::String with v1.8.7"
I cannot access Faker::String.

[code]

returns this error:
[code]

ruby 2.3.3

[2018-06-26 11:04] deivid-rodriguez commented on #1277
For what it's worth, I did a quick pass over the change log and couldn't spot any changes that clearly need deprecations.

[2018-06-26 17:56] peacestone commented on #1296
When I cloned the repo and load the app in irb using `require './lib/faker'`, I was able to get a random string by running ` Faker::String.random`.

ruby 2.5.1

[2018-06-26 18:01] peacestone commented on #1296
#1277

[2018-06-26 18:03] vbrazo commented on #1296
`Faker::String` hasn't been released yet and I believe we may release a new version soon. Since this is a duplicated issue, I'm closing it. Thanks.

[2018-06-26 18:03] #1296 closed

[2018-06-26 22:22] #289 closed

[2018-06-28 13:48] mrcasals opened #1298 "Release a new version"
Hi!

First of all, thanks for the work on this project!

I've noticed it's been a while since the release of version `1.8.7`, and `master` has some features that would be really useful for me, like #1292.

Could we have a new release with all these fixes?

Thanks!

[2018-06-29 06:41] mrcasals commented on #1298
Oh , sorry! I'll subscribe to that other issue then 😄

[2018-07-05 16:21] vbrazo commented on #488
We're closing this issue because this PR https://github.com/stympy/faker/pull/1299 adds the new methods. Thanks for contributing!

[2018-07-05 16:21] #488 closed

[2018-07-05 16:29] vbrazo commented on #1295
Unfortunately this method hasn't been released yet.  Check the PR out: https://github.com/stympy/faker/pull/1260

Since this is a [duplicated issue](https://github.com/stympy/faker/issues/1277), I'm closing it. Thanks for reporting! I appreciate it.

[2018-07-05 16:29] #1295 closed

[2018-07-10 07:17] mroach commented on #1245
Have a look at the [business_time](https://github.com/bokmann/business_time) gem which can integrate with [holidays](https://github.com/holidays/holidays) to do what you want.

[2018-07-11 14:01] CodingAnarchy commented on #1277
Any updates on this?

[2018-07-11 14:06] CodingAnarchy opened #1309 "Syntax error with Psych and i18n on master"
`I18n::InvalidLocaleData: can not load translations from /Users/vision/.rvm/gems/ruby-2.5.1/bundler/gems/faker-00be118fc07f/lib/locales/en/vehicle.yml: #<Psych::SyntaxError: (<unknown>): found unknown escape character while parsing a quoted scalar at line 72 column 5413>`

Ruby version is 2.5.1.

[2018-07-11 14:13] CodingAnarchy commented on #1309
It appears to be the use of strings like `"6.1L V8 \'HEMI\' engine" - there shouldn't be the escape backslash on the quotes like that in YAML (or with double quoted strings in general).

[2018-07-11 14:14] CodingAnarchy commented on #1309
#1305 and #1301 seem to both be potential solutions to the issue. 😅

[2018-07-11 18:45] #1184 closed

[2018-07-11 19:41] stympy commented on #1280
The deprecation was removed in 35f4418d. This issue will be addressed in v2.

[2018-07-11 20:04] stympy commented on #1277
Faker 1.9.0 has been released.

[2018-07-11 20:04] #1277 closed

[2018-07-12 02:38] vbrazo commented on #1175
We released a new version today @kevgathuku

[2018-07-12 07:01] kevgathuku commented on #1175
Awesome! Thanks @vbrazo 😀

[2018-07-14 14:21] kevinchugh opened #1312 "name.md does not document title"
You can use name now to generate a job title, but it's not documented in https://github.com/stympy/faker/blob/master/doc/name.md

[2018-07-14 15:28] vbrazo commented on #1312
`Faker::Name.title_job` has been deprecated. Please use `Faker::Job`.

[2018-07-14 15:28] #1312 closed

[2018-07-14 15:48] kevinchugh commented on #1312
Thanks a lot.

On Sat, Jul 14, 2018, 11:28 AM Vitor <notifications@github.com> wrote:

[2018-07-19 02:54] #1186 closed

[2018-07-26 13:43] rpbaptist opened #1318 "Namespacing for clarity"
I like Faker because it's useful. I also like generating quotes over lorem ipsum. What detracts from the usefulnes of Faker is this:

- Faker::HarryPotter
- Faker::HeyArnold
- Faker::Hipster
- Faker::HitchhikersGuideToTheGalaxy
- Faker::Hobbit
- Faker::HowIMetYourMother
- Faker::IDNumber
- Faker::Internet
- Faker::Invoice
- Faker::Job
- Faker::Kpop
- Faker::LeagueOfLegends
- Faker::Lebowski
- Fake

[2018-07-26 14:35] stympy commented on #1318
I like your suggestion, though coming up with a taxonomy may be a challenge. :)

[2018-07-26 14:47] rpbaptist commented on #1318
Yes, I settled for `PopCulture` here, but I readily admit it's probably not the best fit. `Faker::References`? That's also not perfect. :man_shrugging:

[2018-07-28 20:11] fabriciofreitag opened #1322 "I18n::MissingTranslationData: translation missing: en.faker.vehicle.uniq"
[code]

[2018-07-28 20:22] fabriciofreitag commented on #1322
unique not uniq

[2018-07-28 20:22] #1322 closed

[2018-08-01 08:07] olingern opened #1323 "Locales shouldn't be enforced"
# Issue

This [LOC ](https://github.com/stympy/faker/blob/ad3856bd5424cc636aaefde5a96c8636da0b5d47/lib/faker.rb#L13) is causing our test suite to fail because of the fallback logic we have in place that specifically relies on locales not being enforced.

This gem shouldn't change environment settings that may affect test suites that rely on observing them in different states.

[2018-08-05 11:06] ndshendage opened #1325 "Not getting the data from the customized locale file"
Hello,

I am having problem while, i want a address of india i have set locale as "en-IND" and i have added the file locales/en-IND,yml now whatever data i have set in this file will i get this data.

 now faker is pulling address data from https://github.com/stympy/faker/blob/master/lib/locales/en-IND.yml this file.

Is there any way that i control this data so that faker will fetch address data

[2018-08-05 15:58] vbrazo opened #1326 "VAT Number"
We've closed 2 PRs related to VAT Number due to inactivity: https://github.com/stympy/faker/pull/61 https://github.com/stympy/faker/pull/120

If anyone wants to work on them, feel free to create a new branch and open a new PR.

[2018-08-06 01:59] shioyama commented on #1323
Just to echo: `I18n.enforce_available_locales`  is not something that a gem should be setting. It is a global that is intended to be configured based on the needs of the application.

Concretely: applications which use faker even only as a development dependency may be getting incorrect results from their specs because `I18n.enforce_available_locales` is `true` in dev mode but `false` in prod mode

[2018-08-06 14:25] arthursoas opened #1328 "Vehicle bug"
- Faker::Vehicle.make
- Faker::Vehicle.model

are with bugs. The message bellow is gave:

`/usr/local/bundle/gems/faker-1.8.7/lib/faker.rb:182:in `method_missing': undefined method `[]' for nil:NilClass (NoMethodError)`

[2018-08-08 15:58] stephendolan opened #1330 "Possibility of moving to YARD-style documentation in README"
I find some of the documentation and READMEs in this project relatively difficult to use. For example, in `Faker::Lorem`:

[code]

There's nothing here specifying what the `supplemental` parameter does, and there's also no solid indication in the examples. Visiting the code itself isn't any more helpful:

[code]

I ended up being able to most easily find the purpose of this parameter on [this GitH

[2018-08-08 23:33] eliduke opened #1331 "Encoding issue with names containing an ' (O'Conner, O'Hara, O'Keefe, etc)"
Hello Faker Community!

Long time listener, first time caller. I am having an issue with an RSpec test where `Faker::Name.last_name` _sometimes_ returns a name like O'Conner, O'Hara, O'Keefe and those are throwing occasional failures because of this diff:

```Archibald O'Keefe => Archibald O&#39;Keefe```

I'm not sure what the solution is, but I thought I'd post here first to see if this is a know

[2018-08-13 17:29] vbrazo commented on #1328
It looks like you're using the 1.8.7 and these methods were released in the newest version.

Take a look at this PR https://github.com/stympy/faker/pull/1260

[2018-08-13 17:29] #1328 closed

[2018-08-13 17:40] vbrazo commented on #1318
As the modules and methods grow, we'll definitely need to create taxonomy. I have to agree with @stympy the challenge would be defining a great taxonomy. Once we decide it, I think we could separate the changes in different releases, otherwise the number of deprecated warnings will be pretty disturbing.

[2018-08-13 17:43] vbrazo commented on #1318
`Faker::Lorem::Ipsum`, `Faker::Lorem::Flickr`, `Faker::Lorem::Pixel` looks good to me and could be a good starting point.

[2018-08-15 19:09] vbrazo commented on #1127
We've just merged the PR linked in this issue. Could you guys please check and see if we're not missing anything? If not, we could just close this issue.

[2018-08-15 19:10] vbrazo commented on #1118
We've changed the logic and are already using the `devmynd/faker-vehicle` logic as you suggested. Thanks @fabriciofreitag

[2018-08-15 19:10] #1118 closed

[2018-08-15 19:15] vbrazo commented on #1127
It looks like we've added the US and Brazilian license plates so far, but we're still missing the `EU` plates. Let me know if you @splashinn wanna knock this `.yml` out.

[2018-08-16 11:57] rajeevkannav opened #1333 "Faker::Number.leading_zero_number returns wrong output"
Using faker (1.9.1), assuming leading_zero_number will give a number 0 in starting but it never does so.

=> "7006401111"
[5] pry(main)> Faker::Number.leading_zero_number(10)
=> "4684365746"
[6] pry(main)> Faker::Number.leading_zero_number(10)
=> "4024944976"
[7] pry(main)> Faker::Number.leading_zero_number(10)
=> "7835858412"
[8] pry(main)> Faker::Number.leading_zero_number(10)
=> "9399794967"
[9

[2018-08-16 12:56] vbrazo commented on #1333
@rajeevkannav I tested locally and it actually worked

[code]
though according to the name of the method, I believe we should only be returning results with the leading zero number.

[2018-08-16 13:13] vbrazo commented on #1333
I just opened a PR starting a discuss about this issue. Please let me know what you think about the changes.

[2018-08-18 00:11] justinxreese commented on #1318
I came to the issues to see if anyone had brought this up and @rpbaptist came up with the same scheme I was going to suggest. I think a `PopCulture` namespace is a priority, the list is a bit overwhelming as-is and it's primarily because of these. @rpbaptist and I coming to the same conclusion independently speaks to it being a pretty good start to the taxonomy.

I thought `Faker::Community` would

[2018-08-18 15:23] philipfong opened #1339 "Reorganizing classes, specifically those referring to pop culture"
Are there any leanings towards reorganizing the library so that references to things like Rick and Morty and Overwatch fall under a PopCulture class instead?

[2018-08-18 16:04] stympy commented on #1339
Yes, see #1318

[2018-08-18 16:04] #1339 closed

[2018-08-20 21:31] #576 closed

[2018-08-23 14:33] #1333 closed

[2018-08-28 13:50] vbrazo commented on #1318
I created the first one: `Faker::Lorem::Ipsum`. Let me know your thoughts on that.

Feel free to work on `Faker::Lorem::Flickr` and `Faker::Lorem::Pixel`.

[2018-08-29 22:33] #1326 closed

[2018-09-03 13:01] shuboid commented on #1325
Any moderator here?? -  I would like to work on this issue, if this type of customisation is not allowed in faker currently. I would make it customisable to make user load their own YAML files.

[2018-09-03 18:55] softwaregravy commented on #274
At some point the behavior was updated to not add any random words to the end by default.

My PR updates the docs: https://github.com/stympy/faker/pull/1354

[2018-09-04 10:55] vbrazo opened #1356 "Version 2.0"
I'm opening this issue to say that we have a few pending PRs for version 2.0:

- https://github.com/stympy/faker/pull/605
- https://github.com/stympy/faker/pull/706
- https://github.com/stympy/faker/pull/742
- https://github.com/stympy/faker/pull/1349
- https://github.com/stympy/faker/pull/510

Let's keep them in mind when we release the new versions.

[2018-09-14 15:56] vbrazo commented on #1208
@thalesap you could work on this

[2018-09-14 16:30] vbrazo commented on #1208
I think `CPF` is like `SSN` and `ID` is like `RG` for us.

[2018-09-14 16:30] lucasqueiroz commented on #1208
Sure, both are really simple to implement

[2018-09-14 16:31] lucasqueiroz commented on #1208
I believe there is a base 10/11 method already, so wouldn't be too hard

[2018-09-18 02:36] #1323 closed

[2018-09-18 03:26] #458 closed

[2018-09-18 03:27] vbrazo commented on #558
@gkunwar I closed the PR due to inactivity. Do you want to work on it?

[2018-09-18 03:33] vbrazo commented on #352
Closing this issue because [Faker::Gender](https://github.com/stympy/faker/blob/master/doc/gender.md) was already released.

[2018-09-18 03:33] #352 closed

[2018-09-18 14:56] stephanebruckert opened #1369 "Faker::Number.number(6) gives Segmentation fault at 0x00"
I have a Rails app where I'm generating a PIN for my user

    current_user.update_column :pin_code, Faker::Number.number(6)

but I'm getting this:

[code]

It looks to me as I am using this function correctly? https://github.com/stympy/faker/blob/master/doc/number.md

Thanks for your help

[2018-09-18 15:03] vbrazo commented on #1369
Thanks for posting this issue.

Unfortunately I can't reproduce this bug locally. Could you provide a sample application for us?

[2018-09-18 15:09] vbrazo commented on #696
Closing this issue because it was already resolved by #744.

[2018-09-18 15:09] #696 closed

[2018-09-19 12:33] akashagarwal7 opened #1371 "Faker Deterministic Random across multiple systems"
Hi, first of all, thank you for this amazing gem. Unfortunately, I've run into an issue. In my project, I've set `Faker::Config.random = Random.new(77)`. While the randomness is the same every time for me on my computer and my peer's individually, the randomness is not mutually the same.

For instance, the randomness generated by `Faker::Number.number(1)` on my computer is 4, 5, 6; and on my peer'

[2018-09-19 13:40] akashagarwal7 commented on #1371
My bad, I didn't run pull the faker related changes on the remote machine. Everything works like a charm!

[2018-09-19 13:40] #1371 closed

[2018-09-27 00:44] vbrazo commented on #1318
I've just added `Faker::Lorem::Hipster` to the PR as well. We should be ok with Lorem namespaces.

[2018-09-27 13:00] ddavisgraphics opened #1376 "Educator doesn't seem to be working. Or my transaltions are not set."
```Users/user/.rvm/gems/ruby-2.3.0/gems/i18n-1.1.0/lib/i18n.rb:342:in `handle_exception': translation missing: en.faker.educator.subject (I18n::MissingTranslationData)
        from /Users/user/.rvm/gems/ruby-2.3.0/gems/i18n-1.1.0/lib/i18n.rb:188:in `translate'
        from /Users/user/.rvm/gems/ruby-2.3.0/gems/faker-1.9.1/lib/faker.rb:161:in `rescue in translate'
        from /Users/user/.rvm/gems

[2018-09-27 14:18] vbrazo commented on #1376
which version of faker are you using?

[2018-09-27 14:44] #1245 closed

[2018-09-27 14:46] vbrazo commented on #891
Could you be more specific about this issue? @marcosanfilippo

[2018-09-27 14:48] vbrazo commented on #891
I suppose you're talking about the `Faker::Address.latitude` and `Faker::Address.longitude`?

[2018-09-28 16:12] SpyMaster356 commented on #1330
YARD documentation is supported in RubyMine, and I think VS Code as support for it as well.

[2018-09-28 16:17] SpyMaster356 commented on #1318
Since there seems to be a lot of games and TV shows in the list, would `Faker::Tv::GameOfThrones` and `Faker::Games::Overwatch` work?

[2018-09-28 17:02] SpyMaster356 commented on #1318
Here's an attempt at trying to namespace the current list of modules:
[faker namespaces.txt](https://github.com/stympy/faker/files/2429059/faker.namespaces.txt)

[2018-09-29 12:24] dennym opened #1378 "Decimal with 1 digit left and 2 digits right"
`Faker::Number.decimal(1)` always returns `0.0X` So its its not possible to get a value like `5.22`
Is this supposed to be like this? Or do I miss something?

[2018-09-29 13:55] deivid-rodriguez commented on #828
@vbrazo This one was closed a while ago.

[2018-09-29 13:58] #828 closed

[2018-09-29 14:12] deivid-rodriguez commented on #822
@vbrazo This one can be closed too!

[2018-09-29 14:35] vbrazo commented on #1318
We also have [`Faker::Bitcoin`](https://github.com/stympy/faker/blob/master/doc/bitcoin.md), [`Faker::Ethereum`](https://github.com/stympy/faker/blob/master/doc/ethereum.md) and [`Faker::Tezos`](https://github.com/stympy/faker/blob/master/doc/tezos.md). They generate addresses, contracts and etc. They could be grouped in a module too.

Perhaps `Faker::Blockchain::Bitcoin`, `Faker::Blockchain::Ethe

[2018-09-29 14:52] vbrazo commented on #822
@deivid-rodriguez thanks 👍

I've been trying to take a look in the issues to close the ones that should have been closed but I sometimes get lost. We still have several issues 😆 (which is good. Who doesn't like solving problems here?) At least the number of PRs have decreased substantially. We had more 100 in May.

[2018-09-29 14:54] deivid-rodriguez commented on #822
It's also my fault for not adding "Fixes #<issue_number>" to the PR body :)

Thanks for the great work you've been doing!

[2018-09-29 15:03] vbrazo commented on #822
Actually thanks for the community who loves the gem and keeps pushing new PRs.

Adding `fixes` would be pretty awesome.

[2018-09-29 17:46] Startouf opened #1379 "Take into account test duration when generating random dates"
Often I'm running tests without freezing time, and I need to generate a "time between" `Time.now` and some arbitrary time in the future, and make sure that the randomly selected time will not become a past time given the time of execution of the test (otherwise the test will be flaky).

FOr instance

`Utility.some_range_between(Time.now, end_time)` to always generate a time that would be `future?`

[2018-10-01 13:46] jasonswett commented on #153
I must be doing something wrong but I still get this error with Faker 1.9.1.

[2018-10-01 13:47] jasonswett commented on #153
Ok yup, I'm dumb - it's not `Faker::Number(4)` but `Faker::Number.number(4)`.

[2018-10-01 20:18] stympy commented on #1379
It seems to me like you should be freezing time in your tests if your tests are time-sensitive, rather than pushing that concern down to Faker. Let me know if you think there are other use-cases for the functionality, though.

[2018-10-02 13:07] ryanhageman commented on #298
Is this still an issue?

[2018-10-02 14:43] dennym commented on #1378
Yeah I know. But try `Faker::Number.decimal(1, 3)` it will always zero in the leading position.

[2018-10-02 15:04] #298 closed

[2018-10-02 15:05] vbrazo commented on #298
no because we're not using rspec anymore @ryanhageman

[2018-10-02 16:32] oleksii-ti commented on #1378
`
irb(main):039:0> 15.times do
irb(main):040:1* puts  Faker::Number.decimal(1, 3)
irb(main):041:1> end
7.405
4.262
2.367
5.935
5.937
5.214
0.576
0.446
7.326
8.704
5.825
1.603
6.277
4.829
4.938
=> 15`

its my output with ruby 2.5

[2018-10-04 07:54] dennym commented on #1378
Can you try against github master? Because there seems to be something recently introduced that it doest work anymore

[code]

[2018-10-04 22:20] igas commented on #1331
Hi @eliduke,

I'm guessing you are using rails, in this case when you touch view it'll escape characters to prevent XSS.

[code]

I don't think it's a faker issue and my suggestion would be something like this:

[code]

[2018-10-06 15:02] #1378 closed

[2018-10-08 11:55] ddavisgraphics commented on #1376
@vbrazo Thanks.  Really enjoy the product, excellent work.

[2018-10-08 18:45] #891 closed

[2018-10-09 12:25] hisener opened #1388 "Add new Dutch first and last names"
The first name and last name counts are relatively small in [nl.yml](../blob/master/lib/locales/nl.yml). Maybe, we can extend the number of names.

We can use the following data sets,
for first names:
* https://github.com/MagicMau/DutchNameGenerator/blob/master/MarkovDutchNameGenerator/FirstNames.txt
* https://github.com/hgrif/dutch-names/blob/master/app/static/names.json

for last names:
* https:

[2018-10-10 09:54] hisener commented on #1388
@vbrazo just created a PR for that.

[2018-10-10 12:32] vbrazo commented on #1388
Awesome, thanks @hisener

Feel free to add more Dutch locations.

[2018-10-10 13:41] #1388 closed

[2018-10-11 11:28] deivid-rodriguez commented on #480
This was fixed by #1377.

[2018-10-11 11:29] deivid-rodriguez commented on #266
This was fixed by #1377.

[2018-10-11 11:53] #480 closed

[2018-10-15 16:10] pjohnmeyer commented on #437
I was looking into this and I don't think Faker is doing anything wrong to cause this issue.

The time Faker is generating here is unambiguous, as it includes the offset of `+0200`. Of course, when I run it I get a different offset, because under the hood `::Time.local` is used to generate the new time, which probably isn't ideal.

If you change `period_for_local(time)` to `period_for_utc(time.utc

[2018-10-15 16:17] pjohnmeyer commented on #1280
I would like to work on this but I don't see a v2 branch to target. Would it be okay if I made a PR for this anyway?

[2018-10-15 17:54] pjohnmeyer commented on #1280
Nice, thanks. I looked at the old PRs and I was going to suggest we do the following:

* Remove `period` completely from `Faker::Time::between` and make it behave more like `Faker::Date::between`, respecting the boundaries of `from` and `to`
* Add `Faker::Time::between_dates(from, to, period: :all, format = nil)` that will behave like the current method does, except that `:between` will no longer

[2018-10-15 18:47] pjohnmeyer commented on #63
I see this is pretty old, so I decided to take a look at it. Given:

* Ruby 1.9.3 is past end of life
* Currently Faker requires Ruby 2.3 according to the GemSpec
* I could not reproduce this issue with Ruby 2.5.1
* I could not reproduce this issue with Ruby 2.3.0

I'd suggest this should be closed.

[2018-10-15 18:47] #63 closed

[2018-10-15 18:59] stympy commented on #1280
I'm all for consistency :)

[2018-10-17 02:42] vrinek commented on #437
&nbsp;&nbsp;&nbsp;&nbsp;💭
🤔  (this is 3 years old, I haven't the faintest idea what it was about...)

---

Thanks for the explanation @pjohnmeyer. I'm perfectly fine with closing this issue.

[2018-10-18 13:11] boardfish commented on #1318
I support a lot of what @SpyMaster356 is going for – much of it makes sense. I attempted to right this myself in [this PR](https://github.com/stympy/faker/pull/1418), but I didn't check there was a PR open for it first of all. In the PR, @vbrazo suggests to make lots of smaller PRs for particular namespaces, and I agree that that's probably the best way to attack this to make things easier to revi

[2018-10-18 13:29] cjmz commented on #1318
I've got a namespaces suggestions, I've included those items that @vbrazo propose:

- Lorem:
    Faker::Lorem::Lorem
    Faker::Lorem::LoremFlickr
    Faker::Lorem::LoremPixel

- Personal
    Faker::Personal::Address
    Faker::Personal::FunnyName
    Faker::Personal::Name
    Faker::Personal::Nation
    Faker::Personal::PhoneNumber

- Type
    Faker::Type::Boolean
    Faker::Type::Number
    Fake

[2018-10-18 13:43] boardfish commented on #1318
I'm currently working on a PR to move `DragonBall`, `OnePiece` and `SwordArtOnline` into a `Faker::JapaneseMedia` namespace.

[2018-10-19 02:07] #1217 closed

[2018-10-19 19:21] #168 closed, assigned to nobody

[2018-10-20 11:18] AmrAdelKhalil commented on #558
@vbrazo , Hey I noticed this issue got a PR already and almost to be fixed, I added what is needed and updated the PR because it seems to be to old.
Check it and tell me your feedback, please.

[2018-10-21 14:03] SpyMaster356 commented on #1318
I'll have a look at creating the TV namespace

[2018-10-22 03:18] SpyMaster356 opened #1432 "test issue-please ignore"
I submitted a pull request that disappeared into the void. Just trying to figure out which issue id it should have. please ignore this issue.

[2018-10-22 03:18] #1432 closed

[2018-10-22 03:19] SpyMaster356 commented on #1318
Err... I submitted a pull request to create the TvShows namespace, but it disappeared. I got a unicorn error when I tried to submit it. It should be #1431 if it ever shows back up...

I'll wait till tomorrow evening then i'll submit another pull from another branch.

[2018-10-22 03:24] SpyMaster356 commented on #1318
I opened a pull request for the TvShows namespace, which should be #1431 but Github be glitchin out yo.

[2018-10-22 18:07] #558 closed

[2018-10-24 09:34] thisismydesign commented on #278
This is still an issue for me on `1.9.1` using `Faker::Beer.brand`. None of the above worked.

[2018-10-24 12:05] vbrazo commented on #278
@thisismydesign which ruby version were you using?

[2018-10-24 13:08] thisismydesign commented on #278
ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-linux]
Rails 5.2.1

[2018-10-24 23:45] jcohenho opened #1444 "Reorganize README.md and divide the content in "unreleased" and "latest version""

[2018-10-24 23:46] vbrazo commented on #1444
This namespace was released yet. Which Faker::Games module are you interested in using?

[2018-10-24 23:47] vbrazo commented on #1444
If you wanna use them, you need to point your gem path to the master branch @jcohenho

[2018-10-24 23:47] jcohenho commented on #1444
Ah I just realized that. Wow you're quick! Was trying to use the Faker::Games::HalfLife one. I'd like to stick to the versioned release so I'll find something else, thanks!

[2018-10-24 23:48] vbrazo commented on #1444
Try `Faker::HalfLife`

[2018-10-24 23:50] vbrazo commented on #1444
We added this namespace in this PR https://github.com/stympy/faker/pull/1412. Unfortunately our `README.md` has changes that aren't released yet. I'll try to find a way to reorganize the `README.md`. Maybe we could have two different `contents`:
- `unreleased content`:
- `latest version content`

[2018-10-24 23:51] vbrazo commented on #1444
Yeah. I was reviewing a PR in another private repo, that's why it was fast lol

[2018-10-24 23:58] vbrazo commented on #1444
@jcohenho sorry for the confusion. You're not the first to complain about this, that's why I opened the PR. Check the PR out and let me know what you think.

[2018-10-25 00:20] vbrazo commented on #1444
I tried to think a bit but I couldn't come with a good suggestion. We're going to release a new version soon, so this issue will disappear. I'll keep this problem in mind.

[2018-10-25 00:33] Michael-Overall commented on #1444
Would a possible improvement be as simple as adding a tag like [UNRELEASED] in the link text for each of you links in in README.md?

If you tell me what to look for in determining what is/isn't implemented, I can try to add these labels.

[2018-10-25 10:02] vbrazo commented on #1444
@Michael-Overall Here is the [list of all the versions](https://github.com/stympy/faker/releases). You should pull/copy the latest version and compare this version with the master branch to propose the suggested changes. When copying 1.9.1, you should have access to the old `README.md` and the doc files.

A couple of things before you start:
- Besides adding new Faker objects, we've been introduci

[2018-10-25 16:17] jcohenho commented on #1444
@vbrazo just want to let you know that `Faker::HalfLife` doesn't work either.

[2018-10-25 16:34] vbrazo commented on #1444
I agree that the `latest version` content should be in our `README.md`.

`Unreleased` could be in a separate file and we could advice contributors to update this `unreleased` content when adding/removing Faker objects. Otherwise when we release a new version of the gem, the owner will need to go there and update the `README.md`.

[2018-10-25 16:52] #1444 closed

[2018-10-25 16:54] vbrazo commented on #1444
@Michael-Overall @jcohenho I just fixed the issue. Now the `README.md` has the `v1.9.1` objects. No more confusion 🤣 🤣

We have a separate file for the unreleased objects. I'll let the contributors know that this file exists.

[2018-10-25 16:57] Michael-Overall commented on #1444
Noted. I was just about to write a lengthy comment trying to confirm where the most recent, the old, and the current documentation was supposed to come from, so @vbrazo saved us all from that 😆

[2018-10-31 19:06] #838 closed

[2018-11-08 12:55] noloman commented on #1114
can we please close this if it isn't an issue anymore? Thanks!

[2018-11-08 13:28] #1114 closed, assigned to nobody

[2018-11-09 05:49] qiuker521 opened #1467 "syreclabs.com/go/faker certificate has expired or is not yet valid"
package syreclabs.com/go/faker: unrecognized import path "syreclabs.com/go/faker" (https fetch: Get https://syreclabs.com/go/faker?go-get=1: x509: certificate has expired or is not yet valid)

[2018-11-09 05:50] qiuker521 commented on #1467
pure git clone :

fatal: unable to access 'http://syreclabs.com/go/faker/': SSL certificate problem: certificate has expired

[2018-11-09 05:51] qiuker521 commented on #1467
sorry sir， i issued to the wrong git repo.

[2018-11-09 05:51] #1467 closed

[2018-11-10 17:09] mvdamme commented on #278
Same for me, I get this error with `1.9.1` using `Faker::Educator.degree`.
Ruby version: ruby 2.4.0p0 (2016-12-24 revision 57164) [x86_64-linux]
Rails 5.1.5.

[2018-11-12 07:56] nomanurrehman opened #1472 "Incorrect length of Bank Account Number"
The method call `Faker::Bank.account_number(15)` returns an account number that is 14 digits long. Should it not be 15 digits long? Is this the intended behaviour?

I am happy to fix this and submit a pull request.

Thanks.

[2018-11-12 16:56] boardfish commented on #1318
`Faker::Esport` is a pretty glaring omission from the `Games` namespace, as are the following from these namespaces:

- `RuPaul` -> `TvShows`
- `MichaelScott` -> `TvShows`
- `Hobbit` -> `Movies`
- `HitchhikersGuideToTheGalaxy` -> `Movies`
- `HarryPotter` -> `Movies`

There's probably a few more in there. I also noticed the link to the `Avatar` documentation is broken in the README.

All that aside

[2018-11-12 17:05] vbrazo commented on #1318
I've just fixed the avatar link. Thanks for reporting 👍

[2018-11-12 17:08] vbrazo commented on #1318
I'd also add this one:

- `Faker::RockBand` => `Faker::Music::RockBand`

[2018-11-16 04:41] gkunwar commented on #1472
Great @nomanurrehman , Waiting your PR.

[2018-11-16 04:42] gkunwar commented on #1219
Hi @JonathanWThom how is the progress on this PR?

[2018-11-17 10:55] mrstebo opened #1479 "The Faker::Internet.ip_v4_address cannot output certain IP addresses"
From the code [here](https://github.com/stympy/faker/blob/master/lib/faker/default/internet.rb#L105) it looks as though we'll never get an IP like the one represented in the documentation for the `private_ip_v4_address` method (10.0.0.1). This is because it samples an array that ranges from `2..254`.

[2018-11-18 03:44] vbrazo commented on #1318
@boardfish done

[2018-11-18 05:36] JonathanWThom commented on #1219
Complete: https://github.com/stympy/faker/pull/1475

[2018-11-18 05:51] #1219 closed

[2018-11-20 08:58] TimThaler commented on #278
Hello we 're having  the same problem with this setup:
`rails 3.2.22.2, ruby 2.3.7,  faker 1.9.1`
In the Gemfile i tried gem 'faker' with and without `require: false`
Our default locale is `:de`. In `config/environments/test.rb` i specified `config.i18n.default_locale = :en`.
The setting of `Faker::Config.locale = :fr` in `spec_helper.rb ` is ignored.
[code]
How can i tell Faker to not try to tran

[2018-11-20 17:16] elena-vi opened #1482 "Include a note in the docs that some Dune characters are parsable as dates"
I was using faker in `Faker::Dune.character` in an rspec test as an invalid date string to test that an error get's thrown, but then discovered that `Thufir Hawat` is a parsable date. So maybe mention that in the Dune doc?

[code]

[2018-12-08 22:35] #1472 closed

[2018-12-11 15:14] nruth opened #1491 "Faker::Country ? / Faker::Address country data hobbled by setting a locale"
Faker::Address contains a whole bunch of info about countries, names, country codes.
But setting a locale fixes each method to a single value, matching the locale. That's fine for addresses, but stops someone who really wants a Faker::Country generator using it for that.

We can get round this with e.g.:

[code]

but it's not documented and seems like it'd be better presented and tested in a `Fake

[2018-12-13 15:32] vbrazo commented on #1491
Please check our [unreleased README](https://github.com/stympy/faker/blob/master/unreleased_README.md) to see the latest faker objects.

[2018-12-14 00:19] salexzee commented on #237
@princejoseph I don't think the method name is a reference to the type, its a reference to the content. The content returned is a number, its just not of type Number. Similar to other things, like if I want a name or book title, I'm not asking for something of type Name, I'm asking for the content to be a name and it comes back as a string.

But I do agree with @ski-climb that it would be reasonab

[2018-12-14 12:00] elena-vi commented on #1482
Oh agree, that test was most definitely not the best and since has been rewritten

[2018-12-14 13:14] richardbulger commented on #1194
All of your issues should be solved post processing:

- Space in last name: `irb(main):035:0> Faker::Name.first_name + " " + Faker::Name.last_name + " " + Faker::Name.last_name`
`=> "Lucio Schimmel Kovacek"`

- Lowercase last name: `irb(main):037:0> Faker::Name.last_name.downcase!`
`=> "christiansen"`

- Names with accents (arguable not English :) ): `irb(main):013:0> Faker::Name.last_name.sub!("e

[2018-12-14 14:36] richardbulger commented on #1318
I have just added #1493 for The Culture series books by Ian M. Banks, and was surprised to not see a `Books` or `Literature` namespace. `Dune` and `Lovecraft` are a couple that should also be in there. `Literature` would be broader, potentially encompassing things like `GreekPhilosophers` and `DcComics`
I would also argue that `Hobbit`, `HitchhikersGuideToTheGalaxy`, `HarryPotter` should be in the

[2018-12-16 18:59] #1479 closed

[2018-12-17 10:59] richardbulger commented on #1318
How does everyone feel with generators in multiple namespaces? eg:
Faker::Books::HarryPoter
Faker::Movies::HarryPoter

[2018-12-17 11:10] stympy commented on #1318
I do not like the idea of having generators in multiple namespaces.

[2018-12-21 16:26] pawankondavaty opened #1500 "undefined method `deep_symbolize_keys'"
I am getting the error "undefined method `deep_symbolize_keys' for #<Hash:0x54c622a7>" when trying to use the following

Faker::Internet.url
Faker::Book.title
Faker::Name.name

However I am not observing the error with
Faker::Time.backward(365)

My Environment:
jruby - 9.2.0.0
ruby 2.5.3p105
faker 1.9.1

[2018-12-26 19:51] pawankondavaty commented on #1500
I was able to trace the issue to an update in the dependency 'i18n' gem which has added couple of extensions to its usage of hash. I froze my gem i18n dependency to '1.1.1' to avoid this issue

[2019-01-01 00:58] justinxreese commented on #1318
Just noticed the RFC on the new README here https://github.com/stympy/faker/issues/1318?_pjax=%23js-repo-pjax-container#issuecomment-437877899

It's certainly better but still very overwhelming. I personally think the default name space should be reserved for some very basic things that we're all going to use day to day when coding. Then we can reach down into the modules when we want to have some

[2019-01-01 02:07] SpyMaster356 commented on #1318
A Quotes module sounds like a great idea, and it would move a fair amount of the clutter out of the default namespace. Though there are ones like Yoda that would fit better if they were merged into a larger module (ie. StarWars)

[2019-01-01 02:57] SpyMaster356 commented on #1318
I like the feel of having things in multiple expected places. i.e. if there is a quotes module, I would expect Yoda quotes to be in there as well as the StarWars module.

[2019-01-01 12:33] vbrazo commented on #1318
@justinxreese last week metrics

![screen shot 2019-01-01 at 10 31 41 am](https://user-images.githubusercontent.com/1292556/50572864-88adaf80-0db0-11e9-8ced-0b9e35e22182.png)

[2019-01-01 18:03] vbrazo commented on #1318
@justinxreese I just opened a new PR with the Quotes namespace. Let me know how it looks.

[2019-01-02 09:01] boardfish commented on #1318
@stympy I agree that having generators in multiple namespaces adds clutter, but if implementation was similar to @justinxreese's sample and we could clearly document 'child' modules, perhaps it'd be beneficial to users of the project.

[2019-01-02 10:20] SpyMaster356 commented on #1318
It would be a big help for modules like HarryPotter

[2019-01-02 18:25] akabiru opened #1505 "Look Up Faker Methods with the fakerbot gem 🔍"
Hello @stympy , and my fellow faker fans 👋

A couple of months ago, I built [fakerbot](https://github.com/akabiru/fakerbot), which is a CLI app that aims to make it easier to pick the right Faker methods at the comfort of the terminal.

I'm keen to know what your thoughts are on the tool, and if you have any ideas that could help make it more useful to people.

Thanks. 🙂

_Quick Demo_

[code]

![s

[2019-01-02 18:47] vbrazo commented on #1505
I like the idea!

[2019-01-02 22:02] akabiru commented on #1505
Thanks @vbrazo - please shout if you have any ideas/suggestions. 🙂 🙇

[2019-01-03 02:31] vbrazo commented on #1505
Any suggestions on how we could work together?

[2019-01-03 02:35] vbrazo commented on #1505
I started building this CLI https://github.com/stympy/faker/pull/1278 but I haven't finished it yet. It'd be cool if we could have this option as well.

[2019-01-03 16:44] CodingAnarchy opened #1506 "Breaking syntax error loading Star Wars YAML in 1.8.5"
Using 1.8.5 results in this error when Rails starts up:

[code]

Downgrading to 1.8.4 resolved the issue.

[2019-01-04 08:31] coorasse commented on #266
It doesn't seem like. If I use the latest version on master I obtain the following:
[code]

[2019-01-04 10:07] deivid-rodriguez commented on #266
Oops, sorry for the false notice then! :S

[2019-01-04 10:50] akabiru commented on #1505
Nice one, didn't know you had started work on a CLI for faker. To clarify, is your suggestion to incorporate `fakerbot` directly into `faker`?

[2019-01-04 13:04] richardbulger commented on #1506
Hi. It looks like this was fixed in the PR:  #1086

[2019-01-04 13:58] stympy commented on #1318
@boardfish @justinxreese Agreed. I'm on board with that approach.

[2019-01-04 14:01] stympy commented on #1505
@akabiru I like the idea of pulling fakerbot into faker, if you're interested in that.

I think it's cool. :)

[2019-01-04 14:06] akabiru commented on #1505
Hey @stympy , I think it would be cool to pull fakerbot into faker too! I'd be happy to take on that task if you and @vbrazo are happy. 🙂

[2019-01-04 14:15] stympy commented on #1505
That works for me, thanks!

[2019-01-05 01:39] #1506 closed

[2019-01-11 08:40] rlue opened #1510 "[DOCS] Can we separate generic and novelty generators in the README?"
I love the quirkiness of this library and its openness to pop culture references, but is there any way we could keep RickAndMorty separate from, say, Internet or Name in the README?

[2019-01-11 14:38] vbrazo commented on #1510
Duplicated issue. Please write your question here https://github.com/stympy/faker/issues/1318.

[2019-01-11 14:38] #1510 closed

[2019-01-12 02:09] lassiter opened #1511 "New Feature Faker::Finance"
Hey,

I'm about to start developing a Gem and it would be helpful if I could extend the Faker::Finance class to include stock info and some additional finance stats. I'd be adding data like tickers, corp name, and stock market.

i.e. AMZN:US NASDAQ GS Amazon.com Inc.

[2019-01-14 13:22] coorasse commented on #278
I placed it in
[code]

[2019-01-17 12:52] vbrazo commented on #1318
@justinxreese last week metrics

![screen shot 2019-01-17 at 10 51 10 am](https://user-images.githubusercontent.com/1292556/51320072-e515fd80-1a45-11e9-83ee-b25aeec342d0.png)

[2019-01-17 19:02] justinxreese commented on #1318
Looks like it stays pretty consistent, @vbrazo. Very much biographical info for people or companies. I'm assuming internet is mostly used for the email address. Often when I use Faker, I am just throwing stuff into a struct to make a thing that looks like a person.

Not sure what that means when it comes to the default namespace. Probably just that all of these ones should stay put?

[2019-01-22 18:36] #1500 closed

[2019-01-27 16:08] vbrazo commented on #1356
We need to deprecate the `Faker::Number.leading_zero_number` and `Faker::Number.decimal_part` before v2.0. They were removed in #510 and merged to the v2 branch.

[2019-01-27 16:30] vbrazo commented on #1318
@justinxreese last week metrics

![screen shot 2019-01-27 at 2 29 44 pm](https://user-images.githubusercontent.com/1292556/51803787-0f369f00-2240-11e9-95de-4a11a750db1b.png)

[2019-01-27 16:33] vbrazo commented on #1318
@justinxreese the impact of deprecating these popular faker object would be huge, so I'd prefer to keep them in the default namespace.

[2019-01-28 15:45] justinxreese commented on #1318
@vbrazo makes sense. The pain of it would outweigh any benefit.

[2019-01-30 00:34] cjmz commented on #1318
I opened a PR to add a namespace TvShows to SuperHero. This my first pull request in my life, so please, check it two times. :smile:

[2019-01-30 13:23] ekampp opened #1519 "Phone numbers in documentation are swapped"
The phone numbers in [the documentation](https://github.com/stympy/faker/blob/master/doc/v1.9.1/phone_number.md) are swapped around.

According to the documentation:

[code]

Bun in fact:

[code]

Ruby v. 2.5.1
Faker v. 1.9.1

[2019-01-30 17:59] stympy commented on #1519
The results are randomized based on the formats in the YAML file... the documentation sample results are just that: samples.

[2019-01-30 17:59] #1519 closed

[2019-01-30 20:33] ekampp commented on #1519
@stumpy, that makes sense. But the format is different. Not just the content.

[2019-01-30 20:38] stympy commented on #1519
Yes, that's by design: https://github.com/stympy/faker/blob/master/lib/locales/en/phone_number.yml

[2019-02-08 17:25] marcosvicente opened #1529 "Faker Gender in pt-BR"
I have a project in I have put the gender in portuguese. Anybody know how do this?

[2019-02-11 19:03] vbrazo commented on #1318
guys, @stympy and I just did a release with the namespaces.

Thanks for being these namespaces with us! 💥

[2019-02-11 19:21] SpyMaster356 commented on #1529
Locales are used to change the results of the generators. Check here for more information: https://github.com/stympy/faker/blob/master/lib/locales/README.md

Once you do get the Portuguese translations working, feel free to open a pull request.

[2019-02-11 19:31] SpyMaster356 commented on #1379
https://rubygems.org/gems/timecop is a good tool for testing with time, though some testing frameworks may get upset at it, so just use it where it's needed.

[2019-02-12 09:51] henrik opened #1533 ""undefined method `initialized?' for #<I18n::Backend::Chain…>" after 1.9.2"
After upgrading from 1.9.1 to 1.9.2 we got this error in CI. Seems to be the same error as #1078 that has resurfaced. Full backtrace:

[code]

[2019-02-12 10:10] vbrazo commented on #1533
@pjohnmeyer cc

[2019-02-12 11:01] nijikon opened #1534 "I18n.t with default not working as expected after custom backend chaining change"
After this change was introduced https://github.com/stympy/faker/pull/1389, the behavior changed for `default: ''` in `I18n.t`.

Expected behavior
[code]
Current behavior
[code]

[2019-02-12 11:58] vbrazo commented on #1534
@stympy I think we'll need to rollback this PR #1389 temporarily because this is the second issue about this PR. The first one is [here](https://github.com/stympy/faker/issues/1533).

[2019-02-12 12:16] #1533 closed

[2019-02-12 12:16] #1534 closed

[2019-02-12 13:23] pjohnmeyer commented on #1533
@vbrazo thanks for the cc. I’ll see if I have time to revisit this soon.

[2019-02-13 11:20] SirRawlins opened #1536 "Faker::Time returns inconsistent timezones"
Good morning folks. 😄

I've noticed today that `Faker::Time.backward` and `Faker::Time.forward` seem to generate timestamps with inconsistent, seemingly random timezones.

[code]

Notice how some of these are generated in +0000 and others in +0100.

This makes it a challenge to compare them against versions which have been saved to a database and normalized in UTC, as they're intermittently out by

[2019-02-13 16:12] stympy commented on #1536
Those methods use Time.local, so if you are in a time zone that observes daylight saving time, then the expected behavior would be to return times in a different time zone during the summer months.

[2019-02-13 16:12] #1536 closed

[2019-02-13 16:18] SirRawlins commented on #1536
@stympy that makes sense. I suspect for now then, I can wrap my tests to enforce UTC timezone rather than the systems GMT and it should be more consistent. 😄

Really appreciate the quick reply, Faker is one my favourite libraries, something I use every day, so I'd also like to say thanks to you for all your work. 👍

[2019-02-14 13:51] vbrazo commented on #1318
I just moved `Faker::Football` to `Faker::Sports::Football`.

We have `Faker::WorldCup`. What do you guys think about `Faker::Sports::WorldCup`?

[2019-02-14 13:52] SpyMaster356 commented on #1318
WorldCup for which sport? :P

[2019-02-14 14:07] justinxreese commented on #1318
I just checked out the new README and it's really much less intimidating now. Still some work to do but at a place where others will totally feel encouraged to contribute to the cleanliness. Great work.

I'm for `Faker::Sports::WorldCup` and not worried about the "which sport" problem because anyone wondering that will be already 90% of the way to their answer

[2019-02-14 14:09] SpyMaster356 commented on #1318
I think we should also make the distinction between American and European Football, as they are completely different sports.

`Faker::Sports::EuroFootball` and `Faker::Sports::UsaFootball`?

[2019-02-14 14:15] justinxreese commented on #1318
As an American football fan, I won't be offended if Europeans call dibs on "football" and it's `Sports::Football` and `Sports::AmericanFootball` 😂

[2019-02-14 14:16] SpyMaster356 opened #1539 "Split faker into multiple gems?"
Since we're Namespacing for clarity (#1318), this opens the opportunity to release a Faker-Lite gem, which could only include the absolute basic generators (e.g. just Address, Alphanumeric, Date, Lorem, Number,  Name, Time)

I imagine that there are a lot of projects that don't need to have the entire set of Faker generators for their tests/mockups/seeds and having a simplified stripped-down versi

[2019-02-14 14:26] SpyMaster356 commented on #1318
we could do `Faker::Sports::EuroFootball` (aliased to `::football`), and `Faker::Sports::AmericanFootball` or `Faker::Sports::UsaFootball`

[2019-02-14 14:30] richardbulger commented on #1318
"Soccer" is globally accepted as European football (even if we Brits scoff at it a bit).
`Faker::Sports::AmericanFootball` and `Faker::Sports::Soccer` seems tidier.

[2019-02-14 14:41] stympy commented on #1318
Being an American, my vote is for Sports::Football and Sports::Soccer :)

[2019-02-14 14:45] stympy commented on #1539
I'm not opposed... another option is to move namespaces into faker-* gems.

[2019-02-14 14:48] SpyMaster356 commented on #1539
I was also thinking the same thing, but I think it's nice having the full generator package available as the default. Gives developers an easier way to add some fun into their projects.

[2019-02-14 14:51] stympy commented on #1539
I agree that it's nice to have everything available by default, but it seems to me that the typical pattern of gem packaging is to have basename-* gems for extras rather than a basename-lite gem.

[2019-02-14 14:54] SpyMaster356 commented on #1539
If we do go that route, adding the `faker` gem could automatically pull in all the other 'official' plug-in gems and a `faker-core` gem, which would still allow for getting everything by default

[2019-02-14 14:55] stympy commented on #1539
Yeah, I like that idea.

[2019-02-14 14:58] SpyMaster356 commented on #1539
Though, it should be noted that splitting it up like that would break FakerBot #1505 though since, that's planned on being merged into here, we could do extra fancy stuff with it (eg. part of faker-core, and it can suggest plug-ins that aren't installed)

[2019-02-14 23:41] SpyMaster356 commented on #1511
Pull requests are always welcome! check [CONTRIBUTING.md](https://github.com/stympy/faker/blob/master/CONTRIBUTING.md) for how to get started!

[2019-02-14 23:45] stympy commented on #1511
@SpyMaster356 See https://github.com/stympy/faker/pull/1517 :)

[2019-02-15 03:07] SpyMaster356 commented on #1330
I've started to add YARD style docs. an example can be seen here: https://www.rubydoc.info/github/SpyMaster356/faker/382145/Faker/Blockchain/Bitcoin

[2019-02-15 03:13] SpyMaster356 commented on #1511
Note to self, check pull requests for already opened pull requests :P

[2019-02-15 03:45] vbrazo commented on #1539
I like the idea of splitting the namespaces in gems, because we can isolate responsibilities. How would we communicate this change in our `README.md`? What about starting by opening a PR to suggest the `README.md` changes and then we go from there?

[2019-02-15 04:23] connorshea commented on #532
How can you make this work in production when you don't install Faker? I get an error like `uninitialized constant GameProperties::Faker (NameError)`

[2019-02-15 12:12] stympy commented on #1330
I really like this. Who's willing to take up the challenge of converting all the docs? :)

[2019-02-15 12:36] stympy commented on #1539
I'll take a stab at this, but anybody else is welcome to give it a shot as well. :)

I'm thinking we could use this is a V2 effort, including [replacing the positional arguments with keyword arguments](#603), and [using YARD for documentation](#1330).

[2019-02-15 12:39] SpyMaster356 commented on #1539
#603 and #1330 (github apparently didn't like your links)

[2019-02-15 12:40] stympy commented on #1539
Edited :)

[2019-02-15 15:39] stephendolan commented on #1330
I don't think that there necessarily needs to be a conversion effort to move all of the documentation immediately, though that would certainly be the dream :).

I was more envisioning a discussion here about which YARD documentation elements should be required, how/where to go about documenting those in the CONTRIBUTING.md, and then how to go about enforcing those documentation requirements for ev

[2019-02-15 15:57] SpyMaster356 commented on #1330
I agree with that, we can ask existing/new pull requests that haven't been merged yet to include YARD doc blocks.

An full example would be:
[code]

[2019-02-15 16:00] SpyMaster356 commented on #1330
I know that YARD also allows for us to specify our own CSS for the documentation, so we could so some fancy things with that, but i haven't yet delved into that.

[2019-02-15 16:01] SpyMaster356 commented on #1539
We should probably rename this ticket to something a bit more descriptive.

[2019-02-15 16:21] stephendolan commented on #1330
A few comments on the proposed format provided by @SpyMaster356 :

1. `@param length [integer] Length of the string` should probably be `@param length [Integer] the length of the string` (note the lower case description and capitalized data type). Making explicit where we wish to depart from the style laid out in [the Tags documentation for YARD](https://github.com/lsegal/yard/blob/master/docs/Tag

[2019-02-15 16:40] SpyMaster356 commented on #1330
1. I didn't know there was a suggested format for tags. I think we should adhere to that as much as possible . However, when i was poking around with it, i was running into the issue where `[String]` was resolving to `Faker::String` instead of standard lib's `String`. Do you know if there is a way to force Yard to pick the standard lib one?

2. In the current markdown docs, there is often a line "

[2019-02-15 16:43] stephendolan commented on #1330
I'm not sure about the String resolution issue off the top of my head, but maybe prefixing it like `::String` would pull it out of the Faker namespace.

Everything else makes perfect sense to me and I agree with your approach, for whatever that's worth to the group :)

[2019-02-15 17:54] SpyMaster356 commented on #1330
So an updated example:
[code]

[2019-02-15 18:01] SpyMaster356 commented on #1330
One thing that we should discuss is the number of examples that are required.

A few ideas for that:
1. Require 1 example for each usage
2. Require 3 examples for each usage (unless it's always the same result, eg `Faker::Placeholdit.image`)
3. Require 3 examples for the primary usage, and 1 for each of the secondary usages

[2019-02-15 18:04] stympy commented on #1330
I'm fine with requiring just one example and encouraging examples for optional arguments.

[2019-02-15 18:04] stephendolan commented on #1330
I don't think anything more than 1 example showing the main use case should be required (of course, the more the better). The `@param` and `@return` tags should be detailed enough to inform users about the various uses on their own, and is where the focus should be placed during documentation review.

[2019-02-15 18:12] SpyMaster356 commented on #1330
For me, I think each usage should have at least one example, as that can speak more about what will be generated. But generally `@param` and the summary should be enough in most cases.

[2019-02-15 18:16] SpyMaster356 commented on #1330
Oh cool, Rubocop has a [documentation cop](https://github.com/rubocop-hq/rubocop/blob/master/config/default.yml#L3060), we could make use of that once all the methods are documented.

[2019-02-15 18:18] stephendolan commented on #1330
When utilizing YARD for documentation, I've found the `yard stats` command that comes with the gem to be very helpful as well. You can use some simple command line tools to ensure that your documentation percentage doesn't drop.

It seems like we've got enough of a start here to open up a pull request. Does it make sense to include these guidelines in CONTRIBUTING.md, or is it worth having somethi

[2019-02-15 18:26] SpyMaster356 commented on #1330
To me, having the new documentation style as part of CONTRIBUTING.md makes the most sense to me. And looking at the file, it actually doesn't mention documentation at all >.<

Adding the check to ensure that the documentation level doesn't drop (btw, currently sits at 7% excluding `lib/faker/deprecate`) would be good to have from the start.

Sounds good to you @stympy?

[2019-02-15 18:28] stympy commented on #1330
That works for me.

[2019-02-15 20:49] #355 closed

[2019-02-15 21:58] SpyMaster356 commented on #1330
@stephendolan i've already started a bit on my fork here: https://github.com/SpyMaster356/faker/tree/yard-powered-docs

[2019-02-15 22:21] stephendolan commented on #1330
Just so I'm clear @SpyMaster356 , are you submitting the initial pull request, or should I?

[2019-02-15 22:29] SpyMaster356 commented on #1330
We could work off of my fork as it's already got Yard added, and some basic setup done. Up to you, as you opened this thread.

On another note, using `::String` for the type didn't fix the name-spacing issue, and it looks like even YARD has a similar issue: https://www.rubydoc.info/gems/yard/String

[2019-02-18 14:06] #1529 closed

[2019-02-18 15:48] stympy commented on #1539
So here's my first stab at breaking faker up into multiple gems... first, there's the core gem that all the other faker-* gems will use:

https://github.com/ruby-faker/core

Here's the first of the faker-* gems:

https://github.com/ruby-faker/image

Perhaps the additional gems should also provide all the classes in a namespace. E.g., faker-image would have Faker::Image::Avatar instead of just Fake

[2019-02-18 18:56] vbrazo commented on #1539
Sounds like a lot of work to get done and I'm excited to help move things forward.

Is `faker-ruby` a new GitHub community?

[2019-02-18 18:57] vbrazo commented on #1539
I meant GitHub organization.

[2019-02-18 20:57] stympy commented on #1539
Yeah, it's a new org... I figured it made sense to use one if we are going to have a bunch of faker-related gems. That said, I'm not 100% convinced this is the way to go. :)

[2019-02-18 20:58] stympy commented on #1539
For instance, how would this work with namespace aliases, like comics and movies?

[2019-02-18 22:34] vbrazo commented on #1539
The organization idea is a great idea.

Regarding the namespace aliases, there are two possible solutions that I see right now:
- We should stop doing namespace aliases (I am not a big fan of namespace aliases)
- Have the same code in separate gems (sounds like we might have duplications?)

[2019-02-19 00:20] SpyMaster356 commented on #1539
We could have the faker-comics gem which would add everything from the Comics namespace to the top level. So in essence, the new gems would be our namespacing. Though what about generators like HarryPotter which depending on who you talk too would be in faker-movies or faker-books. Then again, that could just fall into faker-harry-potter.

[2019-02-19 00:22] SpyMaster356 commented on #1330
Should i open the pull request @stephendolan?

[2019-02-19 00:30] stephendolan commented on #1330
I'm happy to open one, @SpyMaster356 . It will just be the week of March 8th before I can devote the time to getting it done correctly. If we'd like to see progress before then, someone else will have to open the PR.

We've got a big release at work this week, followed by a big vacation for me :D.

[2019-02-19 01:16] SpyMaster356 commented on #1330
Have fun on the vacation. I'll open a PR for the stuff i have on my fork.

[2019-02-19 08:43] bruno-b-martins commented on #1539
Hey guys,
I feel it is a good idea to break it down into smaller parts. I'm in if you need/want help.
Still, I just have to ask:
- Doing this split adds complexity to the maintainability and for "users" to find what they want. Is it really worth it?

[2019-02-19 11:39] stympy commented on #1539
Yeah, this is my concern... having worked on it and thought about it over the weekend, I get the feeling it adds complication without much benefit.

[2019-02-19 12:44] SpyMaster356 commented on #1539
Aye. I really only see two things needed. Faker "Full" for developers who want all the generators, and faker "Light" for developers who just need the basics.

[2019-02-19 13:48] stympy commented on #1539
I'm not so convinced that is useful. Are people really struggling with the size of the gem or the number of generators in it?

If the problem is just the number of generators that are available, maybe it's as simple as curating the docs better? Perhaps in that case even namespaces are unnecessary?

[2019-02-20 02:25] vbrazo commented on #1539
is there a way to measure the use of these generators?

[2019-02-20 18:40] alexives commented on #278
Using I18n.reload! doesn't seem to fix it for me with rails 5.5.2, faker 1.9.3, rspec-core 3.8.0, and ruby 2.5.1

[2019-02-20 21:16] bruno-b-martins commented on #1539
Well, at best, I'd say that the original idea of having a "lite" or "core" version of this gem is nice.
People who only want the basic stuff (lorem ipsum texts, numbers, images, ...) could have them with the faker-core gem.
And people who want more costumized texts like Star Wars characters would install a faker-full gem.

I personally don't see any benefit in spliting faker in more than these two

[2019-02-20 22:47] stympy commented on #1539
I'm sorry, I don't see the benefit of splitting it even into two gems.

[2019-02-21 07:05] akabiru commented on #1539
Just catching up on the thread here- I'm afraid I have to agree, splitting the gem into namespaces seems to me like it would create more _complexity_ than it would solve. I'm not sure the size of the gem is a problem at present, plus, given most people run it on their test envs, it sounds sensible to have everything out of the box.

[2019-02-21 14:20] LuanGB opened #1546 "Improve tests pt-BR"
Most of the pt-BR tests (and the other ones, as well) are just checking for the return of the method to be a String.

Could add some regexes to match some cases, like check formatting of addresses, phone numbers, emails, and other formatted data.

Several cases could be repurposed to other languages as well.

[2019-02-21 14:27] SpyMaster356 commented on #1539
Aye, and for those who really do need just the basics can fork and strip out what they don't need.

[2019-02-21 14:27] #1539 closed

[2019-02-21 16:41] LuanGB opened #1547 "Add faker for other cryptocurrencies"
Some of the cryptos to implement could include but are not limited to:
Bitcoin Cash, Bitcoin Gold, Litecoin, Dash, Decred, XRP, MFT

[2019-02-21 18:20] #1546 closed

[2019-02-27 19:35] #1547 closed

[2019-02-28 16:41] boniattirodrigo commented on #469
@istumpf and I are working on this issue.

[2019-03-03 06:20] #1505 closed

[2019-03-05 07:23] przemyslaws-iRonin opened #1561 "Faker::Bank.routing_number sometimes generates routing number with wrong checksum"
Faker::Bank.routing_number allows to generate invalid routing number. Below I put results of small experiment:

[code]

[2019-03-07 13:27] richardbulger opened #1565 "Namespace missing in fakerbot search results"
![image](https://user-images.githubusercontent.com/5989831/53959537-cd6d0400-40db-11e9-9241-ab53bcf5bb78.png)

Gem built from latest master. Windows 10, ruby 2.4.4p296 (2018-03-28 revision 63013) and ruby 2.5.3p105 (2018-10-18 revision 65156)

Expecting to see full namespace at top of tree, ie Faker::PhoneNumber (as shown in #1507 )

[2019-03-07 16:04] richardbulger opened #1566 "Fakerbot not searching namespace"
Example1:
[code]

Note that the first result for `beer` returns nothing. But the second for `yeast`, which is a method of `beer` does. (Also note that the namespace name isn't shown in the result tree, which I've raised in #1565 )

Also, in the second result, you can see it also returns irrelevant results from the Shakespeare namespace. Not sure why.

Example2:
[code]
Doesn't return any simpons na

[2019-03-08 02:57] vbrazo commented on #1566
@akabiru

[2019-03-08 02:58] vbrazo commented on #1565
@akabiru ☝️

[2019-03-08 08:07] richardbulger commented on #1566
Example 2 is matching "simpsons" as the kpop method is split in 2 before comparison, "i" and "group". As such, it will match anything with an "i" in the search string:
[code]

[2019-03-09 08:25] akabiru commented on #1565
Thanks for reporting this @richardbulger - not sure why that's happening atm; I'll take a look. 👍

[2019-03-09 08:45] akabiru commented on #1566
Thanks for reporting this @richardbulger . This is actually an Open Issue on Fakerbot https://github.com/akabiru/fakerbot/issues/8 .

At the moment, search only matches against the method name parts -> https://github.com/stympy/faker/blob/master/lib/cli/reflectors/search.rb#L39-L42 I'm very open to suggestions on how we could improve the search algo. 🙂

[2019-03-12 18:18] akabiru commented on #1566
Hey folks, @jdcorley has been looking into this on https://github.com/akabiru/fakerbot/issues/8 - we're shifting the conversation here. 🙂

The list reflector actually builds a hash of faker constants and their methods via the `Reflectors::List#all_descendants_with_methods` method.

We could potentially search against that data store? i.e. match against the constant (key) and also the methods

![Sc

[2019-03-12 19:16] akabiru opened #1569 "Let `faker list` accept arguments"
### Description

_Migrated from_ https://github.com/akabiru/fakerbot/issues/20

At the moment running `faker list` will list out **all** Faker constants and the methods they respond to. This is cool and all but what if I just want to list `Faker::Internet`?

I should be able to run sth like `faker list internet` and this should list out the `Faker::Internet` class

The command should also support

[2019-03-13 09:20] richardbulger commented on #1566
Sounds good to me. I think it's valuable that it searches full namespace hierarchy (eg ```TvShows``` and ```BojackHorseman```) along with the methods.
I think it would be good if it lists the methods of the namespace in the results, also

[2019-03-14 10:29] dmathieu opened #1570 "Does DrWho really belong in TvShows?"
Hey,

While DrWho is mostly known for being a tv show, [it is a movie too](https://en.wikipedia.org/wiki/Doctor_Who_(film)).

So does it really belong in the `TvShow` namespace?
Should it be in both?

[2019-03-14 18:28] JustAHappyKid opened #1571 "Faker bombs out when no en.yml locale file is present (even if the file is unneeded)"
Invoking `Faker::Lorem.sentences` (and presumably other generators) [crashes](https://github.com/stympy/faker/files/2967928/faker-stack-trace.txt) when no `config/locales/` directory is present, as it looks for a non-existent `en.yml` (via the `i18n` gem).

When working on an app that need not be internationalized (and probably never will be, in this case), one shouldn't be required to keep around

[2019-03-18 10:50] petewalker opened #1576 "Namespace deprecation is causing breaking changes"
## Describe the bug
Your method of deprecation whilst moving generators out into namespaces is causing breaking changes when using methods like `unique`

## To Reproduce
[code]

## Expected behavior
A deprecation notice is raised, no errors:
[code]

## Additional context
Because you've moved these classes into modules, you're no longer inheriting from `Base`.

[2019-03-18 10:51] petewalker commented on #1318
Hi all, whilst I applaud the namespacing effort, the method you're using to deprecate is breaking backwards-compatibility. See #1576

[2019-03-18 12:48] stympy commented on #1318
Having had some time living with namespaces, I’m liking them less and less. I’m considering reverting the whole change.

[2019-03-18 13:05] SpyMaster356 commented on #1318
I think we should keep the namespacing as we have a huge number of generators (~160 !), and there are some cases where it's not exactly clear whats in each generator (as metioned by @justinxreese near the beginning of this issue).

We've already been sending out deprecation notices since the release of v1.9.2 (2019-02-11). I would expect that there would be a lot of annoyance from users if we reve

[2019-03-18 13:14] SpyMaster356 commented on #1570
Doctor Who, as far as I know, is primarly known for the TV Show. We want to try and limit how much we alias geneators to multiple namespaces, else we'll run into the same issue of having too much in the same space.

[2019-03-18 13:47] snood1205 opened #1577 "Faker::Base#regexify does not work with non-capturing groups or + repeat operator"
## Describe the bug
When using `Faker::Base#regexify` to generate strings based on a regex, this does not work with the `+` repeat operator or the `?:` non-capturing group syntax. Instead these are just treated as regular characters within the regex.

## To Reproduce
With regards to `+` an example would be such
[code]

And with regards to `?:`
[code]

## Expected behavior
For the regex with `+` (t

[2019-03-18 14:01] #1570 closed

[2019-03-18 14:35] stympy commented on #1318
That sounds like a +1 for releasing v2, which will plenty of backwards incompatibility, sooner rather than later. :)

[2019-03-18 16:04] #1576 closed

[2019-03-18 16:51] vbrazo commented on #1318
Namespaces are okay as far as we try to have good generators. I'd prefer to start thinking about the generators that aren't useful.

Contributors should explicitly tell us why they're adding a new generator by giving a use case in the PR description. I think we should add a GitHub template for the PRs and ask for that.

[2019-03-18 17:31] SpyMaster356 commented on #1318
Speaking of good generators, there are a few bad ones that have only one method in them (eg, Faker::Creature::Animal, Faker::Artist, Faker::TvShows::MichaelScott) We could merge some of these into other generators.

[2019-03-19 10:59] boardfish commented on #1318
@SpyMaster356 Perhaps single-method fakers could go back into the top-level generator, so we'd get `Faker::Creature.animal` and `Faker::TvShows.michael_scott_quote` for example? I can't really say this with full conviction as I get the feeling it's got caveats, but right now I can't think what those might be. Feel free to propose something else.

[2019-03-19 11:22] Jdcorley commented on #1566
@akabiru I’m very close to solving it haha I have the search including the namespaces now but now it’s just dumping all the namespaces during the search plus any methods that match the query. So I’m working on getting it to select the right namespaces to return relevant to the query.

[2019-03-19 11:43] akabiru commented on #1566
Awesome! Feel free to raise a Draft PR maybe we can help unblock that bit. 👍

[2019-03-19 19:53] comerio commented on #278
I tried all the ways without any success with rails (5.2.2), faker (1.9.3) and ruby 2.5.0.
Despite I configure `Faker::Config.locale` in a faker.rb, on every try the Faker tries to load `en.yml`.

[2019-04-03 21:20] ELI7VH commented on #237
Also running into this issue. Can we please get a fix? are PRs even being considered?

[2019-04-04 06:51] tejasbubane commented on #237
@ELI7VH My PR for this has been merged in V2 branch. Not sure when it will be released though.

[2019-04-06 15:51] zyrthofar opened #1596 "Null byte errors with postgresql"
## Describe the bug
I'm having an issue related to `Faker::String.random` when using a Postgresql database. The `pg` extension sometimes complains about null bytes in the string, and the test fails.

## To Reproduce
A Rails project using a Postgresql database, and a model with a `string` attribute.

In a rails console, after a `require 'faker'`,
[code]

Usually takes a few times, but the record cr

[2019-04-07 05:27] Zeragamba commented on #1596
I noticed this [issue in the rails repo](https://github.com/rails/rails/issues/26891) that sounds similar to your issue.

[2019-04-07 05:38] Zeragamba commented on #1571
i was unable to reproduce with the latest version of Faker outside of Rails, nor inside a freshly generated Rails 6.0.0.beta3 project (after removing the en.yml file).

What versions of Rails, Faker, and i18n do you have included?

[2019-04-09 11:51] zyrthofar commented on #1596
That does sound like the same issue, and no fault of Faker.

I was in fact wondering
* if `\u0000` had a place inside randomly-generated `Faker::String`s;
* if another faker generator would be interesting for user-provided strings; or
* if there is anything I can do to keep using `Faker::String`s without the `tr` hack described above.

The way I see this, user-provided strings cannot contain `\u00

[2019-04-09 11:57] stympy commented on #1596
Null bytes do show up in input strings in Rails apps... we see it regularly at Honeybadger. :)

[2019-04-10 21:38] zyrthofar commented on #1596
@stympy So I take it you don't use a postgresql database? What do you recommend I do in this situation? I'm about to use `Faker::Lorem` instead, or something that will only have "normal" characters.

[2019-04-10 23:22] stympy commented on #1596
I do... we escape that character in particular before inserting user strings into Postgres.

[2019-04-10 23:43] zyrthofar commented on #1596
Thank you for your time. I'll probably do something similar.

[2019-04-10 23:43] #1596 closed

[2019-04-11 19:36] pboling opened #1598 "Faker::Json.shallow_json raises FrozenError"
## Describe the bug
Faker::Json.shallow_json raises an error when using the future proof `# frozen_string_literal: true` magic.

## To Reproduce
Test File:
[code]
Run:
[code]

## Expected behavior
`Faker::Json.shallow_json` should return a string.

## Additional context
The example code was lifted from faker docs here:
https://github.com/stympy/faker/blob/master/doc/default/json.md

[2019-04-19 19:01] kevinburke commented on #1194
It seems like the point of using a library like this is sort of elided if you have to do post processing to get representative values.

[2019-04-19 19:21] stympy commented on #1194
Feel free to submit a PR. :)

[2019-04-21 19:56] softwaregravy opened #1601 "Brands and vendors for commerce"
I am considering adding the following to the commerce module

Brands. e.g. Nike, Addidas, Apple, Samsung
Vendors. e.g. Amazon, Dollar General, Walmart, Target

I would put this together and submit a pull request when I'm done. I just wanted to check that a) this didn't already exist and I just didn't find it and b) that this seemed like a good idea.

Thanks

[2019-04-26 21:52] DaKaZ commented on #278
Also seeing this with `Faker::Name.title` on Ruby 2.6.2
[code]

[2019-04-26 21:54] vbrazo commented on #278
@DaKaZ Faker doesn't provide `Faker::Name.title` anymore. It was deprecated last year and removed recently. Please use `Faker::Job`: https://github.com/stympy/faker/blob/master/doc/default/job.md.

[2019-04-26 22:00] DaKaZ commented on #278
@vbrazo ahhh, sorry, stupid user error ;) I didn't even think to check that the API had changed.  Thanks

[2019-05-02 08:45] coorasse commented on #266
I recently faced it again with `Faker::Name.last_name`

[2019-05-07 16:09] connorshea opened #1606 "Add Faker::Game"
**Is your feature request related to a problem? Please describe.**
I use custom Faker generators for my Rails app that's centered around video games. I think it'd make sense to have these generators in the official set.

**If you're adding new objects, please describe how you would use them**
I'd use them for generating fake data for my Rails seeds. You can see my current [`seeds.rb` file](https:/

[2019-05-07 18:13] Zeragamba commented on #1606
Feel free to open a PR with these new generators :)

[2019-05-08 02:22] connorshea commented on #1606
@Zeragamba done :) I skipped engines, companies, and series' for now.

[2019-05-09 03:50] tomlockwood opened #1609 "doc/tv_shows/stargate.md uses Star Trek in examples"
## Describe the bug
`doc/tv_shows/stargate.md` contains examples using Star Trek

## Additional context
How dare you.

[2019-05-09 07:16] aarona opened #1610 "Faker Deprecation Warnings showing up in Rails Console"
## Describe the bug
Faker deprecation warnings show up in Rails console when trying to autocomplete `DateTime.now.`

[code]

## To Reproduce
Should be easy to reproduce. Create a Rails application with Faker and run `rails c` then try to autocomplete `DateTime.now.` (to get `beginning_of_hour` method for example)

## Expected behavior
This shouldn't be happening or possibly the deprecation warning

[2019-05-10 02:34] #1598 closed

[2019-05-10 02:38] vbrazo commented on #1609
Please open a PR and propose the change @tomlockwood

[2019-05-10 07:25] tomlockwood commented on #1609
https://github.com/stympy/faker/pull/1611

[2019-05-10 14:57] #1609 closed

[2019-05-10 15:31] #1606 closed

[2019-05-14 13:37] sanderathiro opened #1614 "Method 'parse' of class Base ignores characters"
## Describe the bug
When using the parse method on a string with interpolation, starting woth constant characters, those characters are ignored.

## To Reproduce
For example, consider a file "nonsense.yml":
[code]
Calling `parse('nonsense.sentence')` returns "_Gordon_ has fleas." (cursive part varies, of course), thus dropping all characters before the first occurrence of string interpolation.

##

[2019-05-18 18:43] PeterMozesMerl opened #1616 "I18n.available_locales broken after upgrading rails"
### Intro
I ran into a locale related issue after upgrading Rails from 5.2.2 to 5.2.3 as well as selenium-webdriver, capybara, rspec and many gems to the latest version. I did not upgrade Faker. It has been 1.9.3 for ages. However, adding it to the Gemfile causes the issue while removing it solves it. Now I can reproduce the issue also with Rails 5.2.1 and 5.2.2.

### How to reproduce it

[code]

[2019-05-21 14:41] brianbegy opened #1618 "Phone number functions not available"
# Description:
Phone number functions return undefined method.  This is at odds with the documentation:  https://github.com/stympy/faker/blob/master/doc/default/phone_number.md

# Version

Ruby 2.5.1
Rails 5.2.0
Faker 1.9.1

from the gemfile.lock:
[code]

# Repro steps:

- open a rails console.

- set your locale:

`2.5.1 :010 >   Faker::Config.locale = 'en-US'`

- try to get a phone number:

[cod

[2019-05-21 14:49] stympy commented on #1618
Please upgrade to the latest version of Faker (1.9.3) to get this method.

[2019-05-21 14:49] #1618 closed

[2019-06-07 15:14] rmcsharry commented on #1610
These exact same warnings (ElderScrolls, Cat, Dog etc) show up when we run rspec tests.

[2019-06-08 13:07] SamuelCabralCruz opened #1624 "Feature::Internet.email specify domain name"
Hi,

I just started using your library. I was wondering if there were any possible way to generate email addresses while specifying the domain name. I saw that it is possible to specify the user name, but it could be nice to do the same with the domain name since many platforms will look for emails issued under a known domain.

Best regards,

[2019-06-08 13:33] stympy commented on #1624
Nope, the current code always returns a random domain.

[2019-06-15 00:23] mpoisot opened #1632 "LoremPixel service appears to be out of service"
The service powering LoremPixel images appears to be defunct. I've tried for a few days, zero response.

https://lorempixel.com/300/300 and https://lorempixel.com and http://lorempixel.com all give the same "This Site Can't Be Reached" message in Chrome (ERR_CONNECTION_REFUSED).

[2019-06-16 04:51] SamuelCabralCruz opened #1633 "Omniauth avatar url not randomized"
Would be nice to use something similar to Faker::Avatar.image to generate new avatar url for Faker::Omniauth.

[2019-06-18 07:18] mikong opened #1635 "Incorrect default values for optional arguments in Lorem Documentation"
The default values for `paragraph` is incorrect here:

[code]

It should be:

[code]

Also, the default values for `question` and `questions` is different so they should be separated. Currently:

[code]

It should be:

[code]

The example output should also be changed to reflect the correct defaults.

I'm currently working on the PR for this.

[2019-06-20 04:26] #1635 closed

[2019-06-20 05:26] vbrazo commented on #1576
@petewalker we've just released a new version and this issue should disappear. Thanks for reporting this issue!

[2019-06-20 05:28] vbrazo commented on #1576
btw `Faker::Dog.unique.name` is now `Faker::Creature::Dog.unique.name`

[2019-06-20 05:36] vbrazo commented on #1632
I'm able to access the page now. The website was probably down.

<img width="1440" alt="Screen Shot 2019-06-19 at 10 35 51 PM" src="https://user-images.githubusercontent.com/1292556/59823314-adf09480-92e2-11e9-82c9-efbb66960012.png">

Thanks for reporting! Closing the issue.

[2019-06-20 05:36] #1632 closed

[2019-06-20 12:24] serhiiperfectial commented on #499
Hi. I've faced this issue for cellPhone() method.
[code]
It's still generates phone numbers without country code in most of the cases.

[2019-06-20 15:08] vbrazo commented on #499
which faker version are you using? @serhiiperfectial could you provide a sample application?

[2019-06-20 15:12] vbrazo commented on #499
@serhiiperfectial Your piece of code isn't ruby. Are you sure that you're in the correct repo?

[2019-06-20 16:05] serhiiperfectial commented on #499
Yeah, sorry. It's Java code... and wrong project. Sorry. I'll direct my question to the one that I'm using.

Sorry again

[2019-06-20 19:04] xyingsoft opened #1638 "Solve Faker::UniqueGenerator::RetryLimitExceeded"
I have a lot of factories and specs, and get growing. I cannot use database cleaner for now because test environment uses fixtures to start. Now I faced the error `Faker::UniqueGenerator::RetryLimitExceeded` for unique string fields.

`Faker::Quote.unique.robin`

If we hit retry limit, then it should add random number at the end of string.

I solved this issue using `Faker::Quote.robin + Faker::Nu

[2019-06-21 14:25] #1638 closed

[2019-06-24 01:21] enowmbi opened #1641 "Adding quotes from the Bible and from Suits TV Series"
Adding quotes from the bible and from suites will meet someone's expectations.

[2019-06-24 22:01] myronmarston opened #1642 "Faker 1.9.4 has so many more dependencies than Faker 1.9.3."
Between Faker 1.9.3 and Faker 1.9.4, faker evolved from a small, light-weight library that I can add to new projects without thinking about it much to being a very, very large dependency that installs a ton of other gems.

When a project depends on faker 1.9.3, here's the set of gems that gets installed with the project:

[code]

Faker itself plus 2 dependencies.  A small number of dependencies.

[2019-06-24 22:59] stympy commented on #1642
Thanks for raising this issue, Myron! You make great points (both about dependencies, and the versioning), and I agree with them. :)

I'm not 100% sold on semver, but, in retrospect, adding the weight of the CLI with its dependencies was a bit much for a patch-level release. Sorry about that!

We have tossed around the idea of having a faker-core gem, and I'm still open to that option. I am also o

[2019-06-25 02:43] Zeragamba commented on #1642
I think the CLI would be better suited to a separate gem, as I don't think most users will use it. Also one of it's deps had an issue that was causing our test suite to fail unexpectedly.

[2019-06-25 06:23] myronmarston commented on #1642
I agree, although it's worth noting that it [started as a separate gem](https://rubygems.org/gems/fakerbot) so I wasn't sure if extracting it back to a separate gem was an option on the table.

[2019-06-26 03:36] vbrazo commented on #1642
I agree. Faker has lots of responsibilities and ideally we should isolate some of them. We started a discussion on this issue https://github.com/stympy/faker/issues/1539 a few months ago and I'd be glad to reopen the ticket.

Besides the CLI, we have namespaces. Here is a quick Faker diagram:

<img width="448" alt="faker-schema" src="https://user-images.githubusercontent.com/1292556/60149102-678ab

[2019-07-03 15:17] vbrazo commented on #1642
@stympy @myronmarston I'm starting to do some research and see how we can split the faker gem. I'll spend some time over the next days.

Here is the organization: https://github.com/faker-hq.

[2019-07-03 15:19] vbrazo commented on #1642
btw your issue has received 6 likes so far. This should be a good indicator.

[2019-07-04 08:59] #1642 closed

[2019-07-04 13:31] finchi commented on #1616
I've got the same problem.
Just upgraded an app from Rails 5.2.3 to rails 6.0.0rc. Since the upgrade all my tests are broken with
[code]

in my `application.rb` I've got `config.i18n.available_locales = [:'de-AT']`

[2019-07-04 19:51] vbrazo opened #1645 "Move stympy/faker to faker-ruby/faker"
**Is your feature request related to a problem? Please describe.**
We've recently created a new organization for the Faker Ruby gem. Our main goal is to separate some responsibilities by creating a few new gems for Faker. We'll start with `faker` and `faker-cli`.

Faker organization link: www.github.com/faker-ruby

**Additional context**
- We need to check all the links that point to this reposito

[2019-07-05 09:26] akabiru commented on #1642
Thanks for raising this issue @myronmarston , it is a valid concern. Apologies for the late response on my end (on vacation 🏖 ).

Repost of my thoughts: https://github.com/stympy/faker/pull/1507#discussion_r300607507

_"I think the move to a separate gem is the sensible approach. And allows users to _opt-in_ into using the gem._

_It did start as a [separate gem](https://github.com/akabiru/fakerbo

[2019-07-05 10:50] krisleech opened #1646 "CHANGLELOG not updated with 1.9.5 release"
Just a heads up that with 1.9.5 there is no entry in the CHANGELOG.

Incidentally I was happy to see that the new dependencies (tty, thor) have been reverted.

[2019-07-05 12:20] timwaldron opened #1647 "Incorrect mexico variable in address.yml"
In the file `/lib/locales/en/address.yml` at line 400 there is an incorrect key/value pair, it has `mexicoMX: ""` but I assume it should be: `mexico: "MX"`

[2019-07-05 17:11] vbrazo commented on #1647
It's definitely wrong. Please open a PR and propose the change. I'll review it. Thanks for reporting!

[2019-07-05 17:13] vbrazo commented on #1646
We actually have the changes here: https://github.com/stympy/faker/releases

I'm copying and pasting them to `CHANGELOG.md`.

Thank you! :)

[2019-07-05 17:13] #1646 closed

[2019-07-05 17:13] vbrazo commented on #1646
Regarding the dependencies, we work as a community, so feel free to suggest or complain whenever you're not feeling comfortable.

[2019-07-05 17:20] vbrazo commented on #1646
Done: https://github.com/stympy/faker/blob/master/CHANGELOG.md

[2019-07-06 03:27] bill-e-ghote opened #1648 "faker 1.9.5 has wrong version info (1.9.4) in version.rb and Gemfile.lock"
# grep '1\.9\.4' Gemfile.lock CHANGELOG.md lib/faker/version.rb
Gemfile.lock:    faker (1.9.4)
lib/faker/version.rb:  VERSION = '1.9.4'

[2019-07-06 06:22] vbrazo commented on #1648
Seriously? Will fix it.

[2019-07-06 06:22] #1648 closed

[2019-07-06 06:25] vbrazo commented on #1648
Fixed @bill-e-ghote

[2019-07-06 06:32] #1647 closed

[2019-07-06 16:12] anthonyamar opened #1650 "Faker::PhoneNumber return invalid french number starting by "07"."
## Describe the bug
The `Faker::PhoneNumber` lib, when `locale = "fr"`, return some invalid numbers starting by 07. Theses number are not attributed in the country so they pass as false when submit to `Phonelib.parse(cell_phone).valid?`.

## To Reproduce
[code]

## Expected behavior
Some ranges of number, as explained by Google, aren't valid because they were not attributed. Theses number shouldn'

[2019-07-06 21:20] vbrazo commented on #1569
Closing this issue and reopening it here https://github.com/faker-ruby/faker-cli/issues/20

[2019-07-06 21:20] #1569 closed

[2019-07-07 10:52] daxyq commented on #1614
It’s strange because it seems to be expected behavior. I could easily fix it but I’d like to know why the only thing one can put before string interpolation is either nothing or an opening paren.

[2019-07-09 09:01] krisleech commented on #1646
:+1: Thanks for all you work on this project.

Moving the CLI stuff to it's own gem was a great choice.

[2019-07-10 19:22] nathanhinchey opened #1655 "Deprecation warnings coming from within the library"
## Describe the bug
In version `1.9.6` calling `Numer::decimal` results in deprecation warnings, because `Number::decimal` uses `Number::decimal_part`.

Additionally, there is a bug in the deprecation warning where it is suggesting an empty string as a replacement. (Same steps to reproduce)

[code]

## To Reproduce
Use `Number::decimal` anywhere. I found it using `rake test`, but the easiest repro

[2019-07-10 19:31] nathanhinchey commented on #1655
Possibly related to https://github.com/stympy/faker/issues/1610 ?

[2019-07-10 20:18] vbrazo commented on #1655
This issue will be fixed in v2. Thanks for reporting.

[2019-07-10 21:13] rylanb commented on #1655
This is a little bit frustrating to see happen. I went searching for where I was possibly using Faker incorrectly, but it seems like you are warning yourselves? I can't see some actual CI output currently because I have 100+ lines of these deprecations.

Can this be turned off through a flag? When is v2 releasing if not?

Thanks for our work on the library! Use it all the time.

[2019-07-10 21:27] vbrazo commented on #1642
@myronmarston https://github.com/stympy/faker/pull/1653

[2019-07-10 21:37] vbrazo commented on #1655
@rylanb sorry about that! We'll remove all the deprecation warnings in v2.

I can commit myself to get the pending things done this weekend and publish v2.

[2019-07-10 21:39] rylanb commented on #1655
@vbrazo oh no worries. In the grand scheme of things, not a big deal. I was more concerned that it would be months before a v2 might come out. If its a couple weeks, not a big deal.

Thanks for responding!

[2019-07-18 14:15] lucaspiller opened #1657 "Use semantic versioning for future releases"
**Is your feature request related to a problem? Please describe.**

It would be great if Faker could use semantic versioning for future releases. Any breaking changes ("deprecations") should bump the major version number, so it's obvious to users that things may break. Then in my Gemfile I can specify (e.g.) `~> 1.9` to know that I will receive fixes for a specific version, but nothing will break.

[2019-07-19 02:01] vbrazo commented on #1657
@lucaspiller thanks for raising this issue! We've been discussing this internally and will come up with semantics for v2. I'd encourage you to open a PR and propose the semantics in our `contributing.md`, so other members can interact and increment.

[2019-07-19 19:35] RaymondFallon opened #1659 "FillMurray links are broken"
## Describe the bug
FillMurray images are no longer rendering

## To Reproduce
Try to fetch a link provided by `Faker::Fillmurray.image`

## Expected behavior
The link that is provider should return a beautiful image of a beautiful man.

## Additional context
It appears that the images have moved from `https://fillmurray.com/XXX/XXX` to `https://www.fillmurray.com/XXX/XXX`. So, the `www` needs to

[2019-07-20 06:00] RaymondFallon opened #1661 "Add Smallville Content"
Everyone I know has been clamoring for `Smallville` content to use in their apps.

[2019-07-21 13:05] lucasqueiroz commented on #1645
Not sure if it makes sense, but I started an API based on faker, never had time to really do anything besides a random endpoint, which receives the generator and the method, and the options for that method.
https://github.com/lucasqueiroz/faker-api

It could be used in other softwares like Postman (that's mainly the reason I started it).

[2019-07-23 03:03] connorshea commented on #1655
Is the solution for now just to wait, or is there a change that should be made if you're using the decimal method?

[2019-07-23 03:17] rylanb commented on #1655
@connorshea probably the easiest solution for now is to jump back before the deprecation was added (`~> 1.9.4`?). Have to wait for v2 to come out, I think?

[2019-07-23 03:20] connorshea commented on #1655
For now I'm just going to hack around it since I only have one call to the `decimal` method. It isn't pretty, but it does seem to work:

[code]

Hopefully that's useful to someone while we wait :P

[2019-07-24 02:43] #1659 closed

[2019-07-24 03:31] vbrazo commented on #1655
@connorshea it's going to be fixed in this PR https://github.com/stympy/faker/pull/1651. The change is [here](https://github.com/stympy/faker/pull/1651/files#diff-1661640be3d66dcec86fcc18458806d1R36).

[2019-07-24 04:01] vbrazo commented on #1655
Please feel free to review this PR. I need some eyes on it @rylanb @connorshea @nathanhinchey

[2019-07-24 20:19] CJAdeszko opened #1666 "Add Archer to Tv Shows"
**Type:** Feature Request

**About:** Have been using Faker in testing applications while learning web dev. Now learning about open source projects and wanted to contribute to the gem by adding Faker::TvShows::Archer with characters and quotes from the show.

[2019-07-26 13:27] soyrojo commented on #278
Any solutions to this 5 year old problem?

[2019-07-26 20:04] rylanb commented on #1655
@vbrazo I tried to review it but the context is beyond me. I think @nathanhinchey got you covered though!

[2019-07-26 20:16] vbrazo commented on #1655
@rylanb yeah! He did a good job. I still need to read that PR again and apply any necessary changes. I think we're getting pretty close.

[2019-07-28 03:48] CJAdeszko opened #1671 "Add User generator that accepts arguments"
**Type:** Feature Request

**About:** Rather than cobbling together a User object during development using individual Faker methods, it could be nice to have a generic user method that accepts arguments such as `name`, `id`, `email`, `username`, `password` and other common user attributes and returns an object with the desired attributes. Or if no arguments are provided, returns a default User obj

[2019-07-28 21:20] #1280 closed

[2019-07-29 15:19] supiash1 opened #1673 "Password generator with all the options enabled"
## Describe the bug
I have used the Faker:: Internet.password with all the options enabled, However, the mix case is not guaranteed all the time

## To Reproduce
`
2.4.2 :005 > Faker::Internet.password(8, 20, true, true) + rand(1..9).to_s
 => "^$J9O8H97"
2.4.2 :006 > Faker::Internet.password(8, 20, true, true) + rand(1..9).to_s
 => "%!^#**%%944"
2.4.2 :007 > Faker::Internet.password(8, 20, true, t

[2019-07-30 23:57] lucasqueiroz commented on #1673
I might be able to look at this today or tomorrow, as well as refactoring the Internet class.

[2019-07-31 06:58] #1356 closed

[2019-07-31 06:58] #1610 closed

[2019-07-31 06:58] #1655 closed

[2019-07-31 06:58] #1657 closed

[2019-07-31 15:36] crispinheneise opened #1674 "Faker Month Off-by-One Error when using I18n"
## Describe the bug
Faker's en.yml file doesn't include a `nil` value for the `month_names` array, which causes the months to be offset by one. This causes dates to be one month ahead when formatted.

## To Reproduce
Describe the steps to reproduce the behavior.

without Faker...
[code]
with faker...
[code]

This problem is also described in https://github.com/spree/spree/pull/2427

[2019-07-31 16:04] vbrazo commented on #1674
@crispinheneise thanks for reporting 👍

[2019-07-31 18:14] vbrazo commented on #1674
@crispinheneise @jutonz I know this can be a bit impactful, but I'd prefer to wait for other small bug fixes/minor enhancements before doing a minor release `2.1.0`. We could do that in a few weeks.

Let me know if anyone disagrees with me. If this becomes a real big issue, we can accelerate the process.

[2019-07-31 18:24] crispinheneise commented on #1674
It may not be an issue for some because Faker is typically not used in production. For me it was a breaking issue because every place where `I18n.l` was used began to display the wrong date, causing my test suite to fail.

[2019-07-31 18:58] gmmcal opened #1676 "Faker > 2.0.0 I18n overrides application I18n"
## Describe the bug
After updating Faker to version 2.0.0, a localized test began to fail. The code is quite simple and is available in the links below.

Code: https://github.com/gmmcal/gmmcal.com.br/blob/master/app/helpers/dates_helper.rb#L7
Test: https://github.com/gmmcal/gmmcal.com.br/blob/master/spec/backend/helpers/dates_helper_spec.rb#L16
I18n: https://github.com/gmmcal/gmmcal.com.br/blob/ma

[2019-07-31 19:09] gmmcal commented on #1676
I figured out the issue. It relies on the place I am doing `require 'faker'` in my `spec_helper`. This is specific of my application, so I'm closing this issue and no action is required.

[2019-07-31 19:09] #1676 closed

[2019-07-31 22:31] tconst commented on #1674
I found this after narrowing down the test suite failure to the `faker` gem update.  It's not particularly obvious why or where the failure is coming from so I imagine it would cause some frustration.

[2019-07-31 23:09] lucasqueiroz commented on #1671
Would this return a hash with the info or a data class with attributes for the data? I believe this would be a nice addition to some other classes as well, like Vehicle, where you could generate one with a random or fixed brand, and it returns a vehicle class with the brand, model, year, doors, license plate, etc

[2019-07-31 23:14] #1674 closed

[2019-07-31 23:25] vbrazo commented on #1674
I just did a small release. No frustration anymore. Let me know if you see anything else.

[2019-08-01 00:47] vbrazo commented on #1645
@stympy ping

[2019-08-01 01:58] crispinheneise commented on #1674
@tconst [Dependabot](https://dependabot.com/) to the rescue. Dependabot had opened several PRs today, but the only one that failed CI was the faker upgrade. From there it was pretty easy to narrow it down.

[2019-08-01 07:37] canhdinhvareal commented on #1666
Hi

[2019-08-01 07:39] dinhnguyencanh commented on #1673
.

[2019-08-01 12:32] Ex-Ark commented on #278
I am having the `I18n::MissingTranslationData (translation missing: en.faker)` in my test suite as well.

I run with `RSpec.config.order = :random` and sometimes the tests all pass, and sometimes they all fail due to faker running into missing translation error.
If I run with no random order, then I encounter no errors.

I isolated multiple seeds in which the tests all fail. I have no idea if this

[2019-08-01 12:49] soyrojo commented on #278
@stympy ping

[2019-08-04 23:56] vbrazo commented on #237
Closing since this issue was fixed in v2 https://github.com/stympy/faker/pull/1651 https://github.com/stympy/faker/pull/1664

[2019-08-04 23:56] #237 closed

[2019-08-05 14:29] stympy commented on #278
It would be helpful if someone could provide a sample app and info on the environment that can reliably reproduce this error.

[2019-08-05 14:38] stympy commented on #1645
The repo has been transferred to the new org

[2019-08-06 02:18] #1645 closed

[2019-08-08 09:58] Ex-Ark commented on #278
After some experimenting, I found for my case that it was the `enforce_available_locale` that was causing this.

I have only one available locale set in my rails app (:fr), so when Faker fallback to `:en` locale then it raises MissingTranslation because :en locale was not loaded in a first place :

When faker load its locales, the enforce available locale is defaulted to true by Rails if not set,

[2019-08-08 16:07] kachase opened #1681 "Create kenyan phone numbers"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**If you're adding new objects, please describe how you would use them**
A clear and concise description of examples that could be used with your new Faker methods.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or fe

[2019-08-08 16:10] #1681 closed

[2019-08-09 01:46] sergioro9 opened #1682 "Wrong number of arguments in IRB"
Faker version 2.1.0 is giving the error `wrong number of arguments` in IRB. This is what I do:

[code]
But if I specify the name of the argument the error is gone:

[code]

[2019-08-09 01:51] vbrazo commented on #1682
Yeah! V2 introduced keyword parameters, please check our docs out. Thanks 👍

[2019-08-09 01:51] #1682 closed

[2019-08-11 00:07] #1208 closed

[2019-08-11 00:07] vbrazo commented on #1208
thanks @lucasqueiroz

[2019-08-12 10:47] Mracobes9 opened #1687 "TypeError: expected numeric"
Hi. I tried to get time by following command ` Faker::Time.forward(days: 23, period: :morning)`, but i got error
[code]
Ruby version: 2.5.1
Rails version: 5.2.3

[2019-08-13 05:57] vbrazo commented on #1687
I tried to replicate this behaviour in a separate gem (using the same ruby version) and in a rails app (using the same ruby and rails versions) but I couldn't reproduce the behaviour. Could you please share with us a rails sample app?

[2019-08-14 05:18] sushant12 commented on #1687
I am getting the same error

[2019-08-14 05:39] sushant12 commented on #1687
@vbrazo  @Mracobes9

I debugged the issue. It turns out I was using faker 1.9.3 which had the following source code

[code]

but I was referring to the current doc on the master branch for using the api which is like

[code]

[2019-08-14 12:51] Mracobes9 commented on #1687
@vbrazo @sushant12
This problem caused in faker 1.9.3. I solved this problem by upgrading gem version

[2019-08-14 13:03] sushant12 commented on #1687
@Mracobes9  do close the issue if it is resolved :)

[2019-08-14 13:04] #1687 closed

[2019-08-14 23:30] lucasqueiroz commented on #1673
Sorry, I didn't have much time to work on this, I'm really busy this month, but I'll make sure to work on this if no one else sends a PR before.

[2019-08-15 16:07] bpleslie commented on #1673
@lucasqueiroz I’m taking a look at this. I’ll report back once I dig in a bit!

[2019-08-16 22:33] ohboyd opened #1691 "Can I help adding anything, or working on some bugs? I love this gem, and I'd like to contribute if possible."
Sorry if this is the wrong place to ask this question, but I wasn't sure the best way to go about helping. Thanks for making a great gem–I recommend it to everyone that hasn't heard of it.

[2019-08-17 08:04] mashedkeyboard opened #1692 "Using kwargs for methods that accept only one argument is inefficient"
Following on from a fair bit of noise in #1664.

Unfortunately, I think a lot of the people impacted by this aren't really involved in the development of faker, and so only came to the GitHub when this came up (after when the change was merged!)

That said, as mentioned in the PR discussion, things like `.words(3)` being turned into `.words(number: 3)` is only adding more syntax where less would d

[2019-08-19 17:58] oriahu opened #1693 "US Driver License per state"
Currently faker has driver license for british islands, but would also would like to generate license numbers for the united states as well, per state.

**If you're adding new objects, please describe how you would use them**
Here is my fork containing one commit that does what i am trying to do:
https://github.com/oriahu/faker/commit/41c0f66fca7463b18c5a3e59c12c45ef59bd081e

However, It is not fu

[2019-08-19 18:58] vbrazo commented on #1693
I think this idea is useful. Let's see other users/contributors say about your suggestion.

[2019-08-19 21:34] bpleslie commented on #1673
@lucasqueiroz PR is up! Let me know any feedback when you have a chance.

[2019-08-20 12:25] stympy commented on #1692
I agree with the proposal :)

[2019-08-20 13:10] acosonic opened #1697 "Console usage"
Seems like there is some ambiguity in rails console, some stuff works, and some does not...

Below is a full dump of code, self-explanatory

[code]

[2019-08-20 13:16] acosonic commented on #1697
More...

`rails console
Loading production environment (Rails 5.2.3)
2.6.3 :001 > I18n.locale
 => :fr
2.6.3 :002 > Faker::Internet.unique.username
Traceback (most recent call last):
I18n::MissingTranslationData (translation missing: en.faker.name.first_name)
2.6.3 :003 > I18n.config.locale
 => :fr
2.6.3 :004 > I18n.config.default_locale
 => :fr
2.6.3 :005 >
`

[2019-08-20 23:25] bpleslie commented on #1691
There are plenty of open issues and PRs that could use reviewing 😄

[2019-08-20 23:36] vbrazo commented on #1691
Yeah! I'd encourage you to take a look at the issues too. Docs always have a few typos and or need polishment.

[2019-08-20 23:36] #1691 closed

[2019-08-20 23:37] vbrazo commented on #1691
We also have a few interesting bugs to be solved. You should be able to find them in the issues.

[2019-08-20 23:40] vbrazo commented on #1697
Looks like we don't have this translation (`username:`) in our `fr.yml`. Please check [this file](https://github.com/faker-ruby/faker/blob/master/lib/locales/fr.yml) out and double check.

Feel free to submit a new PR with the missing locales. Locale contributions are ALWAYS welcome. Thanks.

[2019-08-20 23:48] vbrazo commented on #1697
Wait! Reopening this issue because I couldn't reproduce your bug in my console.

It's true that we don't have the french translation for `username`, though after reproducing what you described above, I got the english translation instead.

Could you share with us a sample app?

[2019-08-21 06:30] acosonic commented on #1697
It is not loading .yml files from faker's lib/locale

I had the same problem with english, and I'm using Redmine, eventually what worked for me, is having stuff from en folder appended to en.yml file in Redmine's /config/locale/en.yml

And removing en: and leaving only one faker: then nesting other translations below it, then it worked properly...

But the conclusion is it's not loading .yml files

[2019-08-21 20:47] brenttheisen opened #1700 "Thread safety"
It appears as though every method defined in this gem is intended to be called as a class method, not an instance method. Of course these class methods often modify class variables which makes it impossible to use this gem in a thread safe way without locking threads.

Was the decision made to sacrifice thread safety in order to call methods easily on classes? Were there any other reasons why thre

[2019-08-21 22:18] Zeragamba commented on #1700
I don't think there are any places that modify values and everything should be deterministic. Can you point out some example on where the thread safety breaks down?

[2019-08-22 04:30] brenttheisen commented on #1700
@Zeragamba: I need to call `Faker::Config.random=` to set an instance of `Random` that is seeded with different values in different threads. That method is a class method that alters a class variable so there is no way to do this in a thread safe way. Is there such a thing as instances of the `Faker::*` classes?

Here's a reproduction script...
[code]

And here's a run where it reproduced...

[cod

[2019-08-23 23:34] bpleslie commented on #1566
We should be able to close this issue. Resolved in https://github.com/faker-ruby/faker-bot/pull/38

[2019-08-24 02:37] #1566 closed

[2019-08-25 23:15] ianlet opened #1705 "`Faker::Number.number(digits: 1)` always returns `0`"
## Describe the bug
`Faker::Number.number(digits: 1)` always returns `0`

## Expected behavior
I was expecting this function to generate numbers from 0 to 9 included. Was it really the intended behavior to always return `0`?

## Additional Context
See this: https://github.com/faker-ruby/faker/blob/master/lib/faker/default/number.rb#L8

[2019-08-28 17:09] usernamenumber opened #1708 "`I18n::MissingTranslationData` from `Faker::Space.location`"
This may be related to #278, but what I'm seeing is different enough that I'm creating a separate Issue.

[code]

I also changed the faker reference in my Gemfile to `gem 'faker', :require=>false`, per suggestions from a stack overflow thread I found, but it had no effect.

[2019-08-28 19:08] lucasqueiroz opened #1709 "Include new Brazilian license plate style"
We currently have the Brazilian license plate generator, but it uses the old license plate style (`???-####`).
Although the old license plates are still valid, I believe some test cases should include the new style (According to [this page](https://pt.wikipedia.org/wiki/Placas_de_identifica%C3%A7%C3%A3o_de_ve%C3%ADculos_no_Mercosul#Implanta%C3%A7%C3%A3o) and [this document](https://www.legisweb.co

[2019-08-29 16:11] abnersajr commented on #1709
Added on the #1711 PR. Waiting for merge.

[2019-08-29 17:48] bpleslie commented on #1089
I think this can be closed now 👍

[2019-08-29 17:49] bpleslie commented on #1027
I think this can be closed now 👍

[2019-08-29 17:50] bpleslie commented on #699
I think this can be closed now 👍

[2019-08-29 17:51] bpleslie commented on #603
This has been implemented. I think this can be closed now 👍

[2019-08-29 17:52] bpleslie commented on #594
I think this can be closed now 👍

[2019-08-29 17:58] jonny5 commented on #1027
Cool, looks like this was implemented!

[2019-08-29 17:58] #1027 closed

[2019-08-29 19:05] ianlet commented on #1705
I fixed the issue and it caused another [test](https://github.com/faker-ruby/faker/blob/master/test/faker/default/test_faker_number.rb#L119) to fail. But, I'm not sure to understand what's the purpose of that test:
[code]

Any idea what behavior this test is trying to verify?

[2019-08-29 20:04] ianlet commented on #1705
Nevermind, the test is waaay older than the changes in `number`

[2019-08-30 07:27] Calamari opened #1713 "Change log version links don't work"
Ok, that's not really a bug in the faker core code, more something meta, but still :slightly_smiling_face: :

## Describe the bug
The links on the version numbers don't work. They lead to a simple page saying: "not found."

## To Reproduce
Go to change log and click `v2.2.0`

## Expected behavior
To lead to the version tag.

## Additional context
The link on `v2.2.0` is https://github.com/stympy/f

[2019-08-30 10:29] linkyndy opened #1714 "2.2.0 triggers deprecation warnings from...inside the gem"
## Describe the bug
Trying to update the gem to 2.2.0 and we get a lot of deprecation warnings from inside the gem:

[code]

We've spend a significant amount of time trying to fix all these warnings, which also translated to errors in some places (which is highly unsual for a minor gem update). Now we're seeing warnings coming from the gem itself. I would recommend being a bit more careful when re

[2019-08-30 17:30] vbrazo commented on #1714
@koic

[2019-08-30 18:31] vbrazo commented on #1714
@linkyndy which version were you using before? < 2?

[2019-08-30 22:13] linkyndy commented on #1714
We had 1.9.3.

[2019-08-31 05:27] vbrazo commented on #1714
We knew that switching from positional parameters to keywords parameters would be painful, but we believed that keyword parameters would help us by providing self documentation.

We also changed the `Faker::Number` generator and make it start returning `integer` instead of `string`.

Thanks for raising this issue. We've received other pieces of feedback, consider all of them and are always happy t

[2019-08-31 05:27] #1714 closed

[2019-08-31 05:30] #1705 closed

[2019-08-31 05:48] #1713 closed

[2019-08-31 07:56] #594 closed

[2019-08-31 09:39] tarellel commented on #1708
As @lucasqueiroz mentioned [space](https://github.com/faker-ruby/faker/blob/master/doc/default/space.md) doesn't include a location reference.
I haven't really dug into the code to verify this, but to me it appears that the script is trying to pull the locales data `Space[:location]` before even validating that even exists.

[2019-08-31 15:01] bpleslie commented on #39
I think this can be closed now.

[2019-08-31 15:02] bpleslie commented on #270
I think this can be closed 👍

[2019-08-31 15:03] bpleslie commented on #274
I think this can be closed 👍

[2019-08-31 15:05] bpleslie commented on #283
I think this can be closed 👍

[2019-08-31 15:09] bpleslie commented on #339
We *do* have a link to the RubyGems page in the README. Maybe the API Docs link could be added there as well 🤔

[2019-08-31 18:33] #283 closed

[2019-08-31 18:33] #274 closed

[2019-08-31 18:33] #603 closed

[2019-08-31 18:33] vbrazo commented on #603
True. Thanks 👍

[2019-08-31 18:34] #270 closed

[2019-08-31 18:34] #1089 closed

[2019-08-31 18:34] #699 closed

[2019-08-31 18:34] vbrazo commented on #1027
👍

[2019-09-02 08:11] koic commented on #1714
FYI, I created RuboCop Faker gem.
https://github.com/koic/rubocop-faker

The following command can be used to check and auto-correct the Faker 2 argument style.

Check positional argument style before Faker 2.

[code]

Auto-correction to keyword argument style on Faker 2.

[code]

This is the approach that factory_bot used to change APIs. The migration command was displayed with a deprecation warn

[2019-09-02 19:15] vbrazo commented on #1709
🇧🇷

[2019-09-05 12:28] bergbergs opened #1725 "Faker::Football doc in README.md: page not found"
## Describe the bug
Under the heading "Default", the link [Faker::Football](https://github.com/faker-ruby/faker/blob/master/doc/default/football.md) leads to a 404 page.

## To Reproduce
* Open README.md
* Navigate to [Faker::Football](https://github.com/faker-ruby/faker/blob/master/doc/default/football.md)
* Observe Github 404 page.

## Expected behavior
* I am directed to the documentation for t

[2019-09-05 14:58] lucasqueiroz commented on #1725
Nice catch.
The `Footbal` link is pointing to `https://github.com/faker-ruby/faker/blob/master/doc/default/football.md` when it should be pointing to `https://github.com/faker-ruby/faker/blob/master/doc/sports/football.md`.
I will open a PR.

[2019-09-10 02:24] #1725 closed

[2019-09-11 02:46] #1330 closed

[2019-09-14 19:21] AmrAdelKhalil commented on #1671
Hi, I was passing by and I found this one, I noticed @ashishra0 started working on it but he closed the PR, So is there any problem working on it? I've came up with a solution to this new one, Check it please.

[2019-09-14 19:26] ashishra0 commented on #1671
@AmrAdelKhalil Hey, I had to close that issue because apparently the author had just changed the file structure moments before I came up with a solution. So i had to delete the branch I was working on and pull the fresh changes and start working again.

[2019-09-14 19:27] ashishra0 commented on #1671
@AmrAdelKhalil The issue is still open, I had created a new PR for it #1730

[2019-09-14 22:23] vbrazo opened #1745 "Move Faker::TvShows namespace to faker-ruby/faker-tv_shows"
**Is your feature request related to a problem? Please describe.**
Faker is currently handling a lot of responsibilities due to the big number of generators.

**Describe alternatives you've considered**
One of our ideas was to isolate the namespaces inside their own repositories. The first attempt/test could be moving the `TvShows` namespace to `faker-ruby/faker-tv_shows`.

Faker doesn't support p

[2019-09-15 09:51] AmrAdelKhalil commented on #1671
Hey @vbrazo,
it looks like there are two PRs for the same feature as I guess, both #1730 and #1744 are solving the same request, @ashishra0 started it already and made a PR. So, I could close my PR in this case.

[2019-09-15 10:42] ashishra0 commented on #1671
@AmrAdelKhalil Appreciate it mate! Cheers 👍🏻

[2019-09-15 18:56] connorshea opened #1746 "Add a method for generating a date in a given year to Faker::Date"
**Is your feature request related to a problem? Please describe.**
I have a scope in my Rails app that filters video games based on their release year. I'd like to use Faker to generate a random date in a given year for my tests.

**Describe alternatives you've considered**

I know I can pretty much get this functionality using `between`, but it's not very convenient.

[code]

I don't know if `in_

[2019-09-17 06:48] olleolleolle commented on #1231
Fixed in #1249 - thanks @kamilbielawski and @vbrazo for doing this.

[2019-09-17 06:48] #1231 closed

[2019-09-17 08:19] olleolleolle commented on #1624
Hi!

I'm a happy user of Faker.

I'd like to also request the `domain` keyword argument to the `Faker::Internet.email` method.

[2019-09-19 17:41] AmrAdelKhalil commented on #1746
@vbrazo Hi, Can I work on this one?

[2019-09-19 17:53] Zeragamba commented on #1746
Feel free to open a PR when you have a fix :)

[2019-09-21 19:25] connorshea opened #1760 "Deprecate `celebrity` methods in favor of `actor`"
A lot of the TvShows/Movies fakers have an `actor` method, e.g. [Ghostbusters](https://github.com/faker-ruby/faker/blob/a2c788782b02f5ebff684a17f7fb9afcdb146445/lib/faker/movies/ghostbusters.rb#L16), but two ([Buffy](https://github.com/faker-ruby/faker/blob/a2c788782b02f5ebff684a17f7fb9afcdb146445/lib/faker/tv_shows/buffy.rb#L17) and [Fresh Prince](https://github.com/faker-ruby/faker/blob/a2c78878

[2019-09-21 19:27] connorshea commented on #1760
Oh, and for some reason Star Wars [has plural methods that return all the options from a given faker](https://github.com/faker-ruby/faker/blob/a2c788782b02f5ebff684a17f7fb9afcdb146445/lib/faker/movies/star_wars.rb#L164). Is that intentional or are those supposed to be private?

[2019-09-21 20:17] connorshea opened #1762 "Complete YARD docs"
Here are all the Faker classes that have been updated with YARD docs/need to be updated:

- [x] Blockchain
  - [x] Aeternity (#1742)
  - [x] Bitcoin (#1553)
  - [x] Ethereum (#1553)
  - [x] Tezos (#1553)
- [x] Books
  - [x] Book (#1553)
  - [x] Culture (#1553) - Still needs descriptions for the YARD docs.
  - [x] Dune (#1553)
  - [x] Lovecraft (#1553)
- [x] Creature
  - [x] Animal (#1553)
  - [x]

[2019-09-21 20:25] Zeragamba commented on #1762
[Oh, I love checklists!](https://66.media.tumblr.com/7e8a9e0fc0ecc9815bcca68fbf858842/tumblr_inline_oneez8Wq791skpclr_400.gif)

[2019-09-22 17:32] vbrazo commented on #1692
@mashedkeyboard it makes sense to me. Feel free to work on that.

[2019-09-29 19:31] connorshea opened #1765 "Faker::Address.city accepts an option that errors"
## Describe the bug
The `Faker::Address.city` method accepts an option that doesn't seem to work correctly right now.

This line is what leads me to believe this option exists: https://github.com/faker-ruby/faker/blob/71fe3a6dee4a3b1c20d51970ce8f52752f4d48b3/lib/faker/default/address.rb#L13

## To Reproduce
- Open a Faker console with `rake console`
- Run `Faker::Address.city(options: { with_state

[2019-09-29 20:49] mbaev opened #1770 "Password can't be generated less than 2 symbols without enabled `mix_case`"
## Describe the bug
With the newly introduced keyworkd arguments for password generation it looks in able to be used like that:
[code]
Well, this is a good improvement! Thanks!
But it doesn't work and moreover I found one regression: now it's not possible to generate password less than 3 symbols if argument `mix_case` isn't provided.

[code]
...and one more case:
[code]

These cases are related to

[2019-10-02 16:03] iagomoreira commented on #1770
I think the mix_case is definitely a bug, but the other issue you mentioned seems almost an expected behavior because the default value for `min_length` is **8**, so the fact that `max_length` is 3 (or any other number smaller than 8) should have that weird behavior, unless you specifically set the `min` and `max` lengths.

I don't know how the maintainers would like to proceed with this.

[2019-10-03 18:43] mathisto commented on #1760
Not sure if the naming decisions were made based on the ambiguity of gender in actor/actress. Celebrity is neutral. Thoughts?

[2019-10-03 22:28] YourSouLi5Mine opened #1788 "Number with argument not working"
## Describe the bug

`Faker::Number` is broken in all methods when using an argument

## To Reproduce

Any `Faker::Number` method with args (e.g.)

`Faker::Number.number(digits: 10)`
`Faker::Number.within(range: 1..10)`
`Faker::Number.between(from: 1, to: 10)`

## Expected behavior

To return what the documentation dictates

## Additional context

Using `faker 1.9.3`. It may be an outdated gem and

[2019-10-04 00:56] connorshea commented on #1788
@YourSouLi5Mine you can look at the docs for 1.9 here: https://github.com/faker-ruby/faker/blob/v1.9.4/doc/default/number.md

2.0 deprecated arguments without keywords, but 1.9 never supported the keyword versions. I’d definitely recommend upgrading, there’s a rubocop plugin that can even do most of it for you :)

[2019-10-04 05:01] ashishra0 commented on #1762
Hey @connorshea
Can you please update the checklist? It would be very helpful.
Cheers

[2019-10-06 03:28] lucasqueiroz opened #1795 "Include new Overwatch heroes, locations and quotes"
**Is your feature request related to a problem? Please describe.**
Overwatch locale is outdated.

**Additional context**
Some of Overwatch heroes, locations and quotes are not included in the locale file.

[2019-10-06 03:34] lucasqueiroz opened #1796 "Add Minecraft generators"
**Is your feature request related to a problem? Please describe.**
It could be nice to have Minecraft generators.

**If you're adding new objects, please describe how you would use them**
Maybe it could have the following generators:
[code]

[2019-10-06 13:26] Zeragamba commented on #1795
Feel free to open a PR to add the new heroes in :)

[2019-10-08 02:27] connorshea commented on #1762
@ashishra0 it should be updated now, I don't check things off until they've been merged into master.

[2019-10-08 07:18] ashishra0 commented on #1762
@connorshea Yeah makes sense. Thanks though!

[2019-10-08 07:27] vbrazo commented on #1762
That's pretty awesome 💥

[2019-10-10 06:25] #1746 closed

[2019-10-11 19:04] sap1enza commented on #1795
Hi! I had opened a PR about that issue here https://github.com/faker-ruby/faker/pull/1801

[2019-10-18 00:41] KelseyDH opened #1818 "Faker should give unique values by default"
**Is your feature request related to a problem? Please describe.**
We had mindboggling difficult to debug tests that only failed occassionally, which we discovered were occurring due to Faker occasionally giving us duplicate values.

The mistake was an easy one to make, in our factories.  E.g.:
[code]
Gave us duplicate values in some rspec test runs, leading to weird test failures.

**If you're ad

[2019-10-22 17:41] micred commented on #1818
Not sure to have understand why you need to use Faker in this scenario.
If you expect unique number in your factory I would propose an alternative approach.

[code]

[2019-10-22 23:15] YourSouLi5Mine commented on #1788
@connorshea  Thanks for the reply, I believed it had something to do with the versions 😄

[2019-10-22 23:15] #1788 closed

[2019-10-23 21:24] KelseyDH commented on #1818
@micred That's a nice solution, but this might fail and create a phone number too long if run more than 9999 times, no?

[2019-10-23 22:21] KelseyDH commented on #1818
I think my point still stands for other values like email or names, which should be unique by default IMO.

[2019-11-10 05:56] 2017kamb opened #1828 "not working as per documented"
## Describe the bug
Not behaving as per [Doc](https://github.com/faker-ruby/faker/blob/master/doc/default/number.md)

## To Reproduce
require 'faker'
Faker::Number.number(digits: 10)
TypeError (no implicit conversion of Integer into Hash)

## Expected behavior
It works while we do as,
Faker::Number.number(10)
"1933534445"

## Additional context
I think doc should be update if now it not requires p

[2019-11-11 09:41] woto opened #1829 "Linkedin stubs are inconsistent to other omniauth stubs"
## Describe the bug

Hi. Found this :)

[code]

https://github.com/faker-ruby/faker/blob/9be8cfd4df575809b77e7e78682d8da774f5d263/lib/faker/default/omniauth.rb#L226
https://github.com/faker-ruby/faker/blob/9be8cfd4df575809b77e7e78682d8da774f5d263/lib/faker/default/omniauth.rb#L29

[2019-11-11 20:35] AmrAdelKhalil commented on #1828
Hey @2017kamb, I tested the gem locally with version `'2.7.0'` and it seems to be working, Could you specify which faker version are you using please?
for new version of `faker` when you use `Faker::Number.number(10)`  it will prompt a message as the following:
`Passing `digits` with the 1st argument of `number` is deprecated. Use keyword argument like `number(digits: ...)` instead.`
Hope this hel

[2019-11-11 20:36] vbrazo commented on #1828
You're probably using an old version. Please do what Amr suggested and run `bundle update faker`.

[2019-11-11 20:36] #1828 closed

[2019-11-14 10:10] PeterYves commented on #217
they asking me username and pasword of your git hub. what can i put there

[2019-11-14 14:14] #1624 closed

[2019-11-15 10:04] davideluque opened #1834 "(Faker::Number) No implicit conversion of Integer into Hash"
## Describe the bug

[code]
## To Reproduce

```irb(main):016:0> Faker::Number.number(digits: 10)```

## Expected behavior

"7542381143"

## Additional context

Gem version: faker (1.9.3)

* It is also happening in other methods like Faker::Number.decimal or when I try to generate a number between a range.
* Faker::Number.number(10) works. However, I need the parameters to generate numbers between

[2019-11-17 10:12] AmrAdelKhalil commented on #1834
For your faker version, This is the suitable [docs](https://www.rubydoc.info/gems/faker/1.9.3/Faker%2FNumber.number).
As the docs says, in `1.9.3` it was just accepting an integer param, Now for the new version it accepts a named param called `digits` (Which is somehow sent like a hash in ruby).
So I believe you read the wrong docs for you faker version.
Hope it helps.

[2019-11-17 13:20] #1834 closed

[2019-11-19 08:08] olleolleolle opened #1838 "Faker::Internet.domain, Faker::Internet.email to support the user controlling the TLD"
**Problem: The user assuming that `domain:` keyword argument accepts domains including TLDs**

Current: Here's a usage which I think has a confusing outcome:

[code]

Expected 1: Given no TLD in the `domain` argument, one is provided:

[code]

Expected 2: Given a TLD in the `domain` argument, that one is used:

[code]

**Describe alternatives you've considered**

Alternatives:

- a new `tld:` keyw

[2019-11-19 20:25] #1838 closed

[2019-11-19 20:46] olleolleolle commented on #1838
Oh, I meant to say "this is the behaviour that I expect", and that the now-documented one is confusing.

[2019-11-20 17:40] TCsTheMechanic commented on #1795
Hello, I opened a new PR (#1839) because I added almost all of the quotes that is available at the game.

[2019-11-21 10:59] yujideveloper opened #1840 "`Faker::Lorem.word` result is sometimes strange in ja locale"
## Describe the bug
`Faker::Lorem.word` result is sometimes strange in ja locale.

## To Reproduce
[code]

## Expected behavior
`しあとるし` is displayed.

## Actual behavior
`しあとるし, シアトルし` is displayed.

[2019-11-24 05:08] #1561 closed

[2019-11-24 05:09] #1840 closed

[2019-11-26 10:37] hamzah905 commented on #1491
Use this for country name `Faker::Address.country`

[2019-12-02 16:41] ngouy opened #1845 "Internet::Email with domain ignore the domain suffix when provided"
https://github.com/faker-ruby/faker/pull/1808 introduced `domain` kw (thank you!) but does not test when a domain suffix is provied : it fails

## Describe the bug
[code]

## Expected behavior
when domain_suffix is proveded, keep it :
[code]

[2019-12-04 06:23] tiagofsilva commented on #1845
I think the method interface is quite confusing as it is. Let me point out some things that trouble me:

1 - Look at `Faker::Internet.email(name: 'jane doe', subdomain: true, domain: 'customdomain.com')` : param `subdomain` has a different type from `domain` when in practice they are supposed to work in a similar way. IMO. `subdomain` should be a string rather than a boolean, making it symmetric t

[2019-12-04 13:02] ngouy commented on #1845
I agree it's a really tricky one. This fix intened to fix it without breaking what is existing. 100% the interface should be updated

[2019-12-04 13:08] ngouy commented on #1845
My only concern would be this line @tiagofsilva :

What do you mean by ignore it ? I think we should keep the `.`s as I may want to have a sub sub domain :

Faker::Internet.email(name: 'jane', subdomain: "sub.subdomain", domain: 'my.domain', domain_suffix: "fr.com") => ??

I think we should preserve the dot notation the user provide in its arguments
I think the above exemple should result to `jane

[2019-12-04 16:07] tiagofsilva commented on #1845
Exactly! Sorry, that’s what I meant.

On Wed, 4 Dec 2019 at 10:08 ngouy <notifications@github.com> wrote:

[2019-12-04 18:03] ngouy commented on #1845
what about the second part where you have to provide an empty subdomain if you wont one @tiagofsilva ?

[2019-12-04 18:43] tiagofsilva commented on #1845
Right, this is not ideal. But still better than what we have today IMO. But I have some ideas to suggest:

1 - `subdomain` default value could be empty string instead of nil.

2 - We could orchestrate `subdomain` value using another parameter, for instance `has_subdomain` or `generate_subdomain`. If the flag is true, no matter the value passed as `subdomain`, it would be generated. If the flag is

[2019-12-04 18:58] ngouy commented on #1845
I believe the better option is to stick to a boolean for the subdomain, default to false. If not false, we put a random generated subdomain to the email
If we want a "fixed" subdomain, we just have to pass it through the domain part
[code]

But indeed we have to carefully choose the var name `generate_subdomain`

[2019-12-05 05:01] connorshea opened #1854 "Include an auto-generated RBI file when publishing the gem"
**Is your feature request related to a problem? Please describe.**
I'd like to have a Sorbet RBI file included in Faker by default.

RBI files are type definition files, similar to `.d.ts` files in TypeScript.

They look like this:

[code]

And if you use Sorbet in your project and have the VS Code extension, you can get these types and docs in your editor like so:

<img width="976" alt="Screen Sh

[2019-12-09 08:36] Pixelnarium opened #1857 "Faker::Educator.unique.campus returns single value since 2.8.1"
## Describe the bug
Since 2.8.1 `Faker::Educator.unique.campus` just returns `"Faker::Educator Campus"` and throws `Faker::UniqueGenerator::RetryLimitExceeded (Retry limit exceeded for campus)` after the second run.

## To Reproduce
$ rails c
[code]

## Expected behavior
It should return names like in 2.8.0

## Additional context
Running in a Rails 6 environment, Linux, Ruby 2.6.5
Since there are

[2019-12-10 00:09] connorshea commented on #1857
Oh, apparently using `#{name}` in the YAML makes it access the name of the class, weird.

I broke this with #1772, I'll open a fix in a bit.

[2019-12-10 00:14] connorshea commented on #1857
Opened #1860.

[2019-12-10 00:26] #1857 closed

[2019-12-11 00:39] oslyak opened #1861 "Faker shows the rubocop warnings to itselfs"
##  Bug description
After update faker from **1.9.3** to **2.8.1**
Command `rspec spec` begun show me the warning:

I ran it and it changed all parameters like that
[code]
So in my specs and in factories I have no Faker calls without hash

But every time run `rspec spec` I still see this warnings hundreds of times.
It's annoying me a lot.

So faker shows me the warnings to itself?

If it's not a b