[2010-08-26 15:24] bogdan opened #1 "[Feature] Range argument support for Faker::Lorem.words etc"
I think it would be nice to make Faker::Lorem methods to accept Range as argument what will generate a random number of words within a range.

Example:

[code]

[2010-12-22 14:45] morgoth opened #5 "Switch to 18n is not playing nice with rails"
Faker should not change I18n locale (however this can be easly fixed by setting Faker::Config.locale).

Other problem after updating faker gem, when running specs in rails application is lots of failing tests:

Expected errors to include "translation missing: en.errors.messages.blank" when user_id is set to nil, got errors: user_id translation missing: en.activerecord.errors.models.billing.attribu

[2010-12-23 02:41] #5 closed, assigned to nobody

[2011-02-08 18:25] lucashungaro opened #10 "Crashes with Rails 2.3.10"
Was using Faker with Rails 2.3.5 and everything was OK. After updating to 2.3.10 I get this error:

<pre>
ree-1.8.7-2010.02 :002 > Faker::Lorem.words
NoMethodError: undefined method `shuffle' for "translation missing: pt.faker.lorem.words":String
    from /Users/lucashungaro/.rvm/gems/ree-1.8.7-2010.02@viaranking/gems/faker-0.9.5/lib/faker/lorem.rb:5:in `words'
    from (irb):2
</pre>

[2011-02-28 04:47] sshaw opened #13 "Docs at faker.rubyforge.org/rdoc/ are outdated"
They point to v0.3.1.

[2011-03-14 04:43] simianarmy opened #15 "Breaks existing app"
The latest version upgrade broke my specs with this error:
uninitialized constant I18n::Backend::Fallbacks (NameError)

[2011-04-14 23:22] #13 closed, assigned to nobody

[2011-06-26 01:33] haxney opened #24 "phone_number can generate invalid US numbers"
I'm using the [phone](http://github.com/carr/phone) library to parse phone numbers, and it does not allow invalidly-formatted phone numbers. An example is that US area codes are not allowed to start with `1` (and `0`, I believe), but Faker will generate numbers with these invalid area codes. Would it be possible to restrict the range of numbers used in generating area codes for Faker phone numbers

[2011-09-07 13:24] #10 closed, assigned to nobody

[2011-09-07 13:26] #15 closed, assigned to nobody

[2011-09-27 10:03] sidwood opened #37 "en-gb street_address"
When setting the local to the UK

[code]

Using

[code]

causes the following error `NoMethodError: undefined method 'building_number' for Faker::Address:Class`

[2011-09-27 13:01] #37 closed, assigned to nobody

[2011-10-03 12:38] jensb opened #39 "Faker::Internet::fix_umlauts(String) does not clear all special characters"
Hello,

fix_umlauts is currently implemented this way:

[code]

This should be extended so that characters like é, â, ç etc. are also replaced with their respective non-accented variants. E.g.

[code]

[2011-10-25 16:10] tatyree opened #42 "Faker breaks string interpolation on rails 2.3.x with 1.8.7-p352"
Will try and push a demo app with test tomorrow if I get time.  However, (quick and dirty) steps to reproduce are:
- setup a new 2.3.x (I'm using 14) bare app with a Gemfile that has only installs `gem 'rails'` and `gem 'faker'`;
- `bundle install`;
- `script/console`;
- at the prompt, type  `"%{a}" % {:a => 1}`

The result will be:

[code]

The various `:require => nil` and `I18n.reload!` workaro

[2011-11-10 21:13] garethrees opened #44 "Faker::Address.uk_postcode can generate invalid postcodes."
This is the regex I've been using to validate them:

`/^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? {1,2}[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$/`

Which seems to be the correct one, as taken from [StackOverflow](http://stackoverflow.com/questions/164979/uk-postcode-regex-comprehensive#answer-164992)

Faker generated `BI56 3QX` for me, which when you search in Google Maps is not recogn

[2011-12-26 14:37] jetienne opened #49 "NoMethodError: undefined method `[]' for nil:NilClass"
[master] ~/dev/my_proj → irb
ruby-1.9.2-p290 :001 > require 'faker'
 => true
ruby-1.9.2-p290 :002 > Faker::Lorem.url
NoMethodError: undefined method `[]' for nil:NilClass
    from /Volumes/HDDisk/Users/jetienne/.rvm/gems/ruby-1.9.2-p290/gems/faker-1.0.1/lib/faker.rb:89:in`method_missing'
    from (irb):2
    from /Volumes/HDDisk/Users/jetienne/.rvm/rubies/ruby-1.9.2-p290/bin/irb:16:in `<main>'

[2011-12-26 15:29] #49 closed, assigned to nobody

[2011-12-27 03:42] #44 closed, assigned to nobody

[2012-01-05 18:56] rlmattax opened #50 "Suggestions for other types of data"
I'm interested in using faker to fake other data.  Specifically, I would like to use it in a situation more like a MadLib, but not for those purposes specifically.

I'd like a way to be able to create adjectives, nouns, verbs etc, and this seems like a reasonable library for including something like this.  I made some changes to a copy of faker locally for my purposes, and didn't know if it would

[2012-05-03 09:51] erwin16 opened #63 "Faker::Base.regexify(re) doesn't work with comments in method code"
using Rails 3.2.3 / Ruby 1.9.3

tested in console :
re = /^[A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? {1,2}[0-9][ABD-HJLN-UW-Z]{2}$/
re.class
 => Regexp
 Faker::Base.regexify(re)
NoMethodError: undefined method `[]' for nil:NilClass
    from /Users/yves/.rvm/gems/ruby-1.9.3-p125@rails32/gems/faker-1.0.1/lib/faker.rb:89:in`method_missing'

I forked Faker and removed the comments i

[2012-08-03 15:57] cimm opened #68 "Undefined local variable `county'"
I get the following error when calling `Faker::Address.uk_county`:

[code]

Had a look at the source code at https://github.com/stympy/faker/blob/master/lib/faker/address.rb#L48 and it seems the uk_county method calls indeed a local variable **county** that is not defined. As the method is flagged as depreciated it looks like this might be a typo and should actually return a **country**, right?

[2012-09-15 21:54] #1 closed, assigned to nobody

[2012-09-15 22:29] #68 closed, assigned to nobody

[2012-09-17 00:52] davetron5000 opened #75 "i18n breaks 1.8.7 and ree"
Using faker in a gem that I test/use on 1.8.7 and REE, I got a weird stack trace parsing the Japanese YAML file.  Don't have 1.8.7 locally ATM, so forked the repo and set it up on Travis:

http://travis-ci.org/#!/davetron5000/faker/jobs/2473018

Basically, calls to `translate` load all(?) the YAML files, and they are in a format incompatible with 1.8.7/REE.  I will try to look into it when I'm not

[2012-09-17 18:36] vits opened #76 "Japanese locale syntax error using Syck parser"
Loading ja.yml with Syck parser fails:

[code]

Syck is default parser in ruby 1.8.7 and switched on in 1.9.3 by some gems. Even worse, for some unknown reason ja.yml is parsed even if Rails project does not use Japanese locale.

Problem is reproducible without any gems installed. Tested under OSX and Linux.
Assuming ja.yml is in current directory and ruby version is 1.9.3, run in irb:

[code]

[2012-09-17 23:28] #76 closed, assigned to nobody

[2012-09-17 23:28] #75 closed, assigned to nobody

[2012-09-18 16:54] stanhu opened #77 "Faker depends on Ruby > v1.8.7"
Faker::Config.locale attempts to use downcase, a method that isn't isn't present in Ruby v1.8.7 but in v1.9+:

<code>
module Faker
class Config
@locale = nil

class << self
  attr_writer :locale
  def locale
    @locale || I18n.locale.downcase
  end
end
</code>

git-commit-notifier works around this issue like so:

https://github.com/git-commit-notifier/git-commit-notifier/issues/157

[2012-09-18 22:46] #77 closed, assigned to nobody

[2012-09-23 21:52] Ecco opened #79 "French names are completely broken"
French names (first and last name) are completely broken: `Faker::Name.first_name` always returns the same (extremely long) string.

[2012-09-23 21:56] #79 closed, assigned to nobody

[2012-09-26 14:28] Ajedi32 opened #81 "Faker::Lorem.characters does not always return the correct number of characters"
I'm not sure why, but Faker::Lorem::characters doesn't always return the correct number of characters.

Observe:

[code]

[2012-10-09 18:26] belgoros opened #85 "setting a different locale (FR) generates wrong zip codes"
I tried to set a different locale as follows;

def make_clients
  Faker::Config.locale = :fr
  99.times do |n|
    firstname  = Faker::Name.first_name
    lastname = Faker::Name.last_name
    street = Faker::Address.street_name
    house = Faker::Address.building_number
    city = Faker::Address.city
    zipcode = Faker::Address.zip_code
    puts "zipcode: #{zipcode}"
    country = Faker::Address.

[2012-11-10 00:12] rchampourlier opened #92 "Release FR locale first/last name correction to Rubygems"
First names and last names for FR locale are not working correctly on the Rubygems version since it's the 1.1.2 and it does not include commit 5fbaedc8012f8d14f673bb99b3c4ce5649497450.

Would be great not to run into this not-so-evident-issue when using the Rubygems version.

Thanks in advance!

[2012-11-30 09:25] pake007 opened #94 "The array extension method :sample throw an argument error when the array is empty"
Hi, stympy

I am using the newest version of faker, seems the extension of array method :sample breaks the default ruby :sample when the array is empty and there gives an argument.
- ruby default :sample
  [].sample(3) => []
- faker extension :sample
  [].sample(3) => wrong number of arguments (1 for 0)

Though this example seems a little wired, I really meet this error in my project. Please fix i

[2012-12-02 15:58] rugginoso opened #95 "Faker::Address administrative levels as ISO 3166-1"
As explained here: http://en.wikipedia.org/wiki/Table_of_administrative_country_subdivisions_by_country, each country has its own administrative subdivision. These subdivision can be grouped in 3 levels (the fourth usually matches with the city name).
When making a data structure to contain international addresses, is usefull to follow these subdivisions.
It should be easy to add administrative_le

[2013-01-14 14:33] kpymkata opened #102 "Not a valid character (0x80) - problem with locales"
Hi,

I had some strange ActionView template rendering exceptions, in a fat Rails application, that were caused by some problems with the en-au.yml locale. I verified in all known to me ways that my app is configured to use utf8 encoding, but the problem persisted. Then I took a radical action and removed directly all sections in the yml file that looked strange to me. After a couple of iterations

[2013-02-21 00:36] puzrin opened #106 "Spanish locale"
One commited spanish locale to node.js port or Faker. https://github.com/nodeca/charlatan/tree/master/lib/locales . Feel free to take back into your mainstream :) .

[2013-04-03 15:07] neutralino1 opened #109 "Overly long names"
Hi all,

thank you for Faker.

I'm using faker 1.1.2 in Rails 4 and it seems I get really long names:

[code]

[2013-06-07 14:31] sylario opened #117 "French is heavily broken"
Tests done with Faker 1.1.2 :

Faker::Address.street_name
 => "Place Faker::Address"

Faker::Address.city
 => ""

Faker::Name.first_name
 => "Enzo Lucas Mathis Nathan Thomas Hugo Théo Tom  Louis  Raphaël  Clément  Léo  Mathéo Maxime Alexandre  Antoine  Yanis  Paul Baptiste Alexis Gabriel  Arthur Jules  Ethan  Noah Quentin  Axel Evan Mattéo Romain Valentin Maxence  Noa  Adam Nicolas  Julien Mael Pi

[2013-08-03 13:11] sgabler opened #127 "Whitespace not normalized for UK postcodes"
[code]

There are two space characters, when there should only be one. So far I've only encountered this for postcodes in the UK.

[2013-08-05 11:53] #81 closed, assigned to nobody

[2013-08-07 06:32] sakuro opened #128 "Poor result from Faker::Internet.user_name in ja locale"
`Faker::Internet.user_name` uses localized `Faker::Name.first_name` / `last_name` and eliminates accented alphabets by `gsub(/\W/, '')`, but as Japanese is non-alphabet script, it removes almost all characters from generated names.

Result: `Faker::Internet.user_name` returns only `"."`, `"_"` and `""`.

[2013-08-08 15:14] #127 closed, assigned to nobody

[2013-08-15 04:20] acurley opened #132 "Faker::PhoneNumber.phone_number should not create numbers that start with 911"
If a phone number starts with 911, phony_rails, a gem dedicated to validating phone numbers, reports that the Faker-produced number is invalid.  The gem is correct and no number that begins with 911 should be created by Faker.

Is there any reason to continue producing numbers beginning with 911?

[2013-08-21 13:40] ghost opened #134 "Dates and number generator"
Has this been implemented in the current faker released or master branch? I really like these methods and makes it so much easier to use. I can't find these methods any where in the source code.

https://github.com/stympy/faker/pull/73

[2013-09-07 15:09] #132 closed, assigned to nobody

[2013-11-27 23:27] robsilva opened #153 "undefined method `Number' for Faker:Module"
Using faker (1.2.0)  on Rails 4.0.0 I get:
undefined method `Number' for Faker:Module

I am using it to populate my model attribute as such:
[code]
Anyone encountered this problem?

[2013-12-04 21:28] thomasguillory opened #154 "Translation missing: `en.faker.name.name_name` when using `:fr` locale"
Hi,

I've this error when calling `Faker::Name.name` in a rspec :

[code]

There is no error when calling this method from rails console.

I'm using `fr` locale via

[code]

It seems all is fine if I switch to `en` or `it` for example.

[2013-12-12 13:58] codez opened #157 "Do not downcase default locale"
In Faker::Config.locale the value from I18n.locale is downcased. This is the source for failures if regional extensions are used, which are usually uppercase (e.g. de-CH). So the correct implementation should be:

  @locale || I18n.locale

[2013-12-15 21:32] mhutter opened #158 "`Faker::Number.number` generates numbers that are too long"
Example output:

[code]

[2013-12-23 04:04] sshaw opened #162 "Cell Phone Numbers Have Extensions"
As far as I know this is not valid:

[code]

[2013-12-30 16:50] ghost opened #164 "(misunderstanding) ru locale does not output russian ru.yml entries"
UPDATE:
Duh! I am stupid. :ru is not part of 1.2.0 release.  misunderstanding

Issue:
env
ruby 2.0
faker 1.2.0
I18n 0.6.9)

test in irb:
require 'faker'
Faker::Config.locale = :ru
Faker::Name.name
# => outputs english names instead of expected russian

I would appreciate if somebody can tell me if they see the same issue in irb. I may be going mad because the spec tests pass but in regular usage I

[2014-01-14 05:46] stefanvermaas opened #166 "Faker and Zeus don't work together"
Hi @stympy,

I've ran into some problems with Faker and Zeus [#412](https://github.com/burke/zeus/issues/412) and I was hoping you had some ideas about this. Seems Faker causes some problems with the Psych gem or with Zeus, but I can't figure it out.

Any ideas on this?

Cheers.

[2014-01-15 18:59] matkoniecz opened #167 ""[deprecated]" message generated by this gem on using Faker::Lorem.sentence"
[deprecated] I18n.enforce_available_locales will default to true in the future. If you really want to skip validation of your locale you can set I18n.enforce_available_locales = false to avoid this message.

with ruby 1.9.3p194 (2012-04-20) [i386-mingw32]

[2014-01-16 05:17] matkoniecz opened #168 "Polish letter and Faker::Internet.user_name (expected: replacement by ASCII letters, what happens: removal)"
[code]

returns

[code]

I would expect it to return

[code]

Affected signs: ą, Ą ć Ć ę Ę ł Ł ń Ń ó Ó ś Ś ź Ź ż Ż

Commonly accepted and widespread method of dealing with inability of many systems to use proper UTF-8 is to replace this letters with closest ASCII letter.

[2014-01-18 12:00] matkoniecz opened #169 "Faker::PhoneNumber.phone_number with pl locale always starts from "61-""
It is using only Poznań area code - see https://en.wikipedia.org/wiki/Telephone_numbers_in_Poland#National_area_codes

Mobile numbers are never generated - see https://en.wikipedia.org/wiki/Telephone_numbers_in_Poland#Mobile_numbers

[code]

[2014-01-21 23:24] #166 closed, assigned to nobody

[2014-02-04 08:33] gouthamvel opened #172 "Faker::Lorem.words(500) produces only 249 words without warning or error!"
[code]

I had to spend couple of hours before I could figured why my test were failing.
Ideally I would expect lib to throw an error or auto include supplement words if the size of standard words is smaller than requested number of words.

What would be the right way? throw an error or auto include additional words?

[2014-02-27 13:39] jploskonka opened #181 "Faker::Internet.domain_word throws undefined method 'gsub' for nil:NilClass"
Faker::Company.name returns "" (empty string) always. I tried with :pl and :en locale.

[2014-03-06 14:30] themarkdavies opened #182 "UK Postcode still generating 2 spaces between elements"
Hi, this is my first GITHUB post and I am new to ruby so please bear with me.  I have looked through the issues logged about faker and have spotted this issue reported previously and fixed.  However, having checked I am on the latest version of faker (1.2.0) I am still getting these problems.

My development environment is as follows:
- ruby 1.9.3p448 (2013-06-27 revision 41675) [i686-linux]
- Rai

[2014-03-08 18:51] #169 closed, assigned to nobody

[2014-03-09 03:40] #182 closed, assigned to nobody

[2014-03-14 12:29] obsidienne opened #185 "Add consistency to Faker"
Hi,

I think Faker should implement something like a Provider to provides coherent objects.

[code]

The firstname and the gender are coherent.

[code]

The GPS and the adress are coherent.

[2014-03-14 12:31] #185 closed, assigned to nobody

[2014-03-25 15:27] martianinteractive opened #188 "Generating phone numbers with specific format"
I created a en-us.yml file with this content

[code]

Then this is what I get:

[code]

Any idea why?

Thanks,
SB

[2014-04-19 14:02] mkaschenko opened #196 "Digits, capital letters in Faker::Internet.password"
I'd like Faker::Internet.password to contain digits and/or capital letters if needed.
What do you think about this idea?

[2014-05-27 15:04] belgoros opened #208 "Setting locale (FR) does not change country"
I tried to set up a locale as suggested:

[code]

I tried to do that in 2 different ways:
- by putting it in spec_helper config block:

[code]
- by putting it directly in a spec example file (clients_controller_spec.rb):

[code]

In both cases the country value was NOT correct:
- CONGO
- SENEGAL
- BARBADOS
- EQUATORIAL GUINEA

etc.

The only solution I found was to set a country as follows in my F

[2014-05-29 15:03] #208 closed, assigned to nobody

[2014-06-09 08:45] pilap82 opened #210 "test"
test body

[2014-06-09 08:45] #210 closed, assigned to nobody

[2014-06-20 12:05] arthurkarganyan opened #211 "Homepage link broker"
Hello!

Just inform that Homepage link from https://rubygems.org/gems/faker is broken.

[2014-07-01 06:10] johnnymo87 opened #217 "NameError: uninitialized constant Faker::Hacker"
Wow, you accepted a lot of pull requests today!

It looks like your `Faker::Hacker` isn't configured properly. When I try to call it, I'm getting `NameError: uninitialized constant Faker::Hacker`.

[2014-07-03 21:19] #217 closed, assigned to nobody

[2014-07-03 22:16] #157 closed, assigned to nobody

[2014-07-03 22:25] #167 closed, assigned to nobody

[2014-07-03 22:26] #196 closed, assigned to nobody

[2014-07-03 22:28] #181 closed, assigned to nobody

[2014-07-03 22:29] #164 closed, assigned to nobody

[2014-07-03 22:30] #95 closed, assigned to nobody

[2014-07-03 22:31] #92 closed, assigned to nobody

[2014-07-03 22:31] #85 closed, assigned to nobody

[2014-07-03 22:31] #102 closed, assigned to nobody

[2014-07-03 22:32] #106 closed, assigned to nobody

[2014-07-03 22:55] #42 closed, assigned to nobody

[2014-07-03 22:55] #50 closed, assigned to nobody

[2014-07-03 22:55] #117 closed, assigned to nobody

[2014-07-03 22:59] #134 closed, assigned to nobody

[2014-07-03 23:00] #172 closed, assigned to nobody

[2014-07-04 08:10] vgrigoruk opened #218 "Faker::PhoneNumber.phone_number raises I18n::MissingTranslationData"
[code]

./vendor/bundle/ruby/2.0.0/gems/i18n-0.6.9/lib/i18n.rb:317:in `handle_exception'
./vendor/bundle/ruby/2.0.0/gems/i18n-0.6.9/lib/i18n.rb:160:in`translate'
./vendor/bundle/ruby/2.0.0/gems/faker-1.4.0/lib/faker.rb:124:in `rescue in translate'
./vendor/bundle/ruby/2.0.0/gems/faker-1.4.0/lib/faker.rb:116:in`translate'
./vendor/bundle/ruby/2.0.0/gems/faker-1.4.0/lib/faker.rb:82:in `fetch'
./vend

[2014-07-04 13:50] #218 closed, assigned to nobody

[2014-07-04 13:50] #162 closed, assigned to nobody

[2014-07-08 13:35] germs12 opened #223 "Faker throw I18n::InvalidLocale: "en-us" in versions > 1.3.0"
When I updated to 1.4.1 I found the following error when trying to use Faker in my minitests

`I18n::InvalidLocale: "en-us" is not a valid locale`

Downgrading to 1.3.0 fixed the issue.  I can not reproduce the error via console, only shows up when running `bundle exec rake test`

Has anyone else seen this?

[2014-07-18 23:07] bwinterling opened #230 "country_code NO returns 'false'"
en.yml file contains an array for country_code with unquoted values.

Psych evaluates the value NO to false instead of "NO".  This causes Faker::Address.country_code to fail every time it randomly returns the false value (where NO used to be).

starting country_code array:
[...  NL, NO, NP ...]
Psych evaluates to:
[ ...  "NL", false, "NP ....]

This can be fixed using quotes in the yaml file.

sta

[2014-07-25 15:39] alanhorizon opened #231 "state_abbr includes non-US state postal codes"
First time posting here, apologies for terseness.

the state_abbr is generating codes like 'AA', which is a postal code, but not one of the 50 U.S. states. This should either be renamed or an option included to restrict to 50 states.

[2014-08-04 05:27] jyxt opened #237 "Faker::Number.number(10) generates string instead of integer"

[2014-08-10 18:02] rex opened #242 "Gem unusable, can't even use 'name' method without i18n exception"
Trying to utilize this gem for the simplest possible use case, basic fake user information.

I have this method:

[code]

Which causes this exception

[code]

I've tried creating the erroneous modules individually, manually requiring `i18n`, and other workarounds with absolutely zero luck.

I have to move on to a different library because of a deadline that won't budge for spending days to even ge

[2014-08-14 08:09] johnngap opened #244 "uninitialized constant Faker::App"
using faker 1.4.2 and Rails 4.0.2
I get uninitialized constant Faker::App

I am using
app.version = Faker::App.version

Anyone encountered this problem?

[2014-08-15 17:13] #244 closed, assigned to nobody

[2014-08-15 17:13] #242 closed, assigned to nobody

[2014-08-15 17:13] #230 closed, assigned to nobody

[2014-08-15 17:14] #223 closed, assigned to nobody

[2014-08-20 10:54] cvalerio opened #245 "Occasionally i get a NoMethodError"
I randomly get a NoMethodError when using with Rspec and FactoryGirl for test factories.
Error message is:

undefined method `match' for false:FalseClass

Strage thing is i can run the test one hundred times and not to have this error, but sometimes it occurs, apparently for no reason.

Example:

FactoryGirl.define do
  factory :account do
    friendly_name { Faker::Lorem.sentence }
    iban { Fak

[2014-08-22 13:28] Makapoxa opened #247 "Faker::Internet.email generates email without domain name"
i get such output
2.1.0 (main):0 > Faker::Internet.email
=> "ardella_miller@.info"
2.1.0 (main):0 > Faker::Internet.email
=> "minnie_swaniawski@.org"
2.1.0 (main):0 > Faker::Internet.email
=> "shanel@.net"
2.1.0 (main):0 > Faker::Internet.email
=> "kiana@.рф"
2.1.0 (main):0 > Faker::Internet.email
=> "lauretta.mohr@.ru"
faker gem version is 1.4.3

[2014-08-26 21:35] NobbZ opened #249 "minimum and maximum length for Internet.user_name"
It might be useful to allow to specify minimum and maximum length for this generator.

[2014-08-28 09:35] msaspence opened #250 "Unnecessarily load_paths for I18n"
At some point recently, unfortunately I'm unable to pin down the exact change, the initial request on my Unicorn Rails app would take upwards of a minute. After trudging through code I pinned the problem to Faker (adding all of its locale files to I18n's load_path)[https://github.com/stympy/faker/blob/master/lib/faker.rb#L15]

Not loading faker fixed the issue and got initial request time down to

[2014-08-28 12:21] shir opened #251 "Generate unique values"
Is there any way to generate guarantee unique value? May be by passing some base unique value.

Now, then I run my tests they sometimes fails because of duplicating names, because Faker::Name.name return random value and sometimes two calls return duplicated values.

I think it may be fixed by passing some my unique value. As I see it:

[code]

[2014-10-16 14:54] masterT opened #264 "Canadien postal code format is not valid"
Hello,

The canadien postal code format is not valid, it should not include the letters D, F, I, O, Q or U, and the first position also does not make use of the letters W or Z.

http://en.wikipedia.org/wiki/Postal_codes_in_Canada

:maple_leaf:

[2014-10-17 15:40] #211 closed, assigned to nobody

[2014-10-22 10:51] bsylvain opened #266 "Faker::Address.country does not work if your apps does not use :en as a locale"
Rail 3.2
Faker 1.4.3

When I use Faker::Address.country with config.i18n.available_locales = [:fr,:it] I have the following error  :

[code]

It stop if I remove Faker::Address.country from my factory or if I ad :en to available locales.

[2014-10-27 17:05] jamespedid opened #270 "Request: Do not automatically load I18n files."
Hello, this is just a request to not automatically require I18n files. This is rather intrusive to already existing I18n structures, where your file is overwriting the ones that are there. If not, then can you at least put the faker files using alternative local codes (prefix them with :locale:).

[2014-11-07 02:53] #264 closed, assigned to nobody

[2014-11-08 10:06] jphastings opened #272 "Faker::Internet.safe_email makes bad emails for some locales"
[code]

[2014-11-09 01:09] stoplion opened #274 "Update docs to make it clearer what arg to Lorem.sentence does"
`Faker::Lorem.sentence(10)`
`"Consequuntur repudiandae sed temporibus sunt ipsam rerum impedit qui tenetur saepe placeat."`
//12 words not 10
//91 char not 10
what does 10 arg do? It is not clear in the docs that this does

This is also the case with Faker::Lorem.paragraph(3)
`"Delectus qui quae et sunt est velit. Vero aperiam sint. Dicta aut non tempora ipsa nemo porro. Mollitia corrupti voluptas

[2014-11-11 21:07] austinrfnd opened #275 "US Zip Codes Sometimes Returns Non-Actual Zip Codes"
So I looked at the en-US yml file and under faker.address.postcode_by_state it looks like we wildcard the last two digits of every zip code.  So for example for California we have:

[code]

CA could return 90099.  Which according to http://www.zipcodestogo.com/California/ is not an actual zip code.  Before I go down this route, would you be interested in a pull request that pulls US state zip code

[2014-11-17 09:22] #231 closed, assigned to nobody

[2014-11-18 04:17] chinuy opened #277 "Random date generator"
There is one in credit card expiry date, but not makes sense in wording.
The date output should support customized date format, like yyyy/mm/dd

[2014-11-18 04:24] #277 closed, assigned to nobody

[2014-11-18 18:38] rmm5t opened #278 "Faker::Lorem.paragraph raises I18n::MissingTranslationData without manual locale override"
[code]

This was introduced in v1.4.0 and is still a problem in v1.4.3. <del>If I manually set the local to "en," it works as expected, but prior to v1.4.0, manually setting the locale wasn't necessary (tested with v1.2.0 and v1.3.0).</del>

**UPDATE**: I was wrong about the locale override working. This appears to exhibit itself only when Faker is used inside an ERB file and when that ERB file is

[2014-12-01 10:20] pavelbeliaev opened #283 "Zero price"
I'm not sure. But I think the price should not be zero.

[code]

It is obvious that the price sometimes returns 0.0
Could it be something like this?

[code]

[2014-12-01 17:43] ggrillone opened #284 "Faker::Name issues"
I am attempting to use `Faker::Internet.email` and it keeps failing with:

`I18n::MissingTranslationData: translation missing: en.faker.name.first_name`

I was testing it out in the console and I'm seeing the same error for `Faker::Name.name` and `Faker::Name.last_name` as well.

[2014-12-02 01:52] #284 closed, assigned to nobody

[2014-12-06 19:04] ggrillone opened #285 "Faker translations missing when seeding data"
Rails version: 4.1.7
Ruby version: 2.1.4
Faker version: 1.4.3

I am attempting to use `Faker` to generate seed data, which keeps failing.

At first I was seeing the following error: `NameError: uninitialized constant Faker`

So I added a `require 'faker'` to the top of my `seeds.rb` file which resolved that issue.

However it doesn't seem to be able to find any of the translations:

`rake aborted!

[2014-12-08 15:50] ZempTime opened #286 "Adding Custom Values"
I'd like to be able to add custom values so I can do this:

[code]

But I've been trying for nearly 1.5 hours and can't figure out how.

My best guess was to create a lib/locales/en.yml and put in the values there

[code]

I'm also not entirely where I'm supposed to place

[code]

either, so it's sitting in an initializer for the time being.

Awesome gem. Can I use faker this way, and if so, where

[2014-12-08 16:10] #286 closed, assigned to nobody

[2014-12-16 12:11] simontol opened #289 "Add gender to name generator"
I think it could be usefule to have a gender switch to the name generator.
eg.
Faker::Name.name(male)
John Doe
Faker::Name.name(female)
July Andrews

[2014-12-19 18:34] michaelachrisco opened #290 "Add BigDecimal to faker numbers"
Something like:
[code]
would produce:
[code]

[2014-12-24 17:51] eubenesa opened #293 "Faker::Time.between gives a time past the given bounds"
Hello @vitormil, et al.,

As you can see in my snippet below, `Faker::Time.between` is outputting a random time past the given bounds, not within. Is this expected behaviour? How can I get a random time truly within the specified bounds?

    [1] pry(main)> (Time.now - 1.week).beginning_of_week + 8.hours
    => 2014-12-15 08:00:00 -0800

    [2] pry(main)> (Time.now - 1.week).end_of_week + 8.hours

[2015-01-01 08:24] asiniy opened #297 "Faker generate bad emails"
`Faker::Internet.email` generates something like `alexander@.info` or `leila_stamm@.ru` for me. Why it doesn't generate normal email addresses like `xxx@xxx.xxx`? Where is 2nd 'xxx' part?

faker -v 1.4.3
rails -v 4.2.0
ruby -v 2.2.0
config.i18n.default_locale = :ru

[2015-01-01 08:30] asiniy opened #298 "Faker set the locale to rspec"
You have said me about I need to set my locale at the code and it'll generate good code afterwise.

So, there is a trouble.

I use Faker with rspec-rails gem. I `require 'faker'` at `spec_helper.rb` and write something like that:

[code]

I generate first names and last names afterwards. They are still in english...
How can I solve this problem?

[2015-01-02 17:51] #290 closed

[2015-01-02 22:35] drewish commented on #278
I'm getting it when using faker from FactoryGirl factories, but those are driven by rake tasks.

[2015-01-02 22:39] drewish commented on #278
Actually doesn't seem like rake has anything to do with it:
[code]

[2015-01-09 13:19] allcentury commented on #283
It is very common in the e-commerce world to have "free's" so I don't think defaulting everything greater than zero is ideal.  That said, I did just send in pull request #299 which would allow you to give your own range of prices.

[2015-01-14 00:33] esbanarango opened #300 "Faker generate hex values for colours colors."
Thank you for this project!

It would be great to generate random hex values for colors.

[2015-01-18 07:43] wkirby commented on #275
Any chance you put this together?

[2015-01-18 08:25] austinrfnd commented on #275
Yeah let me take a stab at this.  I'll open a pull request when I figure something out.

[2015-01-18 09:45] kevintraver opened #303 "Option to toggle phone number extension"
It would be great to pass an option to disable extensions when generating phone numbers.

[2015-01-18 10:09] kevintraver commented on #303
Just realized I can override in locales.

[2015-01-18 10:09] #303 closed

[2015-01-19 17:52] jcarlson commented on #283
A larger concern I've run into is floating point math errors... for example, price returns `24.00000000001` or similar.

I would recommend changing the `price` method to something like this:

[code]

@allcentury if you can't wait for a patch, drop this in a Rails initializer:

[code]

[2015-01-20 21:36] robbyoconnor opened #305 "Allow for random gender"
Allow for a random Gender...how is this not a feature?!?!

[2015-01-22 08:04] jlebrijo opened #306 "New feature: Google video and image searching"
Hi stympy,

First ... thanks for this gem!!

I want to contribute with two more fakers:
- Faker::Image.urls(search_query, number): generates an array of 'number' image URLs based on a 'search_query' (using Google search API)
- Faker::Video.urls(search_query, number): generates an array of 'number' youtube videos URLs based on a 'search_query'

This would be the interface. Are you agree ?

Best,
Ju

[2015-01-26 17:23] ByteDown opened #309 "Faker::Avatar not loading."
Initially thought servers are down but all other attributes are loading.

[2015-01-27 21:05] kkirsche commented on #305
Do you mean gender or sex?

Sex refers to biology of a person and means configuration of chromosomes and reproductive organs while gender means personal sense of who you are (e.g. man, woman, transgender)

If you mean biologic sex you would have:
* Male
* Female
* Intersex

If you mean gender you would need to go with the full spectrum as facebook had to do when they implemented full support of ge

[2015-01-27 21:10] kkirsche commented on #300
All that's necessary to do this is

[code]

[2015-01-27 21:16] robbyoconnor commented on #305
It doesn't matter really but you hit.

[2015-01-27 21:24] kkirsche commented on #300
Pull request with test submitted

[2015-01-27 21:26] kkirsche commented on #305
Didn't follow what was meant after "hit", sorry. Could you reword that?

[2015-01-28 16:42] paranoicsan commented on #297
There is PR about this - https://github.com/stympy/faker/issues/247 But still have not been merged.

[2015-01-28 18:10] asiniy commented on #247
+1

[2015-01-30 01:57] #305 closed

[2015-01-30 01:57] robbyoconnor commented on #305
Nevermind

[2015-02-05 02:04] creativereason commented on #289
I agree with this. This does make a lot of sense. A lot of people use gender in profiles.
Would / should you add an gender other that generates "gender neutral" names as well?

Looking at the code, it looks the first and last name arrays are by locale file and currently each just has a list of first_name or last_name, with no gender assignments, so it would require changes to how data is stored (a

[2015-02-05 07:43] simicic commented on #5
Setting :en for me was not an option and switching to ffaker worked out well, if someone else still has this issue...

[2015-02-05 20:41] thom-nic commented on #278
Anyone have ideas on a workaround?  Getting this issue from rake and from the console, and for many methods, not just `words`:

[code]

Calling `Faker::Config.locale = 'en'` doesn't seem to make any difference.

[2015-02-25 14:34] Fire-Dragon-DoL commented on #245
@Carpetsmoker was caused by a NO (without quotes) as state abbr, so it was considered as `false`, I fixed it in this pull request: https://github.com/stympy/faker/pull/323

[2015-02-25 19:16] drewish commented on #278
yeah the `I18n.reload!` got it working for me too.

[2015-03-02 21:16] steakunderscore opened #325 "Provide a faker for ipv4 cidr ranges"
It would be cool if we could generate faker data for cidr ranges. I'll implement a version just making use of `Faker::Internet.ip_v4_address` method, adding a cidr range.

[2015-03-02 21:21] steakunderscore commented on #325
Made a pull request #326. It's not the best of solutions because it doesn't set the network address or check. But let me know what you think.

[2015-03-03 20:09] #249 closed

[2015-03-04 14:53] EugZol commented on #247
+1

[2015-03-06 15:16] solutus commented on #247
+1

[2015-03-06 18:04] franciscomxs opened #328 "[Suggestion] Country abbr"
[code]

[2015-03-08 11:32] tom-lord commented on #328
This sounds like a case for https://github.com/stympy/faker#customization

Do you want to abbreviate England as "EN", "UK", or "GB"? Is Spain "SP" or "ES"? Do you really want to include ALL countries, or just a subset (e.g. not Bosnia and Herzegovina = "BA")?

My guess is that you really want to either be selecting from a custom list, or just using a random 2 letter string.

[2015-03-08 11:41] franciscomxs commented on #328
Maybe aliasing state_abbr

Em domingo, 8 de março de 2015, Tom Lord <notifications@github.com>
escreveu:

[2015-03-08 11:49] tom-lord commented on #328
Again, that just sounds like you're looking for "a random 2 letter string". States are not countries, so this would inevitably cause complaints.

Incidentally, if you *are* happy to just use a random 2 letter string, why not check out my brand new(ish) ruby gem: https://github.com/tom-lord/regexp-examples/tree/random_example

(The random_example branch is not yet merged as it needs a little polish

[2015-03-09 05:40] ACPK opened #330 "Add Random Decimal Generator"

[2015-03-09 18:48] franciscomxs commented on #328
Use ```Faker::Address.state_abbr``` is enought.  My suggestion is just to improve readability.

Instead of:

[code]
We could have:
[code]

[2015-03-27 00:30] karlwilbur commented on #285
I am seeing the same issue on multiple machines for multiple devs. We are trying to use Faker from the console link to create a bunch of fake development data real fast. Seeing similar messages:
[code]

[2015-03-27 00:42] karlwilbur commented on #285
This appears to be a duplicate of #278

[2015-03-30 11:01] nickpellant commented on #272
:+1: I just experienced this myself. Is there a plan to get a fix in and released?

[2015-03-30 14:17] bshakr commented on #289
+1

[2015-04-01 07:38] itskingori opened #339 "Add URL to the repository"
So ... can't really send a pull request for this so :-)

Would be great if the repo linked to (at the top on GitHub) either of these
- API Docs - http://www.rubydoc.info/gems/faker
- RubyGems Page - http://www.rubydoc.info/gems/faker

[2015-04-01 07:40] itsmrwave opened #340 "Add or improve description of supplemental parameter"
~~I encountered a weird bug due to the `supplemental` and  `random_sentences_to_add` arguments. There's no description what they mean.~~

**Edit: 2016/04/07**

It's not too clear what `supplemental` means. Could a description be added to the README (if not in the API docs)? Willing to send a PR, if someone can explain to me ... or point me in the right direction.

[2015-04-04 00:10] JESii opened #341 "Faker::Business.credit_card_expiry_date gives "old" date"
Running this command yields dates that are many years in the past (I get 2011 for the year, for example). Maybe there could be an option to generate forward-looking dates?

[2015-04-08 08:36] yoonsy opened #342 "customization for Lorem dosen't work."
I read [documentation of customization](https://github.com/stympy/faker#customization).

I want to add elements to `lorem` like below.

[code]

and I called it using `Faker::Lorem.movie_title` method. But it dosen't work.

So, I tried `name` instead of `lorem`. **It works.**

There is difference between [Faker::Lorem](https://github.com/stympy/faker/blob/v1.4.3/lib/faker/lorem.rb)  and [Faker::Nam

[2015-04-10 03:20] jdbalistreri commented on #341
Thanks for raising this issue. I've taken a crack at addressing it and issued a pull request

[2015-04-21 14:38] floydj opened #348 "Require errors when using Faker with rspec, rails, factory_girl on Ubuntu"
I get the following errors when trying to run my specs:

``require': cannot load such file -- Faker (LoadError)`

The file that's calling this is setup like:

[code]

I've got Faker in my gemfile:

[code]

This works ok on my Mac, but not when I try to run the spec under ubuntu.

Any ideas on what's going on here or how I can resolve?

Many thanks!

[2015-04-21 17:25] benpolinsky commented on #348
Try lowercase:
````require 'faker'````

[2015-04-21 17:38] floydj commented on #348
That fixed it.  Thanks

[2015-04-21 17:38] #348 closed

[2015-04-23 12:34] maksimf commented on #247
same issue

[2015-04-24 17:45] thinkalike-dev commented on #278
Still an issue :disappointed:  We're using faker (1.4.3) and rails (= 4.2.0)

[2015-04-28 05:30] project-eutopia commented on #247
This seems to be because, for instance at https://github.com/stympy/faker/blob/master/lib/faker/internet.rb#L40, there is a `gsub` that is replacing these "nonword" characters with spaces.  Many languages have names with characters that are not recognized as word characters via the regex `/\w/`, which then yield broken emails like `"@.net"`.  For now, I think maybe only the `:en` locale is safe to

[2015-05-03 22:25] danil commented on #247
+1 same for me

[2015-05-06 18:40] simon0191 commented on #306
+1

[2015-05-12 07:00] fuzzyalej commented on #278
:-1: Still an issue w/ 1.4.3 & 4.2.0

[2015-05-15 17:33] ncrmro opened #352 "Gender for users"
I was wondering if we could get support for genders. Thanks

[2015-05-16 14:57] Nik736 commented on #352
Ye, I also would love to select e.g. only names of a specific gender.

[2015-05-16 15:35] theB264 commented on #352
I'm working on a patch

[2015-05-16 16:36] ncrmro commented on #352
Awesome, Cant wait to see your patch!

[2015-05-16 17:55] theB264 commented on #352
Support may be limited for `en-US` unless someone else gathers data for other locales

[2015-05-20 11:47] theB264 commented on #352
`https://github.com/factory-helper/factory-helper/releases/tag/v1.6.5`

[2015-05-20 20:57] NikitaAvvakumov commented on #298
@asiniy Try this instead:
[code]
There should be no need to explicitly `require 'faker'` in a Rails app either.

[2015-05-21 15:51] asiniy commented on #298
How can I do that in development?

I generate some samples, so, I need to make them russian too. But, using of `Faker::Config.locale = 'ru'` just in `config/environments/development.rb` can't help me.

[2015-05-21 18:07] NikitaAvvakumov commented on #298
Strange, that worked for me:
[code]
then
[code]
Be sure to restart your console and server.

[2015-05-22 07:11] asiniy commented on #298
oh, I found a bug!

[code]

WTF?

[2015-05-22 07:52] NikitaAvvakumov commented on #298
It's not a bug per se: The Russian locale ('lib/locales/ru.yml') does not define `first_name` & `last_name`. Instead, it has `(fe)male_first_name`, '(fe)male_middle_name` & `(fe)male_last_name`. When you call `name`, the full name gets randomly composed following one of the predefined gender-specific patterns: https://github.com/stympy/faker/blob/master/lib/locales/ru.yml#L34.

However, since gend

[2015-05-22 12:45] asiniy commented on #298
[code]

Idiotism!

[2015-05-22 16:21] NikitaAvvakumov commented on #298
Problem with that is that `name` can be composed in different ways and include prefixes like "Mr." (https://github.com/factory-helper/factory-helper/blob/master/lib/locales/en.yml#L113).

[2015-05-24 16:03] creativereason opened #355 "SIC Codes"
When you are classifying and referencing companies, sometimes you need a [SIC Code](http://en.wikipedia.org/wiki/Standard_Industrial_Classification).

I've made a fork for adding this method to company and happy to do a pull / merge if this would be helpful for others.

[code]

[2015-05-24 17:38] theB264 commented on #355
If you want to submit a PR we will review it.
https://github.com/factory-helper/factory-helper

[2015-05-29 20:51] michaelachrisco opened #357 "Generating Money amounts"
Something that has come up recently is generating money amounts as strings/ints/decimals/etc...
I would personally love to see something like:
`Faker::Money`
methods similar to https://github.com/RubyMoney/money-rails

[code]

[2015-05-30 14:09] #300 closed

[2015-05-30 14:09] #341 closed

[2015-05-30 23:20] kkirsche commented on #328
@tom-lord I would disagree with your statement that this is a customization option. Two letter codes should follow ISO standards and be labeled as such. For example, a generator for ISO 3166-1 would generate the country codes found here:
http://en.wikipedia.org/wiki/ISO_3166-1#Current_codes

[2015-05-30 23:24] kkirsche commented on #325
Not sure I understand this. Are you looking to generate the entire IPv4 address in CIDR notation with the mask or just the mask? I can easily put this together but I will probably build it so that it can generate IPv4 in CIDR, dot notation, long format, hex format, etc. as IP's can be represented in many ways. Thoughts?

[2015-05-31 11:52] tom-lord commented on #328
@kkirsche i agree that this is a possible (not terrible) option, but surely for many - if not most - real world applications, this list would be wrong.

For example, as i mentioned above, using ISO 3166-1, "United Kingdom of Great Britain and Northern Ireland"  = "GB". Perhaps your test data actually needs to use "EN" (England) or "UK" (United Kingdom).

Essentially, I'm not really against what yo

[2015-06-04 20:06] dmhalejr commented on #237
Faker gave me a false positive on an API test because calling `Faker::Number.number(10)` was causing me to return a string and not a number (as the API service assumed it was going to get)

This luckily allowed us to find better type handling in our API, but was still concerning since I was putting some blind faith in receiving an integer when I asked for an integer.

For Faker::Number I was hopin

[2015-06-07 03:24] JESii commented on #341
Thanks much!

[2015-06-14 03:33] lukerollans commented on #357
This does sound like a good addition, I'd be keen on using these methods, too. Will write a PR if I have time shortly :)

[2015-07-08 14:16] simkessy opened #374 "Faker::Avatar not taking arguements"
I'm trying to use this:

`Faker::Avatar.image("robot","50x50")`

But keep getting this error:
[code]

[2015-07-09 17:39] kyprifog opened #375 "Idea: Faker Conversations"
I have a use case for generating fake (in my case English) conversations (think SMS messages) for a messaging application I am working on.  I was going to use Faker::Lorem, but I felt like it wouldn't quite get the point across as well as English conversations.

Does this seem like a good idea?  Are there other gems that do this already?

[2015-07-14 16:14] nicholasjackson827 opened #376 ""Gaylord" is a possible last name"
I was about to finalize my application for a presentation today and realized someone in my database had the last name of "Gaylord" which is not exactly ideal for a professional setting.

I haven't looked through the documentation to see where the list of names come from, but hopefully this one can be removed.

[2015-07-14 16:24] matismasters commented on #376
Do you think its wise to start a blacklist of this sort. For example, this person might easily disagree with you. [https://github.com/mjgaylord](https://github.com/mjgaylord). Maybe its better that you create a blacklist for your needs.

[2015-07-14 16:43] stympy commented on #376
You can override any of the supplied wordlists with your own locale file.

[2015-07-14 16:43] #376 closed

[2015-07-15 19:45] mpasad opened #378 "Faker::App.name not sufficiently unique names"
Tried creating 30 unique Apps using Faker::App.name, but too many repeats were generated

[2015-07-19 12:17] Vorob-Astronaut commented on #247
+1

[2015-07-20 16:08] gkunwar commented on #306
Is there any progress on this issue?

[2015-07-20 23:58] salexzee commented on #306
+1

[2015-07-21 17:32] gkunwar opened #383 "Faker::Address.zip gives error for some locals"
Faker::Config.locale = "nep"

Faker::Address.zip

[code]

Faker::Address.zip_code

[code]

![screen shot 2015-07-21 at 11 16 30 pm](https://cloud.githubusercontent.com/assets/1822907/8807833/aeb44cc2-2ffe-11e5-9f1f-834b4110496c.png)

[2015-07-22 05:41] gkunwar commented on #383
I have fixed this issue for "nep" locals but not merged yet.

[2015-07-23 05:06] salexzee commented on #378
There are only about 62 different names in Faker::App.name so the odds are pretty high that you'll end up with quite a few repeats when doing 30. In faker/lib/locales/en.yml you'll be able to see all the names and that's also where more can be added.

[2015-07-23 11:35] mpasad commented on #378
Thank you for your response.

Maitreyee

On Thu, Jul 23, 2015 at 1:06 AM, Sam Webb <notifications@github.com> wrote:

[2015-07-23 16:28] gkunwar opened #385 "New Feature: Nationalities"

[2015-07-24 05:39] salexzee commented on #385
Is this a feature request or something you plan on submitting a pull request for?

[2015-07-24 05:46] gkunwar commented on #385
@salexzee I'm planning to add this feature.

[2015-07-24 05:53] salexzee commented on #385
Ah ok.

[2015-07-24 08:36] salexzee opened #386 "New Feature: Books"
I'm currently working on Faker::Books for someone making an application dealing with books. For now it has title, author and publisher methods.

[2015-07-29 22:37] brunzino opened #388 "What does the 'supplemental' argument do?"
Pardon the simple question, but when requesting a Faker::Lorem value, there's a `supplemental` argument and from looking at the docs and examples, I can't figure out what it does.

chris-pratt-and-at-this-point-im-afraid-to-ask.jpg

[2015-07-30 03:04] salexzee commented on #388
From the looks of it, when `supplemental` is set to `false` (default), you only get lorem ipsum words from the standard lorem ipsum passage

[code]

If you set `supplemental` to `true`, you get random words from a mixture of the standard lorem ipsum passage and another list of words called supplemental. I'm not sure where those words come from though.

Check out [lib/locales/en.yml](https://github

[2015-07-30 03:06] salexzee commented on #386
Thanks for merging.

[2015-07-30 03:06] #386 closed

[2015-07-30 03:26] salexzee commented on #237
@dmhalejr the README shows the return output of `Faker::Number.number(10)` as a string. Just run the `.to_i` method on it and you're good to go.

From the Rails console:

[code]

[2015-07-30 03:56] salexzee commented on #342
Yes the `flexible` method along with 'method_missing` is why you can't do that with `Faker::Lorem`, but you can with `Faker::Name`.

If you look in [lib/faker.rb](https://github.com/stympy/faker/blob/master/lib/faker.rb), right below the `flexible` method, there is a little blurb about this:

[code]

I would assume the `flexible` method isn't on the `Faker::Lorem` class, because that class is used

[2015-07-30 05:40] yoonsy commented on #342
I agree. thanks for replying :)

[2015-07-30 05:40] #342 closed

[2015-08-02 14:41] Kakakakakku commented on #388
@brunzino
I think so too.
Usage of `supplemental` parameter is little difficult to understand for me.

Simply say, `supplemental` parameter can add word candidates.
But, `Faker::Lorem.word` method has no I/F with parameter. I wonder why?
My just idea is combining two word list, `faker.lorem.words` and `faker.lorem.supplemental`.

[2015-08-05 18:08] kyprifog commented on #375
Any interest here?

[2015-08-06 19:53] dkniffin opened #397 "Book author doesn't return a name"
[code]
It looks like it's being escaped somewhere where it shouldn't be.

[2015-08-07 12:55] dkniffin commented on #383
Did you submit a PR?

[2015-08-07 13:09] gkunwar commented on #383
@dkniffin Yes I have submitted PR.

[2015-08-07 13:21] gkunwar commented on #385
Completed this feature and submitted for PR.

[2015-08-07 18:43] dkniffin commented on #375
Sounds like a neat idea, but I'm not sure how it would be implemented. Maybe the sentences are created mad-lib style?

[2015-08-07 18:43] dkniffin commented on #357
I'm gonna take a stab at this. I'll submit a PR if anything comes of it.

[2015-08-07 19:25] dkniffin commented on #275
Did this ever get submitted? If not, I can do this real quick.

[2015-08-08 00:46] austinrfnd commented on #275
Nope never got it done.

[2015-08-09 06:07] dmill opened #401 "Latest changes are not in latest version"
I'm trying to use the Faker::University class that you guys have documented in the README, but it doesn't appear to be packaged in the latest version (1.4.3) on Rubygems. I pulled directly from Github, and I get the class. so
       gem 'faker', git: 'git@github.com:stympy/faker.git'
has it but
       gem 'faker', '~> 1.4.3'
does not. Did you forget to bump the version? And, thanks, by the way, th

[2015-08-10 14:21] brunzino commented on #388
Thanks, both of you. Yes, it looks like adding the `supplemental` to `Faker::Lorem` gets you words from a *supplementary* list of Lorem-like words.

[2015-08-10 14:21] #388 closed

[2015-08-10 19:59] th3m4ri0 commented on #397
Still have the bug:
[code]

[2015-08-10 20:47] dkniffin commented on #397
my PR (#398) hasn't been merged yet.

[2015-08-11 14:06] kyprifog commented on #375
Yeah thats the main reason I asked.  I didn't know if there were AI gems that retrofitted NLP concepts to construct sentences based upon provided syntax points.  For example, you could provide the verb:

sentence = Faker::Conversation.sentence({:verb => "run"})
=> "I went for a run today"
Faker::Conversation.reply({:context => sentence })
=> "Really?  I went for a run yesterday!"

If it does not e

[2015-08-11 14:27] dkniffin commented on #375
hmm. yea, interesting. I don't know of a gem that does that. I might spend some time later this week to see how hard it would be to implement something like this.

[2015-08-11 22:23] salexzee commented on #375
If it's for a messaging app, the conversation would be much longer than a sentence and then a response sentence. I think this would be better as its own gem.

[2015-08-14 12:45] tuxayo commented on #251
Would it be useful to make/find a gem that can ensure the uniqueness of a non unique data source? To avoid collisions without having ugly numbers.
For example with an email generated by Faker. That would have the cost of storing the existing emails in a Hash but that seems usable.

What do you think?

[2015-08-14 13:39] oservieres commented on #293
Hi @vitormil ,

Same bug for me. I tested your fix and it works like a charm. Do you plan to merge it sometime ? In the meantime, I may be able to use the Date class.

[2015-08-14 16:01] vitormil commented on #293
Thanks for testing @oservieres. I totally forgot to open the pull request.

Let's wait @stympy merge it.

[2015-08-14 21:04] timimsms commented on #401
Also experiencing this. Looking forward to the University class as well!

[2015-08-16 22:57] vike27 commented on #401
University data not working for me either! Please add!

[2015-08-17 20:26] stympy commented on #401
Version 1.5.0 has been released

[2015-08-17 20:26] #401 closed

[2015-08-20 15:10] somewell opened #406 "suggest: give a method to generate random color"

[2015-08-20 18:20] kriox26 opened #407 "Faker::Time.forward() not working properly"
Hi!! I was working with Faker::Time.forward to generate a `departure` date and a `arrival` date, and as you imagine arrival should be later than departure. But in some cases Faker::Time.forward works and in some other it fails. I leave some examples.
Here it works,  since it returns the 5 days forward earlier than the 6 days forward
[code]
Here it does not work, it returns the 5 days forward later

[2015-08-30 23:35] danmakenoise commented on #407
This is because Time.forward generates a random time between now and up to as many days as you specify. If you want to generate an arrival date, you will need to use Faker::Time.between, and specify your departure date as the beginning time. I went ahead and wrote a function that sort of does what you are looking for, returning a hash with a departure and arrival time. *Note: This is broken if you

[2015-08-31 08:21] pironim opened #412 "make Faker::Commerce.price configurable"
Hello. It's not an issue

I'm trying to use price method and for our tests we have some limitations
price can't be zero.. I check the source and it just return value from the range 0..100
I propose to make it configurable for example pass some params like range
for example Faker::Commerce.price(1..10)
Just want to know how make it right and is it suitable or not ?

[2015-08-31 15:17] danielRomero opened #413 "Faker::Company.buzzword method_missing"
In docs you can see this method ``` Faker::Company.buzzword ``` here https://github.com/stympy/faker#fakercompany but my console show this:
[code]
Rest of methods works fine
[code]
Thanks a lot for this awesome gem

[2015-09-01 09:34] pironim commented on #412
:+1: Awesome

[2015-09-01 17:47] kriox26 commented on #407
Awesome, thanks @danmakenoise!!! :+1:

[2015-09-01 17:47] #407 closed

[2015-09-01 18:36] Silox commented on #293
:+1: Running into this issue too:
[code]

[2015-09-06 10:43] yreme opened #418 "how to define additional field？"
For the noment, Faker could define class as:
[code]
How could I define other class that  `Faker` do not include,  for example:
[code]
Is there a way that could easily  extend `Faker`?

[2015-09-07 21:43] dunyakirkali opened #419 "Being able to generate a valid isbn number"
I patched the Book module to include this feature

see #416

[2015-09-08 10:28] #419 closed

[2015-09-09 13:49] pironim commented on #412
Hm. I think README also need some update ..

[2015-09-12 17:45] geratheon commented on #406
Try Faker::Color

[2015-09-13 14:18] #406 closed

[2015-09-14 01:52] stephenbaidu commented on #289
+1

[2015-09-14 14:37] geratheon commented on #330
Faker::Number.decimal is already implemented since 2014. I know this issue is a bit old but I think it should be closed.

[2015-09-16 22:08] samdec11 commented on #418
In your code, you can just open the Faker module and define your class with its methods inside:

[code]

[2015-09-17 01:30] yreme commented on #418
Thanks for your reply! Is there any way that extends   `Faker` without modify the  gem?
## my example in `lib`
For example, in `Ruby on Rails ` project,  I touch a file `lib/mymodule/my_faker.rb`:
[code]
and append ` config.autoload_paths += %W(#{config.root}/lib/mymodule)` to  ` config/application.rb`
[code]

By this way, this module works in `rails console` as
[code]

## put `Faker` in `lib` wou

[2015-09-21 03:35] crccw opened #423 "Number.number generates number with leading zero"
This happens sometimes since nothing is done to prevent a leading zero being generated..

Or is this intended behavior?

[2015-09-21 16:19] tra38 commented on #274
I have seen this same bug too, and I think this is not a feature, but a bug. I'll see if I can get time to look at the code and suggest a fix.

[2015-09-21 16:34] tra38 commented on #274
Faker::Lorem.sentence takes three arguments, the number of words you want, whether you want supplemental words or not, and how many additional random words you want added. And the number of additional random words is set to a default value of 6. Faker::Lorem.paragraph behaves in the same way: you can specify how many sentences you want and how many additional, random sentences you want to generate

[2015-09-23 12:38] vassyz opened #424 "Can't overwrite locale elements using the .yml file"
The en-GB locale uses a regex expression to generate a postcode, but I need an actual postcode to test geolocation. I tried creating the /`lib/locales/en-GB.yml` file, and replacing the postcode regex with something similar to:

[code]

This doesn't work, as I'm still getting dummy postcodes.
Is this supposed to work? Or am I missing something from the [Customization section](https://github.com/st

[2015-09-26 05:46] oystersauce8 commented on #309
please show us the code that's failing.

It works for me
[code]

[2015-09-26 05:57] oystersauce8 commented on #374
You have an older version of the gemm.
Please upgrade to a more recent version of faker. To install the latest version (1.5.0) you can do

`gem install faker -v 1.5.0`

[2015-09-26 06:02] oystersauce8 commented on #413
Buzzwords were introduced in version 1.5.0 of the gem, and looks like you're using 1.4.3.

[2015-09-26 07:09] oystersauce8 commented on #424
whats the full path to your modified en-GB.yml file? (i mean where is it saved)

[2015-09-26 07:14] oystersauce8 commented on #423
I would say numbers with leading zeros are legitimate numbers.

There's several ways to strip the leading zero if required -
[code]

[2015-09-26 07:37] oystersauce8 commented on #418
just to reinforce what samdec11 said

put these 11 lines of code in to your script/application to define an additional field call Animal.name

[code]

What makes this possible is a feature of ruby called open classes.

'In Ruby the implementation of a class is not closed. In Ruby, it is incredibly easy to add new methods to any existing class at runtime, even core system classes like String, Array

[2015-09-26 07:45] vassyz commented on #424
It's in the project folder, so ~/Sites/project/lib/locales/en-GB.yml

[2015-09-26 08:03] yreme commented on #418
@oystersauce8   thanks, It is very nice of you.
##  work well in `irb` or  `pry`
[code]
## Fail to work in `rails` because of  `uninitialized constant Faker::Animal`
If I put  those line in  ` script/application/Animal.name.rb`
[code]
then  in `RAILS_ENV=development rails   console` ,   it works as:
[code]
Is there setting  I have missed out?

[2015-09-26 08:49] yreme commented on #418
I solved it  \\(^o^)/~！

Append this line to `config/application.rb`:
[code]
which means load all ruby files  under folder ` script/application`.

[2015-09-26 15:49] oystersauce8 commented on #418
`require './script/application/Animal.name.rb'` or

`require 'script/application/Animal.name.rb`.

[2015-09-26 16:53] simkessy commented on #374
thanks

[2015-09-26 16:53] #374 closed

[2015-09-28 06:46] #423 closed

[2015-10-01 14:34] Shonetow commented on #352
:thumbsup:

[2015-10-02 18:28] kuatro commented on #289
+1

[2015-10-04 16:50] theB264 commented on #289
I added this to a fork https://github.com/factory-helper/factory-helper

[2015-10-08 01:11] yreme commented on #418
@oystersauce8  Yes ， This is anther alternative

[2015-10-08 01:11] #418 closed

[2015-10-08 06:41] ehannes opened #428 "Dependent on Git"
I guess you already know about it, but I cannot see it anywhere in the documentation: this gem is dependent on Git (faker.gemspec uses ``git ls-files``). [Here](https://github.com/typus/typus/pull/422/files) is an example of how it could be solved.

[2015-10-08 08:44] #413 closed

[2015-10-08 17:28] #309 closed

[2015-10-08 17:56] vveliev opened #429 "Data config that is not locales specific."
Hey , I have a question where configuration file should be stored when data is not locales specific.

Ex. 1. imei  - for mobile phone may have list of brands/device information (key value will be English words)

Ex.2 esn (Electronic serial number) may have some additional information i may want to store.

where should i store this info !? as saving in the rb file does not seemed to be a nice solut

[2015-10-21 16:29] s2t2 commented on #397
noticed this error as well. thanks @dkniffin for contributing a fix...

[2015-10-23 13:07] vrinek opened #437 "Faker::Time produces invalid time (daylight saving time)"
I bumped into this issue when trying to pass some time generates to `tzinfo` (gem required by `activesupport`).

## Code to reproduce

[code]

## Expected error

[code]

## References

- https://en.wikipedia.org/wiki/Daylight_saving_time#Procedure
- https://github.com/tzinfo/tzinfo

[2015-10-23 15:38] gpinkham opened #438 "force upper and lower and digits in password?"
is there a way to guarantee there will be upper and lower and digits in the random password?  I typically only get lower and digits which causes my tests to fail as the password also needs upper..  (if not available I'll try to code it and issue pull)  thanks!

[code]

Gary

[2015-10-23 15:39] gpinkham commented on #438
for the record I saw closed issue #196 but wasn't sure if that was implying you'd always get upper and lower and digits or just sometimes..

[2015-10-30 18:43] #438 closed

[2015-10-30 19:22] #330 closed

[2015-10-30 19:27] #412 closed

[2015-10-30 19:29] #375 closed

[2015-10-30 19:59] #128 closed

[2015-10-30 20:01] #247 closed

[2015-10-30 20:01] #297 closed

[2015-10-30 20:16] #245 closed

[2015-11-03 20:33] mgold opened #449 "Faker::Time.between produces times out of range for today"
If I feed in a time range that spans less than a single day, I get values outside of that range.

[code]

[2015-11-05 11:47] stgeneral opened #450 "IMEI generator"
Seems it would be good to have an IMEI generator. Is it planned?

[2015-11-05 12:08] stympy commented on #450
Nope, but PRs are welcome. :)

[2015-11-05 12:08] #450 closed

[2015-11-06 16:33] dpetersnews opened #453 "Faker::Book.name returns "#{Name.name}""
With 1.5 version for Faker::Book.author always returns #{Name.name}

[2015-11-08 01:26] sergeysova opened #458 "Rename files"
Rename `History.txt` => `CHANGELOG.md`
Rename `License.txt` => `LICENSE`

[2015-11-08 08:01] juyeong opened #459 "https url scheme"
Hello,
I'm trying to generate random https url with faker.
but current version (v1.5.0) don't support generate https url.
So it would be great if faker support https url :)

[2015-11-08 19:45] AaronCowan opened #461 "Tests failing on initial fork/clone"
I forked the repo and ran `bundle && bundle exec rake`, but the tests are failing. I'm using ruby 2.2.2. Here is the full trace. Any ideas why this may be happening?

[code]

[2015-11-08 19:46] #461 closed

[2015-11-08 19:47] AaronCowan opened #462 "Tests failing on initial fork/clone"
I forked the repo and ran `bundle && bundle exec rake`, but the tests are failing. I'm using ruby 2.2.2. Here is the full trace. Any ideas why this may be happening?

[code]

[2015-11-09 15:30] #453 closed

[2015-11-09 15:31] dpetersnews commented on #453
Duplicate of #397

[2015-11-09 23:57] npauzenga commented on #462
I'd noticed this as well. Looks like `test_faker_number.rb` requires minitest where the rest of the tests use `test-unit`?

[2015-11-10 17:37] toobulkeh commented on #24
:+1: for a Phony/Faker crossover.

[2015-11-10 20:36] AaronCowan commented on #462
Well one way to solve this would be to include minitest in the Gemfile. Another would be to delete the test. What do you think is better?

[2015-11-12 00:26] testflyjets opened #465 "Strings generated with characters that are HTML-escaped cause test failures"
In testing the dynamic content of an HTML email I discovered that some of the names generated by Faker::Name.last_name contained apostrophes, such as "O'Kon".

When this string was rendered in the email template it was rendered with the apostrophe escaped to an HTML entity and this caused the regex-based matcher to fail.

It would be great to be able to generate "HTML-safe" strings from Faker that

[2015-11-13 05:05] nmenag opened #466 "undefined method `profession' for Faker::Company:Class"
For `Faker::Company.profession` with  `'faker', '~> 1.5'`

[2015-11-14 17:04] stympy commented on #466
That method is on the master branch, so it will appear in the next gem release.

[2015-11-14 17:04] #466 closed

[2015-11-20 23:07] nmenag opened #469 "should exist one optional argument of lenght for the strings generated"
some cases:
- `Faker::Name.name`
- `Faker::Company.name`

[2015-11-21 17:25] #462 closed

[2015-11-21 17:26] AaronCowan commented on #462
Closed. A fix has been merged. https://github.com/stympy/faker/pull/464

[2015-11-24 18:00] ochagata commented on #449
I am trying to replicate this and unable to.
This is what I keep getting.

[code]

[2015-11-24 18:18] ochagata commented on #428
I thought [this](https://github.com/bernd/fpm-cookery/pull/96/files) would be a better example since it mimics faker's gemspec with the multiple test directories and the use of the `("\n")`

Working on sending in a PR right now

[2015-11-24 18:28] ehannes commented on #428
Looking nice!

[2015-11-24 18:38] ochagata commented on #397
This is fixed with the merge of #443. This can be closed now

[2015-11-24 18:42] ochagata commented on #378
This issue should be closed since the PR was merged

[2015-11-24 19:03] mgold commented on #449
Was using 1.4.3. Upgraded and it works. Sorry for the trouble.

[2015-11-24 19:03] #449 closed

[2015-11-24 20:53] ochagata commented on #293
This can be closed

[2015-11-24 21:23] vitormil commented on #293
@ochagata :+1:

[2015-11-24 22:46] #293 closed

[2015-11-24 22:48] #378 closed

[2015-11-24 22:48] #397 closed

[2015-11-25 00:05] ochagata commented on #428
This can be closed now

[2015-11-25 02:59] ochagata commented on #469
Do you mean something like this?

* `Faker::Name.name(5)` and expect the resulting string to be 5 or less chars?

[2015-11-25 03:04] nmenag commented on #469
yes, or have two  arguments  as `min-lenght` y `max-lenght`

[2015-11-25 03:46] ochagata commented on #469
So like:
* `Faker::Name.name` the default one
* `Faker::Name.name(5)` this returns a string that is at most 5 chars long
* `Faker::Name.name(2, 5)` this returns a string that is at least 2 chars long and at most 5 chars long

Is this correct?

[2015-11-25 03:47] nmenag commented on #469
yes, i like

[2015-11-25 12:47] #428 closed

[2015-11-30 17:29] castrolem commented on #465
+1

[2015-12-01 17:52] chellberg commented on #188
I was just struggling with a related issue, noticed that the pull request mentioned above has now been merged. See https://github.com/stympy/faker/blob/master/lib/locales/en-US.yml for example formats.

My issue was that I was specifying `Faker::Config.locale = 'en-us'` when it needed to be `'en-US'`.

[2015-12-01 17:54] chellberg commented on #24
For anyone running into this issue today, you just need `Faker::Config.locale = 'en-US'` (capitalization matters) - implemented in https://github.com/stympy/faker/blob/master/lib/locales/en-US.yml

[2015-12-02 22:36] nofxx opened #476 "Colors! As RGB Hexdecimal"
Colors is a helper I always end up doing myself.

Maybe `#rgb_color` and `#rgba_color`.
It would return "#RRGGBB" and "#RRGGBBAA" respectively.
Or an one shot thing: `"%06x" % rand(0x1000000)` or rubocop ok `format('%06x', rand(0x1000000))`

Thank you, I use faker everywhere!

[2015-12-03 12:04] coorasse commented on #266
Same with `Faker::Internet.mail` :+1:

[2015-12-03 17:33] mattpickle commented on #465
+1

[2015-12-04 09:12] harsh183 opened #477 "Need more names book titles"
When using `Faker::Book.title` I don't get that many different sample book titles, it would be neat to see more variety like how it is for `Faker::Name` or so.

[2015-12-05 20:16] vshy108 opened #478 "Causing memory error if Faker::Internet.email with integer argument"
The line of code will non-stop execute until cannot allocate memory error occurred on that line.
I know it is mostly because the sample of email cannot generated from nuimber but I think if argument exception can be triggered before all memory consumed is better.

[2015-12-08 02:50] vraravam opened #480 "Faker expects ':en' locale to be present"
In my rails app, I do not have a :en locale. The default locale is set to ':en-IN' and all other gems, etc respect that setting. When I upgraded faker from v 1.5.0 to 1.6.1, I got an error since the internet.rb line 18 is hardcoded to look for :en. Please fix asap.

[2015-12-09 17:17] #477 closed

[2015-12-09 17:49] tejasbubane commented on #289
@b264 Why not send a PR?

[2015-12-11 10:16] harsh183 commented on #477
Well, it's fixed now.

[2015-12-12 16:22] lessless commented on #278
same here with `1.5.0` and `4.2.4`

[2015-12-15 20:17] korolvs opened #485 "Problems when I18n.locale and Faker::Config.locale are different"
When `I18n.locale` and `Faker::Config.locale` are different method `I18n.with_locale` can work not the way you expect.

For example:
[code]

`Faker::Internet.domain_name` uses `I18n.with_locale` and then calls `Faker.translate` method

[code]

The problem can be solved by using custom `with_locale` method like this:
[code]

Thank you, faker is great!

[2015-12-17 00:04] jdw6359 opened #487 "Add Middle Name Field to Faker::Name"
I would like to generate middle names on the `Name` object. I'd happily dev.
Any objections @stympy ?

[2015-12-19 07:07] NuckChorris opened #488 "Faker::BankAccount"
I've got a marketplace app I'm building, so it'd be nice to be able to generate fake bank account data.  There's a few formats, but in the USA we use ABA-RTN codes, international stuff is SWIFT-BIC and in Europe they have IBAN.  It'd also be fun to generate a bank name.

I would build this myself but frankly I have no idea how to make a random number which conforms to a checksum, and don't have an

[2015-12-21 06:48] swapnilchincholkar opened #490 "Full name with middle name under Faker::Name"
Now Faker::Name.name returns only "#{first_name} #{last_name}". There should be a way to have full name which contains middle name also.

[2015-12-21 07:12] swapnilchincholkar commented on #490
Sent [PR](https://github.com/stympy/faker/pull/491), please review.

[2015-12-31 12:21] mkyurchev commented on #487
:+1:

[2016-01-05 19:19] ochagata commented on #476
This can be closed @stympy

[2016-01-06 04:23] nofxx commented on #476
TY!

[2016-01-06 04:23] #476 closed

[2016-01-12 19:10] tejasbubane commented on #480
@stympy added that locale enforcing to fix numerous issues with username and email encodings in this commit https://github.com/stympy/faker/commit/7f019548fb5b539658aadac848ad2cdacb5d3e86

[2016-01-13 15:49] cdcooksey opened #496 "Need version bump: 1.6.1 is missing Faker::Color.color_name"
I am using v 1.6.1 and Faker::Color.color_name does not exist.

Commit 2125b82 added ```Faker::Color.color_name``` to the Color class on 2015-06-12, but the version has not changed since 2015-11-25 (commit 616c8eb)

[code]

[2016-01-18 06:24] tejasbubane commented on #328
We have `Faker::Address.country_code` right? https://github.com/stympy/faker/blob/master/lib/locales/en.yml#L8

[2016-01-18 06:41] tejasbubane commented on #385
@gkunwar I think you should use nepali script for nepali locale, not English.

And please split the locale changes and the new nationality feature into two separate PRs as @stympy suggested in the [PR comment](https://github.com/stympy/faker/pull/382#issuecomment-152638793).

[2016-01-18 07:25] tom-lord commented on #328
Good spot, this was added a long time ago too.

https://github.com/stympy/faker/commit/a1f0bbd2583ad9d232ad2c76f0ae8e72e98c8b53

[2016-01-18 07:52] tejasbubane commented on #328
Yes. I guess we can close the issue then. @franciscomxs

[2016-01-20 13:36] franciscomxs commented on #328
Thank you guys.

[2016-01-20 13:36] #328 closed

[2016-01-20 19:30] mrkgrandjean opened #499 "Faker::PhoneNumber.cell_phone not enforcing locale"
I've noticed that when you use the cell phone method after setting the locale, it does not enforce the area code rules.  notice in the code sample below, the first result is area code, "126" which is invalid.

[code]

[2016-01-21 10:55] shiroginne commented on #485
Hey,
I have similar problem
[code]

solution 👆looks good.

[2016-01-22 17:50] tejasbubane commented on #109
This issue can be closed I guess @neutralino1

[2016-01-27 08:53] januszm commented on #251
@tuxayo +1

[2016-02-03 00:06] ChrisCPO opened #505 "Faker::Color.color_name => undefined method"
faker (1.6.1)

Faker::Color.rgb_color
=> [81, 191, 238]
Faker::Color.hex_color
=> "#9b35e0"
 Faker::Color.color_name
NoMethodError: undefined method `color_name' for Faker::Color:Class
from /home/chris/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/faker-1.6.1/lib/faker.rb:144:in `method_missing'

[2016-02-03 05:18] kakakakakku commented on #505
@ChrisCPO
Hi, I think that `Faker::Color.color_name` is not supported to `faker-1.6.1`.

Because, this method was added on "8 Dec 2015" by PR below, and `faker-1.6.1` was released on "23 Nov 2015".
Maybe, `faker-1.6.2` feature?

1.6.0 - November 23, 2015 (220 KB)

* [Faker::Color documentation and a color name method by efexen · Pull Request #479 · stympy/faker](https://github.com/stympy/faker/pul

[2016-02-08 15:58] mad-raz opened #507 "OmniAuth ready responses"
is it a good idea to have already predefined omniauth response hashes (for the common providers like fb/twitter/linkedIn/etc.)?
maybe in the internet module (ex. `Faker::Internet::Omniauth.#{provider}` )

[2016-02-11 07:35] tejasbubane commented on #478
I am not sure if I completely get what your error is, but this is what I did and it seems to work fine:

[code]

Can you please share an example of your error?

[2016-02-11 17:47] systemnate commented on #499
I can't seem to reproduce this issue.

First, I require faker and then set the locale to en-US.  I then made a loop that runs 10,000 times (and even tried it multiple times) and store the result of called Faker::PhoneNumber.cell_phone into a variable called num.  I then use a regular expression to search for the first occurrence of 3 digits (\d{3}) then inspect the first match and first character

[2016-02-11 17:50] systemnate commented on #499
* - phone_number and cell_phone do not actually call area_code...it calls a format which is defined in en-us.yml.  For cell_phone the formats are:

[code]
This doesn't change my investigation, just wanted to me a little more clear.

[2016-02-15 05:18] tejasbubane commented on #237
This is not the case with only `number(10)`. Even `number(1)` returns a string:

[code]

Same case with decimals. This is really odd. Though we can easily add a `to_i` (or `to_f` for decimals) to make it work, I don't see any reason for a `number` method to return a string.

[2016-02-15 10:03] tejasbubane commented on #158
This can be closed since the PR is merged.

[2016-02-18 23:56] themcny commented on #488
I don't know if you're still looking for this to be created but I took a gander [here](https://github.com/themcny/faker).

Lemme know if it works for you.

[2016-02-21 03:59] #496 closed

[2016-02-21 03:59] #505 closed

[2016-02-21 04:28] #485 closed

[2016-02-22 22:47] chrishough opened #518 "wysiwyg conent"
Has anyone considered setting up a Faker for wysiwyg content? Something with generic Hipster text and HTML?

[2016-02-23 15:52] ana3ela opened #519 "Faker Gem causing 'invalid byte sequence in US-ASCII' error (Rails 3.2 + Ruby 1.9.3)"
I'm developing an rails application using Rails 3.2 and Ruby 1.9.3. When I try to execute rake tasks, the Faker gem is causing the following error: 'invalid byte sequence in US-ASCII'. On my error log was saying that the error was caused by the file lib/faker/beer.rb due to an invalid character on line 35 (°Blg).

[2016-02-23 16:03] stympy commented on #519
I have just pushed version 1.6.3 of the gem, which fixes the problem.

Sorry for the inconvenience!

[2016-02-23 16:03] #519 closed

[2016-02-23 16:07] ana3ela commented on #519
Thank you for your prompt reply!

[2016-02-29 01:24] KarlGl opened #520 "Can't run Faker::Date.birthday"
Looks like I can't run `Faker::Date.birthday` in Rails `4.2.5`, Ruby `2.2.3`

Do you need anymore info to reproduce this?
[code]

[2016-02-29 03:25] lxhoang commented on #520
https://github.com/ducthanh/faker/commit/7f8ed857bd0a228456baf864341ef32924824396 the issue was already raised. The issue happen because there is no 29 Feb in the some years ago. You can edit to work around like this code.

[2016-02-29 03:59] KarlGl commented on #520
Thanks. Just figured that out too :)

[2016-02-29 10:32] Bojole commented on #520
I commented on https://github.com/ducthanh/faker/commit/7f8ed857bd0a228456baf864341ef32924824396, and I think better approach is something of sort:

[code]

This way you will actually have a leap day birthday, when coming from a leap day, as today.

[2016-02-29 18:24] DelmerGA commented on #520
:+1:

[2016-03-02 08:59] tonyhsu23 commented on #272
I'm having the same problem here.

This is what I get in the rails console
[code]

[2016-03-02 16:23] kupolak commented on #272
Fixed here:
https://github.com/stympy/faker/pull/525

[2016-03-03 00:26] melonhead901 opened #526 "Faker::Time::between doesn't respect requested period"
Faker::Time::between doesn't respect the requested period. The unit test of this method consistently fails due to this.

[2016-03-03 01:57] melonhead901 commented on #526
Actually -- this is fine, there's no bug with the method.

The unit test is wrong I think due to an insidious bug that only occurs within the 15 days before DST.

[2016-03-14 13:42] dkniffin commented on #275
@stympy Since you closed my PR (#400), you should close this, too.

[2016-03-18 13:20] kupolak commented on #518
+1 Really need this one in my current project.

[2016-03-18 16:35] chrishough commented on #518
I switched to FFaker for this reason http://ricostacruz.com/cheatsheets/ffaker.html  as it has Faker::HTMLIpsum.body

[2016-03-21 12:14] nrhirani commented on #507
+1

[2016-03-22 00:06] Kiwwa opened #529 "Faker::Time failing tests intermittently"
On a fresh fetch from master, approximately 75% of the time one test within `test_faker_time.rb` fails;

Here is the failure;
[code]

I'm happy to attempt to fix the issue, can I poke around in this code?

[2016-03-23 17:02] oasisweng opened #532 "How do I include Faker's customisation without changing the files in the gem?"
According to customization section, I only need to include a YAML file in /lib/locales to add new options to Faker

en:
  faker:
    company:
      store_type: [Collection Point, Flagship Store, Cleaning Centre]
    address:
      postcode_cn: [310000,329999,430000,449999,100001,102600]
      province: [Zhejiang, Shanghai, Beijing, Guangzhou, Jiangsu, Fujian]
      city_cn: [Hangzhou, Wenzhou, Nin

[2016-03-23 17:04] oasisweng commented on #532
I am using Rails 4.2

[2016-03-24 13:26] kupolak commented on #532
You just have to add new methods. For this example:
[code]
inside ```lib/faker/company.rb``` and:
[code]
inside ```lib/faker/address.rb```

[2016-03-25 07:46] MyklClason commented on #529
Probably an off by one error there based on the math. That that it's passing even 75% of the time when 300 tests are run suggestions the error is rather rare. Math puts it's occurrence at around 0.1% of the time. If I was inclined to bet, I'd figure it was in the `random_between`.

Recommend playing around with the values in `[random_backward, random_between, random_forward].each do |result|` and

[2016-03-28 15:08] tejasbubane commented on #529
I ran the test suite for more than 10 times, but could not find the failure.

[2016-03-29 09:57] gczh opened #535 "Retrieve All Job Titles"
It would be pretty cool to be able to obtain all the job titles. Nifty feature in cases such as forms where users can pick their job titles.

[2016-03-30 04:33] MyklClason commented on #535
Job titles are [randomly generated](https://github.com/stympy/faker/blob/210981ba67818d7a57c5042d6a0698f8140a10e1/lib/faker/name.rb).

[2016-04-03 21:29] MaicolBen commented on #340
@itsmrwave The parameter `random_sentences_to_add` is descriptive itself: the quantity of sentences to add to the paragraph is random, if you found a bug with these parameters, please add a new issue.

[2016-04-04 07:10] itsmrwave commented on #340
@MaicolBen Thanks. Yes. It does (in hindsight I shouldn't have included `random_sentences_to_add`). That said ... there's no issue. But what about `supplemental`? Looking [at your PR](https://github.com/stympy/faker/pull/539), I still don't get it. :confused: ... maybe it's just me though. :grin:

[2016-04-05 10:39] MaicolBen commented on #340
@itsmrwave I can't find it in Google, but it is simply an alternate list of 'lorem' words

[2016-04-05 13:51] swapnilchincholkar commented on #278
Seems its working, check following
[code]

[2016-04-05 20:35] nofxx commented on #289
Yup... also there's sex in titles for latin languages. pt, es, it...
eg in portuguese: 'Sr.' for he, 'Sra.' for she.

[2016-04-05 20:38] nofxx commented on #24
What I did in an application with heavy phone use was Phony validation, as @toobulkeh mentioned.
Just drop those who fail.

[2016-04-07 04:15] itsmrwave commented on #340
@MaicolBen Ok.Also can't find anything on Google. Everything points to this gem. :disappointed: I've edited the issue's title and description. Noticed that I'd called it a bug :see_no_evil: ... sorry about that.

[2016-04-07 04:15] #340 closed

[2016-04-07 15:13] #529 closed

[2016-04-07 15:29] #490 closed

[2016-04-07 15:32] stympy commented on #535
Addressed in #540

[2016-04-07 15:32] #535 closed

[2016-04-08 13:17] dmxhZGp1c2hh opened #547 "TestFakerBoolean sometimes fails"
Sometimes tests are failing because of TestFakerBoolean.

Proof:

[code]

[2016-04-11 03:15] MyklClason commented on #547
That test seems a bit simplistic as it doesn't really show how unlikely the probability is to result in that ratio (true_counter / test_cases). Probabilistic cases like this are likely to fail simply due to unlikely events.

Here, it expected the experimental ratio to be within 1% of the true ratio, but the result was only within about 3.5% of it. A better approach would be ideal, but good ways to

[2016-04-11 06:54] dmxhZGp1c2hh commented on #547
Is this test necessary? It really checks how `rand` method works and it is already tested on language level.

[2016-04-11 09:27] Newman101 commented on #547
To be honest, I think this test is unnecessary.

[2016-04-15 14:53] dpatuwo opened #554 "Chuck Norris is uninitialized"
When I try to make a Chuck Norris joke, this is what I get:

`[1] Pry(main)> require 'faker'
=> true`
`[2] Pry(main)> Faker::ChuckNorris.fact
NameError: uninitialized constant Faker::ChuckNorris
from (pry):2:in __pry__'`

(I'd put a Chuck Norris joke here but I'm not witty enough to make one)

[2016-04-15 15:40] bryanmytko commented on #554
@stympy

Needs version bump.
1.6.3  doesn't include **Faker::ChuckNorris** or **Faker::Crypto**

[2016-04-15 17:02] stympy commented on #554
The README indicates that it describes the master branch, not the latest release.  You can find the README for the latest gem version here: https://github.com/stympy/faker/tree/v1.6.3

[2016-04-15 17:02] #554 closed

[2016-04-18 14:27] Matrixbirds commented on #507
+2

[2016-04-22 14:08] amingilani opened #558 "Add Faker::PhoneNumber.country_code"
Add a country code generator to the phone numbers!

[2016-04-26 08:01] coorasse commented on #278
[code]

fixed for me as well

[2016-04-27 13:32] casi commented on #547
So I would appreciate if this ckeck would be deleted. Anyone please? Thank you. :)

[2016-04-27 14:30] Newman101 commented on #547
Sure, I can do that.

[2016-04-27 14:54] casi commented on #547
Nice, thank you!

[2016-04-27 17:09] #325 closed

[2016-04-27 17:09] steakunderscore commented on #325
This is now implemented.

[2016-04-27 17:42] PascalSchumacher commented on #547
Issue can be closed, because test was deleted: https://github.com/stympy/faker/commit/eeac2fd6d54934d304d2407c47d42b507fa9ace9

[2016-04-27 17:59] #547 closed

[2016-04-30 07:21] JoeWoodward commented on #249
This seems to still be an issue, I don't know if this was previously possible but it certainly doesn't seem to be possible now

[2016-04-30 07:26] NobbZ commented on #249
@JoeWoodward: What did you try? I just did some tests locally and it worked (Version of Faker was 1.6.3)

[2016-04-30 07:28] JoeWoodward commented on #249
I tried Faker.Internet.user_name(name_that_is_possibly_longer_than_20, %w(_), 20)

[2016-04-30 07:30] JoeWoodward commented on #249
Just realised that the comment mentions that you can only set max length without sending a string to use as the username. I think it would be more useful if there was a min and max option to be passed

[2016-05-02 19:19] paguilera opened #568 "Add Private Internet Addresses"
There already exists `public_ip_v4_address` as a way to create public ip addresses. Looking for a way to similarly generate private ip addresses.

[2016-05-05 15:45] jstoebel opened #572 "NameError: uninitialized constant Educator"
I'm using version 1.6.3. It looks like the `Educator` module isn't available.

[code]
Has this been replace by the module `University`?  Should it be removed from the read me? I'd be happy to do so if needed.

Also, would methods for `secondary_school`, `course`, and `campus` be a welcome contribution to `University`?

[2016-05-05 17:32] jellyfunk opened #573 "Faker::Address.postcode can generate invalid postcodes for en-GB"
The pattern for UK postcodes currently allows the letter 'O' in either of the last 2 positions.

According to the fine print for the postcode format - see bottom of page 17 [here](http://www.royalmail.com/sites/default/files/docs/pdf/programmers_guide_edition_7_v5.pdf) - UK postcodes can't have any of CIKMOV in the last two characters.

[2016-05-05 17:42] #573 closed

[2016-05-08 16:11] Startouf opened #576 "Sectors/areas for University and compaies"
I would love to have a generation of random areas of specialization for companies and universities

Like Architecture, Mechanical/Electrical Engineering, Computer Science, Business development, etc.

I'm not quite sure I understand the difference between University and Educator, but I noticed that Educator.course returned a course that actually mentions the area (in the readme, "Associate Degree i

[2016-05-10 08:05] rpbaltazar opened #579 "Faker::ChuckNorris not found"
I believe this is only available on master and not on the latest release of Faker to rubygems.
Not sure if it was added to the Readme already on purpose or not, but was misleading 😢

[2016-05-10 12:38] dunyakirkali commented on #278
Still an issue with 1.6.3 and rails 3.2.22.1

[2016-05-11 04:24] MyklClason commented on #579
From the readme (emphasis mine), near the top:

### NOTE

* While Faker generates data at random, returned values are not guaranteed to be unique.
* **This is the `master` branch of Faker and may contain changes that are not yet released.**
  Please refer the README of your version for the available methods.
  List of all versions is [available here](https://github.com/stympy/faker/releases).

[2016-05-11 05:45] #579 closed

[2016-05-14 09:58] vishaltelangre commented on #520
This works in faker-1.6.3.

[code]

[2016-05-14 10:19] vishaltelangre commented on #572
Looks like  `Educator` is in master introduced with https://github.com/stympy/faker/commit/57c9abd7b6ae1e86772ed9bb5c875d1b10d494cf. But it doesn't seem to be part of version 1.6.3.

[2016-05-14 13:36] g-ilham commented on #520
@vishaltelangre I've tested with freezed time in "2016/02/29" it doesn't work.

[2016-05-14 20:37] IlkhamGaysin commented on #520
I've created pull request https://github.com/stympy/faker/pull/580. I think, it would be better increase or reduce the year instead day. Also change of year should be in range of min_age and max_age.

[2016-05-15 20:55] dmxhZGp1c2hh opened #581 "New release"
Last gem release was on 23 feb. After that thing has been added, but not released as gem update.
So mby it's time for 1.6.4?

[2016-05-16 10:10] g-ilham commented on #520
I've created pull request for this issue #580. I think, it would be better increase or reduce the year instead day. Also change of year should be in range of min_age and max_age.

[2016-05-17 21:50] zendeskdndungu commented on #217
You should use gem 'faker', github: 'stympy/faker' if you get an error "Git error: command `git clone 'git://github.com/stympy/faker.git.git'"

[2016-05-20 18:05] justinxreese commented on #572
Looks like this and #581 mean the gem owner needs to publish

[2016-05-24 19:28] aacarr5 opened #585 "Add Demographic Data"
Hey! I think it'd be good to be able to generate demographic data like height, age, race, marital status etc. If anybody feels similarly, I have a potential PR that could support this feature. Feel free to provide critique on the idea!

[2016-05-25 21:35] epintos commented on #270
This issue is deprecated right? The structure is like the following:

[code]

and I think it won't override any existent I18n translations right?

[2016-05-25 21:39] epintos opened #588 "Update WIKI and clean README"
I've noticed that every time someone adds a Faker class, they add examples to the README. Maybe its better to add those usages to another file or to the Wiki to make the README more clear for other issues. With time the README may be getting bigger and bigger with more usages. What do you think?

[2016-05-25 21:44] epintos commented on #568
@paguilera The `public_ip_v4_address` method generates private address like 10.0.0.1 or 192.168.0.1 . Do you want a method that only returns those types of ips?

[2016-05-26 03:31] paguilera commented on #568
My understanding was the `public_ip_v4` did not return such addresses.

However, yes, I'm requesting a method that only returns those types of ips.

[2016-05-26 11:40] epintos commented on #568
@paguilera Is there any list of known private ips? I think that it depends on the configuration of the network. There are some common ones like the ones I mentioned before but it could be any

[2016-05-26 14:47] paguilera commented on #568
There's a list from RFC 1918 that shows this:

The ability to configure additional ones would be a nice addition, but I think having these would be a great starting point.

[2016-05-27 11:51] epintos commented on #568
Oh thats okay then. I will take a look to the existent `public_ip_v4_address` and then submit a PR

[2016-05-27 13:24] paguilera commented on #568
That's great. Thank you.

[2016-05-27 14:45] sijn commented on #588
Well it is rather easy to have them in one place. And the list is rather long, but i must say its super easy! so i would say, leave it as it is?

[2016-05-27 17:08] seebq commented on #465
+1

(runs over to CircleCI to hit rebuild)

[2016-05-27 17:11] pleary commented on #465
+1 (also just hit rebuild in Travis for this)

[2016-05-28 05:41] lavika commented on #558
I am working on this.

[2016-05-28 23:45] epintos commented on #568
@paguilera I submitted https://github.com/stympy/faker/pull/591 for this. What do you think?

[2016-05-28 23:48] epintos commented on #588
I got a response by email for this but I can't see it here. Was the response removed?

[2016-05-29 03:55] paguilera commented on #568
Looks good to me. Thanks!

[2016-06-02 15:41] danlam444 opened #594 "Feature Request: Move locales to an external directory"
Moving locales to an external directory / directory outside of the gem and have this directory path configurable would allow users to easily share a customised locale between different machines.

I'm building a test framework for smoke testing and I'd like to use faker to populate some form fields. Tests will be run on different machines and build agents so I need my customised locale files to be

[2016-06-09 18:34] mhutter commented on #532
Hi @oasisweng, is this still open or can the issue be closed?

[2016-06-13 20:47] stympy commented on #568
Closed in #591

[2016-06-13 20:47] #568 closed

[2016-06-13 21:05] #520 closed

[2016-06-14 02:23] fifiteen82726 opened #601 "NameError: uninitialized constant Faker::Hipster"
I type this in my **seeds.rb**

[code]

and I got this error `NameError: uninitialized constant Faker::Hipster`

But `Status.create(:post => Faker::PhoneNumber.area_code )` works perfectly, how do I fix it?

[2016-06-14 07:51] zulhfreelancer commented on #217
`gem 'faker', github: 'stympy/faker'` works. Thanks!

[2016-06-14 20:35] supremebeing7 commented on #601
What version of faker is in your Gemfile.lock? `Faker::Hipster` was added in 1.6.0, so any version below that it won't be available.

[2016-06-14 22:00] supremebeing7 opened #603 "Suggestion: Convert parameters to keyword arguments"
I find myself using `Faker::Internet.slug` pretty regularly, but I almost never need to specify words and almost always specify the glue. So, my tests and factories are littered with `Faker::Internet.slug(nil, '-')`. It seems to me it would read better as `Faker::Internet.slug(glue: '-')`.

I think this would also provide some clarity on other Faker classes involving multiple arguments. For exampl

[2016-06-14 22:30] stympy commented on #603
I like this idea -- I'd love a PR. :)

This is good timing, as I just dropped Ruby 1.9.3 from Travis, so the next gem version can have breaking changes like this.

[2016-06-14 23:07] supremebeing7 commented on #603
👍

I can try to whip up one in the coming week.

[2016-06-16 02:59] fifiteen82726 commented on #601
Thanks @supremebeing7,  I modify into `gem 'faker', '~>1.6.3'`, and it works.

[2016-06-16 03:11] #601 closed

[2016-06-16 11:58] isaiev opened #607 "undefined method `name_with_middle' for Faker::Name:Class"
I have error with name_with_middle method.
As I see the code from [PR 419](https://github.com/stympy/faker/pull/491/files) not currently used.
Maybe code was removed, but this method left in README?
[code]

[2016-06-16 12:31] isaiev commented on #607
Installed gem from github source, now everything ok.

[2016-06-16 12:31] #607 closed

[2016-06-17 18:56] isaiev commented on #594
But you can customize faker locales from your own locale files.
For example:
[code]
Or it's not acceptable solution for your situation?

[2016-06-18 21:56] tithamane opened #608 "The examples on the home page might have an error"
I used this gem inside a rails console, it seems to me that the Crypto namespace/module does not exist in this gem. I can confirm that I was on 1.6.3 (most recent). I could easily work around this but from the front page it should be possible out of the box.

Or is there something that I should be doing besides `Faker::Crypto.sha1`?

[2016-06-18 22:07] tithamane commented on #608
For now I guess one has to use github in the gem file. :unamused:

[2016-06-18 22:07] #608 closed

[2016-06-26 10:57] elangovan91 opened #615 "How to avoid special characters in faker string field"
I used faker to dump data. But i don't want special character in faker data. Sometimes Faker::Name.first_name return data with single quotes.

Example :
Faker::Name.first_name -> "O'Hara"

[2016-06-27 06:18] Shwetakale commented on #615
@elangovan91 Here data is coming from [here](https://github.com/stympy/faker/blob/2bf828f6c164fb7019f527d3ff24f48c6d629284/lib/locales/en.yml)

And if you don't want special characters to be present in name I think this name should be removed from fake data but that is valid name and currently I didn't find option to reject such names.

[2016-06-28 14:05] weh commented on #154
@stympy i think this issue can be closed.

[2016-07-04 23:16] babasbot opened #620 "NameError: uninitialized constant Faker::Space"
[code]
[code]

[2016-07-06 20:02] toobulkeh opened #621 "private_ip_v4_address missing?"
[code]

Looks like it was added 22 days ago, but the latest version (1.6.3) was released in February. Is a new release coming soon?

Great work!

[2016-07-06 21:30] stympy commented on #621
Version 1.6.4 has just been released.  Enjoy! :)

[2016-07-06 21:30] #621 closed

[2016-07-06 21:31] stympy commented on #620
This was added in version 1.6.4, which I released a few minutes ago.

[2016-07-06 21:31] #620 closed

[2016-07-06 21:31] stympy commented on #581
Done :)

[2016-07-06 21:31] #581 closed

[2016-07-08 05:56] qwert42 opened #623 "Shouldn't we capitalize the result of `Faker::Hacker.say_something_smart`?"
As in https://github.com/stympy/faker/blob/master/lib/faker/hacker.rb#L24

[2016-07-08 20:03] b264 commented on #615
Sometimes having special characters in test data can make your code more robust if it can deal with those.  I would argue there aren't enough special characters

[2016-07-09 04:11] alanwillms commented on #251
PHP Faker has a modifier to get unique values (`Faker.unique.name`):

https://github.com/fzaninotto/Faker#modifiers

[2016-07-12 05:05] u007 opened #627 "ruby 2.3.1 rails 5"
Loading james environment (Rails 5.0.0.rc1)
irb(main):001:0> Faker::Vehicle.vin
NoMethodError: undefined method `split' for nil:NilClass
    from /Users/james/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/faker-1.6.5/lib/faker/vehicle.rb:13:in`vin'
    from (irb):1

[2016-07-13 17:47] AustinMCrane opened #630 "Markdown/HTML Support"
I have had several projects where it would be helpful to create random lorem ipsum with markdown/html syntax. can this be supported?

[2016-07-14 19:59] sweetw0r opened #631 "Time zone abbreviation"
https://en.wikipedia.org/wiki/List_of_time_zone_abbreviations

`Faker::Address.time_zone_abbr  #=> "AST" # Atlantic Standard Time`

[2016-07-14 20:51] flameofzion commented on #627
I'm on Ruby 2.0 and this doesn't work in 1.6.5 either.

[2016-07-14 23:52] sweetw0r opened #632 "Faker::Date.backward(14)"
**Expected:**
Faker::Date.backward(14) #=> "Fri, 19 Sep 2014"
**Actual:**
Faker::Date.backward(14) `#=> #<Date: 2016-07-02 ((2457572j,0s,0n),+0s,2299161j)>`

[2016-07-18 12:58] Newman101 commented on #623
This issue has been resolved and AFAIK the ticket can be closed.

[2016-07-18 13:41] b264 commented on #623
https://github.com/stympy/faker/pull/625

[2016-07-19 09:17] krisleech commented on #278
Still an issue with 1.6.5 and rails 4.2.7

[2016-07-19 17:15] #623 closed

[2016-07-20 10:48] JoeWoodward commented on #465
+1 still nothing on this?

[2016-07-20 10:56] amoludage commented on #632
Hi @sweetw0r

Where did you try this means `irb` console or `rails console` because both gives different results.

I have tried on `irb` and it gives me result as `#<Date: 2016-07-15 ((2457585j,0s,0n),+0s,2299161j)>`
But on `rails console` it gives result as  `Mon, 18 Jul 2016`

To get this work on `irb` you have to `require 'rails' ` on irb console & then call `Faker::Date.backward(14)` this will

[2016-07-20 11:06] amoludage commented on #627
Hi @u007

I'm also getting this error
Ruby version - `ruby 2.2.1p85`
Rails `4.2.5`

[2016-07-20 11:44] amoludage opened #638 "Faker::Vehicle.vin gives undefined method `match'"
I'm getting the error for ` Faker::Vehicle.vin` that is `undefined method 'match' for 5:Fixnum`

The error is not coming each time it comes at random call.

[2016-07-20 14:42] #638 closed

[2016-07-20 14:50] stympy commented on #465
@JoeWoodward PRs are always accepted. ;)

Alternatively, one can use locales to override the default selection of names to avoid ones that cause problems in particular scenarios.

[2016-07-20 15:50] JoeWoodward commented on #465
OK, I've overriden the locale for now. I'll push a PR when I get a chance

On 20 Jul 2016, at 9:50 pm, Benjamin Curtis <notifications@github.com> wrote:

@JoeWoodward PRs are always accepted. ;)

Alternatively, one can use locales to override the default selection of names to avoid ones that cause problems in particular scenarios.

—
You are receiving this because you were mentioned.
Reply to this

[2016-07-21 08:06] swapnilchincholkar commented on #278
Still doesn't seems an issue
[code]

@krisleech could you provide any more info to debug

[2016-07-21 19:06] ashish91 commented on #632
Hey @sweetw0r, just use  `Faker::Date.backward(1).strftime('%a, %d %b %Y')`.

[2016-07-21 23:53] sweetw0r commented on #632
I appreciate you help!

[2016-07-22 04:11] piya23300 commented on #459
+1

[2016-07-22 05:28] ashish91 commented on #632
@sweetw0r:  No Problem. It'll be more good if ask such issues on Stack Overflow. Please close the issue when you can.

[2016-07-22 08:32] #632 closed

[2016-07-22 10:01] ashish91 commented on #627
I tinkered with this and seems like in rails 5 console the line `https://github.com/stympy/faker/blob/9f6b499ab33c5bb8eacac657c2bd510ed4f45c2f/lib/faker.rb#L140` returns a hash with *symbol* keys and not *string* keys.

[code]

In this line in vehicle we try to access it via string key https://github.com/ashish91/faker/blob/9f6b499ab33c5bb8eacac657c2bd510ed4f45c2f/lib/faker/vehicle.rb#L13 which th

[2016-07-22 11:28] ashish91 commented on #627
#644

[2016-07-25 16:14] andrewsunglaekim opened #645 "Pokemon class not working"
[code]

source looks like it's instantiating like every other class. some connections missing?

If i run the same seed file with `FFaker::Name.name` instead of  `FFaker::Pokemon.name` works fine

[2016-07-25 17:02] stympy commented on #645
This is in version 1.6.6 of the gem, I have just released.

[2016-07-25 17:02] #645 closed

[2016-07-25 17:04] gkunwar commented on #385
Here is the PR for this issue: #646

[2016-07-27 12:32] andela-oosiname commented on #631
Is there anyone working on this issue? I would love to do that

[2016-08-01 17:57] benpolinsky opened #653 "At which point do we break off functionality?"
# Just curious, at which point does this gem become unnecessarily bloated?  I'll admit I added support for placehold.it images, but that seems like a common use case that many users can use, and in a more general fashion than the robot images that were our only option before.

How many people are going to use the Pokemon functionality?  What happens when I want to put in car makes and models, or t

[2016-08-01 22:07] stympy commented on #653
I've had this same question many times myself. :)  I'm open to suggestions, but I've tended towards inclusiveness, with the main criteria being, "will more than two people find this useful?"

[2016-08-01 22:11] b264 commented on #653
I have wondered the same thing.  Perhaps there is a way to have a "basic set" of functionality and an "extended set" that isn't loaded until requested, or is pulled from a separate gem like `faker-data` or something

[2016-08-02 00:31] benpolinsky commented on #653
@stympy makes sense.  Definitely tough to draw the line, and I have nothing specific against Pokemon 😄

The more I think about it, the more it seems premature to refactor any functionality.

[2016-08-03 16:30] baublet commented on #653
My 2 cents as a frequent user of this gem: I **love** the wide functionality. Is being bloated a problem for a gem that is most frequently used in development environments for testing? Even if this gem added megabytes of extra classes and code, it's hard to see a point at which this gem alone slows down anyone's tests.

Perhaps a better idea might be splitting the documentation into something like

[2016-08-05 19:32] rachel-carvalho opened #658 "Faker::GameOfThrones.character has too little items"
And it's very common for my tests to fail because two calls returned the same value.

As a fan of Game of Thrones and A Song of Ice and Fire, I propose using the [Wiki's character name list of book characters](http://awoiaf.westeros.org/index.php/List_of_characters). We would go from `37` items to `1960`, but many of them would not be known to fans of the TV Show.

What do you guys think? I can cr

[2016-08-08 17:32] frostblooded opened #660 "README alphabetical order of Usage"
The Usage part of the README shows the modules. The first ones seem to be in alphabetical order, but most of them aren't. This is a bit confusing when trying to search for a module by its name.

[2016-08-09 07:31] seanfcarroll commented on #630
See also https://gist.github.com/miyucy/9128894

[2016-08-11 21:46] b264 commented on #658
The unique gem can at least try to use all 37 before failing the test suite.  Disclaimer: I just made it because I needed it, too.
```Unique.next!{ Faker::GameOfThrones.character }```

[2016-08-12 02:58] SagareGanesh commented on #660
@frostblooded, @stympy  I have sorted README.md by module name.

[2016-08-21 19:44] doits commented on #526
I've the problem here, too, where it does not respect the *time* portion:

[code]
In the above case, I'd expect it to give me a time between `21:40:01` and `21:39:01`, but the times are all random?

Faker v.1.6.6.

[2016-08-22 11:19] doits commented on #526
looks like this is a feature, not a bug ... opened a PR #675

[2016-08-26 14:57] jschorr commented on #465
+1 on this

[2016-08-31 09:58] pabuisson commented on #627
I encounter this issue as well, both in rails console and when running our rspec test suite.

- Ruby 2.2.0
- Rails 4.2.5
- Both Faker 1.6.4 and 1.6.6

Result when used from our RSpec test suite with Factory Girl :

[code]

[2016-08-31 20:58] ivanovaleksey commented on #572
Is it still actual?

[2016-09-01 15:45] b264 commented on #572
Use https://github.com/stympy/faker/releases/tag/v1.6.6

[2016-09-01 16:52] ivanovaleksey commented on #572
Thanks but I mean can it be closed?

[2016-09-01 21:48] #572 closed

[2016-09-04 21:56] BandanaPandey commented on #274
Faker::Lorem.sentence and Faker::Lorem.paragraph takes three arguments which are optional as per mentioned in the README, where the first argument specifies number of words in case of Faker::Lorem.sentence or number of sentences in case of Faker::Lorem.paragraph, second about the supplement addition or not, and third about number of additional words for Faker::Lorem.sentence or additional sentence

[2016-09-07 12:50] #658 closed

[2016-09-07 12:54] #478 closed

[2016-09-07 20:15] ivanovaleksey commented on #153
Seems like this one can be closed.

[2016-09-08 22:13] franklinyu opened #684 "Fix seed for random values"
I saw that some random value is produced with [`rand`](https://ruby-doc.org/core-2.3.1/Random.html#method-c-rand), whose seed can be set by [`srand`](https://ruby-doc.org/core-2.3.1/Random.html#method-c-srand). Is any other random mechanism involved? If no, then I can safely fix all data with `srand`. I need to record the seed to be able to verify the failed tests.

[2016-09-09 08:27] alexjmoore opened #685 "Generating real email addresses"
Hi,

I am the owner of 'moore.io' and I have noticed an increased number of 'test' emails hitting my users.  It has been hard to track down the source of this as it comes from many platforms, but finally one of them used a real email address as a return address and informed me they were using your 'faker' gem.

Looking through your code I can see that you have a range of 'names' and a range of dom

[2016-09-09 21:49] b264 commented on #685
This is definitely a usage problem and not a gem problem; is there any way you can think of to accomplish this without defeating the purpose of this library?  You could always send a PR to remove `Moore` from the lists and add another word instead.  Just an idea..

[2016-09-10 18:54] oyeanuj opened #688 "Faker::Food not found"
Hi @stympy! Thank you for this gem!

While trying to use the food faker, I am getting this error on the latest release -

[code]

All others are working fine for me. Any thoughts on what might be up with Food?

As an aside, I see a lot of new Faker libraries in the PRs. Are you considering merging them in?

Thank you!

[2016-09-11 04:36] Shwetakale commented on #688
@oyeanuj ```Food``` class is added 4 days ago and looks like still this is not pushed to rubygems so you are facing this issue.

You can directly specify git path and use this.

I have added following in my Gemfile

     gem 'faker', git: 'git@github.com:stympy/faker.git'

And on rails c

    [2] pry(main)> Faker::Food.spice
    => "Methi"

Hope this helps.

[2016-09-12 20:13] smythey21 opened #689 "Faker::Commerce.promotion_code Missing Translation"
Getting a missing translation data error on the [latest commit](https://github.com/stympy/faker/commit/2c0e655b3b8800188a72e3168d66202ae04aa0c6) from master.

[code]

[2016-09-13 03:24] kivohin opened #691 "Faker::Hacker.say_something_smart"
Hi there! :) First, thanks for this awesome gem.

Related to Faker::Hacker.say_something_smart, the random phrases in general begin with a uppercase character, but some of the phrases begin just with a lowercase. It's just a cosmetic issue, but wanted to let you know.

[2016-09-13 04:42] Shwetakale commented on #689
@smythey21 Could you please check you are using git revision number 2c0e655b3b8800188a72e3168d66202ae04aa0c6 ? because I was trying to reproduce this issue but it is working for me

    [1] pry(main)> Faker::Commerce.promotion_code
    => "SpecialSavings895157"

And which locale you are using?  I am using default.

[2016-09-13 15:49] smythey21 commented on #689
Strange, it's totally working now. Possible I was referencing the wrong revision. Sorry about that!

[2016-09-13 15:49] #689 closed

[2016-09-15 03:57] vveliev opened #695 "Config for adding format restriction."
Hey , I'm running in to the situation, where i need to restrict phone_number format.

Is there a way to do something close to locale.

[code]

[2016-09-15 08:09] tejasbubane opened #696 "[Feature Request] Add full address"
`Faker::Address.address` or `Faker::Address.full_address` should return full address which combines `street_name`, `building_number`, `city`, `country` etc something like this:

[code]

[2016-09-17 20:05] nickrobinson opened #699 "[Feature Request] AWS EC2 Data"
I would like faker to have the ability to provide EC2 instance data:
- EC2 Instance Types
- EC2 Instance States
- EC2 Instance Id
- Security Group Ids
- etc...

Thoughts for additional items?

[2016-09-18 15:57] #153 closed

[2016-09-19 23:25] turboladen commented on #285
I get this too, FWIW.

[2016-09-21 01:02] kfrz commented on #691
Can you post an example of this? I can't replicate using ruby 2.3.

This is the relevant code, looks good to me.

https://github.com/stympy/faker/blob/master/lib/faker/hacker.rb#L24

[2016-09-21 01:23] kfrz commented on #585
I like this, as I'm building a census-like application that relies on this data. I'd like to take a look at that PR

[2016-09-21 03:26] vinhcp opened #704 "Image issue"
I cannot load the image from faker, it takes me wait for a long time
Thanks

[2016-09-21 05:31] SagareGanesh commented on #704
@vinhcp  can you please elaborate this issue. Don't understand which Faker Image you are using in your code i.e _**Faker::Avatar.image**_ or _**Faker::Placeholdit.image**_. Also please mention your _**Faker**_ gem version, so it will helpful to reproduce issue.
Thanks

[2016-09-21 05:46] vinhcp commented on #704
@SagareGanesh I'm using Faker::Avatar.image and when I browse the image url from my browser. There is no response. The page is loaded for a long time.

Thanks

[2016-09-21 06:03] SagareGanesh commented on #704
@vinhcp I also tried to browse image url from browser. Yes there is no any response. I have checked code of [avatar.rb](https://github.com/stympy/faker/blob/master/lib/faker/avatar.rb). As per code, _**Faker::Avatar.image**_ creates fake url stating as _https://robohash.org_. Therefore it doesn't give any response.
Thanks

[2016-09-21 06:08] vinhcp commented on #704
@SagareGanesh So this is an issue need to be fixed actually?

[2016-09-21 06:19] SagareGanesh commented on #704
@vinhcp I don't think this is an issue. Because we used faker for fake data only. You can not expect valid url from Faker. As per my knowledge most of the people used Faker to generate fake data for testing. So in that case we don't need valid data.
Thanks.

[2016-09-21 06:21] vinhcp commented on #704
@SagareGanesh But the rspec will be not passed if there is no response from url. How do you think?

[2016-09-21 07:20] SagareGanesh commented on #704
@vinhcp what is mean by _**No**_  _**Response**_ from url?. what is your requirement that you want to test. Also can you please explain your procedure of testing. so we will able to find out solution.
Thanks

[2016-09-21 09:10] rui-ribeiro commented on #627
I have this problem too.

- Ruby 2.3.0
- Rails 4.2.5.2
- Faker 1.6.6

[2016-09-21 22:17] b264 commented on #691
I have noticed this happening as well.

[2016-09-22 04:48] JonathanWexler commented on #704
I am also experiencing this issue. In my dummy data rake task I get a `Net::ReadTimeout: Net::ReadTimeout` >> `OpenSSL::SSL::SSLErrorWaitReadable: read would block` which is probably because it attempts to load an image from url `https://robohash.org/sitsequiquia.png?size=300x300` which hangs. This has only started happening in the last 48 hours.

[2016-09-22 05:00] kfrz commented on #699
@nickrobinson Doe [this ](https://github.com/bpholt/fake-ec2-metadata-service) fit your needs?

[2016-09-22 05:19] SagareGanesh commented on #704
@vinhcp  @JonathanWexler got a reason why this started happening. The reason is currently _**RoboHash.org**_ side is down. @sojan-official  already placed issue on there github repository but not any response yet. please see [issue](https://github.com/e1ven/Robohash/issues/12).
Thanks

[2016-09-22 06:29] vinhcp commented on #704
@SagareGanesh Thanks for your information

[2016-09-22 06:52] JonathanWexler commented on #704
Thanks @SagareGanesh. I figured it was something like that. :)

[2016-09-22 08:37] SagareGanesh commented on #704
@vinhcp @JonathanWexler thanks. So conclusion is, its a _**RoboHash.org**_ issue,  not  _**Fakers**_ issue. It means when _**Robohash.org**_ working well, _**Fakers Image**_ will also work correctly. @vinhcp can we close this issue.
thanks

[2016-09-22 08:39] vinhcp commented on #704
Sounds great

[2016-09-22 08:39] #704 closed

[2016-09-22 09:10] SagareGanesh commented on #691
@kivohin @kfrz @b264 As per my knowledge this issue is already resolved by @Newman101 in his [commit](https://github.com/stympy/faker/commit/ab371383cbc6d55bc20f5dcdbd95537df6f86c35). Can you please check it again. if still it present, then we will resolve it.
Thanks

[2016-09-22 23:44] nmenag commented on #688
This issue is already resolved?

[2016-09-27 22:23] rbatta commented on #688
@nmenag It is not on gem version 1.6.6 (the released version). But @Shwetakale's method works!

[2016-09-29 10:57] jishnu2003 commented on #696
Hi Tejas,

I guess you can create a method and use the above logic.
Something like below:

def address
"#{Faker::Address.building_number}, #{Faker::Address.street_address}, #{Faker::Address.street_name}, #{Faker::Address.city}, #{Faker::Address.country} - #{Faker::Address.zip_code}"
end

Hope this helps!

Thanks,
Jishnu

[2016-09-29 13:09] tejasbubane commented on #696
@jishnu2003 I know I can always create a method and use it, I was proposing to have it in `Faker` itself.

[2016-09-29 18:32] kivohin commented on #691
@kfrz @SagareGanesh
<img width="1013" alt="fakerbug" src="https://cloud.githubusercontent.com/assets/17774060/18967002/8d10bfce-8651-11e6-8a8e-ec216d80fa2f.png">
 See attached image for an example. I'm using faker v1.6.3 and Ruby v2.3.0.

[2016-09-29 19:27] kfrz commented on #691
@kivohin That'll be your issue. You can see [here](https://github.com/stympy/faker/commit/ab371383cbc6d55bc20f5dcdbd95537df6f86c35#diff-f0b7c621f400b30ec53515489527012d) this issue was merged and fix as of July 25th #625 which is tagged v1.6.6 -- you should update your version of the gem and this will be resolved.

[2016-09-29 20:56] b264 commented on #691
@kivohin try running `bundle update faker` -- or just `bundle update` to try to update everything.

[2016-09-30 16:59] kivohin commented on #691
@kfrz You're right! This has been fixed already, the strange thing is that I added the faker gem to my project 19 days ago on September 11, and it installed by default v1.6.3 without myself specifying any version, I don't know why really.

@b264 Yes! I used `bundle update faker` and it updated to v1.6.6 and now the issue isn't there anymore, thanks!

[2016-09-30 16:59] #691 closed

[2016-10-07 09:39] riley-usagi opened #714 "Faker::Boolean.boolean error"
Why when `Faker::Boolean.boolean` return `false` - i had error: _Validation failed: Status can't be blank_?

Sorry for my bad english. =)

[2016-10-07 09:46] SagareGanesh commented on #714
@riley-usagi please provide your gem version, we it will helpful to reproduce issue.

[2016-10-07 09:48] Shwetakale commented on #714
@riley-usagi Could you provide code snippet to reproduce issue as it seems to be you have validation on ```auth``` and that is not initialized.

[2016-10-07 10:07] riley-usagi commented on #714
Model part:
[code]

Factory part:
[code]

Rspec part:
[code]

Return `Validation failed: Status can't be blank` if **Faker::Boolean.boolean** was _false_

[2016-10-07 10:22] Shwetakale commented on #714
@riley-usagi What is data type of ```status```. If its string then use some other ```Faker``` method.

I think this is issue from ```shoulda-matcher``` [here](https://github.com/thoughtbot/shoulda-matchers/blob/master/lib/shoulda/matchers/active_model/validate_presence_of_matcher.rb#L113) they are checking for blank for boolean field as well.

```false``` is also considered as ```blank```

[code]

[2016-10-07 10:33] SagareGanesh commented on #714
@riley-usagi  If status is Boolean then why are you added presence true validation on this. We add presence true validation on such field, which we don't know value( e.g string). But in your case, status field is boolean, it means you know its either true or false, so you should use inclusion validation instead of presence true.

[2016-10-07 13:19] riley-usagi commented on #714
I tried this validation:
[code]

And i have this warning:
[code]

Is this normal? Or i'm doing something wrong? Or this problem with _shoulda_?

Ps. And thanks for the answers =)

[2016-10-07 13:40] paritoshbotre commented on #714
@riley-usagi As per documentation
The Gem discourage using validate_inclusion_of with _**boolean columns**_. In fact, there is never a case where a boolean column will be anything but true, false, or nil, as ActiveRecord will type-cast an incoming value to one of these three values. That means there isn't any way we can _**refute**_ this logic in a test. _**Hence, this will produce a warning**_.

[2016-10-11 01:15] orieken opened #717 "Can we add the #Hacktoberfest label for pull requests this month"
🍻 #hacktoberfest
https://hacktoberfest.digitalocean.com/

[2016-10-11 07:28] uzaif313 opened #718 "Company logo ,company buzzword, Date is not working rails 4"
[code]

[2016-10-11 07:34] Shwetakale commented on #718
Which version of ```Faker``` you are using?

[2016-10-11 10:51] uzaif313 commented on #718
i am using `faker 1.0.1`

[2016-10-11 13:42] Shwetakale commented on #718
@uzaif313 Try with the latest version i.e. ```1.6.6``` as version ```1.0.1``` is released in 2011 and after that these classes are added. ```buzzword``` is also added [27 days ago](https://github.com/stympy/faker/search?utf8=%E2%9C%93&q=buzzword) so you might need to use gem directly from Github.

[2016-10-12 14:03] uzaif313 commented on #718
Thanks @Shwetakale  for resolving my version issues

[2016-10-12 14:03] #718 closed

[2016-10-15 23:51] davidhaley commented on #627
I ran into this as well.

- ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]
- Rails 5.0.0.1
- faker (1.6.6)

[2016-10-16 12:29] rui-ribeiro commented on #627
@davidhaley If you want a quick fix checkout this repo:

https://github.com/rui-ribeiro/faker.git

[2016-10-17 06:57] gregolsky opened #724 "Fixed seed"
How do I provide seed for randomization? Is there a global seed I can modify? I would like to receive same values, when same seed was supplied to `faker`.

[2016-10-17 06:59] gregolsky commented on #724
Nevermind, I was looking for the JS version actually. Sorry for confusion.

[2016-10-17 06:59] #724 closed

[2016-10-22 04:55] pgAdmin opened #728 "Incorrect HSL color format"
HSL Color follows the format:

Hue : 0 to 360
Saturation: 0 to 100% **or** 0 to 1
Lightness:  0 to 100% **or** 0 to 1

[2016-10-27 10:05] alexjmoore commented on #685
What about putting a '.local' or some other suffix that is known not to be real?

[2016-10-27 19:07] b264 commented on #685
I sent a PR to change `Moore` in the locale files to `Moor` but this will only affect the newest versions and so the problem would only slowly disappear.  Code already downloaded will continue to be the same.  I'm not sure what else can be done from this end  :face_with_head_bandage:

[2016-10-29 18:57] alexjmoore commented on #685
Thanks for that, however I still think there shouldn't be use of real domain suffixes like .io etc, as this may lead (like in my case) to generating valid email addresses.  What about instead using RFC 2606 suffixes, so still randomise the names to generate decent data samples, but have them all end in .test?

More info here:

https://tools.ietf.org/html/rfc2606

[2016-10-31 12:50] pravi opened #737 "assert Faker::Internet.email.match(/.+@[^.].+\.\w+/) fails randomly"
See https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=840664 for a discussion

[2016-10-31 16:06] MatthewRDodds opened #738 "Faker for images not working"
Running `Faker::Avatar.image` gives me this url: [https://robohash.org/utanimiquisquam.png?size=300x300&set=set1](https://robohash.org/utanimiquisquam.png?size=300x300&set=set1)

Which fails when I try to attach it as an image in my project, with: `OpenSSL::SSL::SSLError`.

I saw that it doesn't open in chrome either, thinking something might have changed with robohash?

[2016-10-31 18:45] oktalk commented on #738
I'm seeing this issue as well. It appears to only affect `Faker::Avatar.image`, as `Faker::Company.logo` works just fine.

[2016-11-01 00:07] b264 commented on #738
Most likely they had an expired certificate.  A new 3 year certificate was just issued, it appears.

[2016-11-01 03:20] MatthewRDodds commented on #738
Nice, definitely working now.

[2016-11-01 03:20] #738 closed

[2016-11-01 17:20] b264 commented on #685
I think the entire purpose of this library is to generate real-looking data for presentations and testing.  If someone is sending emails to these addresses, it is a problem for sure, but it's a problem with their usage of the library and not the library.  I'm not sure what can be done on this end aside from the PR I submitted above.  Maybe the package maintainer or someone else can chime-in with i

[2016-11-01 21:02] stympy commented on #685
Agreed.  The point of Faker is to have real-looking data. It's up to users to use the gem properly.

[2016-11-01 21:02] #685 closed

[2016-11-01 21:58] alexjmoore commented on #685
Actually I don't really agree with blaming the users. Your tool generates fake data for testing. Having an address with the suffix .test is the defined way of doing so in such a way that it guarantees the address not to be real.   As per RFC 2606.  So an address like :

john.doe@moore.test

Or even:

john.doe@moore.io.test

Are both good looking test data, legitimate email addresses and guaranteed

[2016-11-02 22:49] eagleeye2020 commented on #166
I add psych to my Gemfile but no change. Zeus still can't find Faker.

[2016-11-04 14:57] michaelmcain commented on #298
@asiniy Did you get this to work? I noticed that the `Faker::Config.locale` value needs to be a symbol.

[2016-11-05 03:20] asiniy commented on #298
@michaelmcain I can't remember :(

[2016-11-05 20:17] michaelmcain commented on #298
@asiniy I figured it out. The `locales` folder was moved from `lib` to `config`. Thanks for replying though!

[2016-11-10 18:25] tiagofsilva opened #741 "Base#numerify generating phone numbers and other number fields with a weird format"
**What is happening?**
It may look silly at first, but `Base#numerify` can generate phone numbers like `(75) 0345-3768`. Phone itself starting with a zero? I know area codes or even country codes can start with a zero, but I don't think the number itself can start with a zero. Also, some custom phone validators could reject this format and the test fail because of that.

**Why?**
Anyway, the way i

[2016-11-12 18:56] ivanovaleksey commented on #109
Someone close it! 🆘

[2016-11-20 17:15] Newman101 commented on #737
Looks like that bug report discussion does not include any additional details. It only tells which specific tests are failing. Can you provide expected and actual results, please?

I might actually try this myself, as there is clearly a failing test somewhere. The difference between ```[^.].+\.``` and ```[^.]+\.``` might solve the problem.

[2016-11-22 19:58] b264 commented on #251
https://github.com/b264/unique

[2016-11-28 23:43] talum commented on #717
Since #hacktoberfest is over now, should this issue be closed? (whoo hacktoberfest!)

[2016-12-02 06:21] SylarRuby opened #756 "Request: Human faces?"
Can we add this? Is there a way to achieve this? I need human faces instead of robots.

[2016-12-03 11:54] deivid-rodriguez commented on #518
https://github.com/stympy/faker#fakerhipster

[2016-12-03 11:56] deivid-rodriguez commented on #518
Oh, I see you want HTML, sorry for the noise :)

[2016-12-03 12:24] deivid-rodriguez commented on #278
@swapnilchincholkar I think you can reproduce this be specifying `gem 'faker', require: false`, and then manually requiring `faker` right before usage.

[2016-12-10 00:31] JoshuaTyree commented on #756
Perhaps we could use this. https://www.placecage.com

[2016-12-11 02:50] asccigcc opened #763 "Faker::Avatar error: read server certificate B: certificate verify failed"
I'm having troubles when I'm trying to get an avatar image (Faker::Avatar.image). Faker::Placeholdit works perfectly.

[code]

[2016-12-11 18:56] anthony-robin commented on #763
Seems like [Robohash](https://robohash.org/) SSL certificates has some issues...

[2016-12-12 05:39] SagareGanesh commented on #763
@anthony-robin I don't think this issue is on [Robohash](https://robohash.org/) side. @asccigcc which faker version you are working with?  I am using 1.6.6, and Faker::Avatar.image is working correctly for me.

[2016-12-13 09:07] rapzo commented on #763
Yeah, the problem is not with Faker itself but with the Robohash certificate and whichever tries do download the image generated by Faker.

[2016-12-13 15:39] asccigcc commented on #763
Hi @SagareGanesh my Faker version is 1.6.1.

Thanks.

[2016-12-14 19:10] mattnedrich commented on #688
Looks like it stopped working?

[2016-12-15 05:46] SagareGanesh commented on #763
@asccigcc hey, this issue is not related to Faker version, its related to ruby gem version. I got some links, please see [stackoverflow](http://stackoverflow.com/questions/4528101/ssl-connect-returned-1-errno-0-state-sslv3-read-server-certificate-b-certificat) and  [rubygems guide](http://guides.rubygems.org/ssl-certificate-update/).

[2016-12-15 12:54] rapzo commented on #763
It isn't. It's not related to Faker nor rubygems. @anthony-robin got it right.
Take a look at the following:
[code]

The problem is with what is trying to upload the avatar that may, if possible, a flag to allow insecure https downloads.

[2016-12-15 22:28] asccigcc commented on #763
Guys, what is the best solution? Upgrade Faker to the last version or wait if robohash fix his ssl issue.

Thanks everyone for your help.

[2016-12-16 06:53] rapzo commented on #763
Use `Faker::Placeholdit.image`. It will get you out of trouble for the time being (i assume you need it for seeding data).
Or check the transport layer (CarrierWave maybe?) for an option for downloading from insecure sources. Or extend Faker with a new image source, say, https://baconmockup.com :-D

[2016-12-16 23:23] atomanyih opened #767 "New release?"
We could really use this commit: https://github.com/stympy/faker/commit/dd464869c4c99638072790e0a8a0964a3ededcdc

Tailing whitespace is introducing flakes into our test suite

[2016-12-17 01:19] phoenixweiss commented on #767
👍

[2016-12-17 06:13] mwgalloway commented on #728
I have submitted a PR addressing this!

[2016-12-20 00:15] davidmccoy opened #771 "Unique method is undefined"
Using Faker 1.6.6, the example from the README.md returns an undefined method error:

`Faker::Name.unique.name`

returns

`NoMethodError: undefined method 'unique' for Faker::Number:Class`

I feel like I'm missing something extremely obvious.

[2016-12-20 00:22] mikrofusion commented on #771
Hitting same issue on my end.

[2016-12-20 00:23] davidmccoy commented on #771
@mikrofusion I'm glad it's not me! But sorry that you're having the same issue :(

[2016-12-20 00:27] mikrofusion commented on #771
@davidmccoy after looking through some of the other issues, it appears master has not been pushed to rubygems lately.  I changed my Gemfile to point to this github repo and seemed to have gotten around the issue.

[code]

[2016-12-20 00:28] davidmccoy commented on #771
@mikrofusion that would make sense, thanks

[2016-12-20 00:30] #771 closed

[2016-12-20 10:55] 23ranjan opened #773 "Alphanumeric password."
Is there any way to make sure that faker generates an alphanumeric password.

Basically I am trying to force user to use alphanumeric password , so is there any way by which we can implement same in Faker.

Currently using `Faker::Internet.password(8)`  `tried with Faker::Internet.password(10, 20, true)` too  but It seems to not be working.

Any leads will be appreciated.

[2016-12-20 11:24] SagareGanesh commented on #773
@23ranjan There is no guarantee that your password contains numbers each time.
But there is a option which guarantees that your password contains special char.
The definition of  password method under faker is

`def password(min_length = 8, max_length = 16, mix_case = true, special_chars = false)`

So if you pass last argument as **true** it will return password which contains special character.

[2016-12-20 13:09] 23ranjan commented on #773
Thanks @SagareGanesh.

Closing this as #438 contains the exact sol.

[2016-12-20 13:09] #773 closed

[2016-12-23 05:03] jasoncharnes commented on #756
+1 for https://www.fillmurray.com/

[2016-12-24 21:32] stympy commented on #756
Fillmurray has been added in 1b43609

[2016-12-24 21:32] #756 closed

[2016-12-24 22:30] stympy commented on #767
v1.7.0 of the gem has been released.

[2016-12-24 22:30] #767 closed

[2016-12-24 23:15] atomanyih commented on #767
Thanks!
On Sat, Dec 24, 2016 at 2:30 PM Benjamin Curtis <notifications@github.com>
wrote:

[2016-12-24 23:15] jasnow opened #780 "Getting "Segmentation fault: 11" when I upgrade last 3 repos to faker 1.7.0"
Getting "Segmentation fault: 11" when I upgrade last 3 repos to faker 1.7.0. Previously was 1.6.6 and ran my tests cleanly.

[2016-12-25 01:15] stympy commented on #780
I'm afraid that's not enough information to even begin to diagnose the problem.

[2016-12-25 08:37] calmyournerves commented on #780
Not sure if it is related, but after upgrading to 1.7.0 I get the following after running `rake` inside my Rails project (1.6.6 works fine):

[code]

[2016-12-25 10:46] kt0 commented on #780
It seems new version of faker ships with it's own rake binary. I'm getting this message: `faker's executable "rake" conflicts with rake`

Gem's bin directory contains rake that contains this line:

[code]

This causes an infinite loop.

[2016-12-25 19:27] andreiglingeanu commented on #780
Confirming that. I've also got a problem with it.

When executing `rake` I get:

[code]

[2016-12-25 20:11] thedrow commented on #780
We have the same problem exactly.

[2016-12-25 22:43] stympy commented on #780
I found the problem... it was a packaging error on my part. Sorry about that! I'll be pushing 1.7.1 shortly which has the fix.

Hopefully ea9d1a5 will prevent this from happening again.

[2016-12-25 22:43] #780 closed

[2016-12-25 23:38] jasnow commented on #780
Verified

[2016-12-26 13:31] stympy commented on #526
Closed in #675

[2016-12-26 13:31] #526 closed

[2016-12-26 13:37] stympy commented on #763
Closing since this isn't a Faker issue.

[2016-12-26 13:37] #763 closed

[2016-12-26 13:59] stympy commented on #741
Since faker supports defining locale values as regexes, you could solve this problem by changing the phone number formats. E.g., instead of `'###.###.###'`, you could specify a format like `/###.[1-9]##.####/`. See `address.postcode` in [en-CA.yml](../blob/master/lib/locales/en-CA.yml#L4) as another example.

I'd merge that PR. :)

[2016-12-26 14:05] stympy commented on #737
Closing as there's no evidence that this issue is present in version 1.7.1.

[2016-12-26 14:05] #737 closed

[2016-12-26 14:06] #728 closed

[2016-12-26 14:07] #714 closed

[2016-12-26 14:07] #717 closed

[2016-12-26 14:09] stympy commented on #695
See my comment in #741 and reopen this if that doesn't help.

[2016-12-26 14:10] stympy commented on #688
I have released version 1.7.1 of the gem which includes this class.

[2016-12-26 14:10] #688 closed

[2016-12-26 14:10] #660 closed

[2016-12-26 14:13] stympy commented on #684
See 4f1f351 which is part of version 1.7.1 of the gem. :)

[2016-12-26 14:13] #684 closed

[2016-12-26 14:16] stympy commented on #653
I have moved the per-class documentation to individual files, which should make the usability of the README better. :) I'm open to the idea of "core" and "extended", too.

In addition, it may make sense (2.0) to combine some of the code (like the various image classes) together.

[2016-12-26 14:16] #653 closed

[2016-12-26 14:16] #631 closed

[2016-12-31 07:32] vveliev commented on #695
No this does not solve it , as i'm expecting same format for different locale configurations.

[2016-12-31 14:05] stympy commented on #695
Ok, I'm not understanding what you need.  Could you explain your use case a bit more?

[2017-01-03 09:59] #627 closed

[2017-01-03 14:33] vveliev commented on #695
something similar to the locale.

```Faker::Config.restrict = {phone_number: {format: ["+#{PhoneNumber.country_code}.#{PhoneNumber.area_code}#{PhoneNumber.exchange_code}#{PhoneNumber.subscriber_number}"]} }```

if this is specified then regardless of what locale I use , it will alway give me same format.

[2017-01-03 15:37] stympy commented on #695
Can you give me a bit more background as to why you want to do this? Why is it that you want to use multiple locales, yet keep the phone number consistent across them?

[2017-01-03 15:56] vveliev commented on #695
So I'm using faker to generate multiple users.
And we have strict format for phone number, while I do want to check multiple countries and regions selection works correctly, phone number format should follow same structure(dot separated.)

[2017-01-03 17:56] stympy commented on #695
Thanks for the additional info. I think this is a case that's not general enough to be included in Faker.

[2017-01-03 17:56] #695 closed

[2017-01-03 20:15] vveliev commented on #695
this is data generation tool, and restricting certain fields to follow particular pattern  may be useful for many.

[2017-01-04 19:48] Jack-Barry commented on #615
Maybe use something like

    Faker::Name.first_name.gsub(/\W/, '')

since it's returning a string

[2017-01-05 06:04] elangovan91 commented on #615
Thank You guys for your suggestion. @Jack-Barry I used your concept.

[2017-01-09 18:19] mresnickmdlive commented on #275
@dkniffin would this CSV be helpful? https://raw.githubusercontent.com/jgv/area/master/data/zipcodes.csv

[2017-01-09 20:03] #275 closed

[2017-01-10 15:36] jstoebel opened #788 "remove first name Adolf"
Due to the historical baggage associated with this name I am suggesting we remove the name Adolf from `Name.first_name`. I was preparing  demo for a client today and fortunately caught this name before they saw it.

[2017-01-10 15:39] jstoebel commented on #788
see [PR 789](https://github.com/stympy/faker/pull/789)

[2017-01-11 11:17] richshakespeare opened #790 "Creates invalid UK postcodes"
Hey there, and thanks for the excellent gem!

I saw a previous issue related to this, but wanted to flag it is still possible for invalid UK postcodes to be created, due to the weird rules and complexity of our postcodes! I've just had 'W8Y 7JP' generated, which is invalid due to this rule:

'The only letters to appear in the third position are ABCDEFGHJKPSTUW when the structure starts with A9A.'

[2017-01-11 22:08] stympy commented on #790
I'd be happy to review a PR :)

[2017-01-12 18:18] git2samus commented on #788
My second name is Adolfo and my father's second name was Adolfo as well, this PR is not only offensive but also pretty ridiculous.

I'm not ashamed of who I am or what my parents chose to call me, please leave the name as it is and focus your energy in something more productive.

[2017-01-12 19:10] #788 closed

[2017-01-12 19:49] geeksam commented on #788
While I'm glad you're not ashamed of your name, I'm curious to know why this suggestion was deemed "ridiculous."  What about wanting to avoid upsetting a paying client with a reference to arguably the most famous mass murderer in history is, to cite the dictionary definition, "deserving or inviting derision or mockery"?

[2017-01-14 04:17] git2samus commented on #788
Because @geeksam a name alone does not identify a person, a full name does and even in that case there are plenty of duplicates.

A name is just a term, it does not have "baggage" and can be used to refer to literally millions of different people.

This wouldn't be as ridiculous (but still pretty useless) if we were taking about surnames but again, anything other than "Adolf Hitler" should be ok.

[2017-01-14 05:51] geeksam commented on #788
https://www.quora.com/Is-the-name-Adolf-still-used-in-Germany

[2017-01-14 05:54] geeksam commented on #788
Shall I submit a PR to add more names of famous dictators, then?  Who doesn't love Kruschchev, Todo, Mussolini, Idi, Mao, Saddam, al-Gaddafi, Castro, Franco, Stalin, or Trump?

[2017-01-14 13:30] stympy commented on #788
Ok, I think we've had a chance for people to make their points on both sides of this issue, so I suggest we end the conversation here.

I closed the issue because I'm not going to spend my time dealing with one-off PRs that change the data for minority use-cases. If there is data in Faker that you don't want to use for whatever reason, all you need to do is override the locale file.

[2017-01-16 20:37] geeksam commented on #788
That's actually a cool feature I did not know about. Thanks, @stympy.

[2017-01-17 01:04] #585 closed

[2017-01-19 12:17] jimthree opened #802 "New Feature: Non-Random distribution"
Hi, would you consider adding an option so that we could specify a different distribution of values?

It would be nice to have the option so that `Faker::Number.number(10)` returned more results for the middle of the range that at the outside (gaussian distribution)

It could also be used so that `Faker::Beer.hop` produced some common and rare hops across the set.

cheers
Jim

[2017-01-20 22:44] budmc29 commented on #790
@richshakespeare , do you still plan to do a PR for this?

[2017-01-20 23:29] PlanetEfficacy commented on #507
Great idea, I'm going to give it a go....

[2017-01-24 23:55] ghbooth12 opened #806 "Faker::Commerce.price missing '.' when as_string is true."
Hello. When I used `Faker::Commerce.price(50..100.0, true)`, it returns an integer in a string format. I think it should return a float in a string format. I'm creating a PR that can fix this issue and adds tests for this.
[code]
Thank you:)

[2017-01-28 22:18] vbrazo commented on #696
I think it would be useful for me as well.
Let us know if we could move on. I could help in this PR.

[2017-01-30 17:35] jaymac28 opened #812 "unitilialized constant Faker::Demographic"
Getting an error whenever I try to use `Faker::Demographic`

[code]

[2017-01-31 21:48] b264 commented on #812
This was added in https://github.com/stympy/faker/pull/796 and is not in any [release](https://github.com/stympy/faker/releases) yet, 1.7.2 being the latest.  You can pull from [master](https://github.com/stympy/faker) if you need it right now, until 1.7.3 is released, by adding to your `Gemfile`

[2017-02-04 22:22] #790 closed

[2017-02-04 22:35] #507 closed

[2017-02-07 12:34] klaustopher opened #822 "Faker::Bank.iban yields NoMethodError when locale is not english"
Hi,

we're using Faker in a German app and so we have set our locale to German. Everything is working fine, except when I try to use `Faker::Bank.iban`. Since `bank.iban_details` is only implemented in `en.yml` this throws a `NoMethodError` in [line 16 of bank.rb](https://github.com/stympy/faker/blob/master/lib/faker/bank.rb#L16) since there are no details available.

Since all those bank details

[2017-02-07 19:55] stympy commented on #822
Shouldn't it work if you have en available as a fallback?

[2017-02-07 20:53] ChrisCPO opened #823 "Fillmurry = error"
Gem version (1.7.2)
expected
`Faker::Fillmurray.image #=> "http://fillmurray.com/300/300"`

what I'm getting
\Faker::Fillmurray.image
NoMethodError: undefined method `match' for 200:Fixnum
Did you mean?  catch

[2017-02-08 04:10] SagareGanesh commented on #823
Hey @ChrisCPO, Error message is correct

The function defination of Fillmurray  image is

`def image(grayscale = false, width = 200, height = 200)`
` raise ArgumentError, "Width should be a number" unless width.match(/^\d+$/)`
` raise ArgumentError, "Height should be a number" unless height.match(/^\d+$/)`
` raise ArgumentError, "Grayscale should be a boolean" unless [true, false].include?(graysca

[2017-02-08 09:36] klaustopher commented on #822
[code]

does not work for me. Even when I explicitly set `Faker::Config.locale = :en` it gives me the same error (that's really strange)

[code]

[2017-02-08 12:07] #823 closed

[2017-02-08 15:29] obfuscoder opened #825 "Faker 1.7.3 uses Ruby 2 features"
Faker 1.7.3 uses Ruby 2.x features, but is not declared to depend on Ruby 2.

[code]

Please either change the method signature to be Ruby 1.x compatible or declare a dependency to Ruby 2.x.

I'd rather expect a faker version of 2.0.0 for this breaking change.

[2017-02-08 18:15] stympy commented on #825
We stopped supporting Ruby 1.x as of version 1.6.4.

[2017-02-08 18:38] obfuscoder commented on #825
Which is fair enough, but now it is really impossible to use Ruby 1.x so pls declare this dependency in the gemspec with **required_ruby_version **

[2017-02-08 18:42] #825 closed

[2017-02-08 18:42] stympy commented on #825
Done! :) Thanks for the heads up.

[2017-02-16 19:33] nicnilov opened #828 "No fallback to the :en locale on flexible keys"
I was trying to use `Faker::Team.sport` while having `Faker::Config.locale = 'en-US'` and it threw this error when linting factories:

[code]

which is in

[code]

A peculiar aspect of the `Faker::Team` is that although it implements [other documented methods](https://github.com/stympy/faker/blob/master/doc/team.md), `#sport` is not implemented and is left for `method_missing` to handle. This work

[2017-02-17 21:13] brandonhilkert commented on #251
Stumbled on this because I'm doing something similar for a rails view where common input values need to return the same name. I realize this issue is pretty old, but figured I'd add this in case it was useful for someone else. I ended up with the following helper wrapped around `Faker`:

[code]

`RequestStore` was there to make sure there is no thread collision with servers like Puma/thin. A hash

[2017-02-18 20:53] stympy commented on #251
#752 has an implementation of unique values.

[2017-02-18 20:53] #251 closed

[2017-02-19 10:20] salmagomaa commented on #771
gem 'faker', '1.7.3'

[2017-02-21 21:51] andela-oosiname commented on #822
I just experienced same thing as well, I dont think it has to do with locale. It's coming from `details['bank_country_code']` in `bank.rb` file. I suspect details is nil at that point. I'll have a look at it and see if I can fix it

[2017-02-24 09:50] Startouf opened #832 "Semantic Versioning"
It would be great to be able to fake version number according to [Semantic Versioning Specification](http://semver.org/)

The Faker method could be enhanced with options that let us set either major, minor, patch, build or pre-release version.

(For instance in my code I need to test how my program handles minor versions for the same major version)

[2017-03-01 09:15] jefvlamings commented on #822
@andela-oosiname You should use a symbol for the key instead of a string to make it work.

[code]
vs
[code]

[2017-03-01 14:16] lsaville commented on #828
I can confirm this behavior using 1.7.3

[2017-03-02 18:28] alexcastano opened #838 "Faker::Internet.slug generates strings with dots"
I found myself searching for a bug among Capybara, DatabaseCleaner, Rails, etc. settings. However the problem was somewhere else.

I was using `Faker::Internet.slug` to generate the `slug` of a model and then `visit` it using Capybara. The controller could not find the model randomly. I thought it was a concurrency problem but the real reason was that sometimes the `slug` method returned strings w

[2017-03-05 17:03] lacostenycoder commented on #838
@alex-rodriguez Not sure this is bug since you can just pass in the separator you'd like to use in your slug like so:
[code]
This would insure that any words that are randomly generated in slug will always use the separator you pass in as 2nd argument.

[2017-03-06 13:21] alexcastano commented on #838
@lacostenycoder I know, but I wonder that maybe for the next breaking release it would be better to change the default to '-' instead of '.' (IMHO of course :)

[2017-03-06 23:12] lacostenycoder commented on #838
@alexcastano
Since a slug could potentially contain `.` and might even be needed or useful in some cases, as from the wiki example:

`http://example.com/cgi-bin/feed.cgi?feed=news&frm=rss` could be with slug	`http://example.com/news.rss`

see https://en.wikipedia.org/wiki/Semantic_URL#Structure

Since the method has the flexibility of accepting arguments, why not just use the one you would use as

[2017-03-07 13:36] andreypetrenko82 opened #841 "Add Faker::Address.mailing_address"
Add to Faker::Address generating of mailing address. Should return value like:
Recipient's Name
Recipient's Address
Recipient's Province/Postal code
Recipient's Country name

[2017-03-08 03:35] masudhossain opened #842 "Adding Faker to Create in controller, possible?"
I want to be able to add something like below to my ConversationsController. Is this possible?

[code]

But i'm getting an

error

[2017-03-08 04:38] masudhossain commented on #842
solved: doing bundle install faker will install it on test.

[2017-03-08 04:38] #842 closed

[2017-03-08 10:08] Kroid opened #843 "Faker::Internet.domain_word returns empty string"
If Faker::Company.name return russian name, Faker::Internet.domain_word return empty string:

[code]

If it return english name, domain_word is ok.
[code]

[code]

[2017-03-15 09:57] SagareGanesh commented on #843
@Kroid @stympy The above issue is due to **prepare** funtion in char.rb helper.

    def self.prepare(string)
       result = romanize_cyrillic string
       result = fix_umlauts result
       result.gsub(/\W/, '').downcase
    end

At the end of function it substitute all non word characters with empty character, And In the case of Russian
local, All characters are non word characters, that's why

[2017-03-15 14:24] kjleitz opened #851 "Faker::RickAndMorty not available in v1.7.3 from RubyGems"
If you install v1.7.3 from RubyGems (or put `gem 'faker', '1.7.3'` in your Gemfile), there is no `Faker::RickAndMorty` class—there's no file for it at `lib/faker/rick_and_morty.rb`, and there's no info for it in `lib/locales/en.yml`. Attempting to use it predictably results in a `NameError: uninitialized constant Faker::RickAndMorty`.

The RubyGems 1.7.3 version does have _at least some_ of the ch

[2017-03-18 22:45] #630 closed

[2017-03-20 19:00] vernistage opened #856 "uninitialized constant Faker::RuPaul"
I was excited to use this faker, but it doesn't seem to be working.

[2017-03-21 01:26] b264 commented on #856
`Faker::RuPaul` is brand new and still in the master branch.  It's not in release 1.7.3... until 1.8 comes out you can use it from github if you need it right now
`gem 'faker', :git => 'git://github.com/stympy/faker.git', :branch => 'master'`

[2017-03-24 17:11] vernistage commented on #856
Thanks! I can wait :D.

[2017-03-24 17:27] b264 commented on #851
`Faker::RickAndMorty` is brand new and still in the master branch. It's not in release 1.7.3... until 1.8 comes out you can use it from github if you need it right now
`gem 'faker', :git => 'git://github.com/stympy/faker.git', :branch => 'master'`

[2017-03-24 20:40] kjleitz commented on #851
D'oh! Cool, thanks for the tip!

[2017-03-29 20:06] aarona opened #861 "Faker::PhoneNumber.area_code and .exchange_code returning nil"
Both of these methods are returning nil instead of numbers. `Faker::PhoneNumber.subscriber_number` seems to be working fine.

[code]

[2017-03-30 04:57] Seitk opened #862 "Can I have Faker::LeagueOfLegends"
Please LOL

[2017-03-30 05:51] SagareGanesh commented on #861
@aarona `Faker::PhoneNumber.area_code` and `Faker::PhoneNumber.exchange_code` methods are available only for US locale. please check [here](https://github.com/stympy/faker/blob/master/doc/phone_number.md). Other than US local, It will return nil.

[2017-03-30 07:27] aarona commented on #861
You're right! I had to learn the hard way about setting `Faker::Config.locale` to get that to work. Maybe the documentation where it says "US Only" should add reference to this setting? Also, Canada's locale should probably support this as well since they have the exact same format as the US?

[2017-03-30 07:28] #861 closed

[2017-03-30 18:04] b264 commented on #861
You can submit a PR to add the missing info to the yml files

[2017-03-31 16:07] Dpalazzari commented on #862
sure I'll do it

[2017-04-02 02:58] aarona commented on #861
I believe I may do that, thanks!

[2017-04-02 07:36] aarona opened #864 "Tests fail that have nothing to do with my changes. What should I do?"
When I run `rake` I'm getting 1 failure and 7 errors. This is right after cloning the project so I know I didn't break this gem. I made the changes, tested (and got no new errors other than those it currently had) and did a pull request but the pull request failed because Travis CI determined there was an error in the build. It looks as though under many versions of Ruby the gem is passing tests w

[2017-04-03 13:00] mrstebo opened #866 "Documentation not correct for Faker::Color.hsl_color and hsla_color"
The [documentation](https://github.com/stympy/faker/blob/master/doc/color.md) has the saturation and lightness values between **0** and **360**. This should instead be a value between 0 and 1.

[2017-04-05 15:35] ZASMan opened #869 "Faker::French Suggestion"
Hi, your gem has been a big help to me and I'm interested in contributing. I'm wondering if there's any need to offer Faker data in other languages, such as French. I would like to do something as this:

[code]

Thanks!

[2017-04-05 15:53] #869 closed

[2017-04-06 09:37] mjerem34 opened #871 "undefined method `name =' or undefined method ` ='"
I think there is a bug ...
model.rb :
[code]
test.rb :
[code]
factories.rb :
[code]
schema.rb :
[code]
What works or not :
[code]
Full stacktrace :
[code]

Please see [https://stackoverflow.com/questions/43249986/undefined-method-for-agency-id-nil-name-nil-ip-adress-nil/43251069#43251069](https://stackoverflow.com/questions/43249986/undefined-method-for-agency-id-nil-name-nil-ip-adress-nil/4325106

[2017-04-06 10:06] #871 closed

[2017-04-06 10:07] mjerem34 commented on #871
It appears there is a bug in the model ... Caused by the module ...

[2017-04-06 14:45] jmolina91 opened #872 "New Feature Faker::DNI or Faker::NIE"
I'd like to be able to generate random dni and nies like this http://generadordni.es/

[2017-04-06 15:50] tagliala opened #873 "Faker::Date.birthday has some issues"
Hi,

thanks for this gem!

I have noticed something wrong in the birthday faker.

### 1. `from` and `to` should be inverted

[code]

[code]

### 2. Tests are a little bit confusing

[code]

Given that the failure message is wrong (`> #{date_max}` in both cases), variables are confusing

`date_min` represent the birthdate of the younger man, so the maximum birthdate.
`date_max` represent the birthd

[2017-04-06 18:51] b264 opened #876 "Faker::Omniauth is not deterministic and breaking the build"
Faker::Omniauth.facebook is not deterministic in that it's calling Object::Time.now. It should be deferring to one of the other Faker methods for the time and/or accept an optional argument for that (Time.now could be passed as the optional argument). So a test suite will not produce the same failure for the same seed if it's using Faker::Omniauth.  It's also causing sporadic build failures

[2017-04-07 01:16] xurizaemon commented on #685
IMO if my tests were sending emails to random people on the internet, I would not think that was legit behaviour for my tests. (I'm just a Faker user, can't speak for the project.)

[The correct way to generate emails is documented here](https://github.com/fzaninotto/Faker#fakerproviderinternet), and I can see how some tests might want to generate RFC2606/undeliverable addresses, while others migh

[2017-04-07 18:47] b264 commented on #685
I will implement this if a package maintainer will merge it.  My previous attempt was closed unmerged. https://github.com/stympy/faker/pull/732   @stympy do you want `.test` the TLD of every email address per RFC 2606?  Or should the automobile manufacturer just make the car work well and let driving skills be separate?

[2017-04-07 19:16] xurizaemon commented on #685
There are use cases for testing real-world addresses also (eg MX lookups), so I'd prefer if the tool  retain that functionality - but perhaps it could default to RFC2606 behaviour?

[docs/internet.md](https://github.com/stympy/faker/blob/665d55b5f02e240c3a59ad84930b02947f5ff5b9/doc/internet.md) mentions "email" and "safe_email", but perhaps "email" being the more discoverable (the library is so ea

[2017-04-07 19:35] elbarto132 commented on #822
+1

[2017-04-07 20:39] Dpalazzari commented on #876
Yeah this is breaking my PR right now. All the tests pass locally until it is run in Travis.

[2017-04-07 21:17] alexjmoore commented on #685
I agree, the library is built for testing and so should default to the RFC that specifies clearly how to address such test scenarios.

But yes, i get plenty of links in my inbox, almost daily, latest was series of account access emails for a test instance of Oracle Cloud :-)

[2017-04-07 23:19] stympy commented on #685
Actually, the library was originally built for taking screenshots.  It also happened to prove useful for generating test data.

[2017-04-08 00:03] stympy commented on #876
Addressed in 0c8d3ea

[2017-04-08 00:03] #876 closed

[2017-04-08 00:06] #866 closed

[2017-04-08 17:02] Mihail-K opened #880 "[Feature Request] Add User Agent strings"
Being able to fake browser user agent strings would be exceedingly useful for mocking things like visit tracking and related functions.

ie.
[code]

[2017-04-19 04:31] ski-climb commented on #237
Agreed, it is [reasonable](https://en.wikipedia.org/wiki/Principle_of_least_astonishment) to expect `Faker::Number.number(1)` to return a number.

[2017-04-19 19:24] jdconrad89 commented on #806
I just pulled down the most recent version of Faker and can confirm that it's still doing this
<img width="426" alt="screen shot 2017-04-19 at 1 15 27 pm" src="https://cloud.githubusercontent.com/assets/18131669/25197783/680500fa-2502-11e7-940e-bb7dca8c77b1.png">

It looks like when the string= true in Commerce.price it is being split on the "." and put back together without re inserting the "."

[2017-04-20 11:08] marcosanfilippo opened #891 "Add support for country cities and coordinates"
Limit coordinates and cities for a specific region / country

[2017-04-21 21:31] oxfist commented on #588
Should this issue still be open, now every new Faker class has its own separate file with examples

[2017-04-22 16:38] DonkeyFish456 commented on #862
I just made a PR for summoner spells, masteries and rank. Anything else you would like to see?

[2017-04-22 16:44] Dpalazzari commented on #862
You could add some more quotes to the existing quotes array. Other than that, I think it's all been covered.

[2017-04-22 19:15] #588 closed

[2017-04-23 15:24] faouzzz opened #894 "Faker::Time.between produces times out of range"
it seam that **Faker::Time.between** method does not take in consideration the time only the day...

using 1.7.3 with rails 5.0.2.

[code]
![image](https://cloud.githubusercontent.com/assets/576894/25314711/40da3ef6-2849-11e7-9f15-c61404db2662.png)

![image](https://cloud.githubusercontent.com/assets/576894/25314640/3f2ac54a-2848-11e7-8a48-874e42e2b38e.png)

what i'm doing wrong ?

[2017-04-23 15:33] faouzzz commented on #894
ok after viewing source there is a fix but no doc... sorry

![image](https://cloud.githubusercontent.com/assets/576894/25314802/e25259a2-284a-11e7-81f4-545b683de1f0.png)

[2017-04-23 15:33] #894 closed

[2017-05-01 16:02] hd719 commented on #880
Hello I am new to Open source can I work on this?

[2017-05-01 16:23] stympy commented on #880
You bet!

[2017-05-02 20:13] Olegborodko commented on #249
https://github.com/Marak/faker.js/wiki/Basic-Random-Data

[2017-05-04 19:32] mrstebo opened #901 "Material missing in Faker::Commerce documentation"
Discovered that there is a public `material` function in the [Faker::Commerce](https://github.com/stympy/faker/blob/master/lib/faker/commerce.rb#L31), but it is not mentioned in the documentation.

[2017-05-04 19:42] hd719 commented on #880
@stympy Hey I forked over the repo, but I am having trouble starting this, any advice?

-Thank you.

[2017-05-06 04:06] trcarden opened #906 "Faker 1.8 release"
I was wondering if we could have a faker 1.8 release. The mainline has some nice features in it now like seeding the random generation that would be really nice to release to the public. The last release 1.7.3 came out just about 2 months ago. Any chance for a 1.8 release?

[2017-05-08 15:55] hd719 commented on #880
Hello @stympy quick question, so when someone does `Faker::Internet.user_agent(:firefox)` they get the UAS's for FireFox.

Now do you want the user_agent method to support only the popular browser such as (FireFox, Chrome, Safari, and Internet) or any browser?

-Thank you.

[2017-05-08 18:52] Mihail-K commented on #880
For my own use case, the major ones would suffice, but others may disagree.
Another thing that comes to mind is mobile browsers, but that's not necessary for an MVP.

[2017-05-08 20:54] hd719 commented on #880
Hey @Mihail-K Alright cool, also does the browser that is passed into `.user_string()` does it have to be a symbol or can it be a string?

- Thank you.

[2017-05-09 14:47] Mihail-K commented on #880
I don't think it makes much of a difference.
Generally speaking, unless there's reason to differentiate, it's best to accept both.

[2017-05-10 20:59] mdeering commented on #906
@stympy If you are looking for help with maintainers I would gladly chip in.

[2017-05-12 16:17] hd719 commented on #880
Hello @Mihail-K and @stympy I added the tests and the feature. Let me know what you guys think and if I need to fix anything.

-Thank you!

[2017-05-13 12:34] mrstebo commented on #864
Is this still an issue? I have pulled the most recent **master** branch and don't have any failures.

I ran `rake test` from a docker container, so it is a clean environment.
To run the tests from a container you can just start a new disposable container and start bash:

`docker run -it -v "C:\Projects\Github\faker":/myapp -w /myapp ruby:2.1.10 bash` *(you will probably have to change the path to

[2017-05-13 12:41] mrstebo commented on #864
![image](https://cloud.githubusercontent.com/assets/3327152/26025533/cc00a6e4-37e1-11e7-8dd1-34358f46a080.png)

Seemed to work okay with `2.4.0`.

[2017-05-13 12:45] mrstebo commented on #864
The Time class should allow calls to `super` because it is a subclass of the `Date` faker class. All it does is add some additional time data :+1:

[2017-05-15 14:54] ahmed-taj opened #915 "NoMethodError: super: no superclass method `backward' for Faker::Time:Class"
Hello,

My project tests are [failing](https://travis-ci.org/tutorship/tutorship/jobs/230868894) from time to time with the same error below:

[code]
The first line call `Faker::Omniauth.github` method added by my PR [#888](https://github.com/stympy/faker/pull/888). However, the tests only fail on Travis, and works fine on my machine!
If you check the build [history](https://travis-ci.org/tutorshi

[2017-05-16 13:29] PhilippeCoste opened #917 "Faker HowIMet"
The Faker just does not work, it seems.

[2017-05-16 17:23] andrewmbyrd commented on #873
I'm looking into the 3rd issue now. Will submit a PR soon

[2017-05-16 19:02] andrewmbyrd commented on #873
I believe I've solved it.

[code]

The issue with the previous implementation was in the `handled_leap_years` function. Because the current year is 2017, anytime `max_age - min_age < 5` meant that the min year would be at least 2013. So in all of those cases, we can use this function call:

[code]

Because 2017 and 2013 are not evenly divisible by 4, a call to `customized_bound` is made.

[code]

[2017-05-19 23:26] unleashy commented on #250
Exactly. I have an app which has a smaller set of locales than what Faker has, and if I use `I18n.available_locales`, it returns all of the locales in Faker besides the ones I have... which is relentlessly annoying.

[2017-05-22 12:41] hd719 commented on #880
Hello @Mihail-K and @stympy sorry for the bother, but any update on this?

[2017-05-22 16:00] #424 closed

[2017-05-23 23:00] #880 closed

[2017-05-24 02:58] chukitow commented on #917
The latest version in ruby gems is 1.7.3, you should install the gem from the repo in order to have available the module HowIMetYourMother

[code]

[2017-05-24 04:50] swentling87 commented on #696
It looks like this got handled under #744

[2017-05-26 15:24] allam-matsubara opened #927 "Internet password method sometimes doesn't include special chars"
Hey guys, I found in my tests using faker that, when required, Internet.password method does not include special_chars. I found that this is caused by ```rand``` method at line 64. You see ```rand(min_length)``` can return 0, in, in those cases, it simply does not add any special chars to passwords.

I'm creating a pull request, #926 where I changed the method to this ```rand(1..min_length)``` to

[2017-05-28 02:49] #741 closed

[2017-05-30 19:49] ajmiciano commented on #469
Anyone?

[2017-05-30 20:15] ochagata commented on #469
@ajmiciano  You can always work around it by doing this:
[code]

[2017-05-30 22:14] b264 commented on #469
This is addressed in https://github.com/stympy/faker/pull/883 but I had an issue with the tests I haven't gotten back to yet

[2017-05-31 20:11] ochagata commented on #469
@b264 I think the original feature request was for adding functionality to ask for the max/min length of the output of other modules in Faker

[2017-06-01 10:10] Elolawyn opened #929 "New Feature Faker::CIF"
I'd like to be able to create valid spanish CIFs like in http://generadordni.es/. I think they are called VAT in other countries.

[2017-06-06 12:33] matthieudou opened #935 "Faker::Coffee"
[code]

[2017-06-06 13:14] rudzainy commented on #588
I think separating the examples into individual docs makes it super hard to browse and find what I need. I propose we bring the old format back, where all examples are in one file.

[2017-06-07 20:53] rolyatwilson commented on #935
`Faker::Coffee` was added after the v1.7.3 release. v1.7.3 was released February 4, 2017. `Coffee` was added March 18, 2017: https://github.com/stympy/faker/commit/28255781700b1ff73194178779cd70cbd1d614c9

[2017-06-09 23:26] robosoul opened #948 "Clean-up Robin's "Holy Steam Valve" quote"
This `Holy Steam Valve (also uttered by Alfred in concern over a kidnapped Robin.)` is listed on the [wiki](https://en.wikipedia.org/wiki/List_of_exclamations_by_Robin), but is should be without `(also uttered by Alfred in concern over a kidnapped Robin.)` part in Faker. Simply:

[2017-06-14 06:25] kfrz commented on #851
@stympy Stale issue, please close.

[2017-06-14 13:34] #851 closed

[2017-06-21 10:55] paritoshbotre opened #955 "Generating fake link [Feature Request]"
It would be great if we have fake link generation in our Gem.
Is this make sense ?
I can create PR just let me know.

[2017-06-21 11:07] #955 closed

[2017-06-21 12:27] polyglot0027 opened #956 "Faker::Internet.domain_word == """
This method return a void string, i.e "".

[2017-06-21 12:45] SagareGanesh commented on #956
@polyglot0027 which faker version you are using?

[2017-06-21 13:53] polyglot0027 commented on #956
@SagareGanesh faker (1.7.3)

[2017-06-21 18:47] SagareGanesh commented on #956
@polyglot0027 I don't think there is such issue, I have tried to reproduce it locally, but didn't get anything.
Below is my testing report.
![issue1](https://user-images.githubusercontent.com/16730632/27401101-edd8498a-56df-11e7-91f4-23beaf86f1f3.jpg)

 could you please add your screenshot here, so it ll help to reproduce it.

[2017-06-21 19:47] polyglot0027 commented on #956
Sure! :)
<img width="485" alt="screen shot 2017-06-21 at 22 46 33" src="https://user-images.githubusercontent.com/18975138/27403585-a54cb5cc-56d3-11e7-9096-9dbfc7a8d4bf.png">

[2017-06-22 05:45] SagareGanesh commented on #956
@polyglot0027 This is weird issue. Because `domain_name` method internally uses `domain_word` method to create domain name, and add suffix(i.e .com, .org etc) to it.
Logically if `domain_word` method returns empty string, then the `domain_name` should return `".com"` or `".org"`

--------------------------

If your `domain_name` method is working, you can use
` Faker::Internet.domain_name.split('.

[2017-06-22 07:14] polyglot0027 commented on #956
@SagareGanesh The issue occurs because of localization settings:
<img width="377" alt="screen shot 2017-06-22 at 10 12 01" src="https://user-images.githubusercontent.com/18975138/27421527-759d31b6-5733-11e7-98e8-a15d8f7abba5.png">

[2017-06-22 09:56] SagareGanesh commented on #956
@polyglot0027 You are right, got the issue. The reason behind the `domain_name` method working for any locale and `domain_word` not, is `domain_name` always returns domain name with `en` locale. I have resolved this issue and created PR.

[2017-06-22 10:17] polyglot0027 commented on #956
@SagareGanesh Cool! Thanks

[2017-06-22 18:48] ricardograca opened #959 "Specify version number each class was introduced"
I see a lot of issues where users clearly read the online Readme and tried to use a Faker class only to receive a `NameError: uninitialized constant Faker::Whatever`.

Currently there's no indication whatsoever when each class was introduced. It would be very useful if this information was present in both the Readme.md file and each class' individual readme file.

Example README.md (completely ran

[2017-06-27 14:24] bjoernalbers opened #962 "Real passwords / passphrases"
Hey Benjamin,

I've written a rubygem that creates easy-to-remember passwords / passphrases from wordlists: https://github.com/bjoernalbers/passwords
Are you interested in a patch for faker?
If not then just close this issue.

Björn

[2017-06-29 17:19] allam-matsubara commented on #927
Any news about this or the PR #926 ?

[2017-07-01 11:05] #962 closed

[2017-07-03 05:28] grepsedawk opened #966 "Put counts of each faker element in the documentation"
IE: (made up numbers)
# Faker::Hobbit

[code]

[2017-07-03 09:05] suterma commented on #685
I do suggest, that indeed faker would generate actual test email adresses by default.

This is an issue for our company. We want to have test email data, but at the same time make absolutely sure it never reaches a real person, as this would harm our reputation.

I am doing it like so, which is admittedly easy enough:
[code]

[2017-07-03 10:10] b264 commented on #685
@suterma What language is that?  It looks like Typescript

[2017-07-03 20:11] suterma commented on #685
This is a line of C#. I forgot to copy the end semicolon in this example, corrected now.

[2017-07-03 21:16] b264 commented on #685
This is the Ruby library -- try https://github.com/slashdotdash/faker-cs

[2017-07-04 08:04] coorasse commented on #266
This issue is still open and Faker does not work for apps which don't support english. I am stuck at version 1.5.0

[2017-07-04 16:17] vernistage commented on #935
I am using the most updated Faker gem, and I too received this error.

[2017-07-04 17:38] SagareGanesh commented on #935
@vernistage as per @rolyatwilson this module is not added in any latest gem version.
If you want to use this module, you need to add
`gem 'faker', :git => 'https://github.com/stympy/faker'`
line in your Gemfile

[2017-07-05 03:00] bschwartz10 commented on #966
@pachonk I'd like to tackle this issue. What do you think the most efficient solution would be to find the number of each faker element?

[2017-07-05 03:11] pachonk commented on #966
Perhaps writing a script to find all end points in the yml located here: https://github.com/stympy/faker/blob/master/lib/locales/en.yml and calling `.length` on each element to get the length of each end array could be an option.

[2017-07-05 03:24] bschwartz10 commented on #966
@pachonk Sounds like a good option. I will look into it and get back to you shortly

[2017-07-05 16:56] marcelarubim commented on #532
For a complete solution, I would suggest:

1. Creating a new file: `lib/faker/company.rb`.

2. Define your file as:
`require 'faker'`
`module Faker`
`  class Company < Base`
`    class << self`
`      def store_type; fetch('company. store_type'); end`
...
`    end`
`  end`
`end`
And for each category define a new `def category_name; end`

3. Then, if not yet configured, add these line to `config/a

[2017-07-07 19:52] Steven-Galvin opened #968 "Zelda Location"
It appears that the Zelda location is broken. Everytime I try and use it in my projects I get a NoMethodError undefined method location error. I might be overlooking something, but most others work as intended.

[2017-07-09 19:48] stympy commented on #968
It was added after the latest release, so you would need to use the master branch to get it until the next gem release.

[2017-07-09 19:48] #968 closed

[2017-07-09 20:31] #948 closed

[2017-07-10 03:33] bschwartz10 commented on #966
@pachonk I put together a rake task to get counts of the faker elements. I updated the faker objects with static arrays. You can reference the PR above for the code. I marked it as WIP b/c I wanted to hear your feedback on how I could improve it. I.e. refactoring, adding tests, updating documentation, etc.

[2017-07-10 16:29] tlarrieu opened #973 "NoMethodError: super: no superclass method `between' for Faker::Time:Class"
Hi all,

after updating to the newest version of the gem, I've started to run into some issues on my local machine (but not on my CI for some reasons) on a Rails 5.1 project:

[code]

- Most recent working version: v1.7.3
- Failing version: v1.8.0

FYI, I've managed to isolate the commit that "introduces" the failures through `git bisect`: baf7f8295fdc7f140d718391a5676cadf7509ed0

I've located a f

[2017-07-10 18:57] darylf commented on #959
I attempted to solve this with Pull Request #974

[2017-07-10 19:15] stympy commented on #959
That's an interesting idea, but what would one do when merging a newly-created class?  What version would you enter, since there isn't a released version yet?  If instead of a number you put "pending", "master", or something like that, then you'd need to go back to all of those new classes when making a release and update them with the new version number.  Also, how would you handle new methods on

[2017-07-10 19:19] stympy commented on #973
Try grabbing the latest master... I just merged #971 which should fix the problem.  If it works for you, I'll do a release.

[2017-07-10 19:20] stympy commented on #915
Closed by #971

[2017-07-10 19:20] #915 closed

[2017-07-10 19:20] stympy commented on #864
Closed by #971

[2017-07-10 19:20] #864 closed

[2017-07-10 19:21] stympy commented on #956
Closed by #957

[2017-07-10 19:21] #956 closed

[2017-07-10 19:22] stympy commented on #917
This is available in the 1.8.0 release.

[2017-07-10 19:22] #917 closed

[2017-07-10 19:22] stympy commented on #906
Done -- enjoy. :)

[2017-07-10 19:22] #906 closed

[2017-07-10 19:23] #901 closed

[2017-07-10 19:24] stympy commented on #856
This is now available in the 1.8.0 release.

[2017-07-10 19:24] #856 closed

[2017-07-10 19:25] stympy commented on #843
Fixed by #957

[2017-07-10 19:25] #843 closed

[2017-07-10 19:26] stympy commented on #812
This is available in the 1.8.0 release.

[2017-07-10 19:26] #812 closed

[2017-07-10 19:27] stympy commented on #935
This is available in the 1.8.0 release.

[2017-07-10 19:27] #935 closed

[2017-07-10 19:31] #927 closed

[2017-07-10 19:57] stympy commented on #973
I went ahead and released this as 1.8.1.  Let me know if that doesn't fix the problem. :)

[2017-07-10 19:57] #973 closed

[2017-07-10 22:12] botandrose opened #975 "Cannot require 'faker' after update to 1.8.1"
[code]

[2017-07-10 23:38] turboladen commented on #975
Having the same issue here with ruby 2.4.1 on Ubuntu 14.04.4 LTS.

[2017-07-11 00:42] rcaught commented on #975
https://github.com/stympy/faker/pull/971

[2017-07-11 02:33] stympy commented on #975
I have tried to reproduce this on Ubuntu 16.04 and 14.04 with ruby installed via apt, including both the Ubuntu default version (2.3.1 on 16.04) and the [brightbox packages](https://www.brightbox.com/docs/ruby/ubuntu/) (2.4.1 on both Ubuntu versions).  In every case I was able to do this:

    $ gem install faker
    $ irb
    irb(main):001:0> require 'faker'
    => true

To aid me in getting this

[2017-07-11 02:47] kmats commented on #975
i think,
https://github.com/stympy/faker/commit/baf7f8295fdc7f140d718391a5676cadf7509ed0 does not guarantee the requiring order,
so sometimes 'faker/time' is required before 'faker/date' and raise "NameError: uninitialized constant Faker::Date"

[2017-07-11 03:12] #975 closed

[2017-07-11 03:12] stympy commented on #975
Yeah, I was thinking the same thing, I was just hoping to be able to reproduce before trying a fix. Oh well. :)

[2017-07-11 08:33] tlarrieu commented on #973
I had the same issue as in #975 with `v1.8.1` but `v1.8.2` solved it.
Everything is back to working.

Thanks a lot for the swiftness!

[2017-07-11 09:50] fotos commented on #975
Maybe the `1.8.1` gem should be yanked?

[2017-07-11 12:34] stympy commented on #975
v1.8.1 has been yanked

[2017-07-11 15:29] gssbzn opened #976 "Can't pass zero (0) to the default rand method (Faker override)"
The changes introduced with eace5e693019505f519781e4409a85df446a6d67 broke things like

[code]
Even though documentation says it should be possible

According to the `Random` documentation `rand(max)` returns a value between zero and max (not inclusive), and thus negative or zero are not valid parameters

There's a couple of ways to fix this and wanted to do it according to the project's recommend

[2017-07-11 17:27] stympy commented on #976
I vote for keeping the existing documentation and (old) behavior by allowing zero in the arguments list and then handing Kernel.rand the passed argument + 1.

[2017-07-12 11:51] #976 closed

[2017-07-12 13:52] #841 closed

[2017-07-13 03:18] viamin opened #982 "Weird crash with Faker 1.8.3"
On OS X 10.12.5 with ruby 2.4.1 I'm seeing this crash when rendering a rails email preview:
[code]
It's called in my code like this: `FactoryGirl.attributes_for(:incoming, from: "#{Faker::Name.name} <#{Faker::Internet.email}>")`
But calling `Faker::Name.name` in the rails console does not reproduce this.

Rolling back to faker 1.7.3 clears up the crash.

[2017-07-13 03:51] viamin commented on #982
Still present in 1.8.4

[ruby_2017-07-12-202138_Barts-MacBook-Pro.crash.txt](https://github.com/stympy/faker/files/1143980/ruby_2017-07-12-202138_Barts-MacBook-Pro.crash.txt)

[2017-07-17 18:03] pskrz commented on #982
Possibly the same issue for me with faker > 1.8.3 , I'm not sure which stack trace to share, but this was when I was trying to run my minitests
[code]

[2017-07-17 18:46] pskrz commented on #982
I dug some more, correct me if this is a separate issue from Viamin's, but this old issue https://github.com/rails/rails/issues/3488 suggests adding psych directly into the Gemfile. I did this and faker works at whatever version again. @viamin does this fix the issue for you or am I experiencing something different?

[2017-07-17 22:29] viamin commented on #982
I already had psych in my Gemfile (because of https://github.com/rails/rails/issues/3488) when I hit this issue.

[2017-07-21 17:52] chris-sun opened #988 "Faker::RickAndMorty not supported in 1.7.3"
We ran Faker::RickAndMorty.character in faker 1.7.3 and got:

[code]

This is unacceptable! Rick would be ashamed.  (J/K)

[2017-07-21 17:57] chris-sun commented on #988
Upgraded to 1.8.3 and it works now.

[2017-07-21 17:57] #988 closed

[2017-07-23 23:00] samlandfried commented on #966
@pachonk I'm taking a stab at this, and I've got an MVP running that adds a count for each localization on the docs that looks like this:
[code]
As you can tell, it counts the elements if possible, otherwise it identifies them as dynamic, and just ignores the localization if it doesn't have a reference to the particular category and group. Any thoughts on formatting? Some of the count blocks are d

[2017-07-24 11:10] owst commented on #982
@viamin's issue may well be caused by a [Ruby bug](https://bugs.ruby-lang.org/issues/13753) which shows up as faker > 1.8.0 now uses `Random::DEFAULT`: https://github.com/stympy/faker/blob/6148f01b4f2755358e4dd4928a438be9e55fb11b/lib/faker.rb#L37

That Ruby issue is fixed in https://github.com/ruby/ruby/commit/a14cb8ad5b432bcda7b6a4a0ee41a1a292d0b568 so you could try compiling a Ruby from trunk to

[2017-07-24 14:31] stympy commented on #982
Thanks for the info, @owst!

[2017-07-24 17:34] staycreativedesign commented on #166
Try using zeus and guard and faker... massive explosion 👎

[2017-07-26 01:17] ianroberts131 opened #991 "Failed Tests"
I'm planning to take a crack at contributing, but came across some failed tests. I consulted `CONTRIBUTING.MD` - forked the repo, `bundle` and then `bundle exec rake`, and came across the following test failures:

[code]
Any idea why these tests are failing? They all appear to be originating from the Omniauth in `Faker::Internet`.

Thanks!

[2017-07-26 20:01] staycreativedesign commented on #982
I can confirm this too :)

[2017-07-26 20:12] b264 commented on #991
Try using Ruby 2.4

[2017-07-28 13:03] ianroberts131 commented on #991
That worked, thanks!

[2017-08-07 15:39] KoRMaK opened #999 "Faker Standards, Controls and Citations"
It would be great if Faker could create fake standards, citations and controls. For example, some real world standards are FINRA, HIPPA and ISO.  It would probably be similar to the Business/Company faker, but worded more like laws. Here's an example from fedramps moderate controls https://www.fedramp.gov/resources/documents-2016/

Standard: FedRAMP Moderate Security Controls
Control Name:  AC-2 (

[2017-08-16 09:25] ricardograca commented on #959
I see your point. That's an extra development burden for sure, but good documentation doesn't create itself, so not sure if there's an easy way around that.

Probably in a similar way. Something like:

[code]

@stympy That could work, but still leaves the problem of identifying methods that were added after the initial class release.

[2017-08-17 20:19] b264 commented on #959
updating to the latest version is a normal first step when a library is not performing correctly

[2017-08-19 02:31] BM5k opened #1006 "metric measurement methods aren't actually in metric units"
https://github.com/stympy/faker/blob/c59602e6670bdfc40912b5060ec9fee16836e1eb/lib/faker/measurement.rb#L51-L93

[2017-08-30 14:47] dARKaRK opened #1010 "Generated phone numbers dont seem to be valid."
I've used `Phonelib` gem to validate phone number in my models.
When I use `Faker::PhoneNumber.phone_number` for phone numbers during seed data creation, _they don't pass the validation_.
One such example is below:
[code]
I guess the whole point of `Faker` is to generate fake random things but is there any workaround for models with such validation?

[2017-08-30 16:11] stympy commented on #1010
You can either set `Phonelib.extension_separator` or `Phonelib.extension_separate_symbols` to use the "x" that Faker returns, or you can [override the locale](https://github.com/stympy/faker/blob/c7b5a2e7a80c0812f7b98bf1f5b03465f9e05675/lib/locales/en/phone_number.yml#L4) in Faker to change how the extension is returned.

[2017-08-30 16:11] #1010 closed

[2017-08-31 14:10] rlafranchi opened #1011 "Would it be possible to tie quotes to characters?"
ex.

[code]

[2017-08-31 18:52] wmlutz opened #1012 "Cats but not dogs?"
I can haz dogs too?

[2017-09-05 10:45] leio10 commented on #822
I'm having this problem too, using the gem last version (1.8.4).

As said, the problems seems to be that calling `I18n.translate` with a locale key that has children keys returns a Hash with symbol keys. I didn't found any ruby or rails setup in my different projects where that call return a Hash with string keys. [Here](https://github.com/stympy/faker/blob/master/lib/faker.rb#L149) is the call th

[2017-09-07 05:32] antillas21 commented on #94
@pake007 could you please close this issue? as @michaelkrenz pointed out his patch has been merged (years ago now).

[2017-09-07 06:58] #94 closed

[2017-09-08 19:26] rachel-carvalho commented on #982
I can also reproduce this issue, but we're using Ruby `2.3.4`, RSpec `3.6` and it only happens when we use it with [Zeus](https://github.com/burke/zeus) (any version).

For now, I'm adding this to my spec helper as a workaround while the ruby bug fix is not published:

[code]

[2017-09-08 23:43] jodygrd commented on #1012
I made a dog faker and a pull request!! Hopefully it gets approved!!

[2017-09-12 23:42] bengalamx commented on #289
+1

[2017-09-13 14:18] baubakg opened #1024 "First names are in english when initiating faker with local "ru""
Hello,

This is a great project:

Tested this with the russian locale, and tried outputs for the name values and got:

The output is:

[code]
As you can see although the fullname is in russian, the first and last name remain in english.

[2017-09-13 18:55] tjgillies opened #1026 "Need Silicon Valley"
Plz

[2017-09-14 23:17] jonny5 opened #1027 "Feature request/suggestion: Categorizing faker classes"
Hadn't used this gem in a bit – the list of examples has become pretty difficult to parse (and seems to be getting more so). Bucketing the Faker classes in some way seems useful and could be done in a non breaking way. (e.g. move `Faker::RickAndMorty` to `Faker::PopCulture::RickAndMorty` and expose its namespace in both ways).

Not sure the proper bucketing/classification, would be happy to open a

[2017-09-14 23:26] benpolinsky commented on #1027
Ha yes. I foresaw this several months ago and have been watching the library as it grows.  The conclusion was that, seeing as that faker is most likely only used in development, until it becomes unwieldy there was no need to split it up.

I could see how that time would be now.
I think pop culture works.  I know I've seen Pokémon soon after Go was released.

It depends on the mission of the librar

[2017-09-15 02:12] b264 commented on #1027
[code]
Yes.
It's almost like there needs to be two libraries, one for fake things like
[code]
and another for fake real data like
[code]

[2017-09-19 07:33] yld commented on #982
This bug should be closed now as 3 new Ruby versions had been released, see https://www.ruby-lang.org/en/news/2017/09/14/ruby-2-4-2-released/.

https://bugs.ruby-lang.org/issues/13753 is closed too

Ruby 2.4.2 and 2.3.5 does'nt segfault any more. I personnaly did'nt try 2.2.8.

[2017-09-19 14:33] stympy commented on #982
Thanks, @yld!

[2017-09-19 14:33] #982 closed

[2017-09-20 20:41] ManickYoj commented on #499
I haven't really tried to debug why, but the code you used to search does not return any results for me.
[code]

However, a simple
[code]
suffices to confirm the issue for me returning, eg:
[code]

[2017-09-20 20:52] ManickYoj commented on #499
Looks like the problem is that the default locale is `en`, not `en-US`.

The `en` config loads the confusingly placed `lib/locales/en/phone_number.yml` which, in its entirety, reads:

[code]

This suggests the fix is setting your locale to `en-US`.

[2017-09-20 21:16] ManickYoj commented on #499
Looks like this a duplicate issue of #24 . Suggest closing in favor of that one.

[2017-09-20 22:54] mrkgrandjean commented on #499
I see.  Looks like with the locale set this issue is not an issue.... closing.

[2017-09-20 22:54] #499 closed

[2017-09-20 23:28] #24 closed

[2017-09-21 14:19] Tensho opened #1030 "Honor default locale instead of hardcoded :en"
At the fresh master (dfb0762) I've noticed [here](https://github.com/stympy/faker/blob/master/lib/faker.rb#L164):
[code]
that if I don't have `:en` locale in `I18n.available_locales`, enabled by Faker or Rails `I18n.enforce_available_locales` fails the app with:
[code]
Another simle fallback to hardcoded `:en` locale you may find [here](https://github.com/stympy/faker/blob/master/lib/faker.rb#L152

[2017-09-22 11:02] #306 closed

[2017-09-29 12:33] leifcr commented on #1030
If :en is not part of the available locales, faker triggers I18n to throw this:
[code]

Configuration to recreate in a rails app:
[code]
After adding factory_girl-rails + faker to the Gemfile, this is thrown when starting the console.

I do think the best would be to honor I18n.locale if possible.

If not perhaps :en should be pushed into available_locales?

[2017-09-30 15:08] Tensho commented on #1030
My case is related to the next available locales – `:'en-GB' (default locale), :'en-ZA'`. But generally, I can imagine app that is intended to be exclusively in non-EN locales.

That what I wanted to hear ^_^ So I'll try to find all possible places where `faker` has explicit `:en` locale declaration.

[2017-10-04 12:36] rpbaptist commented on #822
I created [a PR] (https://github.com/stympy/faker/pull/1035) to solve this issue by avoiding `Hash` type altogether

[2017-10-06 11:52] lgor89 opened #1038 "Undefined method `dish' for Faker::Food:Class"

[2017-10-07 18:26] landongrindheim commented on #1038
@Igor89 What's the version number you're using? This is what I see using 1.8.4:

[code]

[2017-10-08 17:55] joel-g commented on #1026
What exactly are you asking for?

[2017-10-09 06:16] lgor89 commented on #1038
Hello. My faker gem version 1.7.3

2017-10-07 21:26 GMT+03:00 Landon Grindheim <notifications@github.com>:

[2017-10-09 10:54] landongrindheim commented on #1038
Looks like `Food.dish` was added in 3669579d27c85ad4d0b94d49da4bda1a186ccffb, which was after the release of 1.8

[2017-10-09 16:05] tjgillies commented on #1026
Quotes or other material from the show

[2017-10-10 09:08] lgor89 commented on #1038
Right you are. Thanks

2017-10-09 13:54 GMT+03:00 Landon Grindheim <notifications@github.com>:

[2017-10-10 09:09] #1038 closed

[2017-10-11 07:58] #459 closed

[2017-10-19 12:06] stympy commented on #1030
To answer your question about Internet, it uses :en specifically in order to solve a bug with not generating valid domain names and email addresses when a non-latin language is the default locale.

[2017-10-20 09:41] Bertg commented on #245
Hi, i have actually found the core issue here. It's not the YAML parsing that is wrong, it's the sick engine that seems to make a mistake. https://github.com/ruby/syck/issues/22

For anyone who has this issue, and does not count on localised values, this is our solution:

[code]

[2017-10-20 23:04] onnimonni opened #1046 "Finnish IBAN has 18 characters"
I tried to use the Finnish IBAN example with
[code]

It doesn't validate since Finnish IBAN should have only 18 letters. Check it here:
https://www.ibancalculator.com/iban_validieren.html

[2017-10-21 04:55] russellschmidt commented on #1026
Someone had previously submitted a Silicon Valley one that has been merged. I added some more fun SV stuff in [PR 1048](https://github.com/stympy/faker/pull/1048)

[2017-10-23 00:16] russellschmidt commented on #1011
I made a Dune library in [PR 1051](https://github.com/stympy/faker/pull/1051) and took a swing at how we could implement your idea, which I like very much. If people like my approach the community would have to restructure their .yml files to take advantage, plus some grunt work will be needed to tag all the quotes with the corresponding character.

[2017-10-23 13:23] rlafranchi commented on #1011
Nice, I'll keep an eye on the PR and maybe I'll take a stab at it for Star Wars.

[2017-10-25 14:55] cameronbroe opened #1052 "Feature Request: Pass in array of excluded methods in Markdown.random"
Basically, it would be nice to optionally pass in an array of excluded Markdown methods when calling Faker::Markdown.random so that you can selectively choose what you are randomly getting. I would be willing to submit a PR for this if it is something the community would like.

An example of how it could work would be with a call like this:
`Faker::Markdown.random(exclude: [:headers])`

Which will

[2017-10-26 02:13] russellschmidt commented on #1011
Side note 1: Some variation of "I've got a bad feeling about this" is in every movie so I'm including every permutation to keep the running joke going.

Side note 2: There is a division between characters and droids in the .yml. Might be fun to have a random droid quote versus random character quotes.

Side note 3: I am sorely tempted to change the .yml file to something like this
[code]

but that

[2017-10-27 13:45] amdrewnguyen opened #1055 "Faker::Dune documentation"
method name is `quote`, not `quotes`

[2017-10-28 00:02] russellschmidt commented on #1055
Nice catch. My mistake. Corrected on [PR 1057](https://github.com/stympy/faker/pull/1057)

[2017-10-30 09:54] onnimonni opened #1059 "Bank class doesn't generate IBAN with correct cheksums"
The current `Faker::Bank.iban()` doesn't generate valid IBAN bank accounts since the checksums are not calculated.

#1049 Fixes this.

[2017-11-02 09:19] Degwy commented on #289
+1

[2017-11-02 19:59] russellschmidt commented on #1052
I think I got this working for the `random` method but if you have good ideas about how to test it, I am all ears!

[2017-11-03 01:41] russellschmidt opened #1063 "Fake Text with Character Count"
Anyone ever dreamed of a lorem ipsum generator or somesuch that could be passed a character maximum count? Something like Hipster.paragraph_by_characters(256).

Use cases:
* testing length validations
* avoiding inadvertently hitting length validations on other tests
* catch formatting and layout issues with very long entries if seeding with Faker data

[2017-11-03 04:06] russellschmidt commented on #1052
I think it might be cool to solve this problem a different way with what I will call a markdown sandwich (inspired by the s*** sandwich criticism technique). So you can use Markdown.sandwich(5) and you get:

* header
* 5 sentence lorem ipsum paragraph
* random markdown element

so it looks like a real blog post.

Markdown.sandwich(6,3) should produce

* header
* 6 sentence lorem paragraph
* random

[2017-11-13 00:05] keithbro commented on #1063
I think this is a good idea. Happy to do this one if people are keen.

[2017-11-21 15:51] stympy commented on #1011
Closing this since #1054 has been merged

[2017-11-21 15:51] #1011 closed

[2017-11-23 16:20] Schwad commented on #1026
@tjgillies Faker now has Silicon Valley support and @russellschmidt kindly jumped in and helped make it more robust. Unless there's anything else you think needs covering are you happy for this issue to be closed? :)

[2017-11-24 08:59] cvandermeer opened #1076 "undefined method `initials' for Faker::Name:Class"
![image](https://user-images.githubusercontent.com/5426992/33202812-2d36427e-d0fe-11e7-85f3-793444f266fe.png)

[2017-11-24 12:44] stympy commented on #1076
This is only on master — there isn’t a gem release with this method yet.

[2017-11-24 12:44] #1076 closed

[2017-11-27 18:25] #1026 closed

[2017-11-29 17:40] huyderman opened #1078 "Faker incorrectly assumes all I18n backends respond to `#initialized?`"
Faker calls `I18n.reload! if I18n.backend.initialized?` to reload Faker translations. However, only `I18n::Backend::Simple` implements `#initialized?`, causing an error if I18n has been configured to use another backend (or backends through `I18n::Backend::Chain`).

Example stack trace:
[code]

In my app, I use `I18n::Backend::Chain` to chain multiple backends, so to get Faker to work I monkey pat

[2017-11-29 18:24] jguthrie100 commented on #1063
Hi guys, sorry to jump in @keithbro , but I thought I'd have a shot at working this (newbie to opensource, and could do with the experience on a straight forward fix!)

[2017-11-29 18:26] stympy commented on #1078
Thanks for raising the issue! Feel free to submit a PR. :)

[2017-12-02 16:50] tagliala commented on #873
Hi 👋

I've updated my PR #874 and now it contains a full fix for all three issues

I've used @andrewmbyrd's approach and added a couple of tests to make sure this doesn't happen again

[2017-12-04 06:51] Hobinx opened #1083 "The latest version does not contain Faker::ProgarmmingLanguage, but the documentation said it does."
I use `Faker::ProgrammingLanguage`, but it throws `NameError: uninitialized constant Faker::ProgrammingLanguage`, and I unpack the gem version 1.8.4, no `programming_language.rb`  exist in the `lib/faker`.
I think the documentation has mismatch with the real code.

[2017-12-04 13:19] stympy commented on #1083
The documentation says this:

`Faker::ProgrammingLanguage` has not yet been released in a version of the gem.

[2017-12-04 13:19] #1083 closed

[2017-12-07 07:26] PuZZleDucK commented on #832
I've proposed a simple implementation here:  #1085

[2017-12-07 12:32] fidalgo commented on #465
For the case of the names there's already a PR open https://github.com/stympy/faker/pull/716

[2017-12-07 16:10] stympy commented on #465
I have thought about this a bit more, and I don't think solving this in Faker is the way to go.  Instead, I would suggest three potential ways to deal with this:

1. As I mentioned previously, if you want to ensure that you don't get a name that has characters that could be escaped, you can override the locale.
2. In your test that uses a Faker name, loop until you get a name back from Faker that

[2017-12-07 16:10] #465 closed

[2017-12-07 16:22] stympy commented on #1063
Is the desire to have exactly N characters returned, or at least N characters returned?

[2017-12-07 16:29] russellschmidt commented on #1063
(I’ve been using the Number library and just returning giant integers as a workaround that is functionally perfect but aesthetically meh)

[2017-12-07 16:30] stympy commented on #1063
I'm thinking it might make more sense to implement this as an optional argument to the paragraph methods rather than creating a new paragraph_by_chars.  It would also be nice to switch to named arguments for that approach.  I've been wanting to do that for all of Faker.

[2017-12-07 16:45] jguthrie100 commented on #1063
I was originally going to go down the line of adding it to the existing paragraphs method (makes much more sense in my opinion than making a whole new method), but had the same thought of where to set the param. It gets a bit long winded once you've had to account for number of sentences, whether to include supplemental words etc, so essentially I'd agree that named params are the way to go.

[2017-12-08 13:44] stympy commented on #832
Thanks to @PuZZleDucK Faker::App now has [semantic_version](https://github.com/stympy/faker/blob/5338f0fa7220353bfb6dac5fd01074d4ab8ef3af/lib/faker/app.rb#L17).

[2017-12-08 13:44] #832 closed

[2017-12-08 14:54] jrafanie opened #1088 "Please consider doing large upgrades in dependencies such as i18n in a minor release, not patch releases"
Thank you for your work on faker and I hope this issue doesn't sound like complaining but I'd like to share an issue that recently occurred with faker.

This [commit](https://github.com/stympy/faker/commit/912894546d374103b604fa6a7e5e86f457029f6b) upgraded i18n to `~> 0.9.1`.  It was then released in 1.8.5.

That commit and even the 1.8.5 CHANGELOG don't mention why it was changed.  It is fine to